[2022-02-07 14:13] fingolfin opened #1061 ""Replacing docs" warnings"
When precompiling Oscar I keep seeing these warnings:
[code]

Interrogating the help system tells us what is going on:
[code]

So it thinks that we are documenting functions named `F`. Here, the docs we see is from this code in `src/Modules/ModulesGraded.jl`:
[code]

And the warning is there because it replaces the docstrings from these guys, defined in `src/Modules/UngradedModules.jl`
[code]

I w

[2022-02-07 14:23] thofma commented on #1061
Yes, nice julia bug :) The other `Union{Tuple{...}}` nonsense in the signature also reminds me of https://github.com/JuliaLang/julia/issues/29437.

I would be in favor of removing them as well.

Here is another idea to make this information visible. We could try to make
[code]
print the ways how to construct objects with parent `F`. What do you think?

[2022-02-07 14:59] thofma commented on #976
As we have all experienced, the conversion between Singular rings and the Oscar side can be a bit error prone. Note that the same problem was exhibited by the GAP <-> Oscar conversions, which was solved by introducing the wonderful function
[code]
which returns a map object with proper domain and codomain realising this isomorphism.

I propose that we do the same here and introduce
[code]
which re

[2022-02-07 23:14] fingolfin commented on #1058
Actually the last line is executed just fine. What doesn't work is printing the result:
[code]

[2022-02-07 23:16] fingolfin commented on #590
This has been resolved, `GF(next_prime(fmpz(2)^64),1)` now works just fine

[2022-02-07 23:16] #590 closed, assigned to nobody

[2022-02-07 23:18] fingolfin commented on #518
This has been done, see https://oscar-system.github.io/Oscar.jl/dev/NumberTheory/intro/

[2022-02-07 23:18] #518 closed, assigned to thofma

[2022-02-07 23:30] fingolfin commented on #588
I don't think Documenter.jl supports this at this time. And it'd be a bit difficult anyway, because it doesn't know which repository and which commit in that repository the code in question comes from. To be precise: I guess in principle it could be taught to deduced this information, at least in our specific case, but its code simply isn't prepared for this. The source link URLs are computed by t

[2022-02-08 09:05] HechtiDerLachs commented on #1058
That's weird. Because where the error originally occurred, I didn't have any printing going on. Either way: It tries to print from a Singular polynomial, which is probably not the correct thing to do.

[2022-02-08 14:02] joschmitt opened #1062 "Inconsistent behaviour of kernel"
As already discussed in Slack, there is some inconsistency with what `kernel` returns (and in particular with `kernel` and `nullspace`).
Sometimes the output just contains the basis, sometimes there are additional zero columns.
[code]
Also, the echelon structure is sometimes different:
[code]
Regarding the second point: I have the impression that the basis of the kernel is always in a reduced colu

[2022-02-08 16:48] thofma commented on #1058
No, it is not trying to print a Singular polynomial. The problem is that the print function tries to iterate over `I.gens`, which tries to call some conversion function. It is another manifestation from the current `singular_ring` design limitations and bugs, see #975, #976.

[2022-02-08 19:19] #932 closed, assigned to fingolfin, lkastner, fieker, thofma, HereAround

[2022-02-08 19:19] #1039 closed, assigned to lkastner, HereAround

[2022-02-08 19:26] HechtiDerLachs opened #1063 "Promotion seems to fail for decorated polynomial rings"
Try running this code:
[code]
This should coerce naturally, right? Can anyone tell me which promotion rules are missing?

[2022-02-08 22:25] fingolfin commented on #1036
What does "char, divT, cdivT, cl and pic in names of maps" mean?

[2022-02-08 23:10] HereAround commented on #1036
The terminology is from the toric geometry book by Cox-Little-Schenk for a toric variety X:

- Div_T(X) = group of torus invariant Weil divisors on X
- CDiv_T(X) = group of torus in variant Cartier divisors on X
- Cl(X) = class group of X
- Pic(X) = Picard group of X

In making contact with this notation, one could be tempted (and so at least I was until now) to replace "map_from_cartier_divisor_g

[2022-02-09 08:10] fingolfin commented on #652
[Nanosoldier still fails](https://github.com/JuliaCI/NanosoldierReports/blob/master/pkgeval/by_date/2022-02/08/report.md). This is worrying because it means we are not covered by regression tests performed by the Julia team. The recent kerfuffle with the improved-precompilation-breaks-OSCAR was only discovered by Tim Holy because there is a package *using* Oscar that is covered by Nanosoldier, so

[2022-02-09 08:31] fingolfin commented on #1036
I agree that it is quite confusing that the "same" (co)domain is referred to by different names in different context.

Taking a step back, I notice: What you have here is a bunch of groups, and then certain canonical (?) maps between them.

If I may dream for a moment, (and ignoring technical issues for the moment), what if we replaced e.g. `map_from_character_to_principal_divisors(v)` by somethin

[2022-02-09 09:12] micjoswig commented on #1039
No, but I just realize that this is more confusing than I even thought.

[code]

There is a third hierarchy, namely the one shown in the docs.  there the toric varieties are below "Algebraic Geometry".  This is what I meant.  I guess this requires a major cleanup.  It is not specific to toric varieties.

[2022-02-09 10:05] thofma commented on #1036
In case what @fingolfin is not possible, I would suggest we keep the "new names" you listed above for the moment.

[2022-02-09 10:45] ederc commented on #976
Having discussed this with @thofma I think this might be a good and more secure concept handling conversions.

[2022-02-09 11:12] lkastner commented on #1036
I am afraid that this cannot be determined from the arguments alone, but I will think about this. It seems like `canonical_map` is not taken yet, so there is no danger of interfering with other stuff?

Yes, it is the subgroup of torus invariant objects there.

Unlikely, since most of the time one works modulo equivalence and the good thing is that there is a torus invariant representative in any c

[2022-02-09 11:20] thofma opened #1066 "iso_oscar_gap: Check arguments (optionally)"
At the moment one can throw everything into the function returned by `iso_oscar_gap` which has the correct type. But it is not checked whether the argument is in the domain.
[code]
The example is wrong... `Fiso(F(1))` is correct as is, `Fiso(F5(1))` should fail...

This can be done on the julia side, so there are two questions:
- Should the check be there by default? `@assert` would be a pointer c

[2022-02-10 10:15] #1063 closed, assigned to nobody

[2022-02-10 11:03] fingolfin commented on #1066
Indeed, this would be good to find bugs. A way to turn it off as well, so that when e.g. converting a matrix we don't have to repeat the check for each argument.

So perhaps have a `check::Bool` argument, though I'd tend to default `check` to `true`...

[2022-02-10 11:27] fingolfin opened #1070 "Documentation and code for`coefficient_ring(:: AbstractNormalToricVariety)` conflict"
Docs say an error is triggered if no ring is set; the code instead simply sets QQ as ring:
[code]

If the code is right, it could also be simplified to
[code]

[2022-02-10 11:28] fingolfin commented on #1070
A similar issue affects `coordinate_names`

[2022-02-10 15:14] ThomasBreuer commented on #1066
I understand the idea as follows:
`Oscar.iso_oscar_gap` gets a `check` argument.
The methods of `Oscar.iso_oscar_gap` eventually create two functions that get wrapped in a mapping,
one from Oscar objects to GAP objects and one from GAP objects to Oscar objects.
The check is performed in both cases on the Oscar side, because it means just a parent check which is cheap.
Is there a cheaper way to imp

[2022-02-10 15:29] thofma commented on #1066
Ah, so you were thinking about
[code]
(Let's call this proposal (B)).

I actually had the following in mind:
[code]
(Let's call that proposal (A)).

In don't mind either way. For (A) I don't know a cheaper way than doing the `if check` at runtime. For (B) I would just branch before creating the function as you suggest.

[2022-02-10 15:43] ThomasBreuer commented on #1066
Thanks @thofma

(A) means that one can decide about checking for each individual call of the functions that describe the mapping.
(Then the `check` argument for `Oscar.iso_oscar_gap` is intended as a default?)

(B) means that it is a property of the mapping whether one wants to check the calls of its functions (either check all or none).

Since you thought about (A), should I implement (A)?

[2022-02-10 15:52] thofma commented on #1066
Let's hear what @fingolfin and @fieker think

[2022-02-10 23:37] fingolfin commented on #1066
I can live with either approach. What I care about more is consistency with other types of maps. I.e. whatever we pick, ideally we do the same elsewhere, too (where it makes sense).

[2022-02-11 00:31] fingolfin opened #1072 "Don't use naked `Vararg`"
We get the following deprecation warnings in Julia >= 1.7:

    WARNING: Wrapping `Vararg` directly in UnionAll is deprecated (wrap the tuple instead).
    WARNING: Wrapping `Vararg` directly in UnionAll is deprecated (wrap the tuple instead).
    WARNING: Wrapping `Vararg` directly in UnionAll is deprecated (wrap the tuple instead).

They were introduced in https://github.com/JuliaLang/julia/pull

[2022-02-11 07:18] fieker commented on #1066
I fail to see the point of not poing the parent check - in fact a lot of the "generic" map code will check the parent anyway, I am happy to allw the paramter check, but a parent check is cheap, so optimizing one if statement  away by introducing another if statment sounds not right.
In situations where input validation is expensive: yes, but here the parent check shoudl always be done

[2022-02-11 13:50] ThomasBreuer commented on #1066
O.k., I will create a pull request in this direction:
- Let the two functions of the `MapFromFunc` support the optional `check` argument. (Just now I noticed that then the change from thofma/Hecke.jl/pull/592 does not really help, since we cannot supply `fmpz` etc. as a function because we want to add the parent check.)
- The default for `check` is `true`, and we do not guarantee that entering `fa

[2022-02-13 15:42] #1072 closed, assigned to nobody

[2022-02-14 09:32] fingolfin opened #1082 "Release Oscar 0.8.1"
I'd like to release Oscar 0.8.1 really soon (tomorrow? end of this week?), so we can verity that it now passes Julia's Nanosoldier tests (which would be good because it'd mean that if certain big changes in Julia master cause regressions in Oscar, they'll be noticed earlier).

If you have reasons to delay this, please comment here

CC @fieker @wdecker @thofma @micjoswig

[2022-02-14 09:35] fingolfin opened #1083 "Warnings (?) caused by Serialization / Polymake"
Running the test suite, I see this:
[code]

CC @lkastner @benlorenz

[2022-02-14 09:48] benlorenz commented on #1083
These warnings are harmless and happen when polymake tries to store changes in a saved file but julia has already removed the corresponding temporary directory. This should not happen during normal usage.

I think the reason is that julia is rather quick to clean up the tempdir but the objects created in that do block seem to live a lot longer which polymake is not really pepared for. I will try i

[2022-02-14 10:10] benlorenz opened #1084 "StackOverflowError / Segmentation fault in testsuite: "Ring interface for localized polynomial rings""
On two different computers running julia 1.7.2 (official binary) under openSUSE 15.2 the Oscar testsuite fills all memory (32GB or 128GB) and then crashes with a segmentation fault in some ring conformance tests (It does not seem to happen on two Gentoo machines I tried). This is with Oscar master as well as the latest release and with a completely fresh depot.

Sometimes there is just a short seg

[2022-02-14 11:13] micjoswig commented on #1082
I am all in favor!

[2022-02-14 12:49] #1070 closed, assigned to lkastner, HereAround

[2022-02-14 14:24] benlorenz commented on #1083
It seems that this is solved by Lars in #1000 anyway due to the reorganization, I can't find it in the logs from that PR anymore.

[2022-02-14 14:32] lkastner commented on #1083
Yes, this is because Julia is writing and reading files there and polymake only does parsing for its dedicated parts.

[2022-02-14 17:23] thofma commented on #1082
Yes, sounds good!

[2022-02-14 17:29] thofma commented on #1084
@tthsqe12 can you have a look? That would be great.

[2022-02-15 09:53] YueRen opened #1088 "Allow *(::Vector/Matrix{fmpq}, ::fmpq/fmpz), //(::Vector/Matrix{fmpq}, ::fmpq/fmpz) and *(::Vector/Matrix{fmpz}, ::fmpz)"
I think the following operations should be implemented the sake of user-friendliness, especially if `fmpq` and `fmpz` are the go-to types for rational and integer numbers in OSCAR:

- `*(::Vector{fmpq}, ::fmpq)`, `*(::Vector{fmpq}, ::fmpz)`, `*(::Matrix{fmpq}, ::fmpq)`, `*(::Matrix{fmpq}, ::fmpz)`
-  `//(::Vector{fmpq}, ::fmpq)`, `//(::Vector{fmpq}, ::fmpz)`, `//(::Matrix{fmpq}, ::fmpq)`, `//(::Ma

[2022-02-15 10:00] thofma commented on #1088
Not sure this will be implemented in the near future. Note that everything is already possible by doing `.*`, `.//`, `.*=` etc. The `.` is the broadcasting operator in julia. See for example `"a" * ["b", "c"]` versus `"a" .* ["b", "c"]`.

[2022-02-15 10:06] YueRen commented on #1088
I see, I also think it would be nice to have for the sake of consistency, since the following does work:

[code]

[2022-02-15 15:01] tthsqe12 commented on #1084
Ok

[2022-02-15 15:26] alexej-jordan commented on #1088
The working methods you mentioned each are defined in `Base` for a combination of an `AbstractArray` and a `Number`, which actually refer to a special broadcasting function. Now `fmpq` is not derived from `Number`; its super-types are some algebraic abstract types. I am unsure about the (dis-)advantages arising from this implementation, I just want to point out why you experience this inconsistenc

[2022-02-16 14:37] thofma opened #1093 "Map question (coercion)"
To all lovers of maps, there are some questions that came up during @ThomasBreuer recent cleanup of the julia <-> GAP conversions. Suppose that `f` is a `Map`  with proper domain and codomain. I will only talk about `image(f, x)`, but the same questions arise for `preimage(f, y)`.

Should `image(f, x)` only work for `parent(x) === domain(f)` or should `image(f, x)` also work where we have "canonic

[2022-02-16 15:57] HereAround commented on #769
I think this was addressed in https://github.com/oscar-system/Oscar.jl/issues/922 and can be closed.

[2022-02-16 15:57] #769 closed, assigned to nobody

[2022-02-16 16:51] HereAround commented on #1036
I agree with @lkastner. From what I hear, we can all agree to the following long names (as proposed above):

- `torus_invariant_weil_divisor_group`,
- `torus_invariant_cartier_divisor_group`,
- `class_group`,
- `picard_group`,
- `map_from_character_lattice_to_torus_invariant_weil_divisor_group`,
- `map_from_torus_invariant_weil_divisor_group_to_class_group`,
- `map_from_torus_invariant_cartier_div

[2022-02-16 20:03] thofma commented on #926
Yes, I think this is also #975 and #976 :-(

[2022-02-16 20:11] thofma commented on #980
Is this still an issue? I forgot how to create an example. Please close if this is fixed.

[2022-02-16 20:24] thofma commented on #161
@fingolfin @ThomasBreuer: For a project we would like to create `h = hom(::AutomorphismGroup{Hecke.TorQuadMod}, ::GrpAbFinGen, L::Vector)`, where `L` is the list of images of the generators of the domain. For the actual computation, say of the `kernel`, this would of course turn the codomain into something GAPish (this is how it is done at the moment) and then translate back and forth (no problem

[2022-02-16 21:33] HereAround opened #1095 "Toric Varieties: Should class_group return a group and a morphism?"
This question was brought up in https://github.com/oscar-system/Oscar.jl/pull/1056 and I believe it would be good to discuss this.

My current standing is that I would find it surprising to receive a pair of a group and a morphism when I ask `Oscar` for `class_group`. But there might be good reasons for this, which I am simply not (yet) aware of.

Another aspect is a somewhat canonical map into th

[2022-02-16 22:07] simonbrandhorst opened #1098 "Group homomorphisms without checks"
It can be expensive to check if a group homomorphism defined by images of generators is well defined.
In many cases these checks are not necessary, for instance the inclusion of a subgroup, projections in a direct product, kernel, cokernel homomorphisms etc.
So we should provide `hom` with a keyword `check=true` and set it to false in a priori well defined homomorphisms.

[2022-02-17 08:25] fieker commented on #1098
On Wed, Feb 16, 2022 at 02:07:12PM -0800, simonbrandhorst wrote:

The "default" is to have the check argument and set it to true...

[2022-02-17 08:34] ThomasBreuer commented on #1098
As far as I understand, @simonbrandhorst suggests to change the method `hom(G::GAPGroup, H::GAPGroup, gensG::Vector, imgs::Vector)` such that `check = false` is supported (and has the effect to call `GAP.Globals.GroupHomomorphismByImagesNC` instead of `GAP.Globals.GroupHomomorphismByImages`).

[2022-02-17 08:40] simonbrandhorst commented on #1098
Indeed. That is what I mean. And further in certain situations, e.g. the creation of a subgroup, oscar provides the inclusion morphism. We know a priori that the inclusion is well defined, so in  the subgroup constructor `hom` should be called with `check=false`.

[2022-02-17 08:44] fieker commented on #1095
The convention for the "classical" part of Oscar is that all such functions (sub, quo, class_group, unit_group, maximal_abelian_quotient, ...) return a pair
 - the abstract new object
 - a "function" tying the abstract object to s.th. useful
We are currently(?) dicussing to also store "the" canonical map (or interpretation map) on the abstract object, but were not successful yet.
As a practical, p

[2022-02-17 09:01] ThomasBreuer commented on #1098
Fine. I will provide a pull request for this change.

[2022-02-17 09:08] simonbrandhorst commented on #1098
Thank you Thomas.

[2022-02-17 15:44] #1082 closed, assigned to nobody

[2022-02-17 19:39] thofma opened #1104 "Change the order of arguments in `MapFromFunc`"
Just a little heads-up. If no one objects I will change `MapFromFunc(f, [g], C, D)` to `MapFromFunc(C, D, f, [g])` . I don't expect this to be a controversial change. I will make sure to make the necessary adjustments.

CC: @fieker @ThomasBreuer

[2022-02-18 07:04] fieker commented on #1104
On Thu, Feb 17, 2022 at 11:39:41AM -0800, Tommy Hofmann wrote:

Makes more sense than the old convention

[2022-02-18 09:14] ThomasBreuer commented on #1104
Yes, the new syntax is nicer.

[2022-02-18 09:26] ThomasBreuer commented on #1093
I think that such extended functionality is nice as long as the documented underlying rules are easy to understand.

For example, if `image(f, obj)` is defined as `image(f, coerce_to(domain(f), obj))` whenever `parent(obj) != domain(f)` holds then the situation is clear for both users and developers.

If we want to support `image(f, set)` for subsets `set` of `domain(f)`, as in the example of an i

[2022-02-18 09:49] #1098 closed, assigned to nobody

[2022-02-19 13:51] thofma opened #1112 "Graded module morphism inconsistency"
We are trying to make the maps enforce `parent(x) === domain(f)` whenever `f(x)` is called. There were some easy fixes in Oscar when this was violated, but the graded module have some internal inconsistency which makes it more complicated to fix.

If `f` is a `FreeModuleHom_dec`, then `f.f` (aka `forget_decoration(f)`) is *not* a `FreeModuleHom` morphism from `forget_decoration(domain(f))` to `for

[2022-02-19 15:45] AlexD97 commented on #1112
I'm not quite sure, if I understood the problem completely, that is, if it's a general design flaw or just this problem in `hom(F, G)`. In the latter case, #1113 should fix this.

[2022-02-19 16:51] thofma commented on #1112
What I don't understand is why are there two incompatible ways used to work with the ungraded morphisms between `F` and `G`. Maybe more concretely:

1. Why are `FreeModuleHom_dec` between `F` and `G` represented internally by a `FreeModuleHom(F, G)` and not by `FreeModuleHom(forget_decoration(F), forget_decoration(G))`? The `hom` implementation assumes that and it also seems like a canonical choic

[2022-02-22 14:00] joschmitt opened #1119 "Why is it called `MPolyRing_dec`?"
I'm almost afraid to ask, but why are all the "decorated" types called `..._dec` instead of `Dec`? For example `MPolyRing_dec`, `MPolyElem_dec`, etc.
Assuming we all agree that this conflicts with our naming conventions, I could open a pull request to change it.
What's the best practice for such changes? `const` the old types to the new ones? `@deprecate` them?

[2022-02-22 14:08] wdecker commented on #1119
I am not familiar with conventions. However, if this is to be discussed, we should at the same rethink the concept of decorated rings as such and may be change it to just graded rings.

[2022-02-22 14:26] jankoboehm commented on #1119
We will need the filtered case in various settings (singularities and lots more), so we should definitely keep it somehow. There also went quite some work into it in particular for modules. One could split into different types for graded and filtered. That will make things more transparent, but there is of course a lot of code overlap between the two cases. So one might again end up with some deco

[2022-02-22 14:31] wdecker commented on #1119
Is there already some piece of code where I could see the use of the filtered case?

[2022-02-22 14:32] thofma commented on #1119
@joschmitt If it is not urgent, I would wait with the renaming PR.

[2022-02-22 14:37] joschmitt commented on #1119
No problem. I wasn't aware of a bigger issue behind this.

[2022-02-22 15:14] fieker commented on #1119
On Tue, Feb 22, 2022 at 06:00:16AM -0800, Johannes Schmitt wrote:

I felt like it when I did this. No reason at all. Feel free to change at
will

[2022-02-22 15:33] AlexD97 commented on #1112
I think you are right. I renamed `forget_decoration` to `forget_decoration_on_morphism` and `forget_decoration_completely` to `forget_decoration` (see  #1120).

[2022-02-23 13:21] joschmitt opened #1121 "Inconsistent definition of irreducible secondary invariants"
For everyone interested in the invariant theory of finite groups: I'm confused as to how "irreducible secondary invariants" are defined. Kemper--Steel say that a secondary invariant is irreducible "if it cannot be written as a polynomial expression in the primary invariants and the other secondary invariants". But in their algorithm a secondary invariant is irreducible if it cannot be written as a

[2022-02-24 16:01] thofma commented on #1121
@wdecker any ideas?

[2022-02-24 16:26] joschmitt commented on #1121
He already talked to me about it.

[2022-02-28 15:41] XLVII-47 opened #1129 "Polyhedron intersection performance"
sagemath polyhedron intersection operation faster than oscar implementation, isn't it expected to be faster in julia?

[2022-02-28 16:10] thofma commented on #1129
Can you provide the specific example and the timings?

[2022-02-28 17:54] XLVII-47 commented on #1129
![123](https://user-images.githubusercontent.com/58266985/156033472-1f1302a2-1794-4ea7-a7e7-ad71beb067c8.PNG)

[2022-02-28 18:58] thofma commented on #1129
Note that the first time includes compilation time and all subsequent calls will be faster:
[code]
To avoid this noise, it is best to benchmark using the `BenchmarkTools` package:
[code]
In Sage I get
[code]
So it is a factor 3 slower on my machine.

[2022-02-28 19:36] #1121 closed, assigned to nobody

[2022-03-02 10:52] fingolfin opened #1132 "Implement `describe(::GrpAbFinGen)`"
See also #987

[2022-03-02 10:59] fingolfin opened #1133 "Wrap `IsomorphismSimplifiedFpGroup`, `SimplifiedFpGroup`"
Very handy tool to understand some fp groups

[2022-03-02 12:07] fingolfin commented on #1132
@ThomasBreuer this is probably a one liner now: take the group, convert it to an isomorphic GAP group, and call `describe` on that.

If you can provide the code for that, I can add it to what I am writing right now for `describe` on general GAP groups. PR coming up

[2022-03-02 12:23] ThomasBreuer commented on #1132
@fingolfin  `describe(Oscar._isomorphic_gap_group(G)[1])` would work.
But this yields the description as a *multiplicative* group.
If we want the additive notation in the case of abelian groups, we can compute a nice output from what `GAP.Globals.AbelianInvariants` returns; or better, we use directly `elementary_divisors(G)`, without transfering the group to GAP.

[2022-03-02 12:39] fingolfin commented on #1132
OK, makes sense.

[2022-03-02 16:04] #318 closed, assigned to nobody

[2022-03-02 16:48] #1132 closed, assigned to ThomasBreuer

[2022-03-02 16:57] fingolfin opened #1139 "Rename FPGroups resp. clarify documentation"
One thing that might confuse people: The type `FPGroup` can actually represent some non-finitely generated (and hence non-finitely presented) groups: there is an option to create a free group of infinite (countable) rank. And also e.g. the derived subgroup of a free group of rank >= 2 can be obtained, and is of course not finitely generated.

So in a sense, this type is for "groups given by a pres

[2022-03-03 01:05] fingolfin commented on #652
Nanosoldier finally passes now, see https://github.com/JuliaCI/NanosoldierReports/blob/master/pkgeval/by_date/2022-03/02/report.md resp. https://s3.amazonaws.com/julialang-reports/nanosoldier/pkgeval/by_date/2022-03/02/Oscar.primary.log

[2022-03-03 01:05] #652 closed, assigned to nobody

[2022-03-03 12:12] fingolfin opened #1140 "CI test failure in Julia nightly due to Unicode changes"
CI logs say:
[code]
The subsequent errors are probably just a consequence of this.

Same test passes in Julia 1.6 and 1.7

[2022-03-03 12:14] #987 closed, assigned to fingolfin

[2022-03-03 12:14] #1133 closed, assigned to nobody

[2022-03-03 12:26] thofma commented on #1140
I think it is a bug in Preferences.jl

[2022-03-03 17:16] thofma opened #1141 "Something noisy in the groups code"
I was doing some isomorphism tests between matrix groups over Q and received:
[code]
multiple times. Can this be suppressed? I don't know where this is coming from.

CC: @ThomasBreuer

[2022-03-03 17:55] ThomasBreuer commented on #1141
These messages can be suppressed by calling
[code]
The message is shown by GAP's isomorphism fest for two groups if at least one of the groups does not yet store whether it is finite, and if the info level of `InfoWarning` is at least 1 (which is the default).

[2022-03-03 17:57] thofma commented on #1141
Can we just do this when starting Oscar?

[2022-03-03 18:06] fingolfin commented on #1141
We could but I'd rather fix the cause not the symptom :-). Can you provide an example triggering this?

[2022-03-03 18:11] thofma commented on #1141
I think the cause is that GAP is allowed to print some info, which we don't want I think. At least we have this stance for the other parts of Oscar.

PS: I can't isolate the example triggering this right now.

[2022-03-03 18:13] ThomasBreuer commented on #1141
@fingolfin In GAP, just form a matrix group in characteristic zero, for example `Group( [[E(4)]] )`, and ask for `IsomorphismGroups(G, G)`.

The function first checks for finiteness, thus one can avoid the warning by computing the finiteness flag before calling the isomorphism test.
The warning just tells the user that something expensive is going on. Such warnings make sense mainly in an interact

[2022-03-03 18:16] fingolfin commented on #1141
Sure but I don't care about that pure GAP situation but rather triggers from Oscar

[2022-03-03 18:23] ThomasBreuer commented on #1141
@fingolfin Here is a translation to Oscar.
[code]

[2022-03-04 07:03] thofma commented on #1140
https://github.com/JuliaPackaging/Preferences.jl/issues/31

[2022-03-04 12:33] tthsqe12 commented on #976
so `singular_ring` should be no more, and in its place stands
`singular_coefficient_ring`  (number)
`singular_polynomial_ring`  (spoly)
`iso_oscar_singular_coefficient_ring`  (goes both ways)
`iso_oscar_singular_polynomial_ring` (" ")
?

[2022-03-04 12:41] thofma commented on #976
We probably will remove `singular_*_ring` altogether and just provide `iso_oscar_singular_coefficient_ring/iso_oscar_singular_polynomial_ring`.

[2022-03-04 12:44] tthsqe12 commented on #976
ok

[2022-03-04 14:57] #1112 closed, assigned to nobody

[2022-03-04 16:07] #960 closed, assigned to nobody

[2022-03-07 10:43] #1141 closed, assigned to nobody

[2022-03-07 15:44] tthsqe12 commented on #1084
The `divides` function is not implemented for `MPolyLocalizedRingElem`, and this is used inside the matrix code in `solve_fflu_precomp`. Since `divides` is not implemented it goes to `divrem`, which is also not implemented. Since `divrem` is not implemented, it goes to `Base.divrem`, which goes to `Base.div` and `Base.rem`, the first of which goes to back to `divrem`. @HechtiDerLachs

I am assumin

[2022-03-07 15:51] HechtiDerLachs commented on #1084
Oh, dear... I'm trying to understand what that means for me. Should I try to implement `divides` for `MPolyLocalizedRingElem`?

[2022-03-07 15:55] tthsqe12 commented on #1084
Yes - do `divides` in the obvious way, and try `divrem` in some way or just throw an error saying the function doesn't exist.

[2022-03-07 15:59] HechtiDerLachs commented on #1084
Ok. Just to be sure I understand why I have to do this: This is because I return `true` on some `is_exact_domain`-request, right? Are there mandatory conventions on the return format of divrem?

[2022-03-07 16:04] tthsqe12 commented on #1084
I doesn't have anything to do with what your traits return per se - the divexact_left code for matrices simply assumes that it is working over an integral domain.

[2022-03-07 16:10] tthsqe12 commented on #1084
As for divrem, if there is some euclidean function you can implement, then it will work sometimes. If you really want it to work, you have to follow these https://nemocas.github.io/AbstractAlgebra.jl/dev/euclidean_interface/#Base.mod-Union{Tuple{T},%20Tuple{T,%20T}}%20where%20T%3C:RingElem

However, if these rings are not euclidean, just throw an error for divrem.

[2022-03-08 20:10] thofma commented on #1140
This was fixed and will be available once a new release is made for Preferences.jl.

[2022-03-09 08:26] thofma opened #1150 "Can we get the more of the small group database?"
At the moment I get:
[code]
I think this does not happen with vanilla Magma or Sage. Can we also make this work here?

CC: @ThomasBreuer @fingolfin

[2022-03-09 09:15] fingolfin commented on #1150
Identification for order 3*512=1536 is simply not available in GAP.

There is no explicit limitation here, we export "everything" as far as it is available in GAP.

[2022-03-09 09:21] ThomasBreuer commented on #1150
In Magma V2.24-10, I get the following.
[code]
Should we perhaps catch the GAP error, and give an Oscar error message?

[2022-03-09 11:10] thofma commented on #1150
Ah oops, my bad, I misread the error message.

[2022-03-09 11:10] #1150 closed, assigned to nobody

[2022-03-09 13:18] fingolfin opened #1154 "Manual: describe how to install Oscar on the start page, resp. link to such a description"

[2022-03-09 13:21] fingolfin opened #1155 "Manual: start page has a link to "Introduction" which surprisingly links to "Groups: Introduction""
I think this is an automatic feature, where each section has a link to the next; which is nice. But when one is on https://oscar-system.github.io/Oscar.jl/dev/ and sees this, I think one expects to be lead to an introduction to Oscar, not to Groups.

<img width="862" alt="Screenshot 2022-03-09 at 14 19 50" src="https://user-images.githubusercontent.com/241512/157449594-6eda117e-779d-47ae-a9ad-ae80

[2022-03-10 09:50] fingolfin commented on #1140
Once this is resolved we should revert PR #1156

[2022-03-11 08:38] #1040 closed, assigned to nobody

[2022-03-15 18:59] thofma opened #1165 "GAP.Globals.PseudoRandom aka pseudo_rand hanging for free groups"
[code]
This is a bit unfortunate. Could we catch this somehow? Not sure how feasible this is. The 'correct' call would be with `radius = `, for which I will make a PR.

[2022-03-16 01:21] fingolfin commented on #1165
Sure we can catch this, by checking if the input is an FpGroup, and then issuing the "correct" call you already mentioned. I.e. passing the `radius` option -- though of course there is no single "correct" value for that.

Perhaps somewhat better would be to refuse to run for an `FpGroup` unless an explicit `radius` is given?

[2022-03-16 01:30] thofma commented on #1165
I thought about that (forcing the user to supply `radius` for f.p. groups). This would make `rand_pseudo` a bit less useful for generic functions dealing with arbitrary groups. I specifically need the version with the `radius` option. I don't know what the bigger picture is of how `rand_pseudo` will/should be used.

[2022-03-16 06:55] fieker commented on #1165
On Tue, Mar 15, 2022 at 06:22:10PM -0700, Max Horn wrote:

Shouldn't, on the Oscar side, this be tied in with the usual approach to
rand for infinite structures? I.e. using an RNG or parameters?
I do not know if a "special" keyword for groups is the way to go...

[2022-03-16 10:43] ulthiel opened #1167 "Better explain choice of fmpz in documentation"
Could you please give more details explaining the choice of fmpz instead of BigInt in the documentation (FAQ and Rings->Integers)? I think this is a natural question many people will ask when starting out with OSCAR.

Discussing with Claus and Max, reasons that properly motivate this for me would be:
1. Efficiency
2. We want to "own" the integer type

And there was more that I forgot now.

(For my

[2022-03-16 11:16] fingolfin opened #1168 "Common database interface?"
We have a bunch of database for various objects in Oscar. At the very least, various group libraries:
- small groups
- transitive groups
- primitive groups
- perfect groups

But certainly we have or will have access to many more, e.g.
- matroids with various properties
- polytopes with various properties
- number fields with various properties
- character tables of various groups
- ... and surely

[2022-03-16 12:18] thofma commented on #1168
I would prefer the former, since I feel it would be a bit easier to swap out the "default" database for something that I only have locally? Like replace `get(TransitiveGroupsDB, ...)` by `get(MyLocalExtendedTransitiveGroupsDB, ...)`?  Probably I am misunderstanding so let me ask two questions for clarification. If `TransitiveGroupsDB` is a type, then `get(TransitiveGroupsDB, ...)` would first comp

[2022-03-16 13:11] thofma opened #1170 "iso_oscar_gap for Z/nZ missing"
CC: @ThomasBreuer

[code]

[2022-03-16 13:27] fingolfin commented on #1168
In reality, `get(TransitiveGroupsDB, ...` could do *anything*. Right now, it'd just map to the corresponding GAP functions, and would not do anything at all about computing paths etc.

Using a custom version of a database is something that is highly specific to how each database is implemented, I don't think we can do something generic about this. But sure, it would be useful to allow custom varia

[2022-03-16 14:00] benlorenz commented on #1168
We have the following interfaces to the polydb in Polymake.jl:
[code]
The cursor is a lazy iterator backed by the corresponding MongoDB server, this still needs to be wrapped for Oscar and needs some print methods and related stuff (#895).
The server that is used can be [changed with an environment variable](https://github.com/oscar-system/Polymake.jl/blob/f049c235ff950b5c191251501357e1e95a627068/

[2022-03-16 14:01] micjoswig commented on #1168
We are actively working on these things.   I fully agree that it is desirable to have all of the above in a database for OSCAR.

Yet we are after a comprehensive solution, which also scales computationally.  Lars' serialization efforts are a necessary first step.  In fact, we are in the middle of (fingers crossed!) hiring a programmer for MaRDI whose main task will be exactly this.  In fact, every

[2022-03-16 14:55] fingolfin commented on #1168
I strongly disagree with this. I have databases that have infinite content, and Mango cannot handle that, or at least in a way that would be useful (assuming that the Mongo DB stores each mathematical object as one database object). Even for the finite databases: the small groups database (which is infinite, but let's suppose we restrict to a finite part) is far too big for naive storage in Mongo.

[2022-03-16 15:04] fingolfin commented on #1168
@benlorenz thanks that's insightful, and doesn't seem far from what I sketched above.

BTW, I just noticed I forgot a category of "availability" queries, so I added a note on this. But no proposal yet how that could look, haven't had time to think about it properly. Perhaps modelling this via "collections" (as in your example) would be a way to go about it. Dunno...

[2022-03-16 15:27] micjoswig commented on #1168
I am not denying that this is useful to have, but for me this is not a database but something else. First of all, for me a database is finite.  I do not think it is useful to abstract things too much, because we want to exploit the advantages of databases like mongo.  We actually need this (like indexing in more than one way, to make fast retrievals of small subsets of billions of objects); that's

[2022-03-16 15:27] benlorenz commented on #1168
Regarding metadata/availability: We store an info document for each collection which usually describes the what objects it contains, references for the data, and lists the authors of the collection. And there is a json schema for each collection which specifies all present fields.
[code]

The available fields can also be accessed directly:
[code]

[2022-03-17 18:54] #1170 closed, assigned to nobody

[2022-03-21 13:55] fingolfin opened #1189 "Nicer syntax for entering permutations"
Right now, you may see something like this in a REPL or notebook:
[code]
But how can you enter this group again, given just this output?

One idea would be to write a macro which can take a single permutation or a list and turn them into OSCAR permutation (we already had a similar idea for GAP.jl, see See also https://github.com/oscar-system/GAP.jl/issues/420)

So then you could perhaps write
[cod

[2022-03-21 14:02] rfourquet commented on #1189
If not following the exact math notation is acceptable, you could also steal the `{}` syntax (e.g. `[{1, 10}, {2, 11}, ...]`), and allow direct input with a macro via `SafeREPL` ;-)

[2022-03-21 14:05] fingolfin commented on #1189
@rfourquet I am not sure I follow, what is the proposal in terms for the way one enters the permutations (ignoring completely how this is implemented for the moment?) Would it just replace `(` and `)` by `{` and `}` and otherwise look identical? Or something else?

[2022-03-21 14:19] thofma commented on #1189
Just for the record:
[code]

[2022-03-21 14:19] rfourquet commented on #1189
Yes. But this syntax can be used only through a macro, so it would look like `@perm [{1, 10}, {1, 2}{10, 11}]` in regular code (or without the comma, e.g. `{1 10}`), but the `@perm` can be omitted in the REPL (but saving on typing `@perm` would be useful only if you input a lot of permutations.

[2022-03-21 15:00] joschmitt opened #1190 "`singular_poly_ring(::MPolyQuo)` potentially ignores the given ordering"
`singular_poly_ring` for `MPolyQuo` returns the cached ring, if one exists. This means that a monomial ordering supplied by the user gets ignored:
[code]
The second time I asked for `lp`, but I got `dp`.
Relatedly, it would be great, if there were a `singular_assure(::MPolyQuoIdeal, ::MonomialOrdering)` as for `MPolyIdeal`.

[2022-03-22 11:10] micjoswig opened #1192 "doctest failure in AffinePlaneCurve.jl:225-236"
The command  `Oscar.build_doc(;doctest=true, strict=true)` produces
[code]
Output truncated. The above refers to commit ec35fd0056.

[2022-03-22 11:29] tthsqe12 commented on #1192
What version? I think julia 1.7 and 1.6 differ in their inference of the array type. Also, I think we are supposed to run the doc tests on 1.6.

[2022-03-22 11:33] micjoswig commented on #1192
That's Julia 1.7.2.  So, if my comment is invalid, please close the issue.

[2022-03-22 13:14] FriedrichRober opened #1193 "Add instructions to `README.md` for using development version"
We have information and installation instructions for using a released version of Oscar in Julia,
but I cannot find information on how to use the development version of Oscar in Julia.

[2022-03-22 14:21] danielrademacher commented on #841
@fingolfin Have you already solved this? I can only find the following code:

[code]

[2022-03-22 16:34] voggesbe opened #1195 "Generators of fraction field"
I would like to be able to get the generators of a fraction field defined from a polynomial ring, e.g.
[code]
I would like `gens(F)` to return x and y, and `F[1]` to return x, `F[2]` to return y

[2022-03-22 16:55] tthsqe12 commented on #1195
I am not sure if we can put this into oscar, but you easily extend the definitions on your own:
[code]

[2022-03-23 08:22] fingolfin commented on #1193
Take a look at https://oscar-system.github.io/Oscar.jl/dev/DeveloperDocumentation/new_developers/, does that help? We could certainly link to it explicit in the README (it is quite new)

[2022-03-23 09:40] FriedrichRober commented on #1193
Yes, this is exactly what I was looking for. Then a link in the README would be quite helpful.

[2022-03-23 09:45] FriedrichRober commented on #1193
I have a suggestion for the documentation. Maybe we should mention `]status` and `Revise` in the documentation or provide a link to [Julia Pkg](https://pkgdocs.julialang.org/v1/managing-packages/)? This is how I figured out how to develop with Oscar.

[2022-03-23 12:32] #1193 closed, assigned to nobody

[2022-03-23 17:14] #1083 closed, assigned to nobody

[2022-03-23 19:17] thofma commented on #1192
Yes, the documentation (on CI) is build with julia version 1.6 so this is what one should use locally. I don't think it is a problem with different inference, but julia changed how things are printed:

[code]
versus
[code]

The problem with
[code]
looks like the order when iterating over a dictionary changed between 1.6 and 1.7 for this specific type.

I don't know if we can support both versions

[2022-03-23 19:17] #1192 closed, assigned to nobody

[2022-03-23 19:19] thofma commented on #1195
@tthsqe12 what would be the specific reason against adding it?

[2022-03-24 15:43] fingolfin opened #1205 "Wanted: discrete logarithm for finite field elements"
It'd be good to have a function `disc_log` or `discrete_logarithm` or whatever. For my purposes the inputs would be elements of a finite field. Of course the case where logarithm does not exist should be covered. E.g. by returning `nothing` or throwing an exception or returning two values (either `true, the_log` or `false, 0` or something like that).

Don't worry about doing the world best impleme

[2022-03-24 15:53] thofma commented on #1205
As a first step, we could just wrap `disc_log_bs_gs` or `disc_log_ph` from Hecke.

[2022-03-24 18:31] HereAround opened #1208 "ToricVarieties: Rays are being shuffled"
Give a list `r` of rays (and of the maximal cones) to the constructor of a polyhedral fan. This results in a fan `F`, but `rays(F)` and `r` are typically not identical but shuffled. This is very relevant when the input rays have a particular interpretation. E.g., in the standard constructor `del_pezzo`, it is assumed that the rays of the blow-up coordinates are at the end of the list `rays(F)` and

[2022-03-24 19:40] lkastner commented on #1208
What if the input is faulty, i.e. has duplicate rays, rays that are inside cones, and rays that aren't used?

[2022-03-24 19:44] HereAround commented on #1208
I assume(d) sane input.

The changes that I propose for `del_pezzo` are here: https://github.com/oscar-system/Oscar.jl/pull/1209/commits/59409e80ed2dca8c08c131c31b044c5a30f3561e

[2022-03-24 20:39] lkastner commented on #1208
This is really a tricky one. Because if we allow such constructors then people will abuse them. We have that a lot in polymake, where people specify e.g. `VERTICES` instead of `POINTS` and get unexpected results.

This issue also appears in other parts of OSCAR I assume, for example when you give an ideal via generators, probably with different constructors for groups, etc., which is why I ask @fi

[2022-03-24 20:41] lkastner commented on #1208
On a side note: I am all for providing convenience functions for facilitating the translation.

[2022-03-24 20:49] lkastner commented on #1208
Adding @alexej-jordan for an estimate of how much work this would be for the polyhedral section. This would require work on all polyhedral objects, it does not make sense to only touch fans.

[2022-03-25 06:35] thofma commented on #1208
Good question! I am afraid that we are not quite consistent, but there are many places where we do keek the raw input around:
[code]
I believe there are functions whose output depends on the generators. So in essence, for us ideals are ideals together with an ordered list of generators (although our notion of equality does not take the generators into account). There are other objects in number th

[2022-03-25 07:43] fieker commented on #1208
On Thu, Mar 24, 2022 at 12:40:24PM -0700, Lars Kastner wrote:

There are different notions: stupid and wrong
  many constructors check, by default, for wrong-ness unless ,
  check=false is specified.
  Examples are number_field which has to be created with an irreducible
  this is checked. Similar, orders have to be generated by integral
  elements, ...

  So far we do not check (or correct) for s

[2022-03-25 07:46] fieker commented on #1205
I'd inclined to
 - wrap what we have (and use our news HiWi to include their FaPra)
 - rename to log and log(gen, elem)

[2022-03-25 14:47] tthsqe12 commented on #1195
No specific reason, just seems like an adhoc extension of the gen function.

[2022-03-25 23:54] tthsqe12 commented on #1195
Also, `gen` seems like it should be a function for the `FunctionField` object. Since we don't have multivariate function fields, it looks like the fraction field is taking its place. So, if no one else objects, we could add the requested functions to oscar.

[2022-03-28 12:39] joschmitt opened #1213 "Conversion of cyclotomics from Oscar to GAP not correct"
[code]
This is not correct (probably due to the fact that 10 is an unusual order for a cyclotomic field). It should be
[code]
@ThomasBreuer

[2022-03-30 06:34] #1213 closed, assigned to nobody

[2022-03-30 06:37] #886 closed, assigned to nobody

[2022-03-30 08:31] #659 closed, assigned to nobody

[2022-03-30 09:58] fieker commented on #1061
I second this

[2022-03-30 15:23] wdecker opened #1219 "Map from 0-dim vector space does not work correctly"
julia> FG
W_[1] of dim 0

julia> EMB
Map from
FG to W defined by a julia-function with inverse

julia> zero(FG)
()

julia> EMB(zero(FG))
ERROR: ArgumentError: reducing over an empty collection is not allowed*

Version 0.8.3-DEV ...

[2022-03-31 10:35] tthsqe12 commented on #1219
We might need some line numbers from this error in order to find the `reduce` command that is missing the `init=`.

[2022-03-31 10:52] wdecker commented on #1219
@tthsqe12

julia> W, (x, y, z) = GradedPolynomialRing(QQ, ["x", "y", "z"])
(Multivariate Polynomial Ring in x, y, z over Rational Field graded by
  x -> [1]
  y -> [1]
  z -> [1], MPolyElem_dec{fmpq, fmpq_mpoly}[x, y, z])

julia> R = base_ring(W)
Rational Field

julia> B = elem_type(W)[]
MPolyElem_dec{fmpq, fmpq_mpoly}[]

julia> M, h = vector_space(R, B, target = W)
(Vector space of dimension 0 ov

[2022-03-31 10:54] lkastner commented on #1155
I moved the `General` section to the top in #1223, so now the next page is the architecture. I think once an introduction is written it should go into the `General` section anyway, so this sounds like an ok compromise.

[2022-03-31 11:52] #1154 closed, assigned to nobody

[2022-03-31 11:52] #1155 closed, assigned to nobody

[2022-04-04 06:39] fieker opened #1237 "conversino Oscar-> Gap incomplete..."
[code]

[2022-04-04 07:05] fingolfin commented on #1237
It will always be incomplete. There are infinitely many types, and we won't ever be able to support all (for many, it is not even clear what "support" means).

There is no "set" type in GAP, but I can add a conversion function which will turn  sets into sorted lists. Of course that means it won't work correctly for all Julia set types, only for those where the elements support a total ordering. Bu

[2022-04-04 14:39] #1237 closed, assigned to nobody

[2022-04-06 20:39] #1219 closed, assigned to nobody

[2022-04-06 21:26] fingolfin opened #1245 "perfect groups: add additional data as lazy artifacts"
We currently have this:
[code]
Needless to say this is not helpful for an Oscar user.

I think we should catch this, and take care of it, by making these two files available as "Lazy artifacts", loaded on demand.

[2022-04-07 07:49] thofma commented on #1061
https://github.com/JuliaLang/julia/issues/44889

[2022-04-07 10:25] mgkurtz commented on #229
Well, (at least now) we can just use `AbstractAlgebra.Generic.Ideal` for ideals over ℤ, ℚ, 𝔽₅ and other rings.

    Ideal(ZZ, 3) * Ideal(ZZ, 2) == Ideal(ZZ, 6)
    Ideal(QQ, 3) == Ideal(QQ, 1)

So perhaps providing `Ideal` as generic implementation for `ideal` (and `ideal` as generic implementation for `element * ring`) would mostly solve this issue? Of course quite some of the features @fingolfin

[2022-04-07 11:07] mgkurtz opened #1249 "Make `G[:]` an alias for `gens(G)`?"
In general, I expect `G[:]` to yield a vector of all `G[i]`. So I’m puzzled not to get `gens(G)` when typing `G[:]` for some group or ring `G`.

[2022-04-08 06:51] fieker commented on #1249
On Thu, Apr 07, 2022 at 04:07:55AM -0700, Markus Kurtz wrote:

Actually this is tricky. You just (correctl! thanks!) implemented an
iterator for a certain finite ring. Thus one might also expect
R[i] to give the i-th element.
So for a group, which is also iterable, there is an ambiguity.

Note: this is actually independet of your question. G[:] is not there as
it was never missed.

[2022-04-08 07:51] thofma commented on #1249
Why is it suddenly tricky? The ambiguity was introduced a long time ago, since abelian groups have always been iteratable and we added `G[i]` for those at the same time.

[2022-04-08 07:57] fieker commented on #1249
On Fri, Apr 08, 2022 at 12:51:48AM -0700, Tommy Hofmann wrote:

Its not sudden indeed. And abelian groups we even could implement an
i-th element...

[2022-04-08 09:33] fingolfin opened #1254 "Failure to install Oscar.jl on a clean macOS 12.3.1 install: can't install `gap_packages` artifact."
I am currently revising our install instructions and wanted to finally tackle https://github.com/oscar-system/oscar-website/issues/217 -- so I installed a fresh macOS VM on my laptop. Installing developer tools and Julia 1.7.2 went smoothly. Good!

But then installing Oscar.jl itself failed:
[code]

Sometimes this kind of issue happens due to the macOS file system not distinguishing case in file n

[2022-04-08 09:37] fingolfin commented on #1254
Actually I just noticed that the "Calculated git-tree-sha1: keeps changing! I've now seen:
- 5060ad0cce9e7cbc0dbea3c9d585d97a90a61729
- 9eca000fc45084e45b9dc0f4883f6406a27e18c2
- 561249312b8bd1bcbed5a1187a7539f130d2980d

And after retrying several times, it worked... WTF? So perhaps an issue with my VM? Urgh.

[2022-04-08 10:33] fingolfin opened #1255 "Enhance `@attr` to functions with more than one argument"
The `@attr` macro can be applied to method declaration to automatically implement caching of the return value of that function via attributes. However, it is currently limited to unary functions.

There are examples where it would be nice to have it for functions with more than one argument, though: e.g. in PR #1253 we are caching the result of a binary function in attributes "by hand". And I thin

[2022-04-08 13:29] thofma commented on #1254
Not sure if relevant, but I remember seeing mismatchs related to docker: https://discourse.julialang.org/t/adding-hdf5-tree-hash-mismatch-a-docker-on-windows-problem-solved/35817.

[2022-04-08 13:40] benlorenz commented on #1254
That the hash keeps changing would point to some problem with slow IO maybe.
I am not aware of any bugs with the tree hash in julia 1.7 (there were some in earlier versions). The tarball looks fine, I don't see any case-clashes and no hardlinks (which also did cause issues at some point).

What kind of filesystem is it using, is it a shared folder from outside of the VM?
Have you checked if there

[2022-04-11 14:19] alexej-jordan commented on #1208
@lkastner mentioned that there is a difference between specifying e.g. `POINTS` and `VERTICES` as input. We already utilize this for some objects/constructions within Oscar, like the constructor for `Cone`, by having an optional argument `non_redundant::Bool`. Is there a reason why we can not use this for fans (or derived objects) to fix the rays and maximal cones together with their order?

[2022-04-11 15:08] HereAround opened #1257 "ToricVarieties: Various improvements"
cc @lkastner (as just discussed)

[2022-04-11 19:00] HereAround opened #1258 "ToricVarieties: Interplay with polyhedral geometry and performance"
I am currently using Oscar to triangulate a (facette of a) polytope, construct all corresponding toric varieties, compute their Stanley-Reisner ideals and finally intersect these ideals. This seems to pose both a performance and convenience test. I currently use the following code:

[code]

Points regarding convenience:
1. I want to enforce variable names to be used for the indeterminates. As a co

[2022-04-11 20:11] benlorenz commented on #1258
Some simplifications for the matrix conversions:
[code]
`lattice_points(P)` returns an object encoding points while `PolyhedralFan` expects rays. So the best way to do this is to convert the points to a matrix, i.e. `PolyhedralFan(matrix(ZZ,lattice_points(P)), some_cones)` should work fine.
(Internally the lattice points are also encoded as rays but with an additional homogenization coordinate, to

[2022-04-11 20:28] HereAround commented on #1258
Thank you @benlorenz (for both the comment and the editing)!

Any chance for a convenience method so that one can directly put the points into `PolyhedralFan`?

Here are a few timings
1. Oscar, f = convex_hull( [-1 -1 -1; 2 -1 -1; -1 2 -1]) and without the improvements by @benlorenz:
`BenchmarkTools` finds 7.805 s (2357225 allocations: 40.11 MiB)
2. Oscar, f = convex_hull( [-1 -1 -1; 2 -1 -1; -1 2

[2022-04-12 08:39] benlorenz commented on #1258
I had another look, this time more on the performance side: most of the time seems to be spent in the redundancy elimination of the fan in the loop.
This is exactly what Alexej suggested in the other ticket with a `non_redundant` flag for the constructor, I have used such a construction (via a polymake object) in the code below. Using the same construction inside the loop with the remaining code a

[2022-04-13 11:40] VictoriaSchleis opened #1260 "Multivariate resultants"
I would like an implementation of multivariate resultants in Oscar, analogous to the Singular implementation, compatible with polynomials over Flint fields. There is resultant(::MPoly, ::MPoly, ::Int), but it's not documented, and I'm not sure which fields it is compatible with.

[2022-04-13 11:50] fieker commented on #1260
On Wed, Apr 13, 2022 at 04:40:30AM -0700, VictoriaSchleis wrote:

Should work with all exact fields...

[2022-04-13 13:27] tthsqe12 commented on #1260
The `resultant(::MPoly, ::MPoly, ::Int)` is in Hecke.jl and is not "the multivariate resultant" as is simply the univariate resultant w.r.t. a given variable.

[2022-04-13 13:52] VictoriaSchleis commented on #1260
Yes, that is precisely what I meant - I just meant it in the way that currently, the documented cases only work where the input is a univariate polynomial

[2022-04-13 14:29] fingolfin commented on #1254
I'll check the tree if this happens again. For now, I am going to close this as a fluke

[2022-04-13 14:29] #1254 closed, assigned to nobody

[2022-04-14 06:52] fingolfin commented on #1249
A detour:
TBH I never liked the "feature" of accessing the i-th generator as `G[i]`, precisely because I was wary that this would confuse people esp. for things that are "iterable" or even "enumerable".

Of course one can do hacks, like "With `G[i]` one can enumerate the group, but we arrange things so that the first few such entries coincide with the generators". But this doesn't work for GAP gro

[2022-04-14 08:16] ulthiel opened #1261 "Multivariate rational function fields"
Can we get multivariate rational function fields with a convenient function extending the existing one for univariate fields? E.g.
[code]
? Of course, one could take the fraction field of the polynomial ring, but then one has to remap the variables, which is a bit inconvenient.

Edit: Maybe there should also be an own type for such things. I think FractionField of a polynomial ring is just a gener

[2022-04-14 09:19] fingolfin commented on #1249
Back to the original issue:

If `G[i]` accesses the generators and nothing else, then I agree it would be kinda consistent to support `G[:]` as alias for `gens(G)`. Of course then one can also ask for `G[a:b]` or even `G[vec]` being supported. Maybe even more things would be "expected"?

Personally I'd wish `G[i]` as alias for `gen(G,i)` did not exist at all, for reasons already outlined *sigh*.

[2022-04-14 09:33] fingolfin commented on #1205
@thofma That would be most helpful. You say "or", so which should be wrapped?

A naive implementation for finite field elements:
[code]
What do we want this to do if the discrete logarithm does not exist? Right now it throws an error:
[code]

[2022-04-14 09:39] fingolfin commented on #1165
I don't know how to do this with the "usual" approach, which seems to deal with "distributions" on infinite sets to obtain elements random with respect to that distribution.

This is a sensible approach when using `rand`, and indeed one could deal with `rand` on an FpGroup this way, i.e., define a distribution that assign probability zero to all elements over a certain length and equidistributes t

[2022-04-14 11:48] thofma commented on #1249
I can live with the proposal to remove `G[i]` as an alias for `gen(G, i)`.

[2022-04-14 14:04] thofma commented on #1205
I would be happy with throwing an error.

[2022-04-16 16:06] mgkurtz commented on #1249
That is fine for me. Though, I must admit, that I always love to play with whatever exotic feature, some language or library provides. So, I also sympathize with this (mis)usage of “indexing” a group. But sympathies aside, `gen(G, i)` looks cleaner to me, than `G[i]`.

Speaking of misusage of indexing. The alias `R["🐰"]` for `PolynomialRing(R, "🐰")` looks similar. It is cool, but rather inconsiste

[2022-04-16 16:16] thofma commented on #1249
Can you elaborate why you consider this inconsistent? I cannot think of any other `getindex(R::Ring, s::String)` definition that would clash with this.

[2022-04-16 18:08] mgkurtz commented on #1249
Sorry, I should have been more precise 😞 The point about the `R["x"]` syntax just came to my mind, while writing my comment. Maybe I should have used more question marks and less rabbit emojis?

Anyway, when I first saw the marvelous hack to use `getindex` to provide a constructor consistent with the mathematical syntax for polynomial rings, I was quite excited. I only fear, that hacks make for an

[2022-04-16 20:06] mgkurtz opened #1263 "Improve overview in documentation"
When I want to get a mathematical structure in Oscar, I often feel somewhat lost, how to find it in the docs. For the case of rings, they can either occur (a) in the “Rings” section in the docs hierarchy, (b) in some other section like “Number Theory” or “Commutative Algebra”, (c) in no section, or (d) not at all.

Personally, I would prefer all rings to appear in the “Rings” section. Quite likely

[2022-04-17 19:40] HereAround opened #1264 "ToricVarieties: Add Base.hash"
Should we add `Base.hash` for our custom types `(AffineNormalToricVarieties`, `AbstractNormalToricVarieties`, `ToricDivisors`, `ToricDivsiorClasses`, `ToricLineBundles`, (soon `ToricVectorBundles` and `ToricCoherentSheaves`) and many more...)?

C.f.: https://docs.julialang.org/en/v1/base/base/#Base.hash

[2022-04-18 04:48] thofma commented on #1264
Here is my opinion.

1. Element types should definitely define a two argument `Base.hash` method so that `x == y` implies `hash(x, h) == hash(x, y)`. This leads to less surprises down the road with `Dict`, `Set` or `unique`. It gets more complicated if there is no canonical way to represent elements, but where one can still decide `x == y`. Then it is best to define `hash(x, h) == zero(UInt)` for

[2022-04-18 07:15] ulthiel opened #1265 "Inconsistent use of is and is_ in function names"
Most of the functions testing for some property are named ```isproperty```. There are a few functions though which are named ```is_property```:
[code]

This seems inconsistent to me.

(I personally would prefer ```is_property``` for better readability but it seems many things in Julia Base are already named ```isproperty```, so one should stick to this)

[2022-04-18 10:20] thofma commented on #1265
We decided to use `is_*` instead of `is*` (see the [Oscar style guide](https://oscar-system.github.io/Oscar.jl/dev/DeveloperDocumentation/styleguide/#Naming-conventions)) and we are gradually adjusting the various projects. New code is already using the new convention.

[2022-04-18 10:33] ulthiel commented on #1265
Wise decision, thanks! I haven't seen this part in the documentation, just deduced from the amount of functions that you seem to go for is*.

[2022-04-20 07:39] ThomasBreuer commented on #1165
Perhaps we will need two solutions for the problem, one for the Oscar side (according to what the "usual" approach is) and one for the GAP side.
Concerning the latter, there are a dedicated `Random` method for free groups (which returns the product of a random number of random syllables --slightly different from the `radius` option) and a default delegation from `PseudoRandom` to `Random`, but oth

[2022-04-20 14:07] fingolfin commented on #664
Yeah, so with `grp, _ = automorphism_group(PermGroup, K)` everything works.

The question is: should we still bother to also support `GrpGen`?

[2022-04-20 14:35] fingolfin commented on #1165
I'd like to focus on the Oscar side for now, although indeed there is also an issue on the GAP side.

@thofma brought up the question of writing "generic code" using `rand_pseudo`. I'd argue this is not really possible right now anyway, because `rand_pseudo` is  underspecified (it doesn't really tell you what methods for it should do "in general", it only describes the current status quo, and then

[2022-04-22 02:11] HereAround commented on #1257
Goals:
1. Fix coordinate names, rings etc. once an ideal/ring associated to a toric variety is first constructed. Crucially, keep supporting methods that accept a ring as first argument, so that one even at later stages opt for different (coefficient) rings. The advantage of this "freezing" is that it allows to proceed to algebraic cycles, hypersurfaces in toric varieties more easily, which are po

[2022-04-22 12:33] ulthiel commented on #92
I absolutely agree with (the first part of) https://github.com/Nemocas/AbstractAlgebra.jl/issues/158#issuecomment-429669467 and think no message should be displayed at all.

[2022-04-22 13:30] fingolfin commented on #1265
Of course we can't do this for existing Julia functions, such as `iseven`, `isfinite`, `iszero`, ... And probably shouldn't because people who are already familiar with Julia will expect them to work.

Yet this creates an annoying inconsistency *sigh*. I think we need to point this out somewhere in the docs.

Perhaps we should also set up aliases for some of these. Experimentally, the following se

[2022-04-22 13:56] thofma commented on #1265
Yes, if I remember correctly the consensus was that if there is a corresponding julia function, we will have both.

[2022-04-22 14:01] HereAround commented on #1265
Why not use deprecate? I was under the impression that then the old functions still work. The user might even be informed by this about the change of name? I prepared the draft for the renaming in the toric varieties (mentioned above) accordingly.

[2022-04-22 14:15] fingolfin commented on #1265
`@deprecate` is not appropriate for aliasing `Base.iszero` and friends. First off, we are not (and can not and must not) deprecating `Base.iszero`! Secondly, it actually creates a *second* function object, and that can lead to issues unless every package renames everything at the same time. Otherwise, you'll end up with methods that are only available under one name, not both.

For our own functio

[2022-04-22 14:45] ulthiel commented on #1265
What are you doing about ```hasfunction```? Is it going to be ```has_function``` as well?

(Somehow, even though I find the ```is_``` stuff better, it'll be weird to deviate from Julia base...)

(Edit: Wow, you have stuff like ```hasisabelian```. That'll be interesting!)

[2022-04-22 15:21] fingolfin commented on #1265
Yes, also for `set_`. In fact this already started

[2022-04-22 20:12] #1129 closed, assigned to nobody

[2022-04-25 13:58] thofma commented on #1265
I am happy with the `const ...` deprecation approach.

[2022-04-25 15:04] lkastner commented on #1265
See also https://github.com/oscar-system/Oscar.jl/issues/877

[2022-04-26 03:07] HereAround opened #1280 "ToricVarieties: Use IntegerUnion for code improvement"

[2022-04-27 10:17] fingolfin opened #1283 "GC crash while allocating GAP object"
A test of PR #1279 by @HereAround failed with a [crash in Julia nightly](https://github.com/oscar-system/Oscar.jl/runs/6185342131?check_suite_focus=true). Looking at the logs, it crashes during GC while allocating a new GAP string object:
[code]

Right now I am still pursuing various ideas what might be behind it. I mainly record it here so that there is a reference we can point people at if this

[2022-04-27 10:23] benlorenz commented on #1283
Maybe we need new binaries again. Bisect points to https://github.com/JuliaLang/julia/pull/42302:
[code]
This PR seems to have modified a few internal datastructures.

[2022-04-27 10:24] fingolfin commented on #1283
Crash also happens for PR #1281  in Julia nightly, both [for Linux](https://github.com/oscar-system/Oscar.jl/runs/6191061795?check_suite_focus=true) and [for macOS](https://github.com/oscar-system/Oscar.jl/runs/6191061866?check_suite_focus=true).

There was [one recent Julia PR](https://github.com/JuliaLang/julia/pull/45035) merged affecting a part of the GC specifically made for us, but I don't s

[2022-04-27 10:31] benlorenz commented on #1283
To be more precise, that PR added a new `threadpoolid` to `_jl_task_t`.

[2022-04-27 10:52] fingolfin commented on #1283
@benlorenz yeah I had my eyes on that one, too. But I do not yet understand how; I tried hard to get rid of all references inside Julia structs (I wish Julia split `julia.h`: only include opaque definitions for things like `jl_value_t` in it, plus structs that are "guaranteed" to not change, and have the "real" definitions in a separate internal header. That'd make it so much easier to avoid these

[2022-04-27 10:58] thofma opened #1284 "Matroid code error"
There is an error in the Matroid code: https://github.com/oscar-system/Oscar.jl/runs/6191061211?check_suite_focus=true#step:5:178

pinging @bschroter
since there is a polymake warning, pinging also @benlorenz

_Originally posted by @thofma in https://github.com/oscar-system/Oscar.jl/issues/1281#issuecomment-1110839907_

[2022-04-27 11:26] benlorenz commented on #1284
@bschroter There is no reason for `M` to stay alive any longer, references to parent objects are always weak (to avoid loops). And polymake itself is perfectly happy with a `DUAL` object that only contains `RANK` and `N_ELEMENTS`, you will need to request some defining properties before `M` disappears, something like this should work (the list of properties might need adjusting):
[code]

[2022-04-27 12:15] fingolfin commented on #1283
OK, we access member `ptls` from `jl_task_t` which really has shifted. I've prepared a patch for GAP which replaces this by a function call that should stay safe, and also hacked up a `fake_julia.h` that has just enough definitions to compile GAP's `julia_gc.c`, but with all structs opaque. I found only one other such reference (however, in code that is never executed when using GAP.jl; I've remov

[2022-04-27 12:35] bschroter commented on #1284
I was hoping that this is a way to keep the parent (and its many properties). However, thank you Benjamin!

[2022-04-27 13:23] ThomasBreuer opened #1287 "`hash` problem for `QabElem`"
Currently there is no special method for `hash(x::QabElem, h::UInt)`, and the default method is based on `objectid(x)`.
On the other hand, `==` for `QabElem` objects regards two elements as equal if their normal forms are equal.
Thus the rule that objects with different `hash` values are different w.r.t. `==` does not hold.
[code]
What do we want? Shall we just add a very bad but cheap `hash` meth

[2022-04-27 13:36] fieker commented on #1287
On Wed, Apr 27, 2022 at 06:24:02AM -0700, Thomas Breuer wrote:

No we should compute the normal form and a hash for it.

[2022-04-27 13:43] ThomasBreuer commented on #1287
O.k., I will create a pull request.

[2022-04-27 16:19] kpamnany commented on #1283
Sorry about that folks. Please be aware that there will likely be further changes to `jl_task_t` in the coming weeks, and probably to the TLS state as well.

[2022-04-28 07:16] fingolfin commented on #1283
With https://github.com/JuliaPackaging/Yggdrasil/pull/4844 the GAP kernel code no longer directly access members of any structs in `julia.h` with the exception of `jl_taggedvalue_t` which can't really be avoided

I'll next investigate the code in JuliaInterface; there we are using the `JL_GC_PUSH1` which also have changed in incompatible ways in the past, but I really don't see a way around that.

[2022-04-28 08:15] fingolfin commented on #1283
GAP_jll v400.1192.2+0 is now in the registry and *should* fix this, so I am closing. Of course reopen if it happens again even with the new version...

[2022-04-28 09:31] benlorenz commented on #1283
This seems to have broken the tests for julia 1.7 on macos with a similar backtrace: https://github.com/oscar-system/Oscar.jl/runs/6208242212?check_suite_focus=true
I restarted just this one job after the same job had failed here:
https://github.com/oscar-system/Oscar.jl/runs/6208037217?check_suite_focus=true

[code]
cc: @lkastner

[2022-04-28 09:51] fingolfin commented on #1283
Huh, in Julia 1.7? That's really strange. I have no clue at all what could cause that *sigh*. But of course I'll take a look.

[2022-04-28 09:59] benlorenz commented on #1283
I can reproduce this on munk with the aarch julia 1.7 as well and it started with the new binaries:
[code]

[2022-04-28 11:06] fingolfin commented on #1283
I have a theory what's going on now.

[2022-04-29 06:33] fingolfin commented on #1283
Should be fixed by https://github.com/JuliaPackaging/Yggdrasil/pull/4850

[2022-04-29 07:14] #1287 closed, assigned to nobody

[2022-04-29 12:49] benlorenz commented on #1283
Seems fixed now, thanks! All green here https://github.com/oscar-system/Oscar.jl/actions/runs/2244067770 after a complete re-run.

[2022-04-29 12:49] #1283 closed, assigned to nobody

[2022-04-29 16:56] #1284 closed, assigned to nobody

[2022-05-02 08:52] fingolfin opened #1293 "Oscar matrices over non-commutative rings?"
I was just asked whether we support matrices over non-commutative rings. Experimentally, the answers seems to be no (?) but perhaps I am just doing it wrong? Here is what I tried with current OSCAR master:
[code]

[2022-05-02 09:38] tthsqe12 commented on #1293
https://github.com/Nemocas/AbstractAlgebra.jl/pull/1127
I should look over this pr

[2022-05-02 10:14] thofma commented on #1293
The PR is ready, we just need a breaking release.

[2022-05-02 10:15] thofma commented on #1293
P.S.: The syntax `matrix(A, [e])` would not work even with the PR. It should be `matrix(A, 1, 1, [e])`.

[2022-05-03 08:00] fingolfin commented on #1265
Since I was asked how this migration could work in practice, I see two models:

1. We change our packages one by one: first AbstractAlgebra, then Nemo, then Singular & Polymake & GAP, then Oscar. In each of them, we identify all functions to be renamed; we rename them, but also keep aliases for the old names via the `const OLDNAME = NEWNAME` trick described above. Once a package is updated and rel

[2022-05-03 09:04] lkastner opened #1296 "Citing external software"
**Is your feature request related to a problem? Please describe.**
The main problem is that mathematical software is used in a lot of research, but it is often not cited. With Oscar this problem becomes more intricate as we attach a lot of software in the "background" which the user never notices, like cohomCalg, TOPCOM, lrs, cdd, normaliz, just to name a few (that I know of). Funding for these pr

[2022-05-03 09:05] #1296 closed, assigned to nobody

[2022-05-03 09:19] thofma commented on #1265
I personally would prefer 1.

Hm, sounds good.

I would say yes.

I would be in favor of removing the old names since I prefer there being one 'canonical' name. If I see
[code]
I want to point out that this should be changed. But if we allow both, this is valid and I cannot complain about it :)

[2022-05-04 11:51] fingolfin commented on #1265
I've added an `@alias` macro in https://github.com/Nemocas/AbstractAlgebra.jl/pull/1145

[2022-05-04 12:59] fingolfin commented on #1265
To all interested in the renaming, check out https://github.com/Nemocas/AbstractAlgebra.jl/pull/1145

[2022-05-04 16:53] #1280 closed, assigned to nobody

[2022-05-04 19:05] #1257 closed, assigned to nobody

[2022-05-06 11:58] fingolfin commented on #136
@danielrademacher made progress on this in PR #1206 and is now working on addressing things from this issue

[2022-05-06 13:32] thofma commented on #1293
Will be working once we bump AA.

[2022-05-06 13:32] #1293 closed, assigned to nobody

[2022-05-09 13:47] ThomasBreuer opened #1314 "a problem with the Julia help system"
Currently I find the following docstring for `gen` in [the Oscar dev documentation of the abelian closure of the rationals](https://oscar-system.github.io/Oscar.jl/dev/NumberTheory/abelian_closure/).

This docstring comes from the file `src/Modules/UngradedModules.jl`. The line that causes its inclusion is

(see `docs/src/NumberTheory/abelian_closure.md`).
Apparently the intended docstring from `s

[2022-05-09 13:51] thofma commented on #1314
Help mode lookup and Documenter signature lookup are unrelated.

I am sure it is either https://github.com/JuliaLang/julia/issues/20064, https://github.com/JuliaDocs/Documenter.jl/issues/839 or https://github.com/JuliaLang/julia/issues/29437 :)

[2022-05-09 21:23] ThomasBreuer commented on #1314
@thofma Thanks.

Part of the discussion in JuliaDocs/Documenter.jl/issues/839 expresses this.
However, then we have (at least) two bugs here, one in the help system and one in Documenter, since the unrelated docstring is fetched in both situations.

[2022-05-10 06:46] #1061 closed, assigned to nobody

[2022-05-10 07:14] fingolfin opened #1319 "Serialization: add high-level `save` and `load` methods which take a Julia IO object"
Being able to save to a file with a given name is nice, but far too limiting. We also want to be be able to serialize to e.g. memory or other kinds of structures. I think the simplest way to achieve that is to support an `IO` object as argument to `save` and `load`.

[2022-05-12 12:18] aelzenaar opened #1323 "Computation of Galois groups for some polynomials raises UndefVarError"
**Describe the bug**
Computing some Galois groups raises the error

[code]

**To Reproduce**

[code]

**Expected behavior**
Return a group `G` such that `describe(G)` returns `"C3"`.

**Other remarks**

Some polynomials work fine. For example `G,C = galois_group(x^4 - 2)` returns the correct answer (`(Group([ (1,4), (2,3), (1,2)(3,4) ]), Galois Context for x^4 - 2 and prime 11)`).

On the other ha

[2022-05-12 12:27] fieker commented on #1323
On Thu, May 12, 2022 at 05:18:25AM -0700, Alex Elzenaar wrote:
Sorry, bad question: can you please update Oscar? The 0.9-DEV could be a
mount old (or not). In my dev version this error does not happen (any
more - I am aware of several fixes)
The offending line was last changed May 3rd...

Sorry

[2022-05-12 12:35] aelzenaar commented on #1323
I am up to date with master:
[code]
And I check that Julia is indeed using the version of Oscar in that directory:

[code]
Should I be on a different branch to get the fix?

[2022-05-12 12:38] aelzenaar commented on #1323
Hang on, I have found the problem - my local version is cloned from my Github fork, not here. Thus it is entirely my fault!

[2022-05-12 12:38] #1323 closed, assigned to nobody

[2022-05-12 12:40] fieker commented on #1323
On Thu, May 12, 2022 at 05:38:42AM -0700, Alex Elzenaar wrote:

No worries.

[2022-05-12 23:49] fingolfin opened #1325 "Serialization: don't add UUID to symbols"
This is pointless:
[code]
I would argue that there should be no `id` field there at all, and then also for primitive fields. I.e. the `id` field here is pointless:
[code]

[2022-05-13 14:50] #1205 closed, assigned to nobody

[2022-05-13 21:10] fingolfin opened #1328 "`WARNING: could not import Hecke.homology into Oscar`"
`WARNING: could not import Hecke.homology into Oscar` shows up when precompiling Oscar...

Why? And how to fix it?

[2022-05-14 08:30] thofma commented on #1328
It is fixed in the recent Hecke version.

[2022-05-14 23:00] #1189 closed, assigned to nobody

[2022-05-16 08:33] #664 closed, assigned to nobody

[2022-05-16 09:17] #1325 closed, assigned to nobody

[2022-05-16 10:26] ThomasBreuer opened #1335 "conventions about function names"
It is helpful for Oscar users (in particular for beginners) if one can guess the names of functions one is interested in.
According to [the general  Julia conventions](https://docs.julialang.org/en/v1/manual/style-guide/), capitalized names are "reserved for" modules and types, but Oscar provides quite a few functions with capitalized names.

- A prominent example is `PolynomialRing` for the const

[2022-05-17 07:12] #1328 closed, assigned to nobody

[2022-05-17 08:50] fingolfin opened #1337 "Reconcile `DEVELOPMENT.md` with dev docs"
We have https://github.com/oscar-system/Oscar.jl/blob/master/DEVELOPMENT.md and we have https://oscar-system.github.io/Oscar.jl/dev/DeveloperDocumentation/new_developers/   (off topic: annoyingly it seems one cannot link to chapters, i.e., https://oscar-system.github.io/Oscar.jl/dev/DeveloperDocumentation/  gives a 404 error. Anything we can do about that).

It would be good to reconcile those. E.

[2022-05-17 08:54] fingolfin commented on #1335
I guess we can collect a few and then go through everything. If done right, this should not be a breaking change anyway. I don't think there is a point in trying to "do all at once", as on the one hand, that'll just delay improvements we could make now, and on the other hand, I see no real benefit?

For the permutation group, I think I see no real upside to having `perm_group` as an alias in the w

[2022-05-17 08:54] fingolfin commented on #1335
As to specifying the return type: I don't think there is any need or way to sugar coat this, and I consider it a substantially different problem from understanding the difference between `PolynomialRing`, `polynomial_ring`, `quadratic_field`, `FiniteField`, ... etc.

[2022-05-17 10:28] thofma commented on #1335
I am not sure we should introduce aliases for the types, e.g., `perm_group` for `PermGroup`.

I would be in favour of having all functions adhere to the usual snake case convention.

[2022-05-17 13:44] #1195 closed, assigned to nobody

[2022-05-20 14:53] fingolfin opened #1346 "Extend invariant computation to permutation groups"
The function `invariant_ring` currently is implemented for matrix groups (resp. a list of matrix generators).

We should also add a constructor `invariant_ring(K::Field, G::PermGroup)` (with `K` defaulting to `QQ` if it is omitted).

In the first approximation, this could simply create an isomorphic matrix group over `K`, generated by the corresponding permutation matrices. That will be good enoug

[2022-05-23 07:42] joschmitt commented on #1346
Without really looking into it I would say that it should not be too much of a problem to implement a special `right_action` for elements of permutation groups and let Julia call it if appropriate. And as soon as one can compute bases of a fixed degree component the primary and secondary invariants should "just work".

However, I didn't have time in the past weeks (months?) to really work on the i

[2022-05-23 07:56] fingolfin commented on #1346
Yeah, I also don't think it'll require too much effort, and when I have some spare time, I'll try to tackle it.

As to your work in progress: Feel free to open draft PRs for those WIP branches, then perhaps others can help out.

[2022-05-25 08:43] ThomasBreuer commented on #1346
Since I am interested (at least) in the group action part, I have made an experiment.
The following works after a few changes.
[code]
Here is the list of changes:
- In the `InvRing` construction, construct permutation matrices from the given permutations such that the field `action_singular` can be set.
- Add a `right_action(R::MPolyRing{T}, p::PermGroupElem)` method that returns
  `MapFromFunc((f

[2022-05-25 12:55] joschmitt commented on #1346
This looks good, thank you!
I hope that the `action_singular` can be completely removed at some point. But so far it is at least needed for the fundamental invariants which still call the Singular implementation.
When I implemented `right_action` it was to have this functionality at all. I think for matrices it makes sense to return a map, because one can do some precomputations. If you have other

[2022-05-27 11:48] ThomasBreuer commented on #1346
Concerning the availability of group actions, there is `src/Groups/action.jl`,
which defines for example `on_indeterminates(f::Nemo.MPolyElem, s::PermGroupElem)` to return the polynomial obtained from `f` by permuting the indeterminates with `s`.
(The analogous function for the matrix action on multivariate polynomials is not yet there.)

[2022-05-27 14:23] #1346 closed, assigned to nobody

[2022-06-01 08:31] thofma commented on #1261
Will be addressed in https://github.com/Nemocas/AbstractAlgebra.jl/pull/1173.

[2022-06-01 19:40] joschmitt opened #1364 ""Error" when loading Oscar without internet connection"
**Describe the bug**
Whenever I do `using Oscar` without internet connection, I get an error from GAP:
[code]
Then I have to do `using Oscar` again to be able to use Oscar.

**To Reproduce**
Turn of internet (or get on a train :smile:) and do `using Oscar`.

**Expected behavior**
Oscar loads without error.

**System (please complete the following information):**
[code]

[2022-06-02 12:07] ThomasBreuer commented on #1364
The critical code line is probably `GAP.Packages.load("browse"; install=true)` in the `__init__` function in `src/Oscar.jl`.
Another instance of this problem is the attempt to install GAP's `ferret` package, in the `__init__` function in `experimental/GaloisGrp/GaloisGrp.jl`.

The idea is to install the GAP package in question if necessary and then to load it. If the package is already installed t

[2022-06-02 14:52] ThomasBreuer commented on #872
When working on pull request #1368, I noticed that there is in fact a method for
`Base.:*(v::AbstractAlgebra.Generic.FreeModuleElem{T},u::AbstractAlgebra.Generic.FreeModuleElem{T})`
in `src/Groups/matrices/matrix_manipulation.jl`.
The above discussion suggests that we should remove it.

[2022-06-03 06:45] fingolfin commented on #1364
We will take care of it.

[2022-06-09 11:46] fingolfin opened #1379 "Limit the number of global objects"
After discussion with @fieker, we agreed that Oscar should try to minimize the number of global (non-function) objects it defines.

We should write up some rules for that and document this in the style guide. Two possible rules of thumb:
1. global objects should be really, really important, and very frequently used in multiple applications
2. global objects should be "as unique as possible"

Of co

[2022-06-09 11:48] fingolfin opened #1380 "Consistency: add `snake_case` aliases for all (? most?) `CamelCaseConstructors`"
For end users, it is confusing. When to write `MatrixGroup`, and when `matrix_group`? When `CyclotomicField` and when `cyclotomic_field` ? Same for ideal, matrix, and many others.

Of course "experts" know that `CamelCase` indicates a typename and hence the name of a constructor. But even for them it can be challenge to know when to use which, esp. in the many cases were already both names exist,

[2022-06-09 12:13] thofma commented on #1379
I don't see the harm in `QQBar` and I can't think of other examples than `ZZ` and `QQ` fitting these criteria. So should the limit just be 2? Or we remove `ZZ` and `QQ` altogether to have a consistent system.

[2022-06-09 12:20] thofma commented on #1380
I agree and just want to note that for some of these cases we can do aliases, but I would not want to do it for the types. I don't think we want `matrix_group === MatrixGroup`. (While we are at it, it might be a good idea to untangle the type constructors and the user facing constructors).

[2022-06-09 12:49] tthsqe12 commented on #1379
Um, the list of global objects is quite a bit longer than this...
Just look at everything that has "ID" in its name in AA/src/generic/GenericTypes.jl

[2022-06-09 12:54] fieker commented on #1379
I'd limit it to at most QQ and ZZ. I don't see QQBar universally used, so I'd rather not have QQBar globally predefined. - neither QQi, ZZi, Qab, .... I think they are all niche types - most users will never use them.
The PolyID stuff are, as far as I can see the Dicts for `cache=true` - they are not exported (or should not be).
Maybe, to help move forward we need to have an .Oscar_init file where

[2022-06-09 13:13] fingolfin commented on #1379
Regarding caches and FooBarID: as long as those are not `export`ed, I don't have a problem with them (though perhaps we should use a convention like having the names of such "internal" variables be prefixed with an underscore).

I don't think and "oscar init file" is a workable solution, or at least it's not so easy to see how this should be done: for one thing, we'd only want this to be in effect

[2022-06-09 13:19] thofma commented on #1379
I don't understand the Oscar init file. If it is per user, it should go into `$JULIAHOME/startup.jl`. Otherwise it is just somewhere in Oscar.

[2022-06-09 13:32] fieker commented on #1379
On Thu, Jun 09, 2022 at 06:19:26AM -0700, Tommy Hofmann wrote:

It is hard to add
QQ = rationals();
in startup.jl as oscar is not loaded at this point.
However, in Oscar we could, at the end of loading everything also
evaluate a user file - if present.

[2022-06-09 13:47] thofma commented on #1379
I see. But I have some reservations about Oscar loading random files. I am also not sure what loading means. Load into which namespace?

To move forward we can
1. just remove `QQi`, `ZZi` `QQBar`,
2. write down in the developer documentation that we these are the only two exceptions.

[2022-06-09 18:43] ulthiel commented on #1379
As someone who may have initiated the discussion: I'm happy with ZZ and QQ only (but these should exist for convenience). I just thought that when it was decided there's QQBar, there could be QQAb as well. I was surprised by QQi and feared QQsqrt2 may come next.

[2022-06-09 18:48] ulthiel commented on #1380
As someone who's trying to write a package using Oscar which implements the creation of an Oscar matrix group from data of a different package (in this case Gapjm): is it my duty to implement both MatrixGroup(X::Gapjm.PRG) and matrix_group(X::Gapjm.PRG) as well? Of course it's my package so I decide what to do but I'd follow Oscar guidelines and then I feel it's annoying implementing both all the

[2022-06-09 19:22] thofma commented on #1380
The way the aliases are setup, you can do both. But I think we should suggest overloading not the alias version. I hope that we are moving to a `snake_case` world (except for type names), so that in the future the rule is to always use `snake_case` version.

P.S.: The aliases are identical as methods (`===`). If you try to define both, you get a `Method overwritten` warning (not in the REPL, but i

[2022-06-10 12:26] ThomasBreuer opened #1384 "`quo` method for `FPGroup`"
**Describe the bug**
Currently the `quo(G::FPGroup, elements::Vector{FPGroupElem})` method works only if `G` is a *full* (free or) f.p. group.
If `G` is a *subgroup* of a free group then `quo` returns a result that is in general not valid.
If `G` is a *subgroup* of a f.p. group then `quo` throws a GAP error.

**To Reproduce**
[code]

**Expected behavior**
I think that if we want `quo` to delegate

[2022-06-13 21:25] fingolfin commented on #1364
Should be fixed now with the latest GAP.jl

[2022-06-13 21:25] #1364 closed, assigned to fingolfin

[2022-06-13 22:01] fingolfin opened #1392 "Test failure in QQAb conformance tests"
Earlier I merged PR #1388 by @thofma after it passed all tests. Unfortunately this now causes random failures on `master` and PRs, see e.g.
- https://github.com/oscar-system/Oscar.jl/actions/runs/2489073033
- https://github.com/oscar-system/Oscar.jl/actions/runs/2489883930

As an emergency workaround, I've pushed d18bb318a8cc30cfbbbb42512ba78bdc21eea89d to not run this conformance test. But of cou

[2022-06-14 05:22] thofma commented on #1392
I will have a look.

[2022-06-14 07:04] fingolfin commented on #1392
My workaround actually was not enough anyway, there are still random (?) CI failures coming from the tests in `test/Rings/AbelianClosure.jl:7`

[2022-06-14 12:22] thofma commented on #1392
Yes, the conformance tests are included also in another file. Otherwise that call in `test/Rings/AbelianClosure.jl:7` would just fail.

[2022-06-14 13:52] thofma opened #1395 "Test failure on julia master (in GAP.jl)"
Oscar is not working with the nightly version of julia (master branch). The error starts with
[code]
We have it on the radar and someone is working on it.

[2022-06-14 13:53] thofma commented on #1392
I found the problem. Currently discussing with @fieker the course of action.

[2022-06-14 15:02] fingolfin commented on #1395
Should be fixed by https://github.com/JuliaLang/julia/pull/45678

[2022-06-14 15:05] fingolfin commented on #1395
Hehe, just at the moment I submitted my fix, they reverted the whole PR adding the issue in the first place.

So, this should be good, at least next time they regenerate the nightly binaries

[2022-06-14 15:32] vchuravy commented on #1395
I am glad you found this issue :)

[2022-06-14 15:43] #1392 closed, assigned to thofma

[2022-06-15 09:20] #1395 closed, assigned to nobody

[2022-06-15 13:26] edgarcosta opened #1400 "Oscar.build() fails due to GAP's "foreign Julia type" not being serializable"
**Describe the bug**
Oscar.build() fails

**To Reproduce**
Steps to reproduce the behavior, please provide a code snippet that triggers
the bug.
[code]
then here are some possible output:
https://gist.github.com/edgarcosta/3b91f9feefbe239201ef3d33ff5279a9
https://gist.github.com/edgarcosta/60b0792861968c4cd7bd5ec02f3a42b7

it is unclear to me if this is converging or not, but I'm past my 10th iter

[2022-06-16 14:37] thofma commented on #1400
Thanks for the report!

I have looked a bit into it. The error persists even if Oscar is stripped down to
[code]
The error was gone once I removed GAP.jl as a dependency. Indeed, just doing
[code]
results in
[code]
(This is with a fresh julia master and the recent version of PackageCompiler).
CC: @fingolfin @ThomasBreuer

I had a very artificial look and sprinkled some `jl_` calls in `dump.c`. It

[2022-06-17 11:11] fingolfin commented on #1400
I am looking into it

[2022-06-17 12:48] ThomasBreuer commented on #1384
Since PR #1404, we do not run into the (immediate or delayed) GAP errors anymore.
If the discussion of gap-system/gap/issues/4897 provides new ideas then we may adjust to them on the Oscar side.

[2022-06-17 12:55] #1319 closed, assigned to nobody

[2022-06-17 14:46] joschmitt opened #1408 "Comparison of `MPolyQuoIdeal`'s not correct"
**Describe the bug**
The comparison of ideals in quotients of multivariate polynomial rings appears not to be implemented correctly.

**To Reproduce**
[code]
In `Q`, the ideal generated by `x` contains `x^2 == y*z`.

**Expected behavior**
`true` in the above example. I have the impression that the implementation only compares the "underlying" ideals in the polynomial ring but does not add the modu

[2022-06-17 15:09] tthsqe12 commented on #1408
will have a look

[2022-06-18 04:14] hongyi-zhao opened #1409 "The incorrect displayed symbols in GAP online reference manual `39.7-6 CosetDecomposition`."
I noticed the following incorrect displayed symbol [here](https://www.gap-system.org/Manuals/doc/ref/chap39.html#X82F6ABE378B928D1):

![image](https://user-images.githubusercontent.com/11155854/174422327-426e3ef2-3a2f-42a2-ae6d-17140f740d12.png)

It's obvious that the correct form should be **$S \le G$**.

Regards,
HZ

[2022-06-18 04:21] hongyi-zhao commented on #1409
I'm sorry for the hurry. This issued should be filed on GAP's issue list, as I've reposted it [here](https://github.com/gap-system/gap/issues/4898).

[2022-06-18 04:21] #1409 closed, assigned to nobody

[2022-06-20 20:39] fingolfin opened #1411 "Missing `Base.in` method for `MPolyQuoIdeal`"
While looking at issue #1408 I noticed that there is no `in` method for `MPolyQuoIdeal`. To wit:
[code]

[2022-06-21 08:20] tthsqe12 commented on #1408
Of course it is not doing the naive direct compairison on generators. The bug is in
`function simplify(a::MPolyQuoIdeal)`
I currently do not understand what this code is doing, but it is dodgy in at least one place.

[2022-06-21 08:42] joschmitt commented on #1408
Not what I meant, but I misread the code anyway. Thank you!

[2022-06-21 08:55] YueRen opened #1412 "Support `Singular.ordering_a` in Oscar"
Oscar used to be able to work with Singular orderings:

    R, (t, x1, x2, x3, x4) = PolynomialRing(QQ, ["t", "x1", "x2", "x3", "x4"], ordering = Singular.ordering_a([-1, 2, 0, 2, 0])*Singular.ordering_dp());

But the system was overhauled and now `ordering_a` is no longer supported. Would it be possible to add support for it? In particular, I need to be able to prepend several `ordering_a` to som

[2022-06-21 09:18] tthsqe12 commented on #1412
It is in fact documented, but the Oscar.Orderings.singular is not exported. Something we need to do in oscar is stop deferring so easily to the matrix orderings, but this should get you the correct ordering.
[code]

[2022-06-21 10:44] #1408 closed, assigned to nobody

[2022-06-23 21:46] fingolfin opened #1418 "Don't export `SymmetricGroup` resp. replace it with an alias for `symmetric_group`"
It is from AbstractAlgebra and not something we want to support at this point within OSCAR

[2022-06-24 13:24] HechtiDerLachs opened #1423 "comparison of monomial orderings has a problem?"
Try this code:
[code]
You're not supposed to get `true` right? But I do.

[2022-06-27 17:59] edgarcosta opened #1424 "printing an integer inside jupyter kernel"
**Describe the bug**
Should not be seeing `\toggle` or `\endtoggle` inside jupyter kernel.

**To Reproduce**
[code]
output:
[code]
See screenshot:

<img width="816" alt="Screen Shot 2022-06-27 at 13 57 23" src="https://user-images.githubusercontent.com/322822/176005526-33e32aa5-eb26-4460-b107-7d4f6961ce47.png">

**Expected behavior**
I would expect to see the output that Nemo gives.

**System (ple

[2022-06-27 18:15] edgarcosta commented on #1424
the culprit: https://github.com/thofma/Hecke.jl/blob/master/src/Misc/IJulia.jl#L213=

tks @alexjbest

[2022-06-27 18:27] thofma commented on #1424
@fieker Do you remember how that toggle business works?

[2022-06-27 18:53] alexjbest commented on #1424
Looks like one way of getting this feature working is to ensure that the following jupyterlab extension is installed: https://github.com/jupyterlab/jupyter-renderers/tree/master/packages/mathjax3-extension you can do this with
`jupyter labextension install @jupyterlab/mathjax3-extension` when in the appropriate environment

[2022-06-27 20:07] edgarcosta commented on #1424
@alexjbest yup, I can also confirm that it works with the extension, however, not obvious that I needed the extension

[2022-06-27 20:10] edgarcosta commented on #1424
maybe something should be added to https://oscar.computeralgebra.de/install/ in the IJulia section?

[2022-06-27 20:32] alexjbest commented on #1424
Ideally Hecke should be able to check that mathjax 3 is available somehow, it already detects that ijulia is loaded and otherwise doesn't use the toggle feature, I imagine it's slightly harder to detect mathjax3 though. So instead maybe some TeX code could be emitted that does the switching? I'm not sure how precisely that would work, but there is surely some detectable difference between latex an

[2022-06-28 07:46] fieker commented on #1424
On Mon, Jun 27, 2022 at 11:36:00AM -0700, Tommy Hofmann wrote:

In Hecke.jl init:

  #if inNotebook()  # to make toggle work in IJulia
  #  display("text/html", "\$\\require{action}\$")
  #end

why we disallowed: no idea. Maybe there was a jupyter change?

[2022-06-28 08:09] thofma commented on #1424
Ah, I think at some point I wanted the pure julia output (no LaTeX shenanigans) in the notebook. I am also not sure how nice these things play with the `set_html_as_latex` toggle (https://nemocas.github.io/AbstractAlgebra.jl/dev/misc/#Printing-options).

[2022-06-28 09:17] #1411 closed, assigned to nobody

[2022-06-28 15:00] tthsqe12 opened #1425 "Oscar.jl/test/TropicalGeometry/initial.jl has a line that is 18 thousand characters long"
Furthermore, in what sense is this test valid?

[2022-06-28 15:00] tthsqe12 opened #1426 "Oscar.jl/test/TropicalGeometry/initial.jl has a line that is 18 thousand characters long"
Furthermore, in what sense is this test valid?

[2022-06-28 15:19] #1425 closed, assigned to nobody

[2022-06-30 09:38] joschmitt opened #1430 "Feature request: degree truncated Gröbner bases"
I would like to have degree truncated Gröbner bases of homogeneous ideals in OSCAR (as in [KR05, 4.5.B]).
Maybe this is already available somewhere and I just didn't see it?

[2022-06-30 10:33] tthsqe12 commented on #1430
Maybe this?
https://oscar-system.github.io/Singular.jl/dev/caller/#Global-variables

[2022-06-30 10:40] joschmitt commented on #1430
Ah, great. Thank you!

[2022-06-30 14:31] tthsqe12 opened #1431 "latest version of msolve (msolve_jll v0.2.5+0) seems to be buggy"
@ederc
the tests are all failing now c.f.
https://github.com/oscar-system/Oscar.jl/pull/1429
https://github.com/oscar-system/Oscar.jl/pull/1427

If not buggy, then at least the tests are invalid. However, it is also easy to crash it
[code]

[2022-06-30 14:39] tthsqe12 commented on #1431
msolve_jll v0.2.3+1 seems to be fine c.f.
https://github.com/oscar-system/Oscar.jl/pull/1428

[2022-06-30 15:44] ederc commented on #1431
I need to update many things in Oscar for the new version of msolve to work. Please do not update msolve_jll on your own.

--
gpg: http://hkps.pool.sks-keyservers.net/pks/lookup?search=0x6e0d034b959fde6a&fingerprint=on&op=index

[2022-06-30 15:50] thofma commented on #1431
Note that this also broke the released version of Oscar aka 0.10.0.

[2022-06-30 15:51] thofma commented on #1431
There was no update done by anyone by hand. This happened automatically by releasing a 0.2.5 version of msolve. Version 0.2.5 is per definition compatible with 0.2.* for the julia package manager, so the newest version is automatically used in any Oscar version.

[2022-06-30 16:10] tthsqe12 commented on #1431
Yes, binary changes should go under v0.3.x now.

[2022-06-30 19:00] ederc commented on #1431
Sorry, I thought if we have `0.2.3` hardcoded in Project.toml it stays at this specific version. I am working on the problem.

[2022-06-30 19:55] thofma commented on #1431
We can pin the specific version in the meantime.

[2022-06-30 20:18] ederc commented on #1431
I should (hopefully) provide a fix tomorrow.

[2022-07-01 11:44] #1431 closed, assigned to nobody

[2022-07-01 13:26] fingolfin commented on #1426
I guess @YueRen or @martapanizzut should take a look whenever they have time :-)

[2022-07-01 13:27] tthsqe12 commented on #1426
I am only asking because I did some "minor" changes and now this tests fails.

[2022-07-04 10:53] ThomasBreuer commented on #872
The initial examples are working now, and also the related comments do not have open ends.

[2022-07-04 10:53] #872 closed, assigned to ThomasBreuer

[2022-07-04 11:06] tthsqe12 opened #1437 "Oscar.jl/test/TropicalGeometry/initial.jl fails when only a subset of the test suit is run"
c.f. https://github.com/oscar-system/Oscar.jl/pull/1436

[2022-07-06 14:16] HereAround opened #1440 "ToricVarieties: Bug in Stanley-Reisner ideal"
**Description**
Error from computing the Stanley-Reisner ideal of a smooth non-projective and non-affine toric variety.

**To Reproduce**
[code]

**Expected behavior**
This should return `ideal(x1*x3)`.

**System:**
[code]

**A bit of investigation**

[code]
`l2` should be `[[1, 0, 1, 0]]`, i.e. the last zero is missing. This causes the above error and results from the value of `mnf2`, which is a

[2022-07-06 14:46] joschmitt commented on #1430
I made a quick-and-dirty wrapper of the Singular functionality in #1438 . But this should certainly be better integrated for other users to find it (by a person who knows the groebner basis interface).

[2022-07-06 17:50] #1440 closed, assigned to nobody

[2022-07-07 16:56] tthsqe12 commented on #1412
@YueRen I am in the process of cleaning up the oscar orderings. If you have any comments on the interface below, please let me know soon.

[code]

[2022-07-09 09:15] benlorenz commented on #851
As discussed in the Friday-meeting the runtime of the `Ring interface for localized polynomial rings` does jump up quite a bit from time to time.

I let this group run for a while and got about 500 iterations:
- 300 are below 1 minute
- 130 between 1 and 2 minutes
- 55 between 2 and 5 minutes
- 8 between 5 and 10 minutes
- **5 runs with more than 10 minutes**

The longest one I have seen so far is

[2022-07-09 09:25] benlorenz opened #1451 "random failure in Rings-conformance-tests"
**Describe the bug**
Test failure of `Rings-conformance-tests.jl` while running the `test/Rings/mpoly-localizations.jl` in a loop.
(As mentioned in #851)

**To Reproduce**
Run the following script in a shell loop and **wait**.
[code]
In my loop I got 1 failure in about 500 iterations.

**Expected behavior**
Tests pass.

**System (please complete the following information):**
[code]

**Additional c

[2022-07-11 07:30] benlorenz commented on #851
Some more timings (top 20):
[code]
Unfortunately julia only shows the name of the testgroup which makes it sometimes difficult to find where they belong. `Polyhedron{nf_elem}`, `PolyhedralFan{nf_elem}`, `PolyhedralComplex{nf_elem}`, and probably `Polyhedron{fmpq}` should become a lot faster with the the upcoming polymake 4.7 release.

[2022-07-11 14:31] AndrewVSutherland opened #1455 "Use primesieve for prime enumeration"
The [Julia Primes package](https://github.com/JuliaMath/Primes.jl) which provides a Julia wrapper for Kim Walisch's [primesieve library](https://github.com/kimwalisch/primesieve) is faster than the prime enumeration functions that Oscar currently provides.

I would suggest either incorporating Primes.jl into Oscar or modifying functions like PrimesSet to use primesieve when appropriate (whenever t

[2022-07-11 14:44] fieker commented on #1455
We will look into it, but note that the "normal" use of PrimesSet is an
unbounded set, ie. no upper bound.
Its used in some modular methods to iterate over primes congruent to ??
mod ?? until enough have been found.
It should be improved.

On Mon, Jul 11, 2022 at 07:31:54AM -0700, Andrew Sutherland wrote:

[2022-07-11 15:00] AndrewVSutherland commented on #1455
Yes, I'm sure the primesieve interface doesn't support everything you might want PrimesSet to do (in particular, handling integers larger than 2^63), but having a 15-20x faster implementation for the most common use case (primes up to X or within a known interval below 2^63) without needing to write any new prime enumeration code yourself seems like an easy win.  Of course people can just use Prim

[2022-07-11 18:52] #1451 closed, assigned to nobody

[2022-07-11 22:11] fingolfin commented on #851
Thanks for the analysis, @benlorenz ! Perhaps we should adjust all our `@testset` to reference the filename in which they occur as part of their name? We could even wrote a variant of the `@testset` macro for doing that...

Regarding the problem with "Ring interface for localized polynomial rings" (CC @HechtiDerLachs), my guess is that these computations involve Gröbner basis computations, so depe

[2022-07-12 00:38] HechtiDerLachs commented on #851
I can look into that, yes. But from what I remember, the ring interface asks you to implement some "random-elements-generator" for the ring and through certain parameters, you can roughly regulate the degree of the polynomials involved. I'm afraid, these are no good means to reasonably bound the complexity of the tests, since, as you say, Groebner basis computations can behave quite wild.

Anyway:

[2022-07-12 06:39] benlorenz commented on #851
Why can't we seed these random-elements such that the testsuite will run on exactly the same random elements every time? (Or at least add in an environment variable that forces this / sets the seed in the CI)

[2022-07-12 06:39] thofma commented on #851
The ring interface function is basically testing only arithmetic (and maybe polynomials and matrices, but this is also only ring arithmetic). I am not sure, but does that really do a Gröbner basis computation every time? I would have guessed that it does at most a few such computation and its complexity depends on the data defining the localization and not on the elements for which one does arithm

[2022-07-12 07:12] fingolfin commented on #851
I think just deciding equality for these elements requires a Gröbner basis computation.

[2022-07-12 19:43] HechtiDerLachs commented on #851
I was thinking about it again (sorry, I did not yet have the time to really look into it), but the localizations of polynomial rings should in fact not require any Groebner basis computations, really. At least, I tried to do everything using `divides` and `ppio` and the like. But the root is the generation of random elements and for this I was using the generation of random multivariate polynomial

[2022-07-14 09:17] tthsqe12 commented on #1423
fixed in #1448

[2022-07-14 09:17] #1423 closed, assigned to tthsqe12

[2022-07-15 09:13] ulthiel commented on #1261
This is still work in progress, isn't it?

[2022-07-15 13:11] fingolfin commented on #1418
@CameronBraunstein maybe you could look into this?

[2022-07-15 15:51] thofma commented on #1261
We just merged it. It will take a few days to bubble up to Oscar.

[2022-07-15 19:45] ulthiel commented on #1261
Terrific!

[2022-07-17 21:23] edgarcosta opened #1463 "Documentation should point to source code"
It would be great if the documentation could point to the source code of the methods mentioned.
This would be particular useful for methods with optional parameters that are ambiguous.

For example, flags like `check`, is unclear many times what checks are being done. A clear case of this is `GF` and `FiniteField`.
Obviously, one alternative is to write better documentation, but given that this is

[2022-07-17 21:34] fingolfin commented on #1463
That's really difficult due to how limited Documenter is in when it comes to merging documentation from different sources (read: it has zero support for that, we have to hack it together). Furthermore AFAIK it can only insert links to methods with an attached docstring. But there can be many methods implementing one function.

I would instead recommend to use macros like `@which`, `@less`, `@edit`

[2022-07-17 21:53] edgarcosta commented on #1463
Thank you.

Feel free to close the issue if you find it unreasonable.

[2022-07-18 11:01] YueRen commented on #1426
Created a pull request removing the test. Sorry for the late reply, I need to somehow fix my github Email notifications.

[2022-07-18 11:15] YueRen commented on #1412
Really sorry for the late reply, the interface looks nice and many thanks for it!

I would change the name from `weighted_ordering` to `weighted_preordering` just to emphasize that this ordering on the monomial is not a total ordering (it is a [preorder](https://en.wikipedia.org/wiki/Preorder#Formal_definition)).

[2022-07-18 11:33] tthsqe12 commented on #1412
This leads to the next can of worms. Currently the methods with "ordering" in the name are
[code]
All of the oscar orderings are preorders until proven to be orders, we had a small debate on the meaning of these tests
https://github.com/oscar-system/Oscar.jl/blob/08988e0e5d8da3f45c6af62876b1d4d1d133c9b6/test/Rings/orderings-test.jl#L53-L55

[2022-07-18 11:45] YueRen commented on #1412
Ah, I see. I forgot that you can define an total ordering on a subset of the monomials, because I don't really use that feature. In that case I don't mind keeping the name for the sake of consistency.

[2022-07-18 15:17] tthsqe12 commented on #1412
Do you have anything to say on the meaning of the predicates in the tests?

[2022-07-19 11:21] #1426 closed, assigned to YueRen, martapanizzut

[2022-07-19 11:25] tthsqe12 commented on #1437
This was a singular global variable issue and indeed seems to have been fixed by https://github.com/Singular/Singular/commit/aa37e4aece0beb7d9cba9d0719980e09c39a99c5

[2022-07-19 11:25] #1437 closed, assigned to YueRen, martapanizzut

[2022-07-19 15:37] CameronBraunstein commented on #1418
Yes, I will look into it

[2022-07-20 08:12] thofma commented on #1261
Here it is
[code]

[2022-07-20 08:12] #1261 closed, assigned to nobody

[2022-07-20 18:09] HereAround opened #1471 "Decide how to document functions like `is_trivial`, `is_irreducible` with many different methods in a consistent way... docstrings vs. manual vs. REPL etc."

[2022-07-21 18:02] CameronBraunstein commented on #1418
Should I also replace all AbstractAlgebra.SymmetricGroup objects with the corresponding symmetric_group (For example, in  ./test/StraightLinePrograms/straightline.jl and ./src/TropicalGeometry/semiring.jl), or leave them alone?

[2022-07-22 10:43] HereAround opened #1475 "Marry different implementations of the Chow ring"
Marry implementations of Chow ring for
- Toric varieties,
- Matroids.

cc @bschroter @fingolfin @LukasKuehne

[2022-07-22 13:42] CameronBraunstein commented on #1337
I can work on this issue

[2022-07-22 13:42] fingolfin commented on #1337
Great!

[2022-07-26 15:28] CameronBraunstein commented on #1337
Is there a reason why we need to keep DEVELOPMENT.md at all? README.md also contains a link to the new developer instructions, so we can still have an easy way to jump to the new developer instructions

[2022-07-26 15:55] CameronBraunstein commented on #1337
I also think everything in WhatIs.md can just be moved into the README/new developers guide and that file can be deleted as well

[2022-07-27 03:20] AndrewVSutherland opened #1479 "Bug in crt(r1,m1,r2,m2) when m1 and m2 are not relatively prime"
**Describe the bug**
The function crt(r1,m1,r2,m2) may give the wrong answer when m1 and m2 are not relatively prime

**To Reproduce**
Steps to reproduce the behavior, please provide a code snippet that triggers
the bug.
[code]
outputs 1511, which is not congruent to 41 mod 85

**Expected behavior**
the output for this input should be 41.  I would also expect the output to be in the range [0,lcm(m

[2022-07-27 03:56] AndrewVSutherland opened #1480 "bug in trace_of_frobenius"
**Describe the bug**
For certain elliptic curves over finite fields the function `trace_of_frobenius` returns an incorect result

**To Reproduce**
Steps to reproduce the behavior, please provide a code snippet that triggers
the bug.
[code]
outputs -30, which is impossible,since |-30| > 2*sqrt(59)

**Expected behavior**
The correct output is 15 (as confirmed by Sage and Magma)

**System (please com

[2022-07-27 05:52] tthsqe12 commented on #1479
This is more a bug in the documentation of crt, which doesn't mention the assumption gcd(m1,m2)=1. 99.99% of uses of this function include this assumption. So much so that the one documenting crt didn't even consider the case of non-coprime moduli.

[2022-07-27 06:10] thofma commented on #1480
@JHanselman Can you have a look?

[2022-07-27 06:17] thofma commented on #1479
Is there a way of adding the check without making everything slow?

P.S.: A method that works for arbitrary euclidean domains is available via `crt(r::Vector, m::Vector)`

[2022-07-27 07:33] tthsqe12 commented on #1479
There is nothing special about the c implementation in flint besides the assumtion gcd(m1,m2)=1, so I can move to julia and add the possibility of throwing.
P.S: why is `crt(r::Vector, m::Vector)` in hecke/src/misc? And it assumes coprime moduli as well?

[2022-07-27 10:32] RafaelDavidMohr opened #1481 "Using F4 does not seem to correctly set the gb field of an ideal"
# Bug Description

Using `f4` on an ideal seems to not correctly set the `gb` field of a polynomial ideal. This causes an `UndefRefError` when calling, for instance, `normal_form` after computing a Gröbner basis for said ideal with `f4`.

# To reproduce

    using Oscar
    R, (x, y) = PolynomialRing(GF(5), ["x", "y"])
    I = ideal(R, [x])
    gb = f4(I)
    normal_form(y, I)

    ERROR: UndefRef

[2022-07-27 11:01] ederc commented on #1481
The problem is `normal_form()` not `f4()`: `f4` correctly computes and stores the corresponding GB in `I`'s dictionary. Sadly `normal_form()` is outdated code (as well as lots of other GB functionality) which does not call a `singular_assure()` on the GB data it wants to work with. When `normal_form()` was implemented we only had Singular as GB engine in Oscar. Still waiting for an `idealgens` imp

[2022-07-27 11:10] ederc commented on #1481
#1482 fixes this issue.

[2022-07-27 11:11] RafaelDavidMohr commented on #1481
Thank you for the explanation and fix, closing this issue.

[2022-07-27 11:11] #1481 closed, assigned to nobody

[2022-07-27 11:59] tthsqe12 commented on #1479
I have started https://github.com/Nemocas/AbstractAlgebra.jl/pull/1202
But it will take some time for this to filter through the packages before we can get it working for Oscar.ZZ

[2022-07-27 13:33] RafaelDavidMohr opened #1484 "F4 segfaults when exporting results back to Julia"
# Bug Description

The `f4` function segfaults when called on a specific example. This seems to be caused by a function which exports data to julia in the C kernel. I would be happy to move this to the msolve repository if this does not fit here.

# To reproduce

Unfortunately I could not find a smaller example where the bug happens.

    using Oscar
    R, (t, x1, x2, x3, x4, x5, x6) = Polynomial

[2022-07-27 14:56] ederc commented on #1484
That's an msolve internal bug. Will fix it.

[2022-07-28 08:56] ederc commented on #1484
The bug is fixed with `msolve` resp. `msolve_jll` v0.4.4 which is available in the official registry as of now. So an `update` fixes this issue for `Oscar` users.

[2022-07-28 08:56] #1484 closed, assigned to nobody

[2022-07-28 16:12] thofma opened #1487 "Preferred ordering for ideal computations"
We have an example from @AlheydisGeiger where computing a saturation with Singular(.jl) ideals is much faster than with Oscar ideals, because the provided ordering made everything faster. At the moment we have no way to have this as fast in Oscar, which is a shame. I think it would make sense to have a way to specify a possible ordering when doing ideal computations. This is for experienced users,

[2022-07-28 16:20] wdecker commented on #1487
Can I see the example in all details?

[2022-07-28 16:38] thofma commented on #1487
Here is the Singular.jl/singular code:
[code]
Here the same in Oscar:
[code]

[2022-07-28 19:24] ederc commented on #1487
To have some interface as @thofma suggested is something we are working on. Problem is (as I already commented on issue #1481) that we are still waiting for a rework of the structure of GBs for ideals which coincides to `ModuleGens`.

On the other hand your statement that the above fast computation from Singular.jl is not possible in Oscar.jl is not completely correct: Saturation is nothing but GB

[2022-07-29 08:16] ederc commented on #1487
@thofma In #1489 I have tried to implement an interface for `saturation` also taking care of monomial orderings as you suggested. As already mentioned, this needs to be generalized at some point, but, in the meantime, it should provide a user-friendly way of dealing with examples like the above one.

[2022-07-29 10:41] thofma commented on #1487
As far as I know, the GB computations are hidden from the user for all ideal operations and `singular_assure` is an implementation detail that might vanish any time. It is also not clear what happens if one does `singular_assure(I, ord)` and `singular_assure(I, ord2)` before (which GB will be used)?

Anyway, thanks for the PR!

[2022-07-29 13:29] tthsqe12 commented on #1487
Some possibilities, some serious, some not so serious.
1. Have a preferred ordering attached to the polynomial ring. Probably a non-starter because of == issues for polynomial rings.
2. Attach a preferred ordering to ideals. In the case of a clash, choose one deterministically.
3. Have a keyword ordering argument to each function that deals with a GB. This seems like it will become cumbersome for

[2022-07-29 19:08] ederc commented on #1487
@tthsqe12

I think 1) is what we wanted to get rid of moving from Singular to Oscar, I don't see this a to be possible solution.
For 2) I think the ideal does not care about the monomial ordering, only the GBs and corresponding computed data do. For example , at the moment, we one ideal caches a dictionary of GBs where each GB is computed w.r.t. a given monomial ordering. I don't see the point why

[2022-07-31 10:57] YueRen commented on #1487
I second @ederc 's suggestion. Regarding attaching a preferred ordering to ideals: realizing this will be incredibly messy since you will have to deal with inheritance. In @AlheydisGeiger example, the quotients would need the same preferred ordering, which then leads to the question what to do in more complicated examples (e.g. summation of two ideals).

[2022-07-31 13:31] thofma commented on #1480
We just released 0.10.1 (available via `]up`), which fixes this.

[2022-07-31 13:31] #1480 closed, assigned to nobody

[2022-07-31 13:32] thofma commented on #1479
Everything is fixed except for the method for arbitrary Euclidean domains.

[2022-07-31 17:50] AndrewVSutherland commented on #1479
Thanks for the quick fix!  I can confirm that this fixes the problem I reported, and it is a relief to have crt support both fmpz's and integer types.

[2022-07-31 19:35] Krastanov opened #1491 "Finite field constructors should add sanity checks"
**Describe the bug**
`roots` on a Polynomial over finite field raises an error if the polynomial has a root at 0

**To Reproduce**
[code]
The errors look like
[code]

**Expected behavior**
`roots(x^2+x)` should return `fq[0,3]` (note, `3=-1` for the field in question, but this happens for other fields too)

**System (please complete the following information):**
[code]

**Additional context**

I a

[2022-07-31 19:53] thofma commented on #1491
Thanks for the report. I will have a look.

[2022-07-31 20:14] Krastanov commented on #1491
The problem pops up in `is_irreducible` too:

[code]
[code]

Probably not surprising, but wanted to mention it just in case.

[2022-07-31 21:32] AndrewVSutherland opened #1492 "`quadratic_twist` fails on elliptic curves over GF(p)"
**Describe the bug**
The function `quadratic_twist` reports an error when the input is an elliptic curve E defined over `GF(p)`, but works as expected when E is defined over the degree 1 extension `GF(p,1)`, which is of course the same thing mathematically but the former has type `Nemo.GaloisField` while the latter has type `FqNmodFiniteField`.

**To Reproduce**
[code]

**Expected behavior**
`quad

[2022-07-31 23:28] tthsqe12 commented on #1491
Finite fields are created with the arguments (p,l), not the arguments (p^l,1)

[2022-07-31 23:52] Krastanov commented on #1491
Indeed, I just discovered that was the problem.

Is this still a bug though? If the correct way to create the field is `FiniteField(2,5)`, then why is `FiniteField(ZZ(2^5), 1)` even working? Does `FiniteField(ZZ(2^5), 1)` have any meaning or is it just an omission of input sanitation?

[2022-08-01 00:34] tthsqe12 commented on #1491
FF(4,1) is clearly not working (eventually). We don't throw an error sooner because primality checking is off in the FF constructor.

[2022-08-01 00:39] tthsqe12 commented on #1479
Hmm, I wouldn't get your hopes up too high for zz (Int) as all of the arithmetic there is unchecked for overflow.

[2022-08-01 01:05] AndrewVSutherland commented on #1479
@tthsqe12 I'm not sure I understand your comment.  My understanding is that ZZ/fmpz and BigInt both handle arbitrary precision integers so overflow should not be a problem, is that not the case?

[2022-08-01 01:20] tthsqe12 commented on #1479
Ah, ok. I thought by "integer types" you meant at least BigInt and Int. Of course BigInt is fine. Int is only fine in some ranges.

[2022-08-01 02:24] AndrewVSutherland commented on #1479
For fixed precision types, ideally one would want the result to be correct whenever the LCM of the moduli is small enough to be represented in that type -- this would require working at higher intermediate precision in some cases but using 128-bit arithmetic to handle Int64's would still be pretty fast.  In any case, it would be good to know (and document) what behavior to expect when fixed precis

[2022-08-01 06:49] Krastanov commented on #1491
In that case I believe I should close this issue. Feel free to reopen it as an "add input sanitation" enhancement request if that makes sense.

[2022-08-01 07:01] Krastanov opened #1493 "Documentation/implementation request for embedding/homomorphis for finite fields"
**Is your feature request related to a problem? Please describe.**

If I have a finite field `F(p,l)` and a larger finite field `F(p,l*i)` that contains the first one, I want to be able to convert an element of the smaller field into an element of the larger field (and the reverse, when possible).

**Describe the solution you'd like**

Sage has `Hom` and `FiniteFieldHomomorphism_generic`.
![image]

[2022-08-01 07:05] Krastanov commented on #1493
I see there is `FinFieldMorphism` in `EmbeddingTypes.jl`. Are they safe/stable to use from user code? Documented?

[2022-08-01 07:06] thofma commented on #1493
You can do `embed(F, FF)`. This is safe to use.

[2022-08-01 08:19] thofma commented on #1491
We definitely should do the input check (with an optional `check` parameter to turn it off).

[2022-08-01 12:12] thofma commented on #1479
When a fixed precision type is used and the result cannot be represented using the input type, the usual disclaimer of julia applies: https://docs.julialang.org/en/v1/manual/integers-and-floating-point-numbers/#Overflow-behavior. I don't think adding warnings to every docstring is feasible.

[2022-08-01 12:20] AndrewVSutherland commented on #1479
@thofma I think that's totally fine, and is what I would expect, my question was whether the result will be correct when it can be represented in the input type -- if you are not careful in the implementation, you could produce the wrong result due to intermediate overflow even when the output will fit.  If the answer is that the result will be correct when it fits, maybe it does not need to be do

[2022-08-01 15:36] thofma commented on #1479
I guess the main application is entering `crt(1, 2, 2, 7)` quickly at the REPL without wrapping everything inside `ZZ()` or `BigInt()`. It seems people expect that to work.

We have a fix lined up at https://github.com/Nemocas/AbstractAlgebra.jl/pull/1204/, which will add some explanation on the restriction for fixed precision types to the docstring of `crt`. I will close this issue here once it i

[2022-08-01 17:18] HechtiDerLachs opened #1495 "Addition of ideals fails eventually when doing stuff with different orderings"
Consider the following code:
[code]

So what happens: The singular side of the ideal `I` is filled out with a Singular ring with the ordering `o`. But this is not the default ordering for `R` and for `J` the default ordering `degrevlex` will be chosen when filling out the singular side. Now for some reason, addition of ideals is implemented using the singular side and there it finds incompatible r

[2022-08-02 06:11] thofma commented on #1479
Should be fixed by doing `]up`.

[2022-08-02 06:11] #1479 closed, assigned to nobody

[2022-08-02 09:27] thofma commented on #1492
Fixed (after doing `]up`).

[2022-08-02 09:27] #1492 closed, assigned to nobody

[2022-08-05 13:00] #1495 closed, assigned to tthsqe12

[2022-08-08 14:04] Krastanov commented on #1493
I can send a documentation PR that intersperses mentions of "how to do the embedding" throughout the manual, however, could you share a brief sentence on what is the "grand vision" for the manual? If there is no grand vision yet, just let me know and I will intersperse these mentions of embedding to the best of my judgement.

[2022-08-10 08:38] HereAround opened #1504 "Documentation: Explain how to execute the doctests"
`Oscar.build_doc()` does not execute the doc_tests. So as a humble user or developer, one might wonder "how do I execute the doc tests locally to test my code?". Unless I am mistaken, the documentation for this question is rather sparse. Here are a couple of suggestions from communication with @thofma.

One can provide additional arguments to `Oscar.build_doc()` so that the doctests are being exec

[2022-08-10 09:34] fingolfin commented on #1504
Regarding tests: This should be covered by the developer docs. A minimal start is here: https://oscar-system.github.io/Oscar.jl/dev/DeveloperDocumentation/documentation/#Automatically-repairing-jldoctests -- but of course not enough. IMHO there should be a separate section on "Tests", and in addition to what you mention, it should also discuss `Oscar.test_module`.

Regarding `make.jl`: I don't thi

[2022-08-11 06:21] thofma commented on #1493
This finite field infrastructure is currently worked on (revamping the embedding code is on my list, right after https://github.com/Nemocas/Nemo.jl/pull/1331) and I believe some things will change. So I would be hesitant to add it to the docs at this point (because it will have to be redone soon).

[2022-08-11 06:31] thofma opened #1505 "`coefficient_ring` for modules"
If I remember correctly, the fanbase for `base_ring` is rather small (mainly because we used it in a different way than it was designed for) and we started introducing mathematically well-defined terms like `coefficient_ring` for polynomial rings.

I think we should do the same for modules and introduce `coefficient_ring`. So whenever we have a ring `R` and `M` is an `R`-module (does not matter wh

[2022-08-11 09:20] ederc commented on #1505
I'm not sure I understand correctly but wouldn't it be more natural to have

`base_ring(M) == R`
and
`coefficient_ring(M) == coefficient_ring(R)`
?

[2022-08-11 09:39] wdecker commented on #1505
If R is a polynomial ring with coefficients in C, and M is an R-module, then M is an R-module but also a C-algebra. But still we are concerned with the R-module structure of M when we talk about modules. For example, if we have elements of M, we talk about R-linear combinations of these elements, or about linear combinations of these elements with coefficients in R. So `coefficient_ring(M) == R` s

[2022-08-11 09:53] ederc commented on #1505
I see, alright.

[2022-08-11 09:55] wdecker commented on #1505
By the way, what I wrote fits also to the coefficient function for module elements:

julia> R, (x, y, z) = PolynomialRing(QQ, ["x", "y", "z"])
(Multivariate Polynomial Ring in x, y, z over Rational Field, fmpq_mpoly[x, y, z])

julia> A = R[x; y]
[x]
[y]

julia> B = R[x^2; y^3; z^4]
[x^2]
[y^3]
[z^4]

julia> M = SubQuo(A, B)
Subquotient of Submodule with 2 generators
1 -> x*e[1]
2 -> y*e[1]
by Subm

[2022-08-11 13:58] fingolfin opened #1507 "Revise serialization code to avoid constructing a full internal tree representation"
(I've been alluding to this for quite some time now but somehow never got around to creating the prototype I wanted to do; so for now I'll just try to write up the idea so I have a place to refer to should the need arise.)

Right now our serialization code builds a tree (or really, directed graph if you consider backrefs as edges) representing the data to be serialized, then (de)serializes that as

[2022-08-25 10:38] benlorenz opened #1516 "groups atlas error without wget or GAP io"
**Describe the bug**
On julia nightly I got an error in the `Atlas groups` testgroup. I think I have seen this at least once in the julia nanosoldier tests and I just got this on munk with julia nightly on macos (while investigating the polyhedral geometry timing tests).

[code]

**To Reproduce**
It seems reproducible on munk right now (at least in my environment) but I don't know what is needed e

[2022-09-01 12:38] ThomasBreuer commented on #1516
`atlas_group` tries to access remote data at runtime, from http://atlas.math.rwth-aachen.de/Atlas/.
If the data transfer fails then one gets an error.
Would it be enough to add another test that shows a text message about the problem, in order to understand the failures?

And do I have to worry because the problem occurs only in julia nightly?

[2022-09-01 13:10] benlorenz commented on #1516
I just did some more tries and on munk (Apple M1) it also happens with 1.8.0 (aarch64) and 1.7.3 (x86_64), but I still cannot reproduce it anywhere else. Julia nightly on Linux (openSUSE) seems to work fine.

It would be interesting to get an error string why the network access fails, as I don't see any reason why this would happen, running `curl` on the base-url works fine.

The corresponding cal

[2022-09-01 13:55] ThomasBreuer commented on #1516
Yes, GAP uses `fail` in order to express that (currently) the requested information cannot be returned.

One could also return `nothing` instead of an throwing an exception, but the idea was that the various group libraries should behave consistently, and for example `small_group(4, 3)` also throws an error: `There are only 2 groups of order 4, up to isomorphism.`
Of course one can argue that it i

[2022-09-01 14:22] benlorenz commented on #1516
It would be great to get a different error if there is a network error. Maybe also for the case where the dependencies of atlasrep are not available.

As it turns out the problem on munk is that there is no `wget` installed (and the GAP package io is also not available).
We could work around this by adding a wrapper for wget_jll (using BinaryWrappers) to `$PATH` in the GAP.jl `__init__` function,

[2022-09-01 14:43] hannes14 commented on #1516
wget on munk is at /opt/homebrew/bin/wget

[2022-09-01 14:55] benlorenz commented on #1516
Ok, thanks, I will add this to my path.
But in this case I think it makes sense to fix this in GAP / GAP.jl as other people might also encounter this without having a wget binary somewhere that is just missing from the path.

[2022-09-01 15:51] ThomasBreuer commented on #1516
We are working on a way to simplify the download issues in GAP (see gap-packages/utils/pull/48), and with this feature we will then be able to use Julia's Download.jl.

[2022-09-11 10:38] HechtiDerLachs opened #1530 "ideal membership crashes for MPolyQuoIdeal in 'fake' quotient rings `Q = R/(0)`"
Try running this code:
[code]
For me, it causes julia to crash and shut down completely. Interestingly, this only occurs when the ideal `I` is really the zero ideal.

[2022-09-11 10:52] thofma commented on #1530
What is the error message? Please also include the output of `Oscar.versioninfo()`.

[2022-09-11 11:16] benlorenz commented on #1530
I can reproduce that with the latest master and julia 1.8:
[code]

So this seems to happen inside `initSL(sip_sideal*, sip_sideal*, skStrategy*)` which is called from called from `id_Std_helper` (via `kStd`).

[code]

[2022-09-11 11:17] HechtiDerLachs commented on #1530
That is part of the problem: There is no error message. It is one of the bad errors producing this:
[code]
About the version:
[code]

[2022-09-11 11:21] thofma commented on #1530
I guess this qualifies as an error message.

[2022-09-11 11:39] HechtiDerLachs commented on #1530
Ok, fair enough. But not a Julia error message that tells you where to look in the code. So still not one of the error messages that gives much insight for someone like me...

[2022-09-11 11:58] thofma commented on #1530
Sure, but it interesting for the people who are supposed to look at the issue. There is a lot of julia internal things going on in the stacktrace, but also some helpful hints:
[code]

[2022-09-11 12:11] hannes14 commented on #1530
should be fixed with the change ind Singular: https://github.com/Singular/Singular/commit/ccecc9f09d68905f9d104805d896ff9d7cf02593

[2022-09-11 12:21] thofma opened #1531 "Subgroup of automorphism group hanging(?)"
In the following [gist](https://gist.github.com/thofma/14509201ac7178b5580b7f33080a89b5), an abelian group and a list of automorphisms is defined. When trying to construct the corresponding subgroup of the automorphism group, Oscar hangs (ctrl-c yields no stacktrace, probably thanks to arm64 on mac).

[code]

@fingolfin @ThomasBreuer

[2022-09-12 07:55] ThomasBreuer commented on #1531
@thofma The construction of the subgroup calls `GAP.Globals.Subgroup( G, gens )`, which wants to test whether the elements in `gens` are elements of `G`; this triggers the computation of an isomorphic permutation group. Roughly speaking, any question about `G` (for example, what the order of `G` is) will be delegated to an isomorphic permutation group.

It would make sense to provide a way to omit

[2022-09-12 08:14] thofma commented on #1531
Thanks for the explanation (I wondered what computation the `sub` had triggered). My subgroups have small size compared to the full automorphism group, so I had hope that computing a permutation presentation might be doable.

Is disabling the membership test something we can do in Oscar or does it require adjustments in GAP?

[2022-09-12 08:18] ThomasBreuer commented on #1531
I will create a pull request for Oscar.

[2022-09-12 12:55] thofma commented on #1530
@HechtiDerLachs Do you need this fixed soonish?

[2022-09-12 12:55] #1531 closed, assigned to nobody

[2022-09-12 12:55] thofma commented on #1531
Fixed in #1532. Thanks @ThomasBreuer.

[2022-09-12 13:04] tthsqe12 commented on #1530
@YueRen wanted to do the honors
should include this singular kernel fix and the latest commits to libsingular-julia

[2022-09-12 13:22] HechtiDerLachs opened #1534 "`divrem` goes into overflow for quotient rings"
Try running this code:
[code]
For me, it produces the following error:
[code]
What's going on? I'm almost sure, this used to work once. Or am I missing something?

[2022-09-12 13:24] HechtiDerLachs commented on #1530
I am planning a PR this afternoon which has code that will eventually crash without this fix. I short-wired the tests for the time being, but as soon as this PR is ready to be merged, it would be nice if the patch was there.

[2022-09-12 15:22] tthsqe12 commented on #1534
We decided in AA that divrem is the most primitive operation for euclidean rings. In Julia base, they took the opposite view and divrem is implemented in terms of div and rem. Since, in AA, div and rem are both implemented in terms of divrem, we get the overflow, which is basically saying the function is not implemented. @thofma what about a generic divrem(a,b) = NotImplementedError in AA?

[2022-09-12 15:37] thofma commented on #1534
@HechtiDerLachs: Do you remember when that worked? As @tthsqe12 said, in the Oscar bubble `divrem(x::RingElement, y::RingElement)` is usually legal only for Euclidean domains.

@tthsqe12 Yes, I think this is a good idea.

[2022-09-12 19:51] HechtiDerLachs commented on #1534
No, not really, sorry. But we should make that work, right? I think it's part of the requirements of Oscar's ring interface to have either one of the division methods implemented. Even though there are no precise requirements on the remainder, etc.

[2022-09-13 07:06] thofma commented on #1534
No, it is not part of the ring interface. The functions `div, rem, divrem` (with ring elements as input) refer to the Euclidean structure and are optional.

[2022-09-13 07:56] HechtiDerLachs commented on #1534
Ok, that is good to know; thanks for clarifying. I just had a look at the documentation of the ring interface and it seems that some things have slightly changed since last time I saw it. I thought that you were asked to implement `div` or `divrem` if your `is_exact_type` was returning `true` or something.

[2022-09-13 11:06] thofma commented on #1534
Maybe you mean `divexact/divides`? Can you clarify what you mean by "things have changed"? I don't recall that `divrem` was ever mandatory for exact rings.

[2022-09-13 11:12] HechtiDerLachs commented on #1534
Maybe it was that, yes! Sorry, but all I said was based on vague memory from oral discussions with @tthsqe12 once upon a time. By 'things have changed', I also mean the general documentation: The text has changed and improved. For instance, we can now use Latex-like indices in expressions, etc. I do not recall whether the requirements of the interface have changed mathematically or algorithmically

[2022-09-13 12:36] tthsqe12 commented on #1534
with https://github.com/Nemocas/AbstractAlgebra.jl/pull/1222
[code]

[2022-09-13 12:36] #1534 closed, assigned to nobody

[2022-09-14 04:42] YueRen commented on #1530
Sorry for the delay, just opened Yggdrasil pull request.

[2022-09-14 04:52] HechtiDerLachs commented on #1530
No worries. So far, [my PR](https://github.com/oscar-system/Oscar.jl/pull/1537) has not been pushed very much towards merging...

[2022-09-14 12:56] thofma opened #1540 "Proposal: Better printing of parent objects"
# The problem
Currently, we have one method to print parent objects, which is used everywhere. This has a major drawback, since the julia printing system often expects that objects can (alternatively) be printed in one line. This is exploited by the printing system for example when tuples are printed or in a `Vector`. Here is an example:

[code]

Many of our objects only have the "take as many lin

[2022-09-14 13:34] joschmitt commented on #1540
One thing I would like to add is that there should be some "limit" how big the prints of substructures are allowed to be. For example, for a quotient ring `Q = R/I` it can be very annoying if typing `Q` prints 10000 generators of `I`. If I want to get this piece of information I can ask for `modulus(Q)`.
In some cases like this, one could also use the proposed "supercompact printing", but I don't

[2022-09-14 14:24] wdecker commented on #1540
Currently we have two choices w.r.t. printing:

...;    no printing at all
...     printing (often horrible)

Would it be possible to introduce a tiered system of printing, from no printing via supercompact via ....   ... to "all" ???

If so, there should be some default way of printing which in my eyes should be rather supercompact than "all".

Here is another horrible example:
[code]

[2022-09-16 06:47] thofma commented on #1540
It seems that we have varying opinions/expectations for the printing. It might be best to discuss this next week in person.

[2022-09-19 08:21] HechtiDerLachs opened #1546 "Intersection of submodules makes trouble"
Try to run this code:
[code]
I am getting the following error:
[code]
However, I am expecting to be able to intersect (honest) submodules at will.

[2022-09-19 09:54] HechtiDerLachs opened #1547 "Something goes wrong in the submodule constructor"
I have this code:
[code]
The problem is: The first coordinate of `w` is `1`, even though `w` is the zero element. This could be happening if the ambient module was already trivial, but it isn't.

I thought that this bug might be due to my code in the localizations, but I'm afraid it isn't. As far as I could trace it, the problem seems to occur in
[code]
The input to this function is still clean an

[2022-09-19 10:16] tthsqe12 commented on #1546
some more missing inits.

[2022-09-19 11:00] thofma commented on #1546
(And some array for which the element type is not inferred.)

[2022-09-21 06:56] fingolfin commented on #1547
Maybe @AlexD97 has an idea?

[2022-09-21 10:58] AlexD97 commented on #1547
I can't reproduce this. I get `ERROR: Incompatible matrix dimensions` when executing kernel(h).

[2022-09-21 11:06] tthsqe12 commented on #1547
Can confirm. @HechtiDerLachs are you on master @ 6fa696d ?

[2022-09-21 11:27] tthsqe12 commented on #1546
@AlexD97 These are yours. Please check if the following sums can be empty, and provide the init argument if so:

https://github.com/oscar-system/Oscar.jl/blob/6fa696ddb00ac758ae70c45e69419580f23f8396/src/Modules/UngradedModules.jl#L2269

https://github.com/oscar-system/Oscar.jl/blob/6fa696ddb00ac758ae70c45e69419580f23f8396/src/Modules/UngradedModules.jl#L2276-L2277

https://github.com/oscar-system

[2022-09-21 12:49] AlexD97 commented on #1546
Thanks, I made a PR.

[2022-09-21 13:07] HechtiDerLachs commented on #1547
Ah! No, I forgot that I had made a fix for that before. I will try to provide a PR with that fix and then you should be able to run the above code on that branch. Sorry for the inconvenience.

[2022-09-21 15:38] micjoswig opened #1556 "automorphism (groups)"
(1) Currently, there are functions named "automorphisms" and "automorphism_group".  To me it seems that the return types and naming convention are not uniform.

Please check.

(2) We need automorphism groups of polytopes, cones, simplicial complexes etc from polymake.

Add an additional parameter to pick the domain where that group operates by permutations.

[2022-09-21 20:09] #1546 closed, assigned to nobody

[2022-09-21 20:16] fingolfin opened #1557 "Add more AtlasRep wrappers"
It would be nice if more functionality of the GAP package atlasrep was readily available. E.g. just now I wanted to use `AtlasSubgroup`

[2022-09-23 09:23] HechtiDerLachs opened #1562 "Comparison of submodules is not generic"
The code for the ungraded modules is supposed to be generic. But still, a lot of methods are implemented referring to the singular side. This is another instance of that problem:
[code]
Comparison of submodules can be implemented on the generic level using submodule membership of generators. But the current implementation tries to fill in the singular side of `ModuleGens` which is impossible in th

[2022-09-23 09:59] fieker commented on #1556
some detail:
[code]
Comment:
 - complete_graph is not exported, is this be design?
 - automorphism_group does not exist
 - automorphisms is not attached to "the" automorphisms, it is Graphs.automorphsms
 - the autmorphisms are none... They should either be (I think)
   - maps: g -> g
   - actual permutations
   with a preference of the first

[2022-09-23 10:00] fieker commented on #1556
This is on top of @micjoswig s suggestion to rename, globally, automorphisms -> automorphisms_list

[2022-09-23 10:03] micjoswig commented on #1556
Let's briefly talk about this later today at the usual gather.  Probably the easiest would be to sit together right afterwards and do a few lines of coding together, online.

[2022-09-23 10:04] #1556 closed, assigned to nobody

[2022-09-23 12:22] tthsqe12 commented on #1530
Seems to be fixed in Singular.jl 0.13.1. Is this the right answer?
[code]

[2022-09-23 13:03] HechtiDerLachs commented on #1530
Yes. Nice to hear it's corrected.

[2022-09-23 13:41] AlexD97 commented on #1547
I'm not quite sure if there is an error. `w[1]` should be 1 since it is (by definition) 1 times the first generator (which is zero).

[2022-09-23 17:34] HechtiDerLachs commented on #1547
Alright, now I understand. I guess the nonzero entry is due to the coefficients being a sparse vector? Either way, thanks for the clarification.

[2022-09-23 17:34] #1547 closed, assigned to nobody

[2022-09-26 13:00] lkastner commented on #1504
I dealt with some of these in the PR above. Nevertheless this will stay a recurring issues, since people don't read documentation.

Is there a reason that `build_doc` and `test_module` don't have docstrings? From the Julia terminal the names don't seem to be taken, so that could be a viable option.

[2022-09-26 13:16] thofma opened #1567 "Collect deprecations in one place and document the process"
I added `Deprecations.jl`, but did not want to move all of them in the otherwise unrelated PR. So here is just a reminder to add the following:
- [ ] Would be good to have them in one place (also recording during which release cycle the deprecations took place).
- [ ] This should get an entry in the developer documentation.

[2022-09-27 10:03] fingolfin commented on #1504
I can't think of a reason, other than "nobody did it yet". Sounds like a good idea to me!

[2022-09-27 12:04] lkastner commented on #1504
Ok, I'll make a PR with that and restructure a little. Probably won't be perfect, but should solve this issue.

[2022-09-28 11:40] #1504 closed, assigned to lkastner

[2022-09-29 08:12] simonbrandhorst opened #1580 "Bug in affine_cone"
**Describe the bug**
Some dispatch ambiguity. Needs #1579 to run the following example. @HechtiDerLachs
**To Reproduce**
**Describe the bug**
Some dispatch ambiguity. Needs #1579 to run the following example. @HechtiDerLachs
**To Reproduce**
[code]

[2022-09-30 09:26] HechtiDerLachs commented on #1530
How far is this from being merged? It seems I still have to work around it. Is that correct?

[2022-09-30 09:40] thofma commented on #1530
No, I think we have had a Singular.jl release which fixed this, right @tthsqe12?

[2022-09-30 10:17] tthsqe12 commented on #1530
https://github.com/oscar-system/Oscar.jl/commit/e67d44ddef06cd7925a0574390ea9e9472381c1a

[2022-09-30 10:17] #1530 closed, assigned to nobody

[2022-09-30 13:06] thofma commented on #1580
I think some names changed

[2022-10-04 16:39] #1580 closed, assigned to nobody

[2022-10-06 12:52] fingolfin opened #1597 "Warnings about `Hecke.solve_ineq` etc. conflicting with methods in Oscar"
I am currently seeing these warnings when precompiling (?) Oscar:

[code]

Indeed we define functions with the same name in `src/PolyhedralGeometry/solving_integrally.jl` (and have done since at least 2021). Not sure what changed (perhaps on the Hecke side?). So perhaps we ought to add suitable `import` statements in the Oscar code, or rename the functions in one place?

Ping @thofma @lkastner

[2022-10-06 14:01] thofma commented on #1597
Will fix it in Hecke.

[2022-10-06 14:02] thofma opened #1599 "Coerce element from subgroup"
The last command should not error but just work.
[code]
CC: @fingolfin

[2022-10-11 07:22] fieker commented on #1487
On Fri, Jul 29, 2022 at 06:30:06AM -0700, dan wrote:

Option 4 is never going to be perfect, however it is the long term only
possibility. The further a user is away from a GB calculation, the less
likely it becomes that any of the other choices work.

1-3 only work if one directly calls GB - or is at most 1 call away.

How should one know if integral_basis calls GB and on what ring? Same
for basi

[2022-10-11 08:37] wdecker commented on #1408
We will change the code for simplify in this context as soon as the new Gröbner basis concept is implemented. Please be patient …

Von meinem iPhone gesendet

[2022-10-11 09:06] fieker commented on #1379
On Thu, Jun 09, 2022 at 06:47:28AM -0700, Tommy Hofmann wrote:

A separate diskussion for when we are bored with life

Agreed

[2022-10-11 14:53] #1599 closed, assigned to fingolfin, ThomasBreuer

[2022-10-12 09:19] fingolfin opened #1614 "Better `visualize`?"
Reporting from the OSCAR workshop in Saarbrücken: we tried to visualize some polytopes, and quickly resorted to using `Polymake.visual` instead of `visualize` because we couldn't figure out how to set options to get a nicer display, like changing facet colors.

If this is actually possible, it would be good to document it. If it is not possible, perhaps we can start adding such features? Before I

[2022-10-12 10:08] lkastner commented on #1614
I just made these `visualize` methods very barebone, so there are no options available at the moment. I wanted to wait for other people to visualize stuff from their parts of Oscar to then have a discussion of how to unify these things.

[2022-10-12 10:32] lvaness opened #1617 "Polyhedron constructor with Float arguments fails"
**Describe the bug**
Following the first example on [the documentation](https://oscar-system.github.io/Oscar.jl/stable/PolyhedralGeometry/Polyhedra/constructions/), changing any of the vector components to be a float, shows `ERROR: MethodError: no method matching assure_vector_polymake(::Vector{Float64})
`. It does not occur when doing the same for the matrix

**To Reproduce**
[code]

**Expected b

[2022-10-12 10:33] fingolfin opened #1618 "Support `/` for dividing `fmpq` and/or rationals by other fmpz/rationals/integers"
This issue really spans multiple of our packages (at least AA, Nemo, Oscar; perhaps Hecke).

Compare this:
[code]
with this:
[code]

I see no reason why we don't match the behavior of Julia's `Rational` type for `/`.
Basically I am asking for `/` methods for the following (and possibly more):
- `fmpq` by `fmpq`, `fmpz`, `<:Integer`
- `fmpq_poly` by `fmpq`, `fmpz`, `<:Integer`
- actually *any* poly

[2022-10-12 11:41] thofma commented on #1618
Since special cases for polynomials might make the system less consistent, I guess the question would be: What is the mathematical definition of `/` that we want to consistently use? I am against introducing `/` just rationals or the other objects for which this is proposed. My hope would be that if this is introduced, it should be introduced for all ring elements. I believe that we don't want to

[2022-10-12 13:08] lkastner commented on #1614
So the gist should be: Go ahead and change things! ;)

[2022-10-12 13:28] fingolfin commented on #1618
I have not proposed anything for `ZZ(2)/ZZ(3)` or `Zx(2)/ZZ(2)`. And I think there is a fundamental difference between defining `/` for arguments where the result "always" makes sense (except for division by zero, of course), i.e. if the left side is a field element or a polynomial or matrix with coefficient from a field.

Rules like `S(op(x, y)) == op(S(x), S(y))` are nice and I'd in fact be glad

[2022-10-12 13:31] fieker commented on #1618
On Wed, Oct 12, 2022 at 06:28:16AM -0700, Max Horn wrote:

I would disagree here...

[2022-10-12 15:13] thofma commented on #1618
Maybe I misunderstand, but I thought you propose to define `Zx(2)/ZZ(2)` in your third bullet point.

Yes, this is bad, but why use this as a reason to add more inconsistencies?

If we introduce `/`, I think the best course of action would be a definition of what `x/y` is for say field (ring) elements with the same parent and then everything should derive from coercions (like we do now for `+`, `-

[2022-10-12 20:07] fingolfin commented on #1618
In all examples I tried, `divexact` did exactly what I wanted! So I'd be happy to delegate `/` to `divexact` and let it behave more or less exactly like that would be good; so all the promotion and delegation and what not.

The above is not quite enough because I'd also want do be able to write `fmpq(5,2) / 3`. You mentioned that additional code may be needed. Not sure what you have in mind, but t

[2022-10-12 20:09] fingolfin opened #1623 "Clarify naming policy further: "long_form_names" over "shrt_frm_nms""
Some of us (including @fieker @ThomasBreuer @thofma) recently discussed the discoverability of Oscar function names, and in the end agreed that the only way to make this possible in general is to avoid arbitrary abbreviations and to spell out things.

We should make this explicit in the dev guide; and then start to adapt everything for the resulting changes. As with our decision to use underscores

[2022-10-13 07:48] lkastner commented on #1614
Ping @henrykn, since he does visualization in polymake, maybe he wants to help out here?

[2022-10-13 08:11] thofma commented on #1618
No, this is all fine and expected. This is exactly the proposal that comes up from time to time.

The only question is whether we want the mismatch between `ZZ(1)/ZZ(1)` and `1/1`/`big"1"/big"1"`. Up to now we had declined and postponed the discussion for the future. But maybe the future is now? If people are in favour of this change, I am happy to go with it.

I remark here another thing that wil

[2022-10-13 11:28] fingolfin commented on #1618
For me personally, the mismatch between `ZZ(1)/ZZ(1)` would be a feature, not a bug ;-). And perhaps the best argument I know why `fmpz` is not an `Integer`

Regarding the printing of rationals: well `ZZ(3)/ZZ(2)` would produce an error anyway, so that's another reason why it should keep using `//`, isn't it?

[2022-10-13 11:34] thofma commented on #1618
Ah oops, you are right about the printing of rationals. Not sure what I was thinking.

So yeah, if all are happy with this, why not.

[2022-10-14 09:06] fingolfin commented on #1567
Somewhat related: In some cases, when we rename things, we first use `@alias` in the affected packages, so that we can gradually migrate to a new name, and have both names active and identical for a time. In a few cases we may wish to keep the alias indefinitely. But in many cases I expect we want to get rid of the old name eventually.

The process for this could be that once all packages have ada

[2022-10-14 09:34] fingolfin commented on #542
I am not sure we need a separate "representation" type at this point, but some ideas for things that should be possible, and should ideally be illustrated in the manual with examples (be it in docstrings, or the general text, or ...):
- map/convert/... from a matrix group to a G-module and back
- map/convert/... G-modules to characters
- make sure Meataxe functionality is hooked up, at least in ca

[2022-10-14 09:36] fingolfin commented on #163
We ultimately resolved this by removing `issubgroup` -- just use `issubset` (with the "usual" argument order)

[2022-10-14 09:36] fingolfin commented on #353
This was resolved some time ago (IIRC by a PR by @CameronBraunstein )

[2022-10-14 09:36] #353 closed, assigned to nobody

[2022-10-14 09:39] fingolfin commented on #121
This is resolved now:
[code]

[2022-10-14 09:39] #121 closed, assigned to nobody

[2022-10-14 09:47] fingolfin commented on #1618
So, where should this be added? In AbstractAlgebra.jl?

And what should be added? This:
[code]

But for symmetry perhaps also the following? Though I think this less often useful if at all? (the second method is to resolve the ambiguity)
[code]

[2022-10-14 14:05] fingolfin commented on #1618
Thinking about symmetry made me wonder if we shouldn't also do `Base.:\` -- and map that to `divexact_left`, perhaps? And then `Base.:/` should perhaps call `divexact_right` and not just `divexact`?

(That then lead to me reading the definitions to `divexact_left` and `divexact_right` and for `divexact` and then what these are defined as, and I am not quite happy about what I found, but that's goi

[2022-10-14 14:09] fieker commented on #1618
On Fri, Oct 14, 2022 at 07:05:24AM -0700, Max Horn wrote:

I would rather be in favour of restricing / to the commutative world and
divexaxt. For the un-comm world people should be explicit....

[2022-10-14 14:10] fieker commented on #1618
On Fri, Oct 14, 2022 at 07:05:24AM -0700, Max Horn wrote:

Also, what about non-associativity?

[2022-10-14 15:35] fingolfin commented on #1618
I don't see any problems relating to non-associativity?

[2022-10-14 16:21] fingolfin commented on #1265
I think this is resolved now, at least in general (if there are specific problems remaining, please point them out explicitly)

[2022-10-14 16:21] #1265 closed, assigned to nobody

[2022-10-14 16:35] thofma commented on #1618
I have no strong opinion about the noncommutative setting. Just from looking at the name I cannot guess what `divexact_left`, `divexact_right`, `/` or `\` would do. The same confusion arises when guessing whether `divexact_left == \` or `divexact_left == /`.

I would lean to not implement `/` or `\` any of it unless someone asks for it or we notice that some of the generic code could be simpified

[2022-10-14 20:11] #1140 closed, assigned to nobody

[2022-10-16 07:11] thofma opened #1630 "Dicyclic groups"
I think it would be a good idea to have `dicyclic_group` similar to `quaternion_group`.

(Regarding the parameter, I personally would favour `dicyclic_group(n)` yielding a group of order `4n`, but since we don't do this for quaternion or dihedral groups, I guess this wish will not be fulfilled.)

[2022-10-16 15:29] fingolfin commented on #1630
Actually you can already get these via `quaternion_group`.

This is due to a historic quirk (?) in GAP. It used to call all these groups "quaternion groups". This is still available for backwards compatibility. From the GAP manual:

But I agree, we should have `dicyclic_group` and `is_dicyclic_group`. Question then is what to do about `quaternion_group`?
1. remove it
2. keep it as a synonym / alia

[2022-10-16 16:29] thofma commented on #1630
Ah, I never actually tried `quaternion_group(20)`, since the docstring says that `n` must be a power of 2.

I don't mind too much, but would lean towards 2. There are some mathematical areas where this is only known as quaternion group of order `4n` (and no one would ever have the idea of looking it up under 'dicyclic group').

[2022-10-17 12:59] thofma commented on #1618
I had a quick chat with @fieker and the `/(x, y) = divexact(x, y)` seems like a good idea. To help the user, the error message for `/` (that is, `divexact`) should mention `//` for creating elements in the fraction field.

[2022-10-24 12:58] tthsqe12 opened #1643 "quick clarification on bug in induced_ring_ordering"
For @wdecker and @AlexD97 , the final answer here should be `lex([w, x])*lex([y, z])`, right? (I will be fixing this when finishing the module orderings)

[code]

[2022-10-24 13:05] tthsqe12 commented on #1643
may be this one is less controversial but still wrong?
[code]

[2022-10-24 13:14] wdecker commented on #1643
Yes, `lex([w,x])*lex([y,z])`in both cases.

[2022-10-24 13:36] #1643 closed, assigned to nobody

[2022-10-24 14:21] HereAround opened #1644 "Implement weighted projective space as toric variety, scheme and possibly more"
Possibly also for schemes.

cc @Lkastner and @HechtiDerLachs

[2022-10-24 14:38] HechtiDerLachs commented on #1644
What is the message? That we would like to have it? Yes, we do! Also for the schemes. I would be happy to have assistance in this as I have personally never actually worked with weighted projective space. Also, @afkafkafk13 might have some things in mind to take into account as these spaces frequently appear in resolutions of singularities.

[2022-10-24 14:59] fieker commented on #1644
we have weighted projective spaces:
[code]
I don't recall how far they work over Z and Z/nZ

[2022-10-24 15:08] HereAround commented on #1644
The toric part is currently missing this (unless I am overlooking something obvious). So I intend to close this gap on the toric side (that is the message @HechtiDerLachs - sorry for the confusion).

[2022-10-24 16:11] HechtiDerLachs commented on #1644
Where? I don't find them in the documentation. And tab-completion also does not lead me anywhere.

[2022-10-25 07:35] HereAround commented on #1644
That also caught me by surprise. So I started digging ("git grep "weighted") and I found... definitions on (weighted) projective spaces in `src/Geometry/basics.jl`. Sadly, none of these functions are documented.

[2022-10-25 07:40] HereAround commented on #1644
Let me draft a PR on this behalf.

[2022-10-25 08:33] HechtiDerLachs commented on #1644
Is the file `src/Geometry/basics.jl` due to Delfine Pol? Who was working on that and for which purpose?

[2022-10-25 08:44] HereAround commented on #1644
What is Pol? For the most part, @fieker worked on this file. `git blame` can tell you when and also who else modified the file if you are interested.

[2022-10-25 08:46] HechtiDerLachs commented on #1644
That was a former colleague of ours in KL. I'm not sure I spelled her name correctly, sorry. She had been working out some package on curves. Thanks for reminding me about `git blame`; I didn't know which command would do that job.

[2022-10-25 08:48] HereAround commented on #1644
Thanks for the heads up. I need to read more carefully (I noticed "define" rather than Delfine. Silly me...)

[2022-10-25 08:49] fieker commented on #1644
On Tue, Oct 25, 2022 at 01:46:55AM -0700, Matthias Zach wrote:

Delphine Pol

[2022-10-25 09:14] HereAround commented on #1644
The following PR adds the weighted projective space as toric variety https://github.com/oscar-system/Oscar.jl/pull/1646. This is what I had in mind/what I need for now.

[2022-10-26 08:39] simonbrandhorst commented on #1540
+1 for @thofma s proposition. It is certainly an improvement.

[2022-10-26 09:38] HereAround opened #1651 "Basic geometry code still needed?"
`src/geometry/basics.jl` contains basic definitions for (weighted) projective spaces. We have this and more with toric geometry (once https://github.com/oscar-system/Oscar.jl/pull/1646 is merged). @fieker (unless I am mistaken you worked most on this file) I wonder if this code is then still needed? If yes, we should document it.

[2022-10-26 19:50] HereAround commented on #1644
I just merged https://github.com/oscar-system/Oscar.jl/pull/1646. So this issue is closed as long as toric varieties are concerned.

It might be good to leave this open, so we do remember to add the weighted projective space also for schemes?

[2022-10-26 19:55] HechtiDerLachs commented on #1644
It's all good. We'll remember this to be on our list.

[2022-10-26 20:06] HereAround commented on #1644
Ok. Then I close this issue now.

[2022-10-26 20:06] #1644 closed, assigned to nobody

[2022-10-27 07:53] HereAround opened #1657 "Further improvements on affine schemes"
As mentioned in https://github.com/oscar-system/Oscar.jl/pull/1652, there are a couple of points left to be discussed. For example https://github.com/oscar-system/Oscar.jl/issues/1664. Other points include the following:

## General and (hopefully) minor things

* Docstring for Spec(R) with R an MPolySomething
* Use $ $ in documentation for latex code and nice formatting
* Does it make sense to ma

[2022-10-29 22:36] fingolfin commented on #976
What's the status of this? The original issue seems to be resolved, but I see no trace of `iso_oscar_singular_*` functions. So perhaps there was a different workaround applied? But perhaps we still want `iso_oscar_singular_*`?

[2022-10-29 22:38] fingolfin commented on #975
This seems to work now. Close it? Or is something still to be done (what?)

[2022-10-29 22:53] fingolfin commented on #980
I don't know what `q` is in the original report, so I can't reproduce this precisely. But I think it is fixed:
[code]

[2022-10-29 22:53] #980 closed, assigned to nobody

[2022-10-29 22:55] fingolfin commented on #766
This seems to have been resolved:
[code]

[2022-10-29 22:55] #766 closed, assigned to nobody

[2022-10-29 22:56] fingolfin commented on #753
This was done at some point

[2022-10-29 22:56] #753 closed, assigned to fingolfin

[2022-10-29 22:58] fingolfin commented on #682
This has been resolved at some point.

[2022-10-29 22:58] #682 closed, assigned to nobody

[2022-10-29 23:54] fingolfin commented on #437
Annoyingly this still persists:
[code]

[2022-10-29 23:55] fingolfin commented on #1418
I believe this is fully resolved

[2022-10-29 23:55] #1418 closed, assigned to nobody

[2022-10-29 23:58] fingolfin commented on #232
This is still not working, nobody re-introduced calls to `ModStdQt`. I fear that whoever removed this may not even be aware? It's been almost two years now. Perhaps time to make people aware? Or if people do know, then perhaps we could at least record here who knows about it / is supposed to address it...?

[2022-10-30 00:00] fingolfin commented on #264
The error is a bit different now:
[code]

[2022-10-30 00:00] #83 closed, assigned to nobody

[2022-10-30 00:01] fingolfin commented on #1088
All of this seems to work now:
[code]

[2022-10-30 00:01] #1088 closed, assigned to nobody

[2022-10-30 00:13] fingolfin commented on #1084
Is this fixed? I tried the example by @benlorenz (had to make one minor adjustment), and it seemed to work just fine.

[2022-10-30 06:44] thofma commented on #976
Not resolved. We just fixed the cases that popped up.

[2022-10-30 06:46] #975 closed, assigned to nobody

[2022-10-30 06:50] thofma commented on #264
I guess @HechtiDerLachs found a way to work in the function field without doing this construction from OP?

[2022-10-30 06:54] tthsqe12 commented on #1084
Divrem now thows NotImplementedError, but Hechti should have the final say on this issue.

[2022-10-30 13:33] simonbrandhorst commented on #264
One way to get the field of fractions is by localizing at the complement of the zero ideal (in a domain ).
[code]
Of course this was never intended to model fraction fields. And Oscar probably doesn't know `K` is a field.

[2022-10-30 15:44] thofma commented on #264
I see. I remember that we have a total field of fractions, https://nemocas.github.io/AbstractAlgebra.jl/dev/total_fraction/. This should be used. It might do something useful. If not, open an issue.

[2022-10-30 15:44] #264 closed, assigned to nobody

[2022-10-31 14:20] #573 closed, assigned to nobody

[2022-10-31 16:26] tthsqe12 opened #1663 "hilbert_series is buggy in extreme cases"
@wolfram, @hannes14, The `HilbertData` object when pushed to its limits behaves
in unpredictable ways. The problem point is the call to `Singular.hilbert_series`
where the answer returned from Singular is simply wrong.

First the code that fails

[code]

up to n <= 10922 we have the correct answers.
[code]
However, at n = 10923, we have anomalous `H.data` and a wrong answer and a crash.
[code]

--

[2022-10-31 16:31] fingolfin commented on #1663
Orthogonal to this: could we perhaps switch to the new Hilbert series code by @HechtiDerLachs ?

[2022-10-31 16:39] tthsqe12 commented on #1663
This is also an interesting observation:
[code]

[2022-11-01 09:03] simonbrandhorst opened #1664 "Should affine schemes have an ambient space."
Since we seem to disagree on whether affine schemes in Oscar (should) have an ambient space or not, I would like to collect the pro's and cons.
 @afkafkafk13  @jankoboehm  @HechtiDerLachs @thofma @HereAround @wdecker @thofma

Surely, I have forgotten many pros and cons. Please write yours and I will add them.
Note that, mostly, this is a question about the user interface and not so much of the imp

[2022-11-01 09:07] afkafkafk13 commented on #1664
Changed MPolyAnything to MPolyAnyRing to make it clearer.

[2022-11-01 09:40] fieker commented on #1664
Out of band comment: base_ring is fragile. It was introduced to return in a
complicated ring construction the previous step, never intended to be
linked to Nath. Thus in quotients it return the ring, in finite fields it
return nothing as in Nemo they are primitive objects ...

On Tue, 1 Nov 2022, 10:08 Anne Frühbis-Krüger, ***@***.***>
wrote:

[2022-11-01 11:13] HechtiDerLachs commented on #1663
In principle, we probably could, but I think this was not intended. @wdecker wanted the new code as a basis for the multi-hilbert series, but keep the classical singular implementation for the default case.

[2022-11-01 11:17] afkafkafk13 commented on #1664
As so many methods currently rely on ambient_ring, it feels dishonest to me to hide the fact of computing in an embedded situation from the user.
Clearly there are locally ringed spaces/ affine schemes which do not have an embedding, but for these a significant part of the functionality does not work. So there is already a clear distinction into two classes: MPolyAnyRing and other rings. Things li

[2022-11-01 12:15] afkafkafk13 commented on #1664
Yet another reason to now discuss properly, what we really want for our affine schemes!

[2022-11-01 20:04] fingolfin commented on #1663
@HechtiDerLachs well, I'd understand keep using the old code if it is "better" (e.g. faster), but as it is, in many examples the new code is faster; and actually giving a correct example is also nice to have?

[2022-11-01 20:05] simonbrandhorst opened #1668 "ambiguous evaluate"
[code]

[2022-11-01 20:27] simonbrandhorst opened #1669 "Missing input checks for matrices over polynomial rings"
Apparently the matrix constructor does not check that the entries belong to the correct ring.
[code]

[2022-11-01 21:50] fingolfin opened #1670 "Tests fail in `test/PolyhedralGeometry/timing.jl`"
When trying to run the Oscar test suite on my MacBook Pro M1, it always fails in `test/PolyhedralGeometry/timing.jl`. Apparently the computations are super slow:
[code]

From my perspective there are two separate issues here:
1. I only can run our test suite locally if I comment out those tests, which is annoying.
2. The test seem to suggest something is very slow on my computer. Perhaps a missing

[2022-11-01 22:18] wdecker commented on #1663
@fingolfin There is a whole picture to be seen here. Let us discuss this next week after my holiday.
@tthsqe12 Thanks for catching this.

[2022-11-01 23:22] jankoboehm commented on #1664
A clean way could be to allow Spec essentially only for MPolyRing, MPolyLocalizedRing, and a few more, and then have a subscheme constructor subscheme(X, I) where X is either such a Spec or a subscheme. The embedding is then returned. This allows one to construct subobjects of a well-defined, unique, specified embedding object so that further constructions can rely on === instead of == for the emb

[2022-11-02 09:42] benlorenz commented on #1670
We already have two environment variables that can affect if / how these are run: If you set `JULIA_PKGEVAL` these will not run at all and if you set `GITHUB_ACTIONS` then we add an additional factor of 5 to the runtime on macos. Both would probably work with the timings from your output (one of the retries must be below the time limit * factor).

We could add even more variables but I would prefe

[2022-11-02 10:32] tthsqe12 commented on #1663
@hannes14 This worked in the Singular kernel as of January of this year. Now, in the function `hFirstSeries0` https://github.com/Singular/Singular/blob/eedce96bd7cce4843c40e5ad4ebd4b53d7fea7fb/kernel/combinatorics/hilb.cc#L1997-L2000
we have
[code]
Interestingly enough `p_Totaldegree` is supposed to return a `long int`, but, when the total degree is `10923*6`, something overflows, and `ss` ends up

[2022-11-02 10:40] hannes14 commented on #1663
Fixed with https://github.com/Singular/Singular/commit/6494278d27d1617e138006df909851e815ccfe02
Was an overflow of exponenets of a poly in Qt

[2022-11-02 10:59] tthsqe12 commented on #1663
Can confirm this fixes it. So, this issue is resolved from my point of view.

[2022-11-02 11:26] HereAround opened #1672 "Weighted projective space as scheme"

[2022-11-02 11:52] tthsqe12 commented on #437
Sadly, I don't see a resolution for the one-line `sqrtmod` function. Is a two-line solution involving the creation of a polynomial and asking for its roots acceptable?

[2022-11-02 11:57] thofma commented on #437
Yes

[2022-11-02 12:00] #437 closed, assigned to nobody

[2022-11-02 12:47] #1668 closed, assigned to nobody

[2022-11-02 12:59] tthsqe12 commented on #1663
@hannes14 One more thing, The Singular.jl tests
[code]
now fail as the lhs is 2^32-1. Is there any reason one would want the exact degree bound in the tests, or can I just delete these tests?

[2022-11-02 13:05] hannes14 commented on #1663
PolynomialRing(QQ, ["x", "y"]; degree_bound = n)
should result in
degree_bound(R2) >= n

[2022-11-02 13:16] fingolfin opened #1674 "Crash in PolyhedralGeometry (caused by OpenMP code?)"
On the M1 mac `munk` in Kaiserslautern, I just got this crash with the Julia 1.8.2 installed there, doing `test Oscar` against the current master branch:
[code]

However, I've just installed updates on that machine, and I'll retry once it is back up running.

[2022-11-02 13:20] fingolfin commented on #1670
[code]
This is an M1 Max with indeed 8+2 cores
[code]
I'll report on the other tests later. But I wonder if you could also run those tests on `munk`?

[2022-11-02 13:29] thofma commented on #1674
Here is the answer I got a few weeks ago from @benlorenz: Looks like a bug in openmp for apple m1: https://github.com/llvm/llvm-project/issues/54422 (OP and the last report look like our crash).

[2022-11-02 13:30] benlorenz commented on #1674
A workaround ist to set `OMP_NUM_THREADS=1`.

[2022-11-02 13:38] tthsqe12 opened #1675 "tests in TropicalGeometry/groebner_basis.jl could be improved"
@lkastner @YueRen The tests for Groebner basis here are a maintenance nightmare. Comparing vectors of polynomials against some precomputed output is a fragile test and is just asking for problems when Singular/Oscar is updated. Can we have more resonable test code for verfying the output of groebner_basis? For example, in this test,
https://github.com/oscar-system/Oscar.jl/blob/cddc6885605790fdfdb

[2022-11-02 13:43] YueRen commented on #1675
I currently don't have access to verify the second answer, but I do see your point. Instead of testing whether `groebner_basis` returns the exact same list of polynomials, we should rather check whether the output is actually a correct Groebner basis of the ideal (i.e., generating set of the ideal + initial forms generates the correct initial ideal). I will look into it.

[2022-11-02 14:16] HereAround commented on #1258
Thank you all. I think we can close this.

[2022-11-02 14:16] #1258 closed, assigned to nobody

[2022-11-02 15:00] benlorenz commented on #1670
Thanks, not right now as I am still trying to get my account working again (with the help of Hans). I don't remember having any issues with those tests on munk in the past or anyone else reporting such errors.

[2022-11-02 15:08] thofma commented on #1670
I have seen it take too long locally too on an m1. I think I once reported this to you on slack @benlorenz (or maybe I wanted to report it).

[2022-11-02 15:43] HechtiDerLachs opened #1678 "solve_mixed should check arguments for consistency"
Try the following code:
[code]
According to the documentation of `solve_mixed`, this should look for solutions of `A*x = v` under the condition that `x >= 0`. The obvious solution is `x = [1; 0; 0]`, but it throws an error.

Interestingly, the code runs when we replace `A` by `A = ZZ[2 1; -1 -1]`.

CC: @lkastner @benlorenz

[2022-11-02 15:52] thofma commented on #1678
What is the error?

[2022-11-02 15:57] HechtiDerLachs commented on #1678
Yes, sorry. I get the following message:
[code]

[2022-11-02 16:20] thofma commented on #1678
Probably some index error. In the meantime you could do

[code]

(Assuming that you only have `>= 0`.)

[2022-11-02 16:26] HechtiDerLachs commented on #1678
The shortened version works? This part of code was suggested to me by @lkastner once and I just kept with it. But I can switch to the short one. However, the issue should eventually be resolved.

[2022-11-02 17:28] fingolfin commented on #1678
Your final vector in the argument list has the wrong length.

[2022-11-02 17:36] HechtiDerLachs commented on #1678
Now I really wish this was not true... But it probably is. Yes, sorry, I just didn't bother checking this again. I only remember this line being suggested to me by @lkastner once upon a time. But it had already been late in the evening at that point and probably something got lost in translation.

Either way, a plausibility check and a more informative error message would probably be helpful.

Tha

[2022-11-02 17:36] fingolfin commented on #1674
Perhaps then we should default to that on M1 or even just disable OpenMP there?

[2022-11-02 19:12] thofma commented on #1678
We should check the input for consistency.

[2022-11-02 19:20] fingolfin commented on #1678
I agree a more helpful error message would be good!

[2022-11-03 10:31] benlorenz commented on #1670
Those extremely slow tests do not seem to happen on munk (even though 8 cores is significantly slower than 4 cores). So the M1 Max seems to be even more special ...
But it is quite hard to test as it crashes quite often, so we should probably disable openmp on aarch64-apple as suggested in #1674.

Tests on munk:
<details>
<summary>Details</summary>

The original limit for the tests below is 3 seco

[2022-11-03 11:06] #1208 closed, assigned to nobody

[2022-11-03 13:18] #1678 closed, assigned to lkastner

[2022-11-03 14:01] benlorenz commented on #1670
@fingolfin Could you please try to use the updated LLVMOpenMP (version 15.0.4) by doing `]up` and run the example code / the testsuite on your M1 Max please? (without setting `OMP_NUM_THREADS`)

On munk I got the following timings with 8 threads and no crashes anymore so far:
[code]

[2022-11-03 14:06] benlorenz commented on #1674
As posted in #1670 I have prepared a test-build of [LLVMOpenMP_jll](https://github.com/benlorenz/LLVMOpenMP_jll.jl) version 15 which for me fixes the crashes and the timings seem fine on munk. I will prepare a PR for Yggdrasil with this.

[2022-11-03 14:46] afkafkafk13 commented on #1657
I simply docment the current state here (a few days after the creation of this issue):

That was just a general remark.

This should be a reminder to do as much in a unified way for MPolyAnyRing as possible to minimize duplicate code.

comment was answered by @HechtiDerLachs as handled by an error exception in a called method.

directly connected to MPolyAnyRing-remark further up

obsoleted by dis

[2022-11-04 10:02] tthsqe12 commented on #1675
If you don't mind, for the time being I will change the broken tests from `@test` to `@test_broken`. We've got product to move..

[2022-11-04 10:03] YueRen commented on #1675
That's fine with me.

[2022-11-04 12:34] benlorenz commented on #1674
The crash should be fixed with the LLVMOpenMP update, I ran those tests on munk many times.

[2022-11-04 12:34] #1674 closed, assigned to benlorenz

[2022-11-06 09:08] HereAround opened #1687 "ToricVarietiies: Shuffling weights for weighted projective space changes the space"
[code]
Apparently, the two fans and the associated toric varieties are not isomorphic. However, they should be (if not identical by construction).

This method relies on `Polymake.fulton.weighted_projective_space(w)` where `w` are the weights in question. @lkastner what do you think?

Further background: `P_{231}`, i.e. `weighted_projective_space(NormalToricVariety, [2,3,1])` is the natural habita

[2022-11-06 13:20] thofma opened #1688 "Permutation representation of automorphism group of abelian group"
In an application I would like to compute permutation representations automorphism groups of abelian groups. As far as I know, this is a hard problem, but I think it would be great if we would roughly match Magma performance-wise. Here is a concrete example, where the automorphism group is $\mathrm{GL}_8(\mathbf{Z}/8\mathbf{Z})$:
[code]

This did not finish after a day. On the other hand, in Magma

[2022-11-07 08:21] HereAround opened #1689 "Extend documentation for schemes"
The code migrated from experimental to the main coding source in the following PRs needs to be documented:
- https://github.com/oscar-system/Oscar.jl/pull/1680
- https://github.com/oscar-system/Oscar.jl/pull/1681
- https://github.com/oscar-system/Oscar.jl/pull/1682

[2022-11-07 08:51] HechtiDerLachs commented on #1689
Thanks for raising this issue. As already mentioned in oral communications earlier, I suggest to start off with the documentation of the `CoveredScheme`, since this is the user-facing part. The average user will most likely never see a `Glueing` or a `SimpleGlueing` working in the background. Thus, we need a user-facing documentation for the first, but up to now merely docstrings for the latter.

[2022-11-08 11:23] lkastner opened #1694 "Documentation: katsura"
The documentation in
https://oscar-system.github.io/Oscar.jl/dev/CommutativeAlgebra/ideals/#katsura-Tuple{Int64}
could use some love. The index seems to run from `n` to `n` in the first sum and maybe an explanation what the `u_i` are and what ring the ideal returned will live in would be nice.

[2022-11-09 12:41] fingolfin commented on #809
I don't know if anyone ever tried to do 3?  Also, for 4 I think it is important to note that we agreed that all tests should be for Julia 1.6 for the time being, and `Oscar.build_doc(doctest=:fix)` enforces this now

[2022-11-09 12:52] tthsqe12 opened #1697 "Definition of is_global(ordering) does not match how it is used internally"
Due to the new definition of `is_global`, the following error is not caught by
https://github.com/oscar-system/Oscar.jl/blob/c45e777cba4ef1ef0643e1712f5f09d221db6c45/src/Rings/groebner.jl#L159-L160
[code]
@wdecker @ederc

[2022-11-09 13:03] hannes14 commented on #1697
The ordering must cover all variables, resp. the corresponding matrix must be a square matrix of full rank.
Maybe a new function is_ordering(ordering,R::PolyRing) helps.

[2022-11-09 13:06] wdecker commented on #1697
How about all the other functions such as terms, leading_term etc. Same problem?

[2022-11-09 13:13] tthsqe12 commented on #1697
well, the user-facing `cmp` sometimes detects this and throws an error, but I am now thinking that the error that `cmp` can throw is useless.
All of the terms, coefficients, etc. don't detect this. Maybe one should be able to order `x+y` wrt `lex([x,y])`, but trying to order `x+y+z` wrt `lex([x,y])` should probably throw.

[2022-11-09 14:47] simonbrandhorst commented on #1664
Resolved by #1683

[2022-11-09 14:47] #1664 closed, assigned to nobody

[2022-11-09 15:13] thofma commented on #1664
So the answer is yes?

[2022-11-09 15:15] HechtiDerLachs commented on #1664
The answer is "yes" for instances of `AbsSpec{<:Ring, <:MPolyAnyRing}` with `MPolyAnyRing` as in our discussions. Otherwise: "No".

[2022-11-09 18:05] wdecker commented on #1697
Um 10 habe ich das wöchentliche Algebraische Geometrie Treffen. 9:45?

[2022-11-09 21:43] fingolfin commented on #1670
Great, test seems to pass now (with LLVMOpenMP_jll v15.0.4+0 and in general an up-to-date list of packages):
[code]

[2022-11-09 21:46] fingolfin commented on #1670
More results with Julia 1.8.2 on my M1 Max:

1 thread
[code]

2 threads
[code]

4 threads
[code]

8 threads
[code]

No limit set:
[code]

[2022-11-09 21:48] fingolfin commented on #1688
Of course we should do better here!

But out of curiosity (and not to take away from the need for better performance computing the perm rep): what do you want this for? Presumably to perform computations in the automorphism group -- which kind of computations? There might be alternative ways to make them faster that work w/o a perm rep.

[2022-11-10 10:01] benlorenz commented on #1670
Thanks for the tests, the timings look reasonable (and stable) so I think we can close this now.

[2022-11-10 10:01] #1670 closed, assigned to benlorenz, lkastner

[2022-11-10 13:05] tthsqe12 commented on #1697
Here is an only tangentially related issue brough to my attention by @afkafkafk13. Oscar's `leading_ideal` function currently only works with global ordering because it calls `groebner_basis`. Can we get around this just by using `standard_basis` instead?
[code]

[2022-11-10 13:17] ederc commented on #1697
Yes, we should use `standard_basis` in `leading_ideal`.

[2022-11-10 14:23] afkafkafk13 commented on #1697
To me is_global and is_total are two properties of orderings which should not be mixed in any way.
- Both of them need to be checked for groeber_basis.
- Only is_total is needed for standard_basis.
- Only is_global is needed when deducing that a block ordering is global from all of its building blocks being global.

I suggested the name is_total in this morning's meeting, because the relevant prop

[2022-11-10 14:44] jo-ap opened #1702 "Problem in the Flint-Subsystem when calculating Gröbner Bases"
I am trying to calculate the Gröbner basis and the Krull dimension of an ideal for polynomials with coefficients in a rational function field. So far this worked for most cases, but in two I get an error, e.g. for
[code]

The same input in Singular does not produce errors:
[code]

I am using
[code]

[2022-11-10 14:44] thofma commented on #1702
@tthsqe12 Can you have a look?

[2022-11-10 20:26] #1689 closed, assigned to nobody

[2022-11-10 20:47] simonbrandhorst opened #1706 "More efficient Serialization of Arrays"
It would be great to have more memory efficient serialization for
`Vector{fmpz}` and `Vector{Vector{fmpz}}`
[code]
creates a file of 763 MB
[code]
Creates a file of only 89 MB  which is about 8.5 times smaller . So there is room for improvement.

I have some larger datasets consisting of `Vector{Vector{fmpz}}`
Let's say an array of 6.5 Million entries consisting of Vector{fmpz} of length 26.
Here

[2022-11-10 23:59] fingolfin commented on #1706
Agreed. The JSON could be more compact; and we could also offer alternative formats.

A lot of this is used up by the UUID, which is completely useless here; see also issue #1340. Using a flat integer that just reference all objects in the order they get created would take up a lot less space (but also be less resilient against minor damage to the data file, and be less "composable").

Also #1507

[2022-11-10 23:59] fingolfin commented on #1706
Ping @antonydellavecchia @lkastner

[2022-11-11 08:30] fingolfin opened #1708 "`Oscar.build_doc(;doctest=:fix)` does not fix doctests in `.md` files"
I just tried various things but could not get `Oscar.build_doc(;doctest=:fix)` to fix a  `jldoctest` in one of our `.md` files.

I know that Documenter.jl can in principle do this (I just verified it GAP.jl). So something we do breaks it, it seems?

[2022-11-11 08:50] thofma commented on #1708
I am sure I recommended it to someone and it worked a few weeks ago.

[2022-11-11 08:52] thofma commented on #1708
Hm, not sure about the `*.md` files. But did it also not work for proper docstrings?

[2022-11-11 10:55] benlorenz commented on #1708
I just tried it with the latest Oscar master:

[code]

That is quite interesting, it successfuly removed my wrong changes in the linear programs, but also introduced a new change for the galois group ?

<details>
<summary>versions</summary>

[code]

</details>

[2022-11-11 15:38] tthsqe12 commented on #1702
@jo-ap I will let you know here when all of the relevant packages have been updated so that you can have in oscar
[code]

[2022-11-11 15:57] HereAround opened #1714 "Naming conventions and strategies throughout OSCAR"
For consistency and user friendliness across the many different areas of `OSCAR`, it might be good to discuss and ideally agree on the following.

Naming conventions:
- `quotient_ring` vs. `quo`,
- `residue_ring` vs. `quo`,
- `subscheme` vs. `sub` or `closed_sub`,
- `hypersurface_complement` vs. `open_sub`,
- `ambient_affine_space` vs. `ambient_space` (is `affine` not implicitly clear?)
- ...

Str

[2022-11-11 16:02] thofma commented on #1714
I don't think the soon to be introduced `quotient_ring` has any relation to `quo`, since it takes only one argument (the ring).

[2022-11-11 16:04] fieker commented on #1714
On Fri, Nov 11, 2022 at 08:02:24AM -0800, Tommy Hofmann wrote:

I think it has - and there are already various quotient_rings that
sneaked in...

[2022-11-11 16:55] jo-ap commented on #1702
Great, thanks!

[2022-11-12 13:49] fingolfin commented on #1708
Nevermind, it works now. I must screwed something up.

[2022-11-12 13:49] #1708 closed, assigned to nobody

[2022-11-13 13:54] YueRen opened #1715 "maximal_polyhedra of PolyhedralComplexes produces warnings and broken polyhedra."
Calling `maximal_polyhedra` results in warnings and broken polyhedra, calling `vertices` before `maximal_polyhedra` fixes it. The code
[code]
produces following warnings:
[code]
and also following errors when I try to use the polyhedra:
[code]
But running the commented line with `vertices(Sigma)` fixes it.

[2022-11-13 22:31] afkafkafk13 commented on #1714
I think that we should have this discussion in person -- not with erveryone typing in a github issue (and maybe only sum up the results here afterwards for later reference).

To your examples above just one remark:
A hypersurface_complement of an affine variety is much more specific than a Zariski open subset of it; only the former carries the structure of an affine variety itself.

[2022-11-14 08:46] SyxP opened #1716 "Invalid equality in quotient rings."
We construct the ring $S = \mathbb Z[x]/\langle 2x \rangle$ and observe that $3x \neq x\bmod{S}$.

[code]
We should expect `π(3x) == π(x)` to return `true`.

[code]

[2022-11-14 09:12] fingolfin commented on #1688
@thofma Thing is, if you e.g. "just" want to work with subgroups, then starting with the (generators of the subgroup) might allow for far more efficient working.

Also, are the abelian groups always of this special form ($(\mathbb{Z}/p^k\mathbb{Z})^n$)? If so, then this could also be exploited.

[2022-11-14 09:20] fingolfin opened #1717 "Replace `as_perm_group` and `as_polycyclic_group` by methods for `PermGroup` and `PcGroup`"
Another thing you could work on (maybe not in this PR but a follow-up): replace `as_perm_group` and `as_polycyclic_group` by methods for `PermGroup` and `PcGroup`. That would fit better with how we do this elsewhere! Also, a similar handling but for `FpGroup` seems to be missing.

_Originally posted by @fingolfin in https://github.com/oscar-system/Oscar.jl/pull/1661#discussion_r1018851683_

[2022-11-14 09:21] fingolfin commented on #1717
@CameronBraunstein maybe for you?

[2022-11-14 09:22] fingolfin opened #1718 "Some cleanup for the groups code"
instead of comparing `typeof` it is better to use `isa`, and to check that something holds for all elements of a list, use the `all` function (which short-circuits).
Consider this:
[code]
This could be replaced by something like this (untested)
[code]

_Originally posted by @fingolfin in https://github.com/oscar-system/Oscar.jl/pull/1661#discussion_r1018852955_

[2022-11-14 09:23] fingolfin commented on #1718
@CameronBraunstein maybe for you?

[2022-11-14 09:44] fingolfin commented on #1516
@ThomasBreuer I think this can be closed with the new GAP.jl and GAP 4.12.1 in place?

[2022-11-14 10:02] ThomasBreuer commented on #1516
Yes.
Since the changes from oscar-system/GAP.jl/pull/820 are available in GAP.jl and since version 0.77 of GAP's utils package is available via GAP 4.12.1, the download is handled via Julia's Download.jl.

[2022-11-14 10:59] benlorenz commented on #1516
It does seem to work at first look:
[code]

But if I don't try to `run` wget first I get a segfault on munk:
[code]

Even just calling `Oscar.versioninfo()` before running the gap commands seems to avoid that crash. Maybe some initialization in the julia IO stuff is not done properly when called from GAP?

[2022-11-14 13:05] rogeliam opened #1719 "Serialization problems with cyclotomic fields"
1. The functions save/load do not save correctly if the ground field was a cyclotomic field.

[code]

2. Furthermore specifying a parent with matrices does not seem to be supported right now.

[code]

Here it is notable, that multiplication of T and TT does work, but multiplication of the entries does not work.

**System (please complete the following information):**
Please paste the output of `Os

[2022-11-14 13:14] thofma commented on #1719
Just a remark for @antonydellavecchia and the other developers

It is the 'same' field, but just printed differently. The special printing comes from a property stored in the attributes of the objects (aka `set_attribute!/get_attribute`). While I do not think that consistent printing should be guaranteed, it raises the question about handling this additional data in general. Have there already bee

[2022-11-14 13:44] ThomasBreuer commented on #1516
Thanks @benlorenz.

Unfortunately I cannot reproduce the problem.
I have installed Julia 1.8.2, updated the packages, tried your input (`using Oscar; GAP.prompt()` and then `AtlasGroup( "A5", IsPermGroup, true );` at the GAP prompt), and got the group in question.

Could you please try the following GAP input after calling `GAP.prompt()`?
[code]
With this input, I get the following session.
[code]

[2022-11-14 14:18] antonydellavecchia commented on #1719
I don't think there has been any decisions made. I think some people have thought about it a bit? I guess the issue is that deciding to store attributes should be left to the user. Maybe there are some that should be stored regardless? maybe if an ideal is a groebner basis or not? From what I gather storing the field with a cyclotomic attribute or not doesn't have any effect on the type? so everyt

[2022-11-14 14:19] fingolfin commented on #1719
@thofma I think this is a type-by-type discussion: we definitely want to serialize all "essential" data; if that means serializing some of the attribute, so be it. I see no fundamental problem in having logic of the kind `if attribute X is present then serialize it` and matching while deserializing.

(Perhaps trickier is what to do about data that is cached for performance reasons; do we want to s

[2022-11-14 14:27] fingolfin commented on #1516
@ThomasBreuer this is on `munk`, an ARM 64 Mac (i.e. with Apple's M1 CPU) server we run in Kaiserslauten. If you want you can get SSH access to it, email @hannes14 (with CC to me perhaps) and we can arrange that.

@benlorenz but I also can't reproduce this on `munk`, though I only tried with Oscar `master` for now

[2022-11-14 14:31] benlorenz commented on #1516
I got the following output:
[code]

I triggered the crash once more directly before trying these commands but now I cannot reproduce it anymore (even with a fresh depot). Maybe I had some broken files from my previous experiments in `.julia`.
This was with the current master and only reproducible on munk, and I needed to remove `wget` from my path to trigger it (i.e. remove `/opt/homebrew/bin` fro

[2022-11-14 14:35] thofma commented on #1719
It is tricky to have an interface where a user can choose the attributes to be stored. I think we made sure that attributes are not part of the API of objects. For example, how would a user know, that the information, that an ideal is prime (just an example) is an attribute, which could be serialized/deserialized. So I think an interface where specific attributes are specified will be hard. Or may

[2022-11-14 14:49] fingolfin commented on #1516
@benlorenz I strongly assume you did all this, but to be 100% sure:
- did you run `Pkg.update()` ?
- what does `Oscar.versioninfo(full=true)` give?
- what is the output of `GAP.Globals.ShowPackageInformation()` ?

Here is what I get: This is with the system wide `julia` on `munk`:
[code]

I also verified in a separate session that it download via our new GAP download method, which goes through Jul

[2022-11-14 14:55] benlorenz commented on #1516
Before posting this I did remove the `Manifest.toml` in the Oscar directory, ran a `git pull` (on master) and did `]up` using that folder as a project. So apart from stuff in .julia this should have been clean, versioninfo and package info now shows:
[code]

Since I cannot reproduce this I think we can close this until I or someone else can trigger this again.

[2022-11-14 15:01] ThomasBreuer commented on #1516
Just one more remark:
In order to make sure that a download is happening at all, the call `SetInfoLevel(InfoUtils, 2);` in GAP is helpful.
Once one has downloaded the necessary files, they get cached (if the directory in question is writeable), thus a subsequent call `AtlasGroup( "A5", IsPermGroup, true );` will not try to download the group generators again. The info message `#I  try Download met

[2022-11-14 16:28] fingolfin commented on #1516
@ThomasBreuer but I also note that in practice, for GAP.jl / Oscar.jl, the caching is always off, because the `atlasrep` package dir is read-only... This is one of the things which motivated me to open https://github.com/gap-system/gap/issues/5190

[2022-11-14 16:29] fingolfin commented on #1516
@benlorenz thank you. Yeah, I expected that you were thorough; but we all sometimes make mistakes (well, I certainly do, far too often *sigh*), so I wanted to check (also to see if there was any difference to my setup).

Anyway: since we can't reproduce this right now, let's indeed close, and re-open if anyone sees a similar problem again.

[2022-11-14 16:29] #1516 closed, assigned to nobody

[2022-11-16 07:44] #1687 closed, assigned to lkastner

[2022-11-16 11:32] fingolfin opened #1732 "Add resp. expose more combinatorics features"
We already have some things (e.g. `subsets` from Hecke) which shoud be listed in the relevant chapter of the OScar manual.

But we also wanted to import code by @ulthiel from https://github.com/ulthiel/JuLie.jl/tree/master/src/combinatorics and possibly other sources.

[2022-11-16 11:35] fingolfin commented on #1732
Regarding `subsets` is also noticed that `subsets(1:5, 2)` doesn't work -- probably just a matter of an overly restrictive function signature

[2022-11-16 11:35] fingolfin commented on #1337
I think this was resolved some time ago

[2022-11-16 11:35] #1337 closed, assigned to nobody

[2022-11-16 14:12] tthsqe12 commented on #1716
This is an issue with Singular. @hannes14 any ideal why the `kNF` is not reducing the `3` to a `1`? In singular:
[code]
Edit: would it be safe to say that kNF cannot be used provide unique representatives for elements of a quotient ring, when the base ring is not a field?