[2019-06-17 19:44] wbhart opened #4 "Oscar Roadmap"
This is a roadmap of all issues people consider important or of high priority across the whole of the Oscar system.
Names are attached to the issues currently being worked on. They are in no particular order.

- Infrastructure
  - [X] Report type inference issues to Julia - @wbhart
  - [X] Continuous integration - @rbehrends
  - [ ] Flint release, roadmap : https://github.com/wbhart/flint2/issues/

[2019-06-19 08:10] fingolfin commented on #4
@fieker @CarloSircana we (me and @sebasguts ) have been wondering what "High level interface for GAP.jl" is meant to be -- is that just a duplicate of the "Groups interface" entry, or something else? If so, could you please explain? Clearly we can't implement anything we don't know about :-)

[2019-06-19 08:19] fieker commented on #4
On Wed, Jun 19, 2019 at 01:10:17AM -0700, Max Horn wrote:

I am disappointed, you cannot read minds?

As far as I am concerned, the Group Interface is part of it, gap
possibly has more to offer...

[2019-06-19 08:59] wbhart commented on #4
What @kalmarek and I had in mind for the Group Interface was a written document describing an interface to Groups in AbstractAlgebra and/or Oscar.

The high level interface for GAP.jl is an actual implementation of a layer on top of GAP.jl which makes the functionality in GAP available in a version that uses Julia naming conventions and paradigms, similar to what we have done with Singular.jl vs i

[2019-07-10 22:52] kalmarek opened #6 "citing Oscar packages"
I suggest that we provide
[code]
functions for each package which will generate (e.g. bibtex formatted) reference, i.e. actually useful content from user perspective (the above code is just a prototype, don't argue about its efficiency:).

We care about citations, but how should I cite Hecke? where can I find it on Hecke repo? in the documentation, elsewhere? how about AbstractAlgebra?

I found on

[2019-07-11 12:21] fieker commented on #6
On Wed, Jul 10, 2019 at 03:52:05PM -0700, kalmarek wrote:

Fine.

Yep, there is a paper (or two) but not listed. Bad idea...
AbstractAlgebra: none/

Have you tried Polymake?

This is a difficult one. Julia does not allow this in any good way. To
me, it is important that users are made aware of the amount of work by
other people that they rely on.
] add Hecke
OK, I know about Hecke, but
I'll never

[2019-07-11 21:02] kalmarek commented on #6
@fieker

What is bad idea?

----

As a matter of fact I did ;-) but this is github page of oscar repo, so i'm not exactly sure where does this question is supposed to lead (as a side note: you will always see **exactly one banner** of Polymake or any software it uses, no matter how and where you use it. This is even true when using via `Polymake.jl`).

if you do `using Hecke` you should only cite

[2019-07-12 08:00] fieker commented on #6
On Thu, Jul 11, 2019 at 02:02:57PM -0700, kalmarek wrote:

To not list the paper there.

How do you stop say singular from printing a banner if you use it
through polymake?

Well, this is not really true: we are aware of major results and tend to
cite them from the original paper. Frequently with a convenience to the
most recent readable version, but definetely also the original.
In contrast, soft

[2019-07-12 09:52] kalmarek commented on #6
I actually don't know how it is done internally, ask some true `polymake` developers;-)
but this can be easily done on the julia side:

[code]

fair enough but at least print the banner only in the interactive shell. There is no need for it elsewhere.

[2019-07-12 11:07] fieker commented on #6
On Fri, Jul 12, 2019 at 02:52:09AM -0700, kalmarek wrote:

Neat - but I'd still rather julia do using blah; to suppress banners -
as this, to me, would be more logical...

[2019-07-12 13:53] kalmarek commented on #6
[code]
`f()` prints whether it is followed by semicolon or not: `f();` is parsed as `quote f() end`, whereas `f()` is just `:(f())`.

Banners are not return values, they are printed to `stdout` regardless of what `init()` function returns. I'm not sure what do You propose here? surely You're not suggesting changing the semantics of language to make `;` redirect `stdout` (or maybe even `stderr`?!)

[2019-07-12 14:02] fieker commented on #6
On Fri, Jul 12, 2019 at 06:53:50AM -0700, kalmarek wrote:

No I was suggesting to add the semantics that using ... prints a banner
(if desired) and that using ...; does not.

Agreed

[2019-08-02 13:03] rbehrends opened #7 "Test failure"
Running `Pkg.test("Oscar")` fails with:

[code]

This appears to happen because of `using Base.Test` instead of `using Test`, the former of which does not seem to work for recent versions of Julia.

[2019-08-02 13:10] wbhart commented on #7
That sounds correct. Feel free to submit a PR.

[2019-08-02 13:17] heiderich opened #9 "LoadError: UndefVarError: vector_space not defined"
in `test/ComAlg/ModFld-test.jl:3`

[2019-08-02 13:20] wbhart commented on #9
There is no working code in Oscar.jl. It's not really worth reporting that the tests fail. The tests and all existing code should be removed.

[2019-08-02 13:24] heiderich commented on #9
Can you expand on that? Your comment https://github.com/oscar-system/Oscar.jl/issues/7#issuecomment-517694722 sounds like an encouragement to make tests work.

[2019-08-02 13:36] wbhart commented on #9
Sure. All tests should be run. This is what people want. But we should first remove all tests that don't work, which happens to be all of them.

To my knowledge, the code that is in Oscar.jl at the moment is highly incomplete, has been superceded, has not been maintained and should be removed. On the other hand, the person who wrote it is currently on leave. It's a git repository though, so it's n

[2019-09-25 12:39] wbhart commented on #4
Moved to Oscar.jl.

[2019-09-25 12:39] #4 closed

[2019-09-25 12:40] wbhart opened #1 "Oscar Roadmap"
This is a roadmap of all issues people consider important or of high priority across the whole of the Oscar system.
Names are attached to the issues currently being worked on. They are in no particular order.

- Infrastructure
  - [X] Report type inference issues to Julia - @wbhart
  - [X] Continuous integration - @rbehrends
  - [x] Flint release, roadmap : https://github.com/wbhart/flint2/issues/

[2019-09-25 15:37] kalmarek commented on #1
Ring interface conformance tests:
https://gist.github.com/kalmarek/76b674c63b62c0d02605e7d0c1068f17
(most of our rings I tried fail this)

Group interface + conformance tests:
https://gist.github.com/kalmarek/3ac179c7fbf1190e27f7f335f64520dc
(follows what we did in Kaiserslautern with @fingolfin, @fieker and @ThomasBreuer).

Note, that due to complete lack of time I'm not going to integrate them i

[2019-11-23 00:48] asbuch opened #54 "Nemo bug?"
The last line of the following causes an error, I think this must be a bug::

[code]

I believe I used the latest version of Nemo (installed with ]dev Nemo).

Anders

[2019-11-23 02:11] wbhart commented on #54
Yes, that is a bug. The Nemo repository is here though:

https://github.com/Nemocas/Nemo.jl

[2019-11-27 10:38] wbhart commented on #54
@asbuch Did you open this as a ticket on the official Nemo repository?

[2019-11-27 17:57] asbuch commented on #54
I did not, I can do so if you wish, but I don't know if you want the same bug reported multiple times?

I initially followed the instructions on this page about how to report problems:
https://oscar.computeralgebra.de/community/

The "GitHub" link on that page gives a lists of several sub-projects within Oscar.  Maybe it would be useful to have a link to Nemo on that list?

[2019-11-27 19:13] wbhart commented on #54
Yes, please. No one will see it here except me, as this is just my personal fork.

[2019-11-27 19:14] wbhart commented on #54
By the way, Nemo is on the list on the page you mentioned.

[2020-01-15 09:41] kirtsar opened #75 "Status of Elliptic Curves package"
I'm interested whether the project https://github.com/defeo/EllipticCurves.jl
would be supported by Oscar.

It seems that some main types, such as generic Weierstrass curves, Montgomery and Edwards curves, and points on these curves are currently implemented.

Is there any difference between this package and EllCrv subpackage of Hecke?

[2020-01-15 09:50] wbhart commented on #75
The best thing would be to ask @defeo

As far as I know, this is a different package to the one in Hecke.

As Julia is an ecosystem of packages and Oscar.jl is just built on a bunch of Julia packages, there's no reason why you couldn't use it with Oscar. But we're not currently planning on writing conversion routines or the like, unless one of us has an application for it and decides to work on su

[2020-01-15 09:59] defeo commented on #75
The goal of that package is to provide tools for elliptic curve cryptography, whereas Hecke is more focused on elliptic curves in general, and over number fields in particular.

However, due to lack of time, we haven't touched the package in a while. With the other authors of the package, we just got funding for more development, so we may restart the efforts soon.

I don't know about Oscar's plan

[2020-01-15 10:05] wbhart commented on #75
Yeah that sounds like the right strategy. Of course if it is based on Nemo, it shouldn't be too unusable by people who also want to use Oscar (Nemo is part of Oscar).

[2020-01-16 18:16] #54 closed, assigned to nobody

[2020-01-16 18:16] #75 closed, assigned to nobody

[2020-01-19 14:06] kalmarek opened #76 "release 0.1.1"
Currently there is no way of installing `Oscar` other than from master. It is not registered (probably due to failing tests), hence the description in README needs to be changed.

I tried:
[code]
Since this is only fixed in `master` you need to get it via:
[code]
Note: now `Pkg.update()` will git pull `Oscar` each time!. this is not what we want our users to experience, hence the need for `v0.1.1`

[2020-01-20 06:54] fieker commented on #76
On Sun, Jan 19, 2020 at 06:06:49AM -0800, kalmarek wrote:

Stupid Julia package manager

Once we have functionalifty, I agree. At this point, pulling "all" of
Oscar is just fine - this way one can actually track progress without
being hindered by the release process

We tried to deal with the banners. Julia seems to support only 2 modes:
 - never print
 - always print
given that Nemo (e.g.) is als

[2020-01-20 14:09] wbhart commented on #76
I agree we should do a 0.1.1 release. I am here this week, so we can do that if you want.

I believe @fieker has fixed the import from Hecke. @thofma released a new version of Nemo which should in theory cause the tests to pass (just do ]up if you don't have Nemo dev'd).

If you could prepare a PR with the other minor changes you mentioned, I will merge them and do the release.

As previously ment

[2020-01-21 11:30] kalmarek commented on #76
https://github.com/oscar-system/Oscar.jl/pull/77

Is there a reason why `import Singular` is commented out?

[2020-01-21 11:59] wbhart commented on #76
I commented some of the things out in master because Oscar takes too long to start and I was trying to get some work done. You can comment it back in if you want.

[2020-01-21 12:24] fieker commented on #76
On Tue, Jan 21, 2020 at 03:30:48AM -0800, kalmarek wrote:

It is (or not) working. In Julia 1.3 it cannot (I was told due to the
new CxxWrap not being released yet - only one more bug to fix, and
tomorrow definitely...)

[2020-01-21 12:42] wbhart commented on #76
Sure, but we don't test Julia 1.3 and it works fine in other versions of Julia. I'm not sure this is the reason it was done, is it?

[2020-01-21 12:45] wbhart commented on #76
Ok, I'm wrong. It was in fact @fieker who added this, not me. The reason it was never there in the first place was because it didn't meet the criteria documented in Oscar.jl. Fair enough. Perhaps we were waiting for Julia-1.3 support after all.

[2020-01-21 12:51] wbhart commented on #76
Perhaps we should also add a commented out Gap.jl for the same reason (no BinaryBuilder support).

[2020-03-11 09:03] micjoswig opened #80 "supported Julia versions"
I think this is a good time to decide which platforms and which Julia versions we currently support.

Here is my suggestion:
- we support Julia 1.3 and we try to get ready a.s.a.p. for the upcoming Julia 1.4
- target platforms: x86_64-linux-gnu, x86_64-apple-darwin14
- CxxWrap 0.9.0
- travis: distribution ubuntu bionic

Some explanations:
- Julia 1.0 is the latest LTS version, but it seems unlikel

[2020-03-11 15:01] fieker commented on #80
On Wed, Mar 11, 2020 at 02:03:43AM -0700, Michael Joswig wrote:

I fear that there is no decision:
 we cannot support 1.0 due to infrastructure requirements.
 As much as it hurts to have to drop 1.0, we cannot do this.

 Similarly, CxxWrap requiring a modern c++ compiler means that Debian
 16.04 is out as well. Given that this is LTS until 2024, this is also
 going to hurt people on older equipmen

[2020-03-11 22:23] fingolfin commented on #80
I agree. Julia 1.0 is out, my suggestion to backport the GC changes was rejected (and I can totally understand); the primary argument was that Julia 1.5 or 1.6 is likely to be the next LTS (see https://github.com/JuliaLang/julia/pull/34644 for details)

[2020-03-16 13:29] ThomasBreuer commented on #80
What is the status of Oscar.jl's  `README.md`, compared to the [OSCAR homepage](https://oscar.computeralgebra.de/)?
Concerning the installation, Oscar.jl is not yet a registered Julia package (thus `Pkg.add("Oscar")` does not work), `Project.toml` states that the Julia versions 1.0 to 1.2 are supported, and no dependencies on GAP.jl and Singular.jl are listed.

[2020-03-16 13:42] fieker commented on #80
On Mon, Mar 16, 2020 at 06:29:58AM -0700, ThomasBreuer wrote:

I assumed it was registered already, but aparently not...
So: nothing has changed so far, the README is lying...

Supported Julia versions will only be 1.3 onwards I'm afraid: Gap and
Polymake...

[2020-03-16 14:01] wbhart commented on #80
It's not registered because until recently it has not passed its tests for any versions of Julia and there is no working release. For registration you want: README + docs + passing tests + passing CI + OS support (OSX + Linux for us).

[2020-03-16 14:02] wbhart commented on #80
Why won't 1.1 and 1.2 be supported? (I understand why 1.0 is not).

[2020-03-16 14:04] fieker commented on #80
On Mon, Mar 16, 2020 at 07:02:51AM -0700, wbhart wrote:

I understood polymake probs, but maybe not.
There is the BIG problem of multiple libflint and the resulting
non-passing of tests

[2020-03-16 14:04] ThomasBreuer commented on #80
GAP.jl now requires Julia 1.3, see https://github.com/oscar-system/GAP.jl/pull/309

[2020-03-16 14:16] wbhart commented on #80
Oh, I see. Thanks Thomas.

[2020-03-17 12:15] fieker commented on #80
There is still the problem with the multiple libflint. Benjamin and I are close to a solution, but it still needs to be deployed. It will, tomake life more interesting, require a Nemo and Polymake release...
(The idea is to add a new package LoadFlint or similar as a dependency to both that will do exactly what the name says: load libflint.so into the process)

[2020-03-17 12:24] wbhart commented on #80
Could a solution like @rfourquet's fix for the banners work instead?

[2020-03-17 12:34] fieker commented on #80
On Tue, Mar 17, 2020 at 05:24:46AM -0700, wbhart wrote:

Not really...
libflint needs to be loaded before polymake, so outside of __init__ I
think
But maybe it would work...

[2020-03-17 13:17] micjoswig commented on #80
I don't quite understand.

Sascha added the dependence on Nemo directly into
https://github.com/oscar-system/Polymake.jl/blob/master/src/Polymake.jl

Doesn't this solve the problem?

On 17.03.20 13:34, Claus Fieker wrote:

--
Prof. Dr. Michael Joswig           <joswig@math.tu-berlin.de>
Technische Universitaet      Institut fuer Mathematik, MA 6-2
Str. des 17. Juni 136                 D-10623 Berl

[2020-03-17 13:20] fieker commented on #80
On Tue, Mar 17, 2020 at 06:17:45AM -0700, Michael Joswig wrote:

That would probably solve this problem, but longer term, you don't want
to have Nemo in, That what Benjamin and I have been playing with:
basically put a dependency on libflint in, not on Nemo.

[2020-03-17 16:32] fieker commented on #80
Only after this is fixed can be proceed to update Oscar and the instructions...

in oscar-systems I've added LoadFlint

[2020-03-30 18:28] mohamed-barakat opened #82 "Error while compiling Oscar v0.2.0 with Xcode >= 11.4"
[code]

[2020-03-31 13:27] fingolfin commented on #82
This is an assertion in CxxWrap code, `include/jlcxx/type_conversion.hpp`.

Could it be that CxxWrap was compiled with a different Julia version? Perhaps re-building it via `Pkg.build` might help? This is a wild guess, though

[2020-03-31 18:29] mohamed-barakat commented on #82
Thanks for the suggestion, but no, I get the same error, unfortunately:
[code]

[2020-04-01 12:16] benlorenz commented on #82
Could you please try running `]build Polymake` as well. The error comes from a CxxWrap header but seems to come when loading the polymake shared library (Polymake.jl:41) via wrapmodule.

[2020-04-01 12:35] mohamed-barakat commented on #82
Thank you @benlorenz.  No, same mistake

[code]

[2020-04-01 13:09] benlorenz commented on #82
Not exactly the same, this time the error comes from `@wrapmodule` in `LibSingular.jl` line 5.
Edit: looked at the wrong file first...

Not really sure how to properly debug this, you could try editing
```/Users/mo/.julia/packages/CxxWrap/lDNAy/deps/usr/lib/cmake/JlCxx/../../../include/jlcxx/type_conversion.hpp```
and adding the following before the assert in line 601:
[code]

Then after rebuildin

[2020-04-02 20:23] fingolfin opened #83 "Detect whether build dependencies are present, error out with helpful message if not"
[ This issue should potentially be replicated to Singular.jl, Polymake.jl, GAP.jl etc.; but perhaps we can also first implement a solution and then copy&paste code, or something like that? ]

Right now, several of our packages require a new enough C/C++ compiler (must support C++17, it seems...), a new enough `cmake` (must support C++17, too... etc.). Problem is that nothing tests for these things

[2020-04-03 19:22] mohamed-barakat commented on #82
Thank you very much @benlorenz.

I now encounter the problem with `Singular.jl`, so it is not specific to `Polymake.jl`. Furthermore, the latest versions of both packages work on MacOs X:

* https://travis-ci.com/github/oscar-system/Singular.jl/builds/158214928
* https://travis-ci.com/github/oscar-system/Polymake.jl/builds/157640913

So the problem seems to be with my MacOs X 10.15.3 (with the lat

[2020-04-03 23:18] benlorenz commented on #82
The missing symbol is just `std::string` which should have been added to julia by CxxWrap, so this is quite weird.
I tried with the latest xcode that is available on travis (Xcode 11.3.1 on Mac OS 10.14) but could not reproduce this error:
https://travis-ci.com/github/oscar-system/Polymake.jl/builds/158291943
https://travis-ci.com/github/oscar-system/Singular.jl/builds/158292909
(manually triggere

[2020-04-03 23:27] mohamed-barakat commented on #82
Thank you so much for your help @benlorenz.

I see. My XCode is Version 11.4 (11E146), maybe this is the problem.

[2020-04-08 08:38] fingolfin opened #86 "Setup Travis and Code coverage tracking"
Also add status widgets to the README.md like for other projects

[2020-04-08 10:37] fingolfin commented on #82
Could the problem be one of a version mismatch between the used C++ libraries? I.e. a breakage in the C++ ABI, which is exacerbated by the fact that we combined precompiled C++ binaries that we download with freshly compiled C++ code, i.e., code that was made with different compilers?

For GCC, [here](https://stackoverflow.com/a/49119902/928031) Jonathan Wakely (one of the developers of libstdc++

[2020-04-08 11:00] benlorenz commented on #82
I don't think this is caused by any ABI change because on MacOS everything uses libc++ (instead of libstdc++) which only supports C++11 (and newer). The full demangled symbol from the error is:
[code]
Here the `__1` indicates that it is a libc++ symbol.

The corresponding symbol with libstdc++ would be
[code]
where the `__cxx11` namespace indicates that it uses the new C++11 abi which is the defau

[2020-04-08 11:26] #76 closed, assigned to nobody

[2020-04-08 13:24] benlorenz commented on #82
I finally found a way to reproduce and test this (albeit somewhat cumbersome):
https://github.com/oscar-system/Polymake.jl/runs/570804489

So this is definitely coming from Xcode 11.4, default on github actions is 11.3.1 and I changed it to 11.4 in `runtests.yml` for this testing branch.

So I can finally do some more experiments later today.

[2020-04-08 13:56] mohamed-barakat commented on #82
Thank @benlorenz for investigating. I am relieved :)

[2020-04-08 21:48] fingolfin commented on #82
@mohamed-barakat I may have suggested this before, but, just to be sure there is no corruption going on: have you tried temporarily renaming your `~/.julia` directory, then reinstalling Oscar.jl (and thus automatically all of its dependencies) ? If that doesn't help, at least we know it's a systematic issue and not some random corruption.

[2020-04-08 21:58] mohamed-barakat commented on #82
Yes, when I encountered this problem I even removed `~/.julia`, installed `Julia 1.4.0` and tried `] add Oscar`.

[2020-04-08 22:10] benlorenz commented on #82
It shouldn't be any corruption, I can reproduce this on github actions and it is somehow coming from the `typeid(T).hash_code()` that is different if some parts of the running program were built with Xcode 11.4.

My current debug output contains the following:
[code]
Here std::string was inserted into the jlcxx type map by code compiled with an old xcode in the libcxxwrap-julia library (fetched vi

[2020-04-14 12:42] fingolfin commented on #80
I believe this can be closed now:
- Oscar.jl now depends on Julia >= 1.3 and we state so in `README.md` and on the homepage.
- We use CxxWrap 0.9 in all comp (although... they just released 0.10, and we may want to switch to that as it is expected to resolve issues with Julia nightly builds... *sigh* but so far it looks less painful than the 0.8 -> 0.9 migration)
- Regarding Windows support, we on

[2020-04-14 12:54] #86 closed, assigned to fingolfin

[2020-04-17 14:24] fieker opened #92 "Banners"
The issue of banners for your projects comes up about every 6 months. So we, the project leaders, discussed it and recording this here, as an issue to be able to link against this.

Computer Algebra Systems always have banners
 - Julia, Maple, Mathematica, Maple, ...
 - Gap, Singular, Polymake
Thus our "cornerstones" have banners - which can be suppressed in non-interactive mode.

Now we added a n

[2020-04-17 14:40] wbhart commented on #92
It's worth adding that we have been removing banners where this is actually desirable (e.g. non-interactive/library use), but that this has been technically very difficult.

We apologise to everyone who has been affected by this. The issue is being addressed as we are able.

[2020-04-18 04:09] mohamed-barakat commented on #82
FYI: Xcode 11.4.1 has been released three days ago.

[2020-04-21 14:51] fingolfin commented on #80
So we need CxxWrap 0.10.1 for Singular.jl, because there are crashes with 0.9.

In the spirit of this issue, I suggest that we adapt the plan @micjoswig suggested, by replacing CxxWrap 0.9 with 0.10 (resp. 0.10.1) as the CxxWrap version we standardize on. And in the future, if we need a newer one, we will coordinate Polymake.jl and Singular.jl to use the same version.

Just to spell it out (it was

[2020-04-22 05:19] fieker commented on #80
On Tue, Apr 21, 2020 at 07:51:58AM -0700, Max Horn wrote:

I'm happy with simplification

[2020-04-22 07:38] mohamed-barakat commented on #80
Agreed.

[2020-04-25 11:16] benlorenz commented on #82
First:
It seems that this has been fixed in libc++ but it might take some time until this arrives in Xcode, the relevant commit is here:
https://github.com/llvm/llvm-project/commit/2464d8135e

Second:
I came up with a better, but unfortunately slightly involved, workaround that can be applied to our code. The pull request for Polymake.jl is here, including a detailed description of the issue and w

[2020-04-25 11:47] mohamed-barakat commented on #82
The commit message states
[code]
Do you have an idea what they mean by the  underlying issue that has to be fixed?

[2020-04-25 13:09] benlorenz commented on #82
I don't know the details, but I think it is about architectures where the type_info is mostly unique but not always, for example when loading libraries with `RTLD_LOCAL` or other special cases.
See the commit message here
https://github.com/llvm/llvm-project/commit/2405bd6898
and this PR where some changes have been reverted:
https://bugs.llvm.org/show_bug.cgi?id=37398

There is also some descript

[2020-04-25 15:26] mohamed-barakat commented on #82
Thank you very much @benlorenz.

[2020-04-27 20:29] fingolfin opened #97 "WARNING: import of Hecke.example into Oscar conflicts with an existing identifier; ignored."
This warning is shown when precompiling a freshly installed Oscar.jl 0.3.0:
[code]

[2020-04-27 20:55] fingolfin commented on #97
Hmm, in another instance, I saw this instead (not sure what triggered the difference, and no time/energy/interest in figuring it our right now):
[code]
Of course those functions should perhaps also eventually be replaced by code calling into GAP.jl resp. the Oscar Groups API, but that's another issue.

[2020-04-27 22:30] mohamed-barakat commented on #82
I have bad news :( After updating all packages the problem occurs again.

I have tried the workaround

https://rfourquet.github.io/oscar-website/install/

also with
[code]
but it didn't help.

My Xcode is now 11.4.1.

[code]

[2020-04-27 22:37] benlorenz commented on #82
This is expected, the workaround is not yet updated for `CxxWrap` versions `>= 0.10`. In this case the custom installation needs to be specified in an `Overrides.toml` file instead of the environment variable.

Please check the `libcxxwrap-julia` readme for a short guide: https://github.com/JuliaInterop/libcxxwrap-julia#using-the-compiled-libcxxwrap-julia-in-cxxwrap

[2020-04-27 23:05] mohamed-barakat commented on #82
Worked. Again, thank you very much.

[2020-04-28 05:42] fieker commented on #97
On Mon, Apr 27, 2020 at 01:56:07PM -0700, Max Horn wrote:

I'll look into this. hopefully the example prob has been dealt with by
updating Hecke to 0.8.1 which happend about the time you mentioned it.
I check, but I suspect the number_of_small_groups does not exist any
more, hence it cannot be imported. One of the ci/ several repos and
julia quirks problems:
 - you can, in Hecke or elsewhere expor

[2020-04-28 05:45] fieker commented on #97
On Mon, Apr 27, 2020 at 01:56:07PM -0700, Max Horn wrote:

Someone was writing an interface to Gaps small groups, but got
sidetracked. The declarations and export statements are there, the code
not...

[2020-04-28 09:57] rfourquet commented on #82
So, as we use `CxxWrap` version `>= 0.10` now in the released version of Oscar, the workaround should be updated on the oscar-website, right? (or did I misunderstand something?).

[2020-04-28 10:18] mohamed-barakat commented on #82
Yes it should. I was about to write an issue which is now obsolete.

[2020-04-28 20:16] fingolfin opened #98 "Loading `Oscar` is very slow"
So of course @fieker is long aware of this and even is working on a solution in the form of a a custom sysimg for Oscar; but I thought I should record this explicitly:

Right now, on a "big" machine in Siegen, I get this:
[code]

Oops. My `.julia` contains 4.4 GB data (this is essentially a fresh `Oscar` install, nothing else), which is why I couldn't test this in Kaiserslautern yet (my quota is o

[2020-04-29 11:23] mohamed-barakat opened #99 "Oscar.build() fails with Oscar 0.3.0 due to a GMP issue with GAP.jl v0.3.5"
Upon Claus' request to test `Oscar.build()`:

[code]

[2020-04-29 11:25] fieker commented on #98
I've already passed this on to selected few, but you can try
Oscar.build()
to get a pre-build, pre-compiled sysimage. This runs easily 10min, the startup time for julia (including the -J) is now up by 0.5sec, but using Oscar and the 1st commands are instantaneous

[2020-04-29 21:32] mohamed-barakat commented on #99
Now with `] dev GAP` and `] dev Oscar` I get a different error:
[code]

[2020-04-30 05:37] fieker commented on #99
On Wed, Apr 29, 2020 at 02:33:11PM -0700, Mohamed Barakat wrote:
Sorry - my typo. I will correct quickly

[2020-04-30 05:42] fieker commented on #99
That error should be history now
On Wed, Apr 29, 2020 at 02:33:11PM -0700, Mohamed Barakat wrote:

[2020-04-30 09:48] rfourquet commented on #99
Just to confirm that the fix worked for me, and the time of getting a REPL loaded with Oscar went from 38s downto ~5s.

[2020-04-30 10:03] fieker commented on #99
On Thu, Apr 30, 2020 at 02:49:09AM -0700, Rafael Fourquet wrote:

You have a slow disk...

But more importantly, some operations are now immediate!

But thanks for trying

[2020-04-30 10:13] rfourquet commented on #99
Or a slow CPU? I have an SSD (encrypted, but still), and my `/tmp` folder (where `Oscar.so` is located) is mounted on RAM, so this as fast as it can get!

Yes, this is great!

[2020-04-30 13:06] mohamed-barakat commented on #99
Worked like a dream, thank you very much:

[code]

Startup time is about 5s

[code]

[2020-04-30 13:08] mohamed-barakat commented on #99
Compilation took around 8 minutes.

[2020-04-30 15:45] fieker commented on #99
On Thu, Apr 30, 2020 at 06:06:50AM -0700, Mohamed Barakat wrote:

Good!

we can extend on the precompiling - choose more-other functions to be
precompiled

I think Tommy and Carlo are using this on all server loops...

[2020-04-30 15:53] fingolfin commented on #82
Just to say, @rfourquet did update the website. Also, the current Polymake.jl release contains a built-in workaround, so it doesn't need the instructions on our website anymore. Once Singular.jl also receives such a workaround (see issue https://github.com/oscar-system/Singular.jl/issues/229) then we can remove the instructions from our website again.

[2020-04-30 16:52] rfourquet commented on #82
Ok noted, I will follow that issue and update the website when this is fixed.

[2020-04-30 18:20] mohamed-barakat commented on #99
This issue can be closed.

[2020-05-04 13:19] rfourquet opened #100 "unify random generation across Oscar"
Having one RNG usable in all subsystems of Oscar would be useful.

Cf. discussion started at https://github.com/oscar-system/Oscar.jl/pull/84#issuecomment-621624338.
To quote the (current) last comment of it, from @fieker:

needs to be sorted, as, at least for debugging and development,
reproducibility is important, thus using >>1 independent sources of
random that are totally wild is difficult to

[2020-05-04 14:16] wbhart commented on #100
What does it mean, "unify random generation". This is like saying we should have one function for all number theory. We are embarrassing ourselves.

We (currently) have two RNG's in Flint (and a number of randomisation strategies built on top of them):

1) A pair of LCG's for very fast (but still high quality) pseudorandom generation (when appropriately combined as per Marsaglia). Two seeds are re

[2020-05-04 14:44] fieker commented on #100
On Mon, May 04, 2020 at 07:16:16AM -0700, wbhart wrote:

What I mean is that there need to be, in the end, in Oscar, ONE central
function to (re)set the RNG used everywherein Oscar. Otherwise, we can
never achieve reproducibility.

This is hard.

Of course. The bane of class group computation is the strategy (plus one
needs semi-decent randomness to start with)

This is probably functionally equiv

[2020-05-04 15:05] rfourquet commented on #100
This is not how I meant it, feel free to change the title to be more meaningful.

To build on the linked conversation, it means:
1. at the very least, it would be useful that if I do `Random.seed!(0)`, or e.g. `Oscar.rng_seed!(0)`, and use any `Oscar` function which uses randomness, then the result is reproducible.
2. Ideally, IMO, _all_ functions in `Oscar` which use an RNG would accept an option

[2020-05-04 15:41] wbhart commented on #100
To have reproducibility for the user, you would have to either

1) Have a function which sets all random generators to the same seed *every* time you run the tests, which will certainly get rid of your occasional failing tests, but which will also make random testing essentially useless.

2) Provide the user with all seeds of all generators used, including the very big ones.

I'm telling you now t

[2020-05-04 15:45] fieker commented on #100
On Mon, May 04, 2020 at 08:05:58AM -0700, Rafael Fourquet wrote:

no can do....
In general, you do not know where this is used
 - factoring, primality
 - creation of (large) finite fields
 - any function that does anything of the above
users cannot be expected to understand the call stack caused, its too complex
The best would be a oscar global variable...

[2020-05-04 15:52] wbhart commented on #100
Having said all that, I do vaguely recall there was some trick you could do with a sha digest of a portion of some known fixed pseudorandom sequence into which you could index to get some kind of reproducibility. I'm sure there are papers on it. That might allow us to solve the reproducibility issue if we can dig it up.

[2020-05-04 15:55] fieker commented on #100
On Mon, May 04, 2020 at 08:41:55AM -0700, wbhart wrote:

Nope, wgat you do is at the beginning of the test, print the seed, so I
can re-run the tests with the same seed

Yep - or, in Oscar, make it cascading:
one small seed for a small/ simple RNG, to produce a large seed for the
complicated one.

Well, other systems manage... however, we have a handicap that we
started divided

I suggest we stop

[2020-05-04 16:02] wbhart commented on #100
I just want to point out that just because a crytopgraphic RNG was used as a source of randomness, does not mean that an application is "secure". Here is a function which takes a single word of your cryptographically secure RNG to generate two words of randomness:

void rand_one_to_two(ulong * out1, ulong * out2, ulong crypto_rand_in)
{
   *out1 = crypto_rand_in;
   *out2 = crypto_rand_in ^ 3;
}

[2020-05-04 16:12] wbhart commented on #100
Sigh. What is the point of having an RNG with a large seed if the system seeds it with a small one!? There's a reason RNG's with a large seed use a large seed!

RNGs are like theorems in mathematics. You can't use proofs in contexts where you start with things that violate the assumptions on which those proofs are built. And if you can't prove anything, you shouldn't make any claims whatsoever abo

[2020-05-04 16:18] rfourquet commented on #100
Sure, I have enough crypto background to know that. My example was a bit extreme, the suggested idea was that with a crypto RNG, I'm (more) sure that I'm not using a bad PRNG that could be screwing my results.

[2020-05-04 16:25] wbhart commented on #100
@fieker Try to imagine a large supercomputer computation to collect statistics about a mathematical conjecture. Flint, by the way, uses two 64 bit seeds to generate 64 bit random numbers, because there are no known fast generators that are easy to implement which can do it with a single 64 bit seed. And that would not be suitable for such a supercomputer computation if you were serious about it. I

[2020-05-04 17:06] wbhart commented on #100
I think I remember how the sha digest thing works now. I think it only works if you have a single PRNG for a session. If you change PRNG in a session, or use multiple PRNG's I don't see how to make it work. (But I think the test code in bsdnt used a globally set PRNG, from a selection of possibilities.)

Before each test you print a sha digest of the internal state of the PRNG. This works for some

[2020-05-04 17:34] wbhart commented on #100
And you don't need to print the entire SHA digest. Just the first word is sufficient for test code.

Of course this is only useful if all functions use the globally set PRNG, which was fine for bsdnt, not so much for a system stitched together from multiple parts. Whether there is a trick for that, I simply do not know. I think not, as any of the PRNG's could have run for any number of iterations

[2020-05-04 17:45] fieker commented on #100
Apart from that we really shoudl postphone this discussion....

There are different problems:
 - I run your big statistical analysis, then my interaction with
   Flint/Nemo/... is through me directly calling a RNG. At this point, I
   know (or not) what I am doing, my problem
 - I need to factor a thousand polynomials for a test, or have an
   application that needs to factor many nmod_polys
   He

[2020-05-04 19:33] peteroupc commented on #100
I want to note several things:

**On reproducibility.**  Some applications, including tests, care about reproducibility.  However, if there are things outside the application's control, reproducibility is often not achievable.  Besides pseudorandom number generation, some things that affect reproducibility include:

- Floating-point numbers (as opposed to fixed-point numbers or integers).
- Undefi

[2020-05-08 14:28] fingolfin commented on #82
@mohamed-barakat I believe this is resolved?

[2020-05-08 14:28] #99 closed, assigned to nobody

[2020-05-08 14:59] mohamed-barakat commented on #82
Yes.

[2020-05-08 14:59] #82 closed, assigned to nobody

[2020-06-15 01:53] wbhart opened #104 "Oscar tests crash on Julia 1.4.2 on Ubuntu"
I am getting type inference and other crashes in Julia-1.4.2 when running the Oscar tests.

[code]

[2020-06-17 02:16] fingolfin commented on #104
I can also reproduce this on macOS. (BTW note that these actually don't seem to be crashes, Julia keeps running). Here is another error I am seeing; note that both errors are inside Polymake tests:
[code]

I thought that it might be related to https://github.com/oscar-system/Polymake.jl/pull/293 but in a quick test, switching to Polymake.jl master doesn't seem to help (but I might have screwed up)

[2020-06-17 02:25] fingolfin opened #108 "Groups: G-sets"
In order to properly support thing like `stabilizer`, `orbit`, `orbit_stabilizer`, `all_blocks`, `maximal_blocks`, `isregular`, `istransitive` etc. for arbitrary group actions (see also [Chapter 41 "Group Actions](https://www.gap-system.org/Manuals/doc/ref/chap41.html) in the GAP reference manual). To this end, I suggest introduce an abstraction somewhat similar to [Magma's G-sets](https://magma.m

[2020-06-19 11:08] benlorenz commented on #104
I don't think this is related to the Polymake Integer issue, but more some type inference bug in julia, maybe similar to https://github.com/JuliaLang/julia/issues/23786. Maybe stemming from Hecke or Nemo types?

It can be triggered in the REPL with the following. And it triggers before any actual code is run, a `@show` in the first line of `norm_equation_fac_elem` will print after the error.
[code

[2020-06-19 11:29] fingolfin commented on #104
Thanks Benjamin. I guess we ought  to report this to the Julia devs then, and simultaneously see if we can find a workaround

[2020-06-19 11:45] benlorenz commented on #104
Adding `,abs=false` might help for the tests. But this warning does not fail the tests anyway.

The other error seems to come from GAP.

[2020-06-19 11:56] fieker commented on #104
On Fri, Jun 19, 2020 at 04:09:00AM -0700, Benjamin Lorenz wrote:

it's the mixture.

Hecke "alone" is fine:
In Oscar
Hecke.build()
is fine
Oscar.build()
the errors.

Indeed, some type seems to be too complex.

[2020-06-19 11:56] fingolfin commented on #104
Which one is "The other error" that points at GAP?

[2020-06-19 12:05] benlorenz commented on #104
In the log in the first post:
[code]

[2020-06-19 12:14] fingolfin commented on #104
Ah OK. Yeah that should already be resolved on master (but I'll check once I am back at my computer and fix it if it is still there)

[2020-06-19 13:43] rfourquet commented on #104
Just to confirm that I can reproduce this [internal error](https://github.com/oscar-system/Oscar.jl/issues/104#issuecomment-646577624) on a 2-weeks old Julia's master branch, but not on today's master. I will compile the Julia-1.5 branch (that with backports) to see if the fix was backported already.

[2020-06-19 13:44] fingolfin opened #109 "Migrate all Oscar related Julia packages to use JLLs"
This brings several advantages.
- it is the way forward from the Julia community
- as such, we benefit from work others put into building standard libraries like [GMP](https://github.com/JuliaBinaryWrappers/GMP_jll.jl), [readline](https://github.com/JuliaBinaryWrappers/Readline_jll.jl), [MPFR](https://github.com/JuliaBinaryWrappers/MPFR_jll.jl), etc., and others benefit from the work we invest int

[2020-06-19 14:12] fingolfin commented on #104
@rfourquet I get the same issue with Julia 1.5.0-beta1 but indeed it works for me with the current Julia `master`.
We could try to `git bisect` from here.

[2020-06-19 14:16] rfourquet commented on #104
And I get the same issue with the `backports-release-1.5` branch. I will try now to find the commit which fixes it and ask whether this can be backported.

[2020-06-19 14:45] #104 closed, assigned to nobody

[2020-06-19 16:38] fingolfin commented on #104
This is fixed on master by https://github.com/JuliaLang/julia/commit/cb41bbbce7938bd716d24fc82094c6eb87beb26c from https://github.com/JuliaLang/julia/pull/36200 (CC @rfourquet )

[2020-06-24 10:19] fingolfin commented on #104
Submit to Julia issue tracker as https://github.com/JuliaLang/julia/issues/36407

[2020-06-24 14:22] fingolfin opened #118 "Questions and concerns regarding type GroupCoset"
Right now, there is a single type `GroupCoset` which is used to both represent right cosets (the "native" GAP way) and left cosets. I have some concerns and questions about that:

1. [x] given a `GroupCoset` there seems to be no good way to find out whether it is left or right; best I can do is directly access its `side` field, it seems better to have test methods like `isleftcoset` / `isrightcose

[2020-06-24 15:40] GDeFranceschi commented on #118
To see whether a coset `C` it is left or right, it is sufficient to display it: if it's left, it is displayed as `xH`, otherwise as `Hx`. At machine level, the structure `coset` has the field `side` to that says whether the coset is left or right. If we want a function like `isrightcoset`, it should be easy to write it. Would it apply only to objects of type `Coset`, or to generic subsets of a gro

[2020-06-24 15:46] thofma commented on #118
I would suggest `isleft/isright` instead `isleftcoset/isrightcoset`.

[2020-06-25 10:32] fingolfin commented on #118
@thofma could you elaborate as to why you think this is better? (honest question, I am not disagreeing, just wondering)

BTW, I note that we already have `isbicoset`, which can apply to either left or right cosets. But this is not something I'd encode in a type or so; just wanted to mention it for completness

[2020-06-25 10:33] fingolfin commented on #118
@GDeFranceschi wrote:

Yes, but that doesn't help me if I need to write code that has to distinguish the two, and doesn't allow for method dispatch either!

[2020-06-25 11:07] thofma commented on #118
For the same reason we don't have `isoddnumber` and `isevennumber` or `factor_polynomial` and `factor_number`. It is kind of redundant and unnecessary in a language with method overloading/multiple dispatch.  Here there is no need to put argument types into function names. Similar to an object oriented language, where one would probably prefer `C.isleft()` or `C.isright()`.

It also prevents duckt

[2020-06-26 16:14] GDeFranceschi commented on #118
Where do I document it? Just on the manual, or also on the docstring in the src file?

[2020-07-02 07:39] fingolfin opened #120 "Groups: for conjugacy, have a function which only tests conjugacy, and one which tests conjugacy and returns a conjugator"
See here https://github.com/oscar-system/Oscar.jl/pull/114/files#r444881452 and here https://github.com/oscar-system/Oscar.jl/pull/114/files#r446875954

[2020-07-02 07:40] fingolfin opened #121 "Groups: the trivial group should be considered as a p-group"
so let's change `ispgroup` and the documentation accordingly.
See https://github.com/oscar-system/Oscar.jl/pull/114/files#r444883669

[2020-07-02 08:00] fieker opened #122 "Missing Functions"
Consider f in R = QQ(x)[y], then
 - factor(f) does not work
 - quo(R, f) does not work, ResidueRing does
 - for elems in the quotient, charpoly, minpoly does not work (via rep-mat?)

Just to note this down somewhere, possibly to be done in AA, or partially in Nemo

[2020-07-03 14:35] fingolfin commented on #118
@GDeFranceschi in the docstrings, and then make sure the docstrings are included in the manual

[2020-07-08 13:40] fingolfin opened #123 "Document mpoly stuff"
It would be nice if the MPoly code written by @fieker was hooked up in the Oscar.jl manual

[2020-07-08 13:40] fingolfin commented on #123
at least I don't see anything about it on https://oscar-system.github.io/Oscar.jl/dev/ not even things like `eliminate` for which there are already docstrings

[2020-07-08 13:41] fingolfin commented on #123
More broadly I also wonder what would be a good way to point to the documentation for all the stuff we import from Hecke...

[2020-07-09 07:39] fieker commented on #123
On Wed, Jul 08, 2020 at 06:40:24AM -0700, Max Horn wrote:

I fully agree....

[2020-07-09 07:40] fieker commented on #123
On Wed, Jul 08, 2020 at 06:41:54AM -0700, Max Horn wrote:

THis are deficiencies in the Julia doc-system... I think it is difficult
to fully "include" foreign stuff, but maybe that is s.th. for Rafael to
look into (as th elocal Julia Guru?)

Of course, even Hecke could have more documentation...

[2020-07-10 08:08] fingolfin commented on #123
@rfourquet do you have any idea whether/how one can include the manual of one package into another? Julia itself seems to do something like that for some of their "standard" packages? Or is that done via copy&paste?

[2020-07-10 09:25] thofma commented on #123
I don't see where julia does this. And I don't think this is possible by default in Documenter.jl. They just include a ton of markdown files https://github.com/JuliaLang/julia/blob/master/doc/make.jl as usual.

Also, what is "the" manual of a package? Just the html files?

[2020-07-11 17:27] fingolfin opened #128 "Add facilities to streamline GAP wrappers for GAP properties/attributes; reduce overhead"
We have a lot of GAP wrapper functions that looks like this:
[code]
or this:
[code]
They all follow roughly this pattern:
1. test some preconditions
2. call a GAP function via `GAP.Globals.FOOBAR`
3. possibly convert or wrap the output

But both GAP functions called above are GAP attributes (the first one is a special case, a GAP property, which is an attribute that can only take on the values tru

[2020-07-12 21:59] fingolfin opened #129 "Cache `symmetric_group(n)`?"
Perhaps we ought to cache the output of `symmetric_group(n)` somehow, seeing as we call it so often. Alternatively, perhaps we can avoid creating it in more cases, resp. make its creation lazy (so we only create it if the user really requests the parent explicitly)

[2020-07-13 10:59] rfourquet commented on #123
I don't think it's possible, but am no expert (I asked on Julia's slack few days ago but got no answer).

[2020-07-27 15:38] fingolfin commented on #118
Note that GAP doesn't really use RightCoset much, nor does it implement much functionality. So, I think we should perhaps consider not using it in our coset type. Instead, we can simply directly wrap a pair of a GAPGroup and a GAPGroupElem. I.e. something like this (pseudo code):
[code]

[2020-07-28 16:06] ThomasBreuer opened #136 "matrix groups not necessarily over finite fields"
Currently `MatrixGroup` claims to cover only subgroups of the groups `GL(n,q)`, that is, matrix groups over finite fields.
This means that we cannot create for example a matrix group over the Integers, the Rationals, or a number field.

Are there already ideas to implement other matrix groups than subgroups of `GL(n,q)`?

We can write down matrices on the Julia side, with type `fmpq_mat` or `Abstr

[2020-07-28 16:59] fingolfin commented on #136
From my perspective, `MatrixGroup` is a pure placeholder right now, basically nothing has been done for it. Ultimately groups over arbitrary fields and indeed eventually arbitrary (commutative) rings should be supported. The problem there is that support for these in GAP is also rather underdeveloped.

I guess you, @GDeFranceschi and me (and possibly others) should at some point (soon) have a chat

[2020-07-29 01:09] wbhart opened #137 "Oscar fails to precompile on Ubuntu"
I had a previous unsuccessful build of Oscar due to g++ being missing on my machine. So I removed Oscar (Pkg.rm) then the following happened:

[code]

GCC is version 9.3.0
Ubuntu is 20.04 LTS (the standard on Windows Subsystem for Linux)
CMake is 3.16.3
Julia is 1.3.1

[2020-07-29 08:17] thofma commented on #137
Looks very familiar to https://github.com/oscar-system/Polymake.jl/issues/251, which was fixed in https://github.com/oscar-system/Polymake.jl/pull/252 and which is has been part of Polymake.jl since version v0.3.3. The latest OSCAR version (v0.4) requires Polymake.jl >= v0.4, but for some reason for you the package manager is adding OSCAR v0.2. You should probably free Nemo and do an `update` to g

[2020-07-30 18:19] wbhart commented on #137
I know this is probably a stupid question, but why does using a later version of Nemo mean an earlier version of Oscar. I had Nemo dev'd for a talk I was going to give (about Oscar/Nemo/AbstractAlgebra).

[The talk didn't happen, for this and other personal reasons.]

[2020-07-30 18:21] thofma commented on #137
Can you try a `resolve` or `update`?

[2020-07-30 18:32] wbhart commented on #137
I think we should remove the broken Oscar release. It's embarrassing that it's the one that gets picked in situations like this.

[2020-07-30 18:36] wbhart commented on #137
No change with resolve or update. I don't think it is a dependency issue. It's not the Julia package system complaining, it's the precompiler.

[2020-07-30 19:16] thofma commented on #137
What do you mean? I told you that you have an old Oscar.jl/Polymake.jl pulled in because your dev'ed Nemo version is holding back an update. The issue is https://github.com/oscar-system/Polymake.jl/issues/251 and has been fixed in https://github.com/oscar-system/Polymake.jl/pull/252.

Try `free Nemo` and `update`.

PS: One cannot delete releases.

[2020-07-30 19:21] #137 closed, assigned to nobody

[2020-07-30 19:30] wbhart commented on #137
Can't we use semver somehow to add a new release on that branch of the release tree that doesn't have any valid compatible versions of Polymake.jl or something, so that at least you get a message from the package system instead of the precompiler when this happens?

[2020-07-30 19:39] thofma commented on #137
But then the package manager won't pick this version, because he tries to resolve these kind of issues (that we are trying to introduce artificially).

Not sure how important it is though. I don't think a new user will ever see them, nor someone who has not dev'ed some package. The premise of the package manager is that if you dev stuff, you are on your own :-/

[2020-07-30 19:45] wbhart commented on #137
The whole intention of it would be to stop it picking the broken release. I don't mind if it tries to resolve the issue (it should fail to do so). It's just that it would have given me a hint as to what was wrong, instead of making me think that Oscar was currently broken.

[2020-07-30 20:02] thofma commented on #137
How can the resolver fail to find incompatible versions? If we add versions that are incompatible on purpose, he will return any combination of versions that are compatible, which would probably be the one that you encountered in your setup.

[2020-07-30 20:28] wbhart commented on #137
Yeah, so that wouldn't work then.

Well, I don't know how to fix it. It's really annoying that we can't dev our packages independently.

For now I've just removed Oscar, as I need to dev Nemo.

[2020-07-30 20:52] wbhart commented on #137
We've probably discussed this before, sorry if that's the case, but I don't remember.

Would the following work:

Every time we do a release of a package X, say version 18.7, immediately change the version in master to 18.8-dev.

Then all packages Y that can have package X 18.7 as a dependency would just need an upper bound of 18.8 *non-inclusive* for package X in [compat], and we could then dev p

[2020-07-31 07:32] thofma commented on #137
I am not sure I understand. If your local `X` is dev'ed and at `18.8-dev` and `Y` has an upper bound of `18.8` non-inclusive, then the package manager will throw a conflict. The version of `X` is fixed (to `18.8-dev` and since it is dev'ed) and there does not exist a version of `Y` which allows such a version of `X` in its compat section.

(I think the original problem that you posted is related t

[2020-07-31 10:29] GDeFranceschi commented on #136
I sketched a piece of code in the file `src/Groups/julia_GAP.jl` (I think the only branch where this file is located is `GDeFranceschi/Oscar.jl/GAPGroups`), where there are functions converting GAP fields and matrices into AbstractAlgebra fields and matrices, and allows to evaluate GAP group functions in AbstractAlgebra matrices. But, at the moment, it works only with finite fields.

[2020-07-31 10:47] wbhart commented on #137
Isn't 18.8-dev < 18.8 ?

If not, then I guess I mean 18.7-dev. But I find it odd that a dev version would come after an official release.

[2020-07-31 10:52] thofma commented on #137
Ah yes sorry, you are right. But then I dont see the difference between keeping the version in the master branch of `X` at  `18.7` (which we are doing at the moment) and changing it to `18.8-dev`. Both are compatible with exactly the same versions of `Y`?

[2020-07-31 11:13] wbhart commented on #137
Well then I don't understand why I had the problem I did. Why would the only version of Polymake which supports the most recent version of Nemo be an old, broken one and not a recent one?

I dev'd Nemo just a few hours before I tried to build Oscar. I can still see it in the traceback in my console!

[2020-07-31 11:23] thofma commented on #137
Not sure why it happened. What is the output of `Pkg.status()`?

[2020-07-31 11:27] wbhart commented on #137
[code]

Of course I have temporarily removed Oscar, since it didn't work anyway.

[2020-07-31 11:28] wbhart commented on #137
Nemo tells me:

[code]

[2020-07-31 11:29] wbhart commented on #137
And it is a fresh install of Ubuntu 20.04. The only other thing I have on the system (apart from latex and so on) is a flint2 directory, where I've been maintaining Flint.

[2020-07-31 11:29] thofma commented on #137
Weird. Can you try `free Nemo` and `free AbstractAlgebra`, followed by `add Oscar`? The freeing should not touch `dev` directories, but restores it to a stable version.

[2020-07-31 11:31] wbhart commented on #137
I'll try it later today and let you know. Right now I am working on some AbstractAlgebra code before the meeting today.

[2020-07-31 12:07] fingolfin commented on #137
I've had several weird issues with Pkg, and frankly, I think it's not our fault, I blame Pkg. Like, that when you do `add Oscar`, if it decides to not install the latest version, IMHO it should print a big warning: "Warning, installing Oscar.jl 0.2.0 instead of the latest version 0.4.0 because REASON". (see also https://github.com/JuliaLang/Pkg.jl/issues/1655, which I submitted in February; look a

[2020-07-31 12:15] ThomasBreuer commented on #136
@GDeFranceschi thanks for the hint.
I think in general we cannot assume a context-free  translation between two algebraic structures (ring, field, ...) on the Julia/Hecke/AA side and on the GAP side.
For example, finite prime fields on the Julia side can be represented by `Nemo.NmodRing`,`Nemo.GaloisField`, or `Nemo.FqNmodFiniteField`.
Conversely, an element in a field extension in GAP that is cre

[2020-07-31 19:47] wbhart commented on #137
@thofma Sorry I didn't get to this today. I got distracted by other work related stuff and didn't even finish my sqrt implementation.

I will get back to it on Monday. I will still do the Flint release though, as I now have approval from @tthsqe12 and @fredrik-johansson

[2020-08-01 04:54] ThomasBreuer opened #139 "make some Singular functions accessible for Oscar objects"
The functions `Singular.substitute_variable`, `Singular.MaximalIdeal`, `Singular.satstd`, and `Singular.permute_variables` have no counterparts for wrapped Oscar objects, see the comments in oscar-system/GITFans/issues/8.
(I am not sure whether an issue for Singular.jl is the right place for this request, but I have been advised to open one.)

[2020-08-01 08:14] thofma commented on #137
No worries, it is not urgent.

[2020-08-01 11:36] wbhart commented on #137
@fingolfin I agree that Pkg is flaky, but this is entirely repeatable. Either there is a bug in Pkg which we should report, or there is a bug in the way we are using semver.

I have AbstractAlgebra and Nemo dev'd on a fresh install of Julia 1.3.1 on a fresh install of Ubuntu 20.04.

It's not causing any major problem for me personally at the moment, as I do not currently have any need of Oscar whi

[2020-08-01 11:40] thofma commented on #137
Can you do a `add Polymake@0.4.0` or something like that? Or `pin Polymake@0.4.0`.

[2020-08-01 11:41] thofma commented on #137
Ah, the problem is `BinaryProvider`. Polymake wants >=0.5.3, where as we pinned it to [0.4 - 0.5) in Nemo (not sure if we still need this).

[2020-08-01 11:43] thofma commented on #137
Can you change in the Nemo Project.toml the BinaryProvider version to ^0.5.3 and try again?

[2020-08-01 11:48] wbhart commented on #137
That's one of a number of problems. The reason it picks Polymake 0.3.0 is that in the latest Nemo we want LoadFlint 0.2.1. The last version of Polymake that did not demand a version 0.1 of LoadFlint or a specific Nemo was 0.3.0.

So currently, this must be a problem for everyone, not just me.

[2020-08-01 11:54] thofma commented on #137
Polymake master branch is on LoadFlint ^0.2.1. We could ask them for a new tag. @benlorenz @kalmarek (if you are not the right people to ping, sorry!)

[2020-08-01 11:57] wbhart commented on #137
I think the issue is we are using Julia semver incorrectly. Note from the Pkg manual:

[code]

NOT

[code]

as one might expect. However:

[code]

NOT

[code]

[2020-08-01 12:00] thofma commented on #137
Yes, I think we used `^0.2.3` because we thought it means `[0.2.3, 0.3.0)` (we consider `0.3` breaking). Where are we not using it in this way?

[2020-08-01 12:01] wbhart commented on #137
The reason for this is that version 0.x.y is considered an initial development release, not a public release. Anything MAY change at any time. 1.0.0 is the first public release after which the normal rules apply.

[2020-08-01 12:02] thofma commented on #137
Anything? I don't think so. Increasing just the patch number is considered non-breaking, e.g., 0.2.1 is not allowed to brake stuff that worked with 0.2.0.

Where are we using it incorrectly?

[2020-08-01 12:04] wbhart commented on #137
Well, we may have intended it, but it means we have to use versioning differently if we want to keep things in sync for development purposes.

Anyhow, let's just fix the issue and we can monitor our versioning more carefully going forward now that we are aware of it.

[2020-08-01 12:06] wbhart commented on #137
Yes, anything. From semver:

[code]

[2020-08-01 12:06] thofma commented on #137
When you say we have to use versioning differently, can you point to a place where it needs to be fixed? Nemo/AA/Hecke follow the principle that 0.x.y -> 0.x.y+1 is not breaking. All the breaking stuff happens in 0.x.y -> 0.x+1.0.

[2020-08-01 12:06] kalmarek commented on #137
@thofma @wbhart what version should `LoadFlint` point to?

btw. my best experience is to use julia environments for development; trying to `dev` anything in global one (i.e. `v1.3`) is asking for trouble. you can start by `dev Nemo` (which clones it to `~/.julia/dev`; you can just symlink your local dev copy), then `free Nemo` to have the released version in `1.3`; If you need to devel, just `juli

[2020-08-01 12:07] thofma commented on #137
That latest released version of Polymake points to LoadFlint ^0.1, but your master (and Nemo for a while) point to ^0.2.1.

[2020-08-01 12:09] wbhart commented on #137
Yes, ^0.2.1 will work (until we switch to 0.3.0). They all need to be updated in sync until we reach 1.0.0. Only then are minor versions considered backwards compatible.

[2020-08-01 12:11] wbhart commented on #137
As for Nemo, we should update BinaryProvider I guess, if we still need it at all (I don't know its relation to these jll thingys).

[2020-08-01 12:14] wbhart commented on #137
@thofma You are right that Julia considers the patch increment to be backwards compatible. I don't know why semver words its rules the way it does in comparison.

[2020-08-01 12:17] thofma commented on #137
It is not super clear. They cite semver.org in the documentation, but clearly don't follow it for 0.x.y. I will bump the BinaryProvider version together with the flint version bump. I am currently working on it.

[2020-08-01 12:18] wbhart commented on #139
I am not sure either @ThomasBreuer

How can Singular.jl fix stuff missing in Oscar.jl?

[2020-08-01 12:19] thofma commented on #137
Sorry julia people, it is at the top at https://julialang.github.io/Pkg.jl/v1/compatibility/#compat-pre-1.0-1

[2020-08-01 12:20] wbhart commented on #139
Unless perhaps they mean an export is missing here? However, I am not up to speed on what "Oscarification" actually involves.

[2020-08-01 12:22] fingolfin commented on #139
My suggestion yesterday was (at least in my mind, I may not have said it explicitly, sorry) to submit this as an Oscar.jl issue. I'll transfer this issue there.

[2020-08-01 12:22] wbhart commented on #137
Ah, that explains it @thofma

So now we are up to speed on this incredible convoluted set of rules. :-)

[2020-08-01 12:38] wbhart commented on #137
By the way, I notice that loadflint is not in Singular.jl's compat. I don't know if that is or isn't a good thing. But if you can let me know, I can report it there if necessary.

[2020-08-01 13:06] thofma commented on #137
Probably at some time once Singular switches over to use flint only and they need some fix that Dan added/fixed recently. But I am not sure.

P.S.: We have BinaryProvider 0.5, which is, ^0.5, which should be compatible with whatever Polymake.jl wants.

[2020-08-01 13:09] wbhart commented on #137
@thofma Yes, it is. So no problem there.

[2020-08-05 11:33] fingolfin opened #140 "Meta: hook up CI into Slack for more of our projects?"
Right now, the results of the Travis CI tests for GAP.jl are reported in a special channel on the oscar-system Slack. I find this quite useful because it allows me to quickly see if the build starts failing there for some reason. In addition, the tests there are run periodically every 24 hours, so I also quickly see when Julia nightly starts to cause issues.

Perhaps we can do the same for more of

[2020-08-20 16:57] wbhart opened #146 "Behaviour of div/divrem in Oscar"
As a consequence of https://github.com/Nemocas/Nemo.jl/pull/868 I offered to make the changes that would be necessary to support necessary changes to div/divrem that were made in Nemo in all our packages (except Hecke, which Tommy will deal with).

Unfortunately, as Oscar imports the Nemo behaviour, the current Oscar tests will break. Therefore a decision must be made as to what behaviour Oscar wa

[2020-09-01 09:46] kalmarek opened #151 "installing Oscar is broken"
[code]
@thofma you owned the missing repo, what happened to it?

[2020-09-01 11:52] thofma commented on #151
Sorry, my bad. Should be working now.

[2020-09-01 11:52] #151 closed, assigned to nobody

[2020-09-01 15:34] thofma opened #152 "New Oscar release todo"
It would be great to have a new release of Oscar, where all packages use the artifacts. It also solves the C++ incompability issues people had when install Polymake/Singular. Let's track what needs to be done:

- [x] Recent Gap.jl not working on julia 1.3 https://github.com/oscar-system/GAP.jl/issues/509.
- [x] Singular.jl needs a new release (need to solve/discuss https://github.com/oscar-system/

[2020-09-04 05:55] fieker commented on #139
added to the issue in GitFan - all the functionality is there, but of course not in Singular names. Maybe not optimally wrapped or implemented, but all there

[2020-09-04 06:09] #97 closed, assigned to nobody

[2020-09-04 06:12] fieker commented on #1
localisations of Z, K[x] and (maximal) orders of numberfields are availabe though Hecke

[2020-09-05 03:27] a-kulkarn commented on #1
Cool! How does it work?

[2020-09-07 09:03] fieker commented on #1
On Fri, Sep 04, 2020 at 08:28:09PM -0700, a-kulkarn wrote:

I have no idea. I clicked on random things and wasn't even sure it saved
those....

[2020-09-10 09:33] tthsqe12 opened #159 "Documentation for updating the cornerstones"
I would like to document the process for updating Singular.jl, but I do not know where to put such a thing. The process is at the end of the message, and I hope @thofma can fix any mistakes. This took five days to get one line of code into the official Singular.jl, so I hope there is another method that developers can use in real time.

------------------------------------------------------------

[2020-09-11 12:38] ThomasBreuer opened #160 "inside Oscar, GAP's Browse package cannot be loaded"
Currently I have problems to get a running version of Oscar.
Earlier this week I had a similar problem when I tried to update my installation, but removing my `~/.julia` directory and then reinstalling everything from scratch worked.
Now even this brute force approach does not help.

This is what I tried, first for installing the released version.
Remove `~/.julia`, call Julia 1.4, enter `using Pk

[2020-09-11 12:51] thofma commented on #160
The first error is the usual https://github.com/oscar-system/Singular.jl/issues/257, which is fixed in the latest version of Singular. But since then there has not been a new Oscar release.

[2020-09-11 13:47] fieker commented on #160
On Fri, Sep 11, 2020 at 05:52:00AM -0700, thofma wrote:

Classical solution: find the c++ library in the julia folder - and
remove it or mark it a-rx
This solved teh problem repeatedly....

[2020-09-15 16:13] ThomasBreuer commented on #160
Update:
The mentioned error with Oscar-dev (`Error opening terminal: xterm-256color.`) happens in the call `initscr()` in the initialization of GAP's Browse package.
This package is by default not compiled, this explains why others did not observe the problem.

On the other hand, I did not run into this problem before last week.
Moreover, the problem does not occur when I load just GAP.jl, so what

[2020-09-15 17:04] mohamed-barakat commented on #160
I should have suspected a connection to `Browse` earlier. I ran into the same problem when I started compiling `Browse` for the `HomalgProject` and therefore discarded it. Sorry for missing it.

[2020-09-17 15:21] fingolfin opened #161 "GAP groups: bring GAP groups and Hecke.jl groups (`GrpAbFinGen`) together (e.g. providing homomorphisms, aligning names)"

[2020-09-17 15:23] fingolfin opened #162 "GAP groups: homomorphisms should follow the conventions set by AbstractAlgebra"
... as discussed on <https://nemocas.github.io/AbstractAlgebra.jl/latest/map/>. Also see the following sections of the AA manual.

[2020-09-17 15:28] fingolfin commented on #159
Thank you for this. I'd like to have similar instructions for Polymake.jl and eventually GAP.jl, too. Where best to put them? Perhaps in a `README.maintainer.md` or `etc/README.md` file in the relevant package?

[2020-09-23 12:54] #152 closed, assigned to nobody

[2020-09-25 08:38] ThomasBreuer commented on #139
Thanks for the hints. This is not an Oscar issue.

[2020-09-25 08:38] #139 closed, assigned to nobody

[2020-09-25 09:13] shikil opened #163 "Group: issubgroup convention"
Is it better that `issubgroup(H, G)` follow `issubset(a, b)` convention a ⊆ b?
https://github.com/oscar-system/Oscar.jl/blob/57984b34e34c5b6b9c919e113befd51b7ab2a10e/src/Groups/sub.jl#L67

[2020-09-25 09:17] fieker commented on #163
On Fri, Sep 25, 2020 at 02:14:00AM -0700, shikil wrote:

Yep - and the same is "wrong" for submodules...

[2020-09-25 10:15] fingolfin commented on #163
That's a very important point, thanks for brining it up. The origin of this clash is that we are combining different systems here with different conventions; groups are implemented via GAP, which has the convention (simplified in a nutshell) that function arguments are ordered in "decreasing size"; so the parent group comes first, subgroups next, then elements, etc.

This clashes with the Julia co

[2020-09-25 10:38] thofma commented on #163
The julia convention is that infix operators `op` translate `a op b` to `op(a, b)`. This applies here, since
[code]
This rule seems pretty simple to me.

[2020-09-25 12:12] fingolfin commented on #163
Yes, GAP has the same rule, e.g. for \in and \< (`isless`), which leads to some somewhat awkward exceptions to the general rule, but overall it's still OK.

So, sure, this case is covered. It's all the remaining cases that I worry about. In GAP this is no big problem, as GAP has no corresponding operator for issubset and issubgroup, and hence can easily fall back to its general rule of "sort from

[2020-10-02 13:26] benlorenz commented on #160
Please try switching GAP.jl to the Yggdrasil binaries for Ncurses, my rather dated `ncursesBuilder` used slightly different configuration options for the directory layout in the terminfo directory (ascii values instead of letters, I think because of `--disable-mixed-case`).

[2020-10-02 16:05] fingolfin commented on #160
Yeah, things are close to being ready for me resuming work on https://github.com/oscar-system/GAP.jl/pull/421 which switches GAP.jl to using JLLs. There were various issues in the past couple months preventing this, but I think now I can take care of those (ideally by switching to a GAP_jll, but one relevant PR for that was only merged into Julia today, so I'll have to see what I can do).

Will ma

[2020-10-23 15:37] ThomasBreuer commented on #160
Just for the record, in order not to forget it:
After `using Oscar` and calling `GAP.prompt()`, line editing in the GAP session does not work.
Probably this problem will disappear when GAP_jll is available.

[2020-11-11 21:46] iliailmer opened #187 "Installation Fails"
Hi, I am running Julia 1.5.2 on a server with CentOS 7.8.2003 and I encounter the following error when calling

[code]
[code]

Are there any additional requirements for this package? the top line of the error suggests a `libform.so` is missing but how do i install it?
Let me know if any additional info is needed about the setup.

[2020-11-11 22:01] benlorenz commented on #187
That library `libform.so` should have been installed automatically by julia (as a part of `Ncurses_jll`). Can you please check (and post) the contents of the folder `.julia/artifacts/b801935f313061d64e28d8a28c39cdc24f139920/lib`?
[code]

If the lib folder or some of the files are missing you can just remove the `b801935f313061d64e28d8a28c39cdc24f139920` folder to allow julia to repopulate it.

To

[2020-11-11 22:51] iliailmer commented on #187
The folder `b801935f313061d64e28d8a28c39cdc24f13992` did not have `lib` in it, after deleting and running `using Oscar` again i get the following after downloading artifact Singular.

[code]

[2020-11-12 12:46] benlorenz commented on #187
That it is trying to load `/usr/bin/../lib64/libstdc++.so.6` looks like a system-installation of julia built with a very old gcc version < 5 (CXXABI_1.3.9 corresponds to gcc 5). This is probably not compatible with all the cxxwrap based libraries which were compiled with gcc >= 7 (because they need C++17). Is this correct or can you provide more details about the julia installation?

Can you try t

[2020-11-12 15:16] iliailmer commented on #187
Yes, i think that indeed might be the issue: the gcc on the server is `gcc version 4.8.5 20150623 (Red Hat 4.8.5-39) (GCC)`.

[2020-11-12 17:41] iliailmer commented on #187
By running `scl enable devtoolset-7 bash` I now get
[code]
I still get an error, this time about a different library:
[code]

[2020-11-13 08:33] benlorenz commented on #187
This seems like another case of missing files in the artifact, can you try to remove that folder `fb7466b3165ef3deac1c49217c089680c699d016` and let julia download polymake_jll it again?

Have you previously used Oscar or Polymake and not used it for a while or triggered the Pkg.jl garbage collection (`]gc`) in between?
This might be related to an issue with Pkg.jl not being able to delete some art

[2020-11-19 12:46] delphinepol opened #188 "Factoring polynomials over finite fields does not work."
I ran the the following example and Oscar crashed:
[code]

[2020-11-20 11:38] fingolfin commented on #188
I can reproduce this. It is another case where we run into Singular code that is not yet working w/o FLINT. But it really shouldn't be crashing.

This is really a bug in Singular.jl resp. Singular;

@hannes14 @tthsqe12 . Even when the factorization doesn't work, it shouldn't crash like this, can we do at least something about it? Perhaps this would already be better with the latest Singular `spiel

[2020-11-20 12:51] hannes14 commented on #188
Factoring over algebraic extensions of Z/p does not work without NTL, even with the new Flint.
I chnaged libsingular, so that now (after printing an error message) a valid result is return:
f is factored into (f^1)

[2020-11-20 13:31] tthsqe12 commented on #188
I am calling the state of flint mpoly factor after https://github.com/wbhart/flint2/pull/852 useable, and am working as fast as I can to get a few more issues sorted out for a release.

[2020-11-20 14:07] fingolfin commented on #188
@hannes14 is there a way we can instead get the function to return an error code indicating that factoring failed, and then we turn that into an exception on the Julia side?

[2020-11-20 14:47] hannes14 commented on #188
There is a global flag in libSingular (error_reported) which is set in an error case.

[2020-11-21 01:41] iliailmer commented on #187
Hi, the issue has not been resolved on the server in question due to server-side problems. It is not related to the package build plus it runs on my other machines no problem, I will close the issue if that's okay.

[2020-11-21 01:41] #187 closed, assigned to nobody

[2020-11-22 14:00] iliailmer commented on #92
Hi, so is there a way to disable showing the banner by default when using Oscar as a dependency in a project? In out code, we have not just Oscar but all of its dependecies showing banners as well. It would be nice to have unified way to disable the display by default (i.e. an `ENV` value).

[2020-11-25 08:08] fingolfin commented on #188
@hannes14 so whenever we made any call into libSingular, we then need to check `error_reported` ? This sounds like a major change to Singular.jl and/or libsingular_julia_jll is required, where we change every single call into Singular to check that status of `error_reported` -- that sounds like a major headache?

I also wonder: in which situations is it useful for factorize to return an incorrect

[2020-11-25 10:22] hannes14 commented on #188
The factorizing Groebner algorthm needs for examaple such factorization.
In Singular this "fake" result is not used because the interpeter checks always error_repoted.

Error reporting in Singular works as follows: if an error occurs WerrorS is called: which sets error_reported
(checked an reset by the interpreter) and calls the function pointer WerrorS_callback with astring (the error message).
B

[2020-11-27 11:24] fingolfin opened #193 "Updating FLINT_jll (and other JLLs) across all OSCAR packages"
Yesterday I updated FLINT_jll to a snapshot of the latest git version, calling it 2.6.999 (and also update Singular_jll to use that new FLINT_jll; the motiviation for all that is to get lots of fixes and improvements made to polynomial factorization). Unfortunately this broken Nemo. @thofma quickly resolved this by getting the two new JLLs yanked from the registry.
Anyway, I am sorry for the annoy

[2020-11-27 19:07] thofma commented on #193
I am okay with this. Note that for the second step, the more important thing is that we need to hardcode the FLINT_jll versions also for all previously released versions of Nemo (and the other packages where this is relevant). Thus we have to do some shenanigans in the registry.

[2020-11-27 19:24] fingolfin commented on #193
What if we call the next FLINT_jll 3.0.0 ? Then the old Nemo etc version won't pick them up, will they? Then we don't these shenanigans

[2020-11-27 19:55] thofma commented on #193
I think everything >= 2.7.0 should be fine.

[2020-11-29 11:53] fingolfin commented on #193
Perhaps, but the 2.7.x snapshot may not be ABI compatible with the final 2.7.0 release; then we'll have to call that at least 2.8.x etc. -- might be best to move to completely different versions. Perhaps 100.0.0 would be even better, as both 2.7 and 3.0 could be misunderstood as to actually referring to the FLINT version when they really do not.

[2020-11-29 12:29] thofma commented on #193
Yes, I guess we don't anticipate a proper version 100.0.0 of flint.

[2020-11-29 12:35] fingolfin commented on #92
If Oscar is a dependency of something else, then I agree that *at most* it should show its banner, but not the dependencies. That this is not currently the case is a bug!

Here's what e.g. `GAP.jl` does:
[code]
The use of the (undocumented) `Base.package_locks` is likely the core of the problem. But that code isn't by me, so I don't know right now how to fix it. Perhaps @fieker has an idea.

Note

[2020-11-29 12:38] thofma commented on #92
We don't have it in Hecke yet, but after talking to @fieker,
we decided to add it soon.

[2020-11-29 12:39] fingolfin commented on #92
I meant Nemo.jl, not Hecke.jl, my bad.

[2020-11-29 22:05] iliailmer commented on #92
@fingolfin I put this line at the top of my module like so:

[code]
and it still prints the banner. Is it such placement correct?

[2020-11-29 22:15] mohamed-barakat commented on #92
It is too late. The banner is printed before this line is reached.

[2020-11-29 22:16] mohamed-barakat commented on #92
If it is only about your use, you can add the following line to `.julia/config/startup.jl`:
[code]

[2020-11-30 10:06] thofma commented on #193
Another option would be to release a FLINT_dev_jll or something like that, with whatever version number scheme we want. This is probably the option with the least amount of work.

[2020-11-30 11:30] thofma commented on #193
@tthsqe12 said that he is not anticipating any binary breakages between now and 2.7. If we believe in this, we could do now a 2.7.0+0 and bump it to 2.7.0+1 as soon as there is an official release.

[2020-11-30 11:59] benlorenz commented on #193
Testing Polymake.jl with FLINT 2.6.999 (dev'ing the jll repo) seems to work fine without any rebuild (at least on my machine), probably because we don't use that much internals from flint.
Polymake.jl has `~2.6.2` as compat bound for FLINT_jll (all releases since the switch to JLLs have this entry) so we can just update it to allow 2.7 as well.

I prefer to use `~` instead of `=` as it allows some

[2020-11-30 13:31] fingolfin commented on #193
I like the 200.600.300 etc scheme proposed by @benlorenz

[2020-11-30 14:53] thofma commented on #193
Fine with me. Do we stay on the *00 scheme if 2.7.0 is released? Will it be 2.7.0 or 200.700.000?

[2020-12-01 10:29] tthsqe12 commented on #193
A scan of the 2.7 issues
https://github.com/wbhart/flint2/issues?q=is%3Aopen+is%3Aissue+milestone%3Aflint-2.7
reveals the only issue necessitating binary incompatibilities:
https://github.com/wbhart/flint2/issues/777

However, no one is using nmod_mat_scalar_mul_add (soon to be  nmod_mat_scalar_addmul).

[2020-12-02 15:09] fieker opened #195 "SLPolyRing not a ring?"
julia> S = slpoly_ring(QQ, 2)
SLP Multivariate Polynomial Ring in x_1, x_2 over Rational Field

julia> St, t = PolynomialRing(S)
ERROR: MethodError: no method matching elem_type(::Type{Oscar.StraightLinePrograms.SLPolyRing{fmpq,FlintRationalField}})

actually it is a bit more complicated, but this is the summary. Key problem is that typeing of SLPoly(Ring) is different from all other rings.  Thus

[2020-12-02 15:10] fieker opened #196 "SLPoly (in Oscar) does not print"
julia> S = slpoly_ring(QQ, 2)
SLP Multivariate Polynomial Ring in x_1, x_2 over Rational Field

julia> gens(S)
2-element Array{Oscar.StraightLinePrograms.SLPoly{fmpq,Oscar.StraightLinePrograms.SLPolyRing{fmpq,FlintRationalField}},1}:
 Error showing value of type Array{Oscar.StraightLinePrograms.SLPoly{fmpq,Oscar.StraightLinePrograms.SLPolyRing{fmpq,FlintRationalField}},1}:
ERROR: MethodError: no m

[2020-12-02 18:07] rfourquet commented on #195
Yes, I didn't put much effort into making `SLPolyRing` a proper ring. I was planning to put this functionality out of `StraightLinePrograms` and into `Oscar/src/Rings/`, this issue is a good opportunity to do so.

[2020-12-02 18:34] rfourquet commented on #196
I think that's because AA defines `show` with three arguments, whereas SLP defines only the two arg version. And the REPL choses the 3-arg version if available... I don't think we should define `length` for `SLPoly` (it would practically mean converting to an `MPoly`), so I will just define the 3-arg `show` method.

[2020-12-07 02:27] tthsqe12 commented on #196
May I suggest that you implement expressify for your slps? Just build the expr and AA figures out the ()...
When thomfa and I were investigating the show function, we found that different show functions are called depending on the context.

[2020-12-07 09:36] fingolfin commented on #193
@thofma @tthsqe12 @benlorenz I've updated the "plan" in the issue description based on our discussion. Does it look OK?

Then we could immediately start implementing it.

[2020-12-07 10:30] benlorenz commented on #193
`^200.600.300` would in fact allow `200.690.000` since it allows up to `201.0.0`. I think in most places we should stick to tilde instead of caret unless we know that minor version updates are binary-compatible.

I think we could create a new FLINT_jll `>=3.0` right away as all downstream packages do have some (indirect) restriction in place:
- Polymake.jl: `~2.6.2`
- Nemo.jl: `~2.6.3`
- LoadFlint

[2020-12-07 10:43] thofma commented on #193
Looks OK to me.

[2020-12-07 10:56] fingolfin commented on #193
@benlorenz the plan indeed is to only use ~ and not ^

[2020-12-07 11:05] benlorenz commented on #193
I was referring to this which is probably a typo:

I am fine with the current plan.

[2020-12-07 11:06] fingolfin commented on #193
Yes that's a stupid typo, fixed now, thanks for reading carefully!

[2020-12-07 18:47] rfourquet commented on #196
Good idea, I will do!

[2020-12-07 20:36] fingolfin commented on #98
I think a major part of this is due to CxxWrap. I think @rfourquet looked a bit into this with help of profiling tools, but I can't find this anymore. @rfourquet can you provide the details, or alternatively try to reproduce them. I have a suspicions that method invalidations might be part of the problem (CxxWrap is injecting lots stuff at runtime and completely bypasses precompilation this way).

[2020-12-08 11:38] rfourquet commented on #98
What I did is follow the [SnoopCompile doc](https://timholy.github.io/SnoopCompile.jl/stable/snoopi/) and add precompile statements for `Singular.jl`, even including precompile for some other packages found by SnoopCompile, but never saw any meaningful improvement in loading time. Unfortunately, I don't remember whether I tried including precompile statements for `CxxWrap`. Also, I tried the same

[2020-12-08 12:03] fingolfin commented on #98
Did you try any of the usual profiling tools (be it for Julia, or external), to find out a bit more where it spends time? Is there a way to figure out whether method invalidation (as I suspect) could be the culprit? Would be great to know a bit more, to decide if it would be worthwhile to talk to @barche about this and/or the Julia team?

[2020-12-08 12:16] thofma commented on #98
Investigating method invalidations is described here: https://julialang.org/blog/2020/08/invalidations/#tools_for_analyzing_and_fixing_invalidations
Did you try this?

[2020-12-08 13:56] rfourquet commented on #98
I tried the julia profiler but didn't get insight from it on this problem (doesn't mean no insight can be had, I just lack experience). And I didn't look more closely to possible specific invalidations which might be helped with (yet). I just did the automatic stuff shown in SnoopCompile docs.

[2020-12-09 00:58] fingolfin opened #202 "Improve conversion between GAP larger integers and fmpz"
Currently, converting between GAP larger integers and `fmpz` is done via an intermediate conversion to `BigInt`. That is wasteful, and we should implement a direct conversion.

In the latest Nemo.jl master branch, there is a helper `_as_bigint` is defined to "view" a non-small `fmpz` as a bigint:
[code]

In Oscar.jl we could use it to provide efficient conversion from fmpz to GAP larger integers b

[2020-12-09 02:34] fingolfin commented on #202
Since `_as_bigint` is not yet n a Nemo release (I ought to be in 0.18.5, though) we could also just replicate it:
[code]
Some timings for that:
[code]

The conversion from GAP to fmpz actually is more complicated, because a GAP large integer does *not* have the same memory layout as a GMP integer. I submitted PR https://github.com/Nemocas/Nemo.jl/pull/922 to add an interface to Nemo.jl to make thi

[2020-12-09 12:35] #195 closed, assigned to nobody

[2020-12-10 10:41] rfourquet commented on #196
This can be closed.

[2020-12-10 10:43] #196 closed, assigned to nobody

[2020-12-11 13:41] fingolfin commented on #202
https://github.com/Nemocas/Nemo.jl/pull/922 was merged so this ought to be in Nemo 0.18.5 -- once that's released, we can add suitable conversion functions to Oscar.jl.

Actually, I think I'll migrate this issue to Oscar.jl now.

[2020-12-11 23:17] fingolfin commented on #160
I am closing this in favor of https://github.com/oscar-system/GAP.jl/issues/553 (even though this issue here is technically older)

[2020-12-13 21:50] barche commented on #98
I think this original timing for CxxWrap still contains a performance bug, on Julia 1.6 I now get 0.9 s for 'using CxxWrap`. (1.2 s on Julia 1.5).

[2020-12-15 09:49] #160 closed, assigned to nobody

[2020-12-16 20:59] ssiccha opened #205 "Polymake and Singular don't compile when installing Oscar v0.2.0"
I'm on Ubuntu 20.04.1 LTS. When I do `]add Oscar` from within Julia (1.5.3) I get
[code]

[2020-12-16 21:18] ssiccha commented on #205
For polymake I'm now installing apt packages as [on the polymake installation page](https://polymake.org/doku.php/install/install#dependency_lists_for_common_distros). Let's see whether that does the trick.

[2020-12-16 22:03] ssiccha commented on #205
I installed the Polymake dependencies. Now, doing `build Polymake` still fails with the same error. However, if I remove Oscar and add Polymake manually julia installs `Polymake v0.5.3` which builds fine.

[2020-12-16 22:51] ssiccha commented on #205
Doing `add Oscar#master` on the other hand installs fine.

[2020-12-16 23:21] ssiccha opened #206 "SLPs: no method matching `gens(::Type{SLProgram}, ::Int64)`"
I'm trying to try Oscar's StraightLinePrograms, specifically the examples in `StraightLinePrograms/README.md`.

Instead of `using StraightLinePrograms`, which errors with `ERROR: ArgumentError: Package StraightLinePrograms not found in current path:`, I use `using Oscar.StraightLinePrograms`. However then the first example from the readme yields:
[code]

[2020-12-16 23:24] ssiccha commented on #206
Nvm, I just figured out that I have to do `Oscar.StraightLinePrograms.gens(SLProgram, 3)`. I guess it's time to read a bit of the julia manual. :)

[2020-12-17 00:23] fingolfin commented on #205
We do not use system  packages, so installing polymake via apt can't have an effect.

the real question is why such an ancient version of Oscar gets installed: 0.5.0 is current, not 0.2.0. Perhaps you have some other Julia packages installed in the same project environment that constrain it?

aha, like maybe GAP.jl 0.5.0! That one will be supported in the next OSCAR release -- which is currently d

[2020-12-17 07:17] fieker commented on #206
On Wed, Dec 16, 2020 at 03:25:04PM -0800, Sergio Siccha wrote:

No, actually it is an error - it should be gens. This means gens is not
imported from Oscar/AA before defining it

[2020-12-17 07:25] fingolfin commented on #206
Wait, shouldn't it be gen, not gens? The groups code has a bug (?) where it defines gens instead of gen; Giovanni's BIG PR has a fix for that, which I will now put into a separate small PR

[2020-12-17 07:33] fieker commented on #206
On Wed, Dec 16, 2020 at 11:25:45PM -0800, Max Horn wrote:

There might be several bugs:
 gens should be available globally, in this case possibly returning n
   generators
 gen should also be available.

[2020-12-17 07:47] ssiccha commented on #206
In that case, I'm reopening this issue.

[2020-12-17 07:53] rfourquet commented on #206
The README is completely outdated, basically `StraightLinePrograms` is undocumented, and is currently used in `Oscar` just for implementing `SLPoly`. I initially used the `gens` function because I had `SLPoly` in mind, but a better name might be `StraightLinePrograms.inputs` (there is already an `input` function there), as in "inputs of a program", and an `SLProgram` is not an algebraic structure

[2020-12-17 09:20] ssiccha commented on #206
@rfourquet Do you have plans to use `StraightLinePrograms` also for other things in the future?

I work on the [gap-packages/recog](https://github.com/gap-packages/recog) repository and for that I'm looking into replacing the GAP SLPs with SLPs implemented in Julia. I'll try out your code and see how it goes.

[2020-12-17 10:00] fingolfin opened #208 "CI test failure: no method matching (::FlintRationalField)(::Singular.n_Q)"
As is visible on https://github.com/oscar-system/Oscar.jl/actions?query=workflow%3A%22Run+tests%22+branch%3Amaster the  tests started failing between commits c46b63ee59bf4d2a61e9a80cd4f384c296fb480b and 27a505a67047814d098b2fc8d3f1a518c93f959d with this error:
[code]

@fieker you pushed that code, I hope you have a fix.

May I suggest this is another example why it might be helpful to do these thi

[2020-12-17 10:11] fieker commented on #208
On Thu, Dec 17, 2020 at 02:01:09AM -0800, Max Horn wrote:

While I am sorry - this is actually even worse: the function was added
("moved") into Singular.jl, hence removed from Oscar.
as part of
403d4c6c70a065516eff082d10bc14b51de65135
I can add it back into Oscar, but then we're having duplicate symbols.
This is part of the upwards testing problem and the release cycle

[2020-12-17 10:18] fingolfin commented on #208
https://github.com/oscar-system/Singular.jl/commit/403d4c6c70a065516eff082d10bc14b51de65135 ? OK, I don't see the relation, but it doesn't matter, really, as long as the core issue is: this needs a new Singular.jl.

Well, then we should just release a new Singular.jl today? While it won't have the new FLINT and Singular yet, I think there is no blocker for doing so?

And it would be a good thing a

[2020-12-17 10:20] fieker commented on #208
On Thu, Dec 17, 2020 at 02:18:24AM -0800, Max Horn wrote:

I send the wrong sha,
 3d29c3a1bbe116864941067bd7382dfbaf158847
introduced this
  commit 3d29c3a1bbe116864941067bd7382dfbaf158847
  Author: ....
  Date:   Thu Oct 22 12:26:56 2020 +0200

      fix #86, more conversions from/to n_Q

[2020-12-17 10:25] wbhart commented on #208
In case it is relevant, I intend to make the current rc final for the Flint release tomorrow morning. I realise this is tight timing, for which I apologise, but the unexpected CMake issue took us nearly a week to sort out.

[2020-12-17 12:45] ssiccha commented on #205
Ok, that sorts that then. I'm closing this. Thanks. :)

[2020-12-17 12:45] #205 closed, assigned to nobody

[2020-12-17 14:52] raulepure opened #211 "Error in factoring polynomials over QQ"
I wanted to factor the following polynomial:

[code]

and obtained this error:
[code]

[2020-12-17 15:00] thofma commented on #211
Apparently I cannot transfer this to Hecke.

@tthsqe12 is this related to your recent findings?

[2020-12-17 15:03] thofma commented on #211
Sorry, I got confused. It is not.

[2020-12-17 15:09] tthsqe12 commented on #211
This is an easy one of my bugs that I found earlier - calling coeff(f,1) instead of lead(f) to get the leading coefficient.
The problem is I have lots of changes to the Hecke code and am trying to get part of it in AA.
As soon as we sort out AbstractAlgebra, Nemo, and Hecke, this should work :)

[2020-12-17 15:15] tthsqe12 commented on #211
@raulepure If you have hecke dev'd, you can change this line
https://github.com/thofma/Hecke.jl/blob/master/src/Misc/MPolyFactor.jl#L154
to `lc = lead(a)`.
But, very soon:
- `factor(::fmpq_mpoly)` will be done by Nemo
- The generic code will be moved out of hecke/misc and into AA, with special code for number fields in hecke.

[2020-12-18 09:41] fingolfin commented on #208
This has been resolved by the release of Singular.jl 0.4.2

[2020-12-18 09:41] #208 closed, assigned to fieker

[2020-12-18 12:21] fingolfin opened #213 "is_dev tests are not run in CI"
Probably should carefully check the code which computes is_dev. While at it, I think we can simplify the part which determines the version of Oscar and make it work the same in old and new Julia versions (not sure if we can do the same for the git_revision, though, but IMHO it's sensible for us to change the version in Project.toml to 0.5.0-dev anyway).

I'll try to dig out the code for this (I us

[2020-12-18 12:30] fingolfin commented on #213
This should work:
[code]
With that, I get in a dev'ed version of Oscar.jl:
[code]

[2020-12-19 07:56] rfourquet commented on #206
I have a couple ideas but nothing very serious at this point.

I implemented them in StraightLinePrograms to help design the core `SLProgram` type, but haven't tested them in real applications. Let me know how it goes, and don't hesitate to ask me questions about the `StraightLinePrograms` code. Also @ThomasBreuer had looked into it and might be interested too in this project.

[2020-12-21 13:50] tthsqe12 commented on #202
I see you are using fmpz_set_ui_array. I think fmpz_get_ui_array is rather unsafe and not very useful for conversion out of fmpz. What are you using to convert from fmpz?

[2020-12-21 13:57] wbhart commented on #202
There has been a proposal for some years to introduce a version of our fmpz format in Flint which matches the format GAP uses for its large integers. This is really a lot of work and won't happen soon. But I wanted to mention that there has been an intention for some time to make this seamless. Of course I have no objection to a stop gap in the mean time. This is just FYI.

[2020-12-23 01:36] fingolfin commented on #202
@tthsqe12 I'd consider *all* uses of `ccall` potentially dangerous; but I fail to see what makes `fmpz_set_ui_array` particularly unsafe here? IMHO the way it is used in that new constructor / this conversion code is *precisely* what it is made for?

To convert in the other direction, i.e. from an fmpz to a GAP large integer,  the plan is to use `_as_bigint` resp. something like `GC.@preserve x ju

[2020-12-23 01:38] fingolfin commented on #109
This is mostly done. There is still more we can do, in particular, GAP.jl still compiles GAP *packages* (I plan to work on that). But the overall goal has been reached.

[2020-12-23 01:38] #109 closed, assigned to nobody

[2020-12-23 02:47] tthsqe12 commented on #202
So, fmpz_set_ui_array is a perfectly good function and can be used to safely construct a large fmpz. But, fmpz_get_ui_array, which has slipped under my radar, makes an assumption and the code is currently unsafe if the assumption is broken. However, it can easily be made safe in a later version.
The large fmpz -> mpz view -> gap format sounds good (with the current implementation of fmpz's).

[2020-12-23 09:41] fingolfin commented on #202
@tthsqe12 sorry, I misread you there. I have no intentions to use `fmpz_get_ui_array`. Out of curiosity, could you give a hint about what unsafe assumption it makes?

[2020-12-23 10:58] wbhart commented on #202
@fingolfin I'm talking about having Flint use the GC so that you can seamlessly pass fmpz objects.

[2020-12-23 11:13] fingolfin commented on #202
@wbhart ah yeah, OK. I had some discussions about this with @fieker, too, and whether and how we can use the APIs we added for the sake of GAP.jl to Julia. I do think it's possible, but of course it'll require some work. E.g. one needs to add GC marking functions to FLINT (that's not hard, just tedious).

[2020-12-23 11:30] tthsqe12 commented on #202
It is a buffer overflow. This assert would need to be changed into real code
https://github.com/wbhart/flint2/blob/trunk/fmpz/get_ui_array.c#L32
But, I agree that is not the function I would use to convert out of fmpz in the general case.

[2020-12-23 11:43] thofma commented on #188
This is a problem in Nemo. We are missing some things.

[2020-12-23 20:17] fingolfin commented on #128
After some discussion on the Julia Slack, I learned about the `@generated` macro which together with work I've begun on "merging" the types `GapObj` and `MPtr` (see https://github.com/oscar-system/GAP.jl/issues/591) allows for an efficient solution:
[code]
Bonus points if someone can produce a macro that makes it easier to do the above. Something which can be used like this:
[code]
... and which t

[2020-12-30 00:56] fingolfin commented on #128
The following is a working implementation of a macro as described above; I'll integrate this into Oscar (or GAP.jl?) later (don't want to generate too many conflicts with @GDeFranceschi work for now).
[code]

[2021-01-04 10:42] benlorenz commented on #193
So, we just need a new release for Singular.jl now and afterwards release Oscar.jl with the required compat updates?

[2021-01-06 15:27] GDeFranceschi opened #221 "Vector spaces complement."
Can a `complement` function be added to Vector Space functionalities? It's a function that computes the complement vector subspace in `V` of a given subspace `W`. The following code is an example of how it could be: it computes `U` such that `U` and `W` are orthogonal with respect to the usual scalar product.

[2021-01-06 16:35] fingolfin commented on #221
"The" complement does not exist / is not well-defined. And over finite fields or non-real fields, the standard scalar product in general is isotropic and so cannot be used to produce complements in general...

what do you really want to achieve ?

[2021-01-06 16:40] thofma commented on #221
I think returning any complement would be already a useful function.

[2021-01-06 16:47] GDeFranceschi commented on #221
I need just "any" complement. On finite fields the condition of "orthogonality" is not required. If it creates confusion, it can be just deleted.

[2021-01-06 17:06] fingolfin commented on #221
I agree any complement can be useful; it's easy to read one off from a rref basis, too; still would be useful to know what you need it for?

[2021-01-07 10:28] GDeFranceschi commented on #221
Yeah, I can delete the comment. I need it for the change of basis algorithm for bilinear forms. I have no problem in placing that function in the same file .jl with isometries stuff. I opened the issue just to ask if it would be better to put that function in the same file with other pre-existing vector space functionalities and avoid to have, in future, vector space functionalities scattered thro

[2021-01-07 10:38] thofma commented on #221
I would add your function as `_complement` in Oscar right now so that you can move on. Once we have it here we can just replace it.

[2021-01-07 12:39] delphinepol opened #223 "divexact for decorated polynomials"
When trying to take a fraction with decorated polynomials, it seems to run into a loop because of divexact:
[code]

[2021-01-07 14:53] #223 closed, assigned to nobody

[2021-01-07 14:53] fieker commented on #223
On Thu, Jan 07, 2021 at 04:39:16AM -0800, delphinepol wrote:
Fixed - i.e Tommy fixed it.
You'll need to update Oscar...at your own peril...

[2021-01-07 14:54] fieker commented on #223
On Thu, Jan 07, 2021 at 04:39:16AM -0800, delphinepol wrote:
Sorry - fixed in Oscar#master only

[2021-01-07 23:27] fingolfin commented on #193
All done now! And "just" 6 weeks after this issue was opened *sigh*.

[2021-01-07 23:27] #193 closed, assigned to nobody

[2021-01-08 00:53] #202 closed, assigned to nobody

[2021-01-08 14:38] delphinepol opened #226 "Fraction with decorated polynomials"
When trying to define a fraction with decorated polynomials, it throws an error:

[code]

[2021-01-12 00:53] fingolfin opened #229 "Ideals in Z"
For teaching (and simple test), ideals in Z would be nice to have. I guess something like `ideal(ring, gens)` would be the default patterns, so `ideal(ZZ, [ ZZ(7) ])`; and perhaps as a special case, also allow producing principal ideals via `ideal(ring, gen)` (so `ideal(ZZ, ZZ(7))`) or even `gen*ring` (so `7*ZZ`) ?

And then have some basic features: intersection, sums, containment test, subset te

[2021-01-12 09:15] thofma commented on #229
Agreed, this is a good idea. I actually needed a few times, but never found the time to implement it.

[2021-01-12 14:50] #213 closed, assigned to nobody

[2021-01-15 14:38] thofma opened #232 "Hanging tests (currently disabled)"
In a recent PR #214 we had to disable the following tests to get everything passing:
https://github.com/oscar-system/Oscar.jl/blob/b13dcebcac8fcfb824a21e191a2d38e499b0cbab/test/Examples/ModStdQt-test.jl#L10-L13
It seemed that the calls were hanging forever. Not sure if something got much slower or some other bug was introduced. I am just opening this issue so that this won't get lost. @fieker

[2021-01-15 14:55] fingolfin opened #234 "Make a new release, soon"
As @thofma suggested, we should have a new Oscar.jl release soon. Perhaps let's go over PRs and issues one more time? Also perhaps we first want/need a newer Singular.jl? (or perhaps that's independent from each other?)

[2021-01-15 15:52] fingolfin opened #235 "Better feedback when users try to use our packages under Windows"
Several of course packages do not work under Windows (resp. only when run in WSL). We should detect when a user attempts to load it under Windows anyway, and print an error in a suitable place (during precompilation and/or in `__init__`). Something like this:

This should be done for the following packages (ideally using more or less the same code):
- [x] Oscar.jl
- [x] GAP.jl
- [x] Singular.jl
-

[2021-01-15 15:59] thofma commented on #235
What about duing it during `]add ..` by customizing `build.jl`?

[2021-01-16 00:33] fingolfin commented on #235
I am somewhat worried that build is only executed once and then not again, even if it failed; so users can quite easily miss it. Hence I would suggest to also print such a message during loading

[2021-01-17 18:49] mahrud opened #237 "Failed to precompile with Julia 1.6.0-beta1"
Sorry if this is already known, but @wbhart said "try it out already and complain if it doesn't install on your machine," so:

[code]

Note that I had already tried this once, minutes before, and most of it seemed to build fine, until this point:
[code]

[2021-01-17 18:58] mahrud commented on #237
More details:
[code]

[2021-01-17 19:06] mahrud commented on #237
Ahh, installing the fedora package `libnsl` seems to have resolved it. I already had `libnsl.so.2` from `libnsl2`, but `libperl.so` required `libnsl.so.1`.

Might be worth noting the following warnings:
[code]

I'll close this issue, since the problem seems to be with `perl_jll`, not Oscar.

[2021-01-17 19:06] #237 closed, assigned to nobody

[2021-01-22 16:15] delphinepol opened #241 "Coercion of elements in function fields"
When I try to convert an element from a polynomial ring to a function field, it does not work:

[code]

[2021-01-22 16:53] thofma commented on #241
I will have a look.

[2021-01-22 16:53] wbhart commented on #241
From the looks of the error, the function "one" is missing for the new MPolyQuo type, or has the wrong type signature.

[2021-01-22 16:59] wbhart commented on #241
Ignore me. I assumed MPolyQuo was an AbstractAlgebra type. It's not, so the problem could be anything. I'll leave this one to @thofma to track down.

[2021-01-25 09:51] #241 closed, assigned to nobody

[2021-01-26 10:05] #226 closed, assigned to nobody

[2021-01-28 11:12] fieker opened #248 "conversion broken"

[2021-01-28 11:13] #248 closed, assigned to nobody

[2021-01-29 09:14] fieker opened #250 "Eval for SLPoly wrong"
julia> S = slpoly_ring(QQ, 2)
SLP Multivariate Polynomial Ring in x_1, x_2 over Rational Field

julia> f = S(1)
1

julia> typeof(f)
SLPoly{fmpq,SLPolyRing{fmpq,FlintRationalField}}

julia> evaluate(f, gens(S))
1

julia> typeof(ans)
fmpq

It needs to be ab SLPoly again

[2021-01-29 09:19] fieker opened #251 "slpoly_ring"
is there a specific reason that slpoly_ring is not returning the generators? Based on all the other poly rings, I'd expect slpoly_ring to always return the ring and, as a second argument, gens(S)

whether this convention is good or bad is a different question...

[2021-01-29 14:16] fieker opened #253 "evaluate SLPoly"
julia> S = slpoly_ring(ZZ, 1)
julia> f = gen(S, 1)
julia> Zx, x = PolynomialRing(ZZ)
julia> f = evaluate(f, [x(f)])
julia> evaluate(f, [f])
ERROR: MethodError: Cannot `convert` an object of type fmpz to an object of type SLPoly{fmpz,SLPolyRing{fmpz,FlintIntegerRing}}
Closest candidates are:
....

There is a problem with coercion...

[2021-01-29 16:24] fieker commented on #251
resolved: that is in GaloisGroup.jl

[2021-01-29 16:24] #251 closed, assigned to nobody

[2021-02-03 10:34] fieker opened #260 "wrong type?"
Have starting group with id 59
ERROR: InexactError: Int64(1124000727777607680000)
Stacktrace:
 [1] Type at ./gmp.jl:360 [inlined]
 [2] convert(::Type{Int64}, ::BigInt) at ./number.jl:7
 [3] length(::PermGroup) at /home/fieker/.julia/dev/Oscar/src/Groups/GAPGroups.jl:254
 [4] galois_group(::AnticNumberField, ::Int64) at /home/fieker/.julia/dev/Oscar/experimental/GaloisGrp/GaloisGrp.jl:856
 [5] galo

[2021-02-03 11:05] fieker commented on #260
slight update: we have length(G) -> Int and order(G) -> fmpz
length is intended(?) for iterators

that is unfortunate, but what is the plan here?

[2021-02-03 11:20] thofma commented on #260
I guess you can use `order` in GaloisGrp.jl for the moment.

We could change `length` to return a `BigInt`. Would make looping over `1:length(G)` quite a bit slower, but I am not sure this pattern is actually used in practice.

[2021-02-03 11:23] fieker commented on #260
On Wed, Feb 03, 2021 at 03:21:10AM -0800, thofma wrote:

The problem is that we're going to hit this over and over again: people
wil be using length as it gived the correct size.
I don't know if this is fixable while wanting to iterate directly over a
group...

[2021-02-03 11:27] thofma commented on #260
I think `length` is not involved when calling `iterate`. If you call `collect`, it will call `length`, but julia does not care if it is a `BigInt`. It will try to cast to `Int` anyway.

Here is an example where `length` returns a `BigInt` by default:
[code]

The only problem could arise if we allow linear indexing into groups (which we don't at the moment). I doubt we will allow this in the future

[2021-02-03 11:30] fieker commented on #260
On Wed, Feb 03, 2021 at 03:27:49AM -0800, thofma wrote:

Great, then we should change it to fmpz.
If we ever allow linear indexing, then we will write a getindex with
fmpz...

[2021-02-03 11:38] fingolfin commented on #260
Several remarks:
- order is supposed to return an fmpz by default; this still needs to be corrected in the code, though
- Also order is supposed to let you specify alternate return types via the optional return type
- I'd prefer if there was no length method for groups at all, by defining IteratorSize suitably
- Indexed access ("enumeration") to groups makes no sense in general

[2021-02-03 11:49] fieker commented on #260
On Wed, Feb 03, 2021 at 03:39:06AM -0800, Max Horn wrote:

fine

fine

don't think is possible...

but for certain groups it is ... (abelian groups)

[2021-02-03 14:27] fingolfin commented on #260
According to the documentation, it should be. I'll see what happens.

It is *possible*, sure, even for arbitrary groups (as long as you have an iterator, you can of course turn that into a very inefficient enumerator).

But is it *sensible*? What definition would you use for abelian groups? And, most importantly, what is the application?

[2021-02-03 16:50] fingolfin opened #262 "ferret.so: undefined symbol: _ZNSt7__cxx1119basic_ostringstreamIcSt11char_traitsIcESaIcEEC1Ev"
... happens in some of our CI tests, namely for Julia 1.4 and 1.5 on Linux (but not for 1.6, nor on macOS), as @fieker and @GDeFranceschi pointed out to me.

I did not yet have time to investigate, but I strongly suspect that this is another instance of https://github.com/oscar-system/GAP.jl/issues/553

That is: we compile ferret (a GAP package) on the user's system (here: the CI servers), using t

[2021-02-03 20:31] benlorenz commented on #262
That symbol is exactly the same as https://github.com/oscar-system/Polymake.jl/issues/251, so you might be able to fix it by replacing all `std::ostringstream oss;` by `std::ostringstream oss("");`. Only the empty constructor needs `GLIBCXX_3.4.26` when built with a new `libstdc++` version (gcc >= 9).
(not really a fix but a workaround that is already in use in `libpolymake_julia` and in `libcxxwr

[2021-02-04 09:18] fieker commented on #260
OK, you can tell julia that this iterator is length free. At this point I am not argueing for or against, as I don't have any application. However, if we ever have one, we can go back and allow it... in This case...

[2021-02-04 09:24] thofma commented on #260
What is the advantage of not defining length? Those who want to use it will be annoyed and those who don't want to use don't care anyway.

[2021-02-04 14:31] delphinepol opened #263 "ideal in quotient ring"
I can't define an ideal in a quotient ring, and I guess that the basic ideal operations are missing, like ":"
[code]

[2021-02-04 14:37] fieker commented on #263
On Thu, Feb 04, 2021 at 06:31:43AM -0800, delphinepol wrote:

Yep, Ideals there are not present at all... its clear what needs to be
done, but....
foer ideals in R itself, "most" of the "normal" operations are there...

[2021-02-04 14:40] delphinepol opened #264 "fraction in quotient ring"
I don't manage to define a fraction in a quotient ring, it is looking for a gcd which does not exist, and would anyway probably not make sense for general quotient rings. Is there a way to not require the fractions to be reduced, to avoid this problem ?
[code]

[2021-02-04 14:43] delphinepol commented on #263
For the normal ideals I saw the operations, but I would need them in the quotient ring to be able to continue with my divisors...

[2021-02-04 14:47] thofma commented on #264
The answer is unfortunately no. The fraction field construction that is currently implemented assumes that the ring is a GCD domain and there is no way to disable it. Not sure what the way forward is here.

[2021-02-04 14:50] thofma commented on #263
What is your definition of `:`?

[2021-02-04 14:52] delphinepol commented on #263
It's the colon ideal.

[2021-02-04 14:58] delphinepol commented on #264
OK, then I will see how to avoid it in my code for the divisors.

[2021-02-04 15:22] fieker commented on #264
On Thu, Feb 04, 2021 at 06:41:01AM -0800, delphinepol wrote:

What exactly are you trying to do?
in Q, defined your way, we have division and inversion (at least in the
current dev), so the generic fractions should not be neccessary at
all

[2021-02-04 16:34] delphinepol commented on #264
I wanted to define the divisor associated to an element of the fraction field of the coordinate ring of the curve.

[2021-02-04 17:16] fieker commented on #264
My point is that there are other ways to get the field, the quo ring should
be good enough

On Thu, 4 Feb 2021, 17:34 delphinepol, <notifications@github.com> wrote:

[2021-02-04 18:11] thofma commented on #234
We have a new Singular. Can we make a new release? Or should we sort out #262 first?

[2021-02-04 21:16] ThomasBreuer commented on #262
As far as I understand the situation, the error comes from the call `GAP.Packages.load("ferret", install = true)` in `Oscar.jl/experimental/GaloisGrp/GaloisGrp.jl`. In this call, we leave the installation/compilation to a GAP function (`InstallPackage`), hence the proposed workaround is not applicable.

(I cannot reproduce the problem with Julia 1.5 on my Linux notebook, perhaps this machine has a

[2021-02-05 07:42] thofma commented on #262
Why is it not applicable? Is it not possible to apply the patch of @benlorenz upstream, that is, directly in the ferret package?

[2021-02-05 07:45] fieker commented on #262
On Thu, Feb 04, 2021 at 01:16:34PM -0800, ThomasBreuer wrote:

See

https://github.com/oscar-system/Oscar.jl/issues/262

[2021-02-05 08:08] fingolfin commented on #262
We can ask the ferret author to apply the patch and make a release and hope that helps.

But it is otherwise difficult to apply the patch, as we invoke the GAP package manager to install ferret; to patch the ferret source, we'd first have to patch (hack) that package manager to allow us to insert code at the point we need.

Not impossible of course, but tricky and fragile.

Proper solution still w

[2021-02-05 08:31] delphinepol commented on #264
What do you mean exactly ? In which sense should the quo ring should be enough ?

[2021-02-05 08:37] fieker commented on #264
On Fri, Feb 05, 2021 at 12:31:40AM -0800, delphinepol wrote:

Sorry - probably not. However, Q(x)[y]/f would be a model for your
fractions?

[2021-02-05 09:22] delphinepol commented on #264
It would indeed be a model for the fractions for the affine plane curve. I would need to think if it would work for the projective plane curves... For the moment I might keep the fractions in the ambient space to keep it simple, passing as an argument for the function the curve and the fraction.

[2021-02-05 09:54] fieker commented on #264
On Fri, Feb 05, 2021 at 01:22:53AM -0800, delphinepol wrote:

I'd guess that this is isomorphic to the FractionField that cannot be
computed? If no, then what element is missing?

[2021-02-05 10:04] delphinepol commented on #264
Yes, from the mathematical point of vue it's isomorphic, but it is making it more complicated to use for the moment, I would need to think about it and play around a little to see.

[2021-02-05 10:12] fingolfin commented on #262
I am going to submit a PR for ferret and ask @ChrisJefferson whether he can make a fresh release

[2021-02-05 10:16] benlorenz commented on #262
Maybe someone (who can reproduce the issue) can try that workaround locally first? There might be other symbols with the same issue as well...

[2021-02-05 10:43] fingolfin commented on #262
Indeed. I can reproduce it on an Ubuntu 20.04 box, and verified that <https://github.com/gap-packages/ferret/pull/40> resolves the issue there.

[2021-02-07 04:17] tthsqe12 commented on #264
Haha. I just recently ran into this issue in AA. Math is hard. The main prom is that AA's fraction field requires a gcd, while the abstract definition of a fraction field does not. The theoretical obstacle is that the ring F[x,y,z...]/ideal may not be a gcd domain and may not even be a domain. We could make the gcd here always return 1 or 0 to make AA happy, but this not useful and very questionab

[2021-02-08 16:36] #250 closed, assigned to nobody

[2021-02-08 16:36] #253 closed, assigned to nobody

[2021-02-09 12:37] thofma commented on #234
Would be good if we could get this done for the meeting next week.

[2021-02-09 20:37] thofma commented on #262
I just rerun CI here: https://github.com/oscar-system/Oscar.jl/pull/265/checks?check_run_id=1846286217

"#I  Retrieving PackageInfo.g from https://gap-packages.github.io/ferret/PackageInfo.g "

The file says 1.0.4, but it is still downloading 1.0.3. Is this normal?

[2021-02-09 22:26] fingolfin commented on #262
That seems like a temporary glitch (some cache somewhere not yet updated). I've re-run test of another PR, and there it passed.

It also works fine on my Ubuntu 20.20 machine now with ferret 1.0.4.

Unfortunately, now I run into errors on a bunch of other machines (including nenekiki here in KL), already during precompilation:
[code]

[2021-02-10 00:09] fingolfin opened #270 "BoundsError: attempt to access 0-element Array{GrpAbFinGenElem,1} at index [1]"
I've now seen the following error a couple times, seemingly randomly (i.e., if I re-run a test, it works again).
[code]

For example it happened in [this `master` branch build with "Julia 1.5 / macOS"](https://github.com/oscar-system/Oscar.jl/runs/1866916598?check_suite_focus=true#step:6:354) right after PR #267 was merged. But just before that merge, I had re-run its tests and it passed them all

[2021-02-10 08:16] thofma commented on #262
I think what you see is the usual https://github.com/oscar-system/GAP.jl/issues/553.

But the original issue seems to be fixed on GHA.

[2021-02-10 08:44] fingolfin commented on #262
True.

[2021-02-10 08:54] benlorenz commented on #262
There seems to be one more `std::ostringstream()` in ferret that was missed:
https://github.com/gap-packages/ferret/blob/master/YAPB%2B%2B/source/library/info.hpp#L20
I don't really know when `#ifdef  GAP_COMPILED_H` is active, but I still get the symbol with ferret 1.0.4.

[2021-02-10 09:16] ChrisJefferson commented on #262
woops, will investigate

[2021-02-10 09:19] ChrisJefferson commented on #262
New release (v1.0.5) released. That code is enabled exactly when you are using GAP (this package can be used as a standalone program, without GAP).

[2021-02-10 09:34] benlorenz commented on #262
Thanks for the quick fix, looks good on my machine now:
[code]
(Slightly confused why the previous fix did work elsewhere)

[2021-02-10 09:36] thofma commented on #262
Thanks a lot @ChrisJefferson (and thanks @benlorenz for checking).

[2021-02-10 09:36] #262 closed, assigned to nobody

[2021-02-10 09:40] fingolfin commented on #262
Thanks @ChrisJefferson

I am still confused as to how/why 1.0.4 then was working for me, and also in GitHub Actions? Odd.

[2021-02-10 10:00] benlorenz commented on #262
It might be because of `CompilerSupportLibraries_jll` (`CSL_jll`) which brings a more recent `libstdc++`. But depending on which packages are loaded in what order there might be the old julia `libstdc++` or the new one from `CSL_jll` in the current process.
(I tried with just GAP and not with Oscar where e.g. Polymake.jl would pull in `CSL_jll`)

Thinking about that, adding `CompilerSupportLibrari

[2021-02-10 11:11] thofma commented on #270
I can reproduce it locally. I will investigate.

[2021-02-10 16:05] thofma commented on #270
If one runs the tests often enough, one can reproduce this (there are actually two possible errors). I guess this is due to the random nature of the tests in `FreeModules-graded-test.jl`.

The test code is quite complicated.

[2021-02-12 09:16] fingolfin opened #277 "Add an AUTHORS.md or CONTRIBUTORS.md or so..."
... which lists relevant names. The `authors` list in `Project.toml` is useless when it extends beyond more than 2-3 entries, and diffs are annoying to read. Thus, I'd also replace it by a single entry, e.g. the oscar-dev mailing list.

[2021-02-12 10:26] thofma opened #280 "Purge the examples folder"
I just spent too much time tracking down a bug which appeared when changing the version from `0.5.1-DEV` to `0.5.1`. The example folder files <strike>requires</strike> include code which is necessary for the non-example tests to pass. But the examples folder is only incuded, if `is_dev` is true.

[2021-02-12 10:30] fieker commented on #280
On Fri, Feb 12, 2021 at 02:26:22AM -0800, thofma wrote:

Move the stuff that is automatically tested in dev into experimental?
Where it is always included?
--

[2021-02-12 10:32] thofma commented on #280
https://github.com/oscar-system/Oscar.jl/blob/master/src/Oscar.jl#L218-L226

[2021-02-12 12:02] thofma commented on #280
I don't understand why this was not moved to experimental.

[2021-02-12 13:26] fieker commented on #280
Essentially this is a purely "experimental" implementation from a Fach Praktikum. Wolfram is waiting for the link to the Singular library
Smilar: All of Delphine's stuff should be there, but that needs coordination with her to avoid merge conflicts and frustartion

[2021-02-12 14:12] thofma commented on #280
@delphinepol Once your recent PR is merged, could you make a PR to move your things from `examples` to `experimental`? That would be great, thanks.

[2021-02-12 14:36] delphinepol commented on #280
OK !

[2021-02-12 15:27] fingolfin opened #282 "Deprecate `listperm`, instead add constructors"
Consider this:
[code]

To turn this back into a vector, right now you need to write this:
[code]

But the more Julia-like approach would be to provide constructors. Like this (pseudo code):
[code]

[2021-02-12 15:28] fingolfin commented on #129
An appealing way to take care of this would be to use a `WeakValueDicts` -- we could use https://github.com/travigd/WeakValueDicts.jl for this, or roll our own. With an additional "purge_cache" method perhaps (we may want to think about a global way to allow a user to "clear all caches" or "clear some caches")

[2021-02-12 16:00] fingolfin commented on #108
We need to make progress on this. Perhaps @ThomasBreuer can also help out.

It would be very nice if one could write this (but careful, there is already `Hecke.orbit`, and I think it has slightly different conventions than GAP, so we need to coordinate with them):
[code]

What should the return values? It could be the orbit as a vector; but better would be a GSet, which also knows the acting group

[2021-02-12 16:19] fingolfin opened #283 "Scary but harmless error about ferret binary missing"
There is a scary but harmless error about the ferret.so binary missing when running Oscar the first time. It happens because we try tomload the GAP package ferret; this detects that ferret was not compiled (resulting in the error), but then we just install and compile it.

we should not show this message in this form

[2021-02-12 16:28] fieker commented on #129
On Fri, Feb 12, 2021 at 07:29:11AM -0800, Max Horn wrote:

In Hecke/src/Hecke.jl

function print_cache()
  print_cache(find_cache(Nemo))
  print_cache(find_cache(Nemo.Generic))
  print_cache(find_cache(Hecke))
end

function clear_cache()
  clear_cache(find_cache(Nemo))
  clear_cache(find_cache(Nemo.Generic))
  clear_cache(find_cache(Hecke))
end

which basically empties all global Arrays and Dicts

[2021-02-12 22:07] JuliaTagBot opened #285 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-02-12 22:07] #285 closed, assigned to nobody

[2021-02-13 10:25] ulthiel commented on #283
There's also more: "wget not found" (on macOS).

[code]

[2021-02-13 10:52] thofma commented on #283
Does it succeed in the end?

[2021-02-13 11:27] thofma commented on #108
I don't think we have a strong opinion on the order of the arguments. But maybe there was a specific reason @fieker?

I like the idea of doing `X = GSet(G, f)` and then letting `orbit(X, a)` be an iterator on which one call `collect` etc. For convenience we could define `orbit(G, a, f) = orbit(GSet(G, f), a)`?

[2021-02-13 12:39] ulthiel commented on #283
It seems so, as far as I can tell. There's no wget on macOS, I guess this is the problem.

[2021-02-13 12:47] fingolfin commented on #283
It tries to use wget, then falls back to curl. I am not sure why it displays this though (because I can't look at the code right now)

[2021-02-13 12:47] fingolfin commented on #283
It = the GAP package "PackageManager" we use to install ferret here

[2021-02-14 00:21] fingolfin commented on #129
That's a neat hack, but at least for the purpose discussed here, a `WeakValueDict` is strictly superior, as it will "just work" for many cases, without the user having to know about `clear_cache`; also, clearing *all* caches is a rather brutal operation.

In fact, `clear_cache` can even have a negative impact: if an object is still being referenced, then removing it from the caches won't GC it; an

[2021-02-15 15:02] fingolfin opened #289 "Loading order affects load time"
With Julia 1.6.0-rc1, loading our packages got a lot faster! I've been playing quite a bit with it, and noticed the following (however, it turns out that it also affects Julia 1.5.3, just everything is slower there).

Namely, I noticed that if I first load Hecke.jl 0.9.4 and then GAP.jl 0.5.2 versus the other way around, the load timings differ substantially:
1. first Hecke:  Hecke takes 1.3 s, GA

[2021-02-17 09:47] fingolfin commented on #289
(and then all of this might help us reduce the load time for Oscar.jl -- which by the way for me went from 30-40 seconds in Julia 1.5.3 to 15-20 seconds in Julia 1.6.0-rc1)

[2021-02-18 09:09] fieker commented on #108
On Sat, Feb 13, 2021 at 03:27:49AM -0800, thofma wrote:

No reason...

OK, then lets try that

[2021-02-18 12:12] tthsqe12 commented on #263
For the normalization I have to create maps between quotient rings and return fractional ideals in quotient rings. So, I guess you could say that I am working on this.

[2021-02-24 00:35] fingolfin opened #296 "Update list of subproject maintainers"
The list https://github.com/oscar-system/Oscar.jl/wiki/Contacts-for-subprojects is not known by enough people, and also outdated. But it is super helpful for us internally to know who is first point of contact for each package. I mean, sure, we can submit issues, but if an issue is not being processed, one needs to know whom to prod

I think we should do this:

- [ ] update that list
- [ ] think a

[2021-03-01 10:57] thofma opened #301 "About the `as = :blub` keyword argument"
I noticed that we started using lots of `as = :blub` keyword arguments, for example, https://github.com/oscar-system/Oscar.jl/blob/master/src/Polytopes/Polyhedron.jl#L187. Similar for the recent draft of Lars. Here is one example:
[code]
The problem is that this makes the function type unstable (because depending on the value of the symbol `as`, the return type changes). Although the syntax is rat

[2021-03-01 12:31] tbrysiewicz commented on #301
We discussed this today briefly and agreed that the current status is not the way to go.
We chose to have vertices always output an iterator, and then include a separate function called vertices_as_matrix.
But in the case of facets, the iterator may iterate over Polyhedra, or over matrix pairs; so I guess our change doesn't solve the issue.
I'm happy to update things based on whatever you all deci

[2021-03-01 12:50] thofma commented on #301
OK, sounds good.

P.S.: It should probably be `Matrix(::NameOfTheIterator)`.

[2021-03-01 15:32] ThomasBreuer commented on #108
Here is a first proposal for the setup (in `Groups/gsets.jl`).

[code]
If this is reasonable then I will provide an analogous variant for matrix groups.

[2021-03-01 15:40] fieker commented on #108
On Mon, Mar 01, 2021 at 07:32:43AM -0800, ThomasBreuer wrote:

I'd automatically always also supplement this for T = fmpz, or, where
this makes sense, RingElem

[2021-03-01 16:06] ThomasBreuer commented on #108
@fieker
O.k., if `fmpz` shall be supported as points on which permutation groups act then we have to start one layer below, and define `fmpz(1)^perm` for a permutation `perm`.
The next question is then what the default shall be: Which type shall the points in `gset(symmetric_group(5))` have?

[2021-03-01 16:11] fieker commented on #108
On Mon, Mar 01, 2021 at 08:06:26AM -0800, ThomasBreuer wrote:

Small Int I'd say (or UInt if you can tolerate hex printing), but
Integer goes up to BigInt, thus my call for fmpz...

[2021-03-02 11:16] fingolfin commented on #301
So, who is "you all" who are going to decide this? Are people discussing this, e.g. in gather.town?

[2021-03-02 11:47] thofma commented on #301
I don't think anyone is discussion this right now and I don't know who is making final decisions.

[2021-03-02 13:35] fingolfin commented on #301
I guess I am confused then who is waiting for what: @tbrysiewicz wrote "I'm happy to update things based on whatever you all decide" and I am not sure what that means... IMHO the Polytope people should pick one of @thofma suggestions (and if unsure, pick his preference, 1); and if there are concerns or questions how to deal with certain aspects of that, ask concretely/ Right now, it seems to me as

[2021-03-02 14:11] tthsqe12 commented on #301
@thoma could you provide your proposed syntax for algorithm selection to
https://github.com/delphinepol/Oscar.jl/blob/polyringops/src/Rings/mpoly.jl#L1142
We need this for https://github.com/oscar-system/Oscar.jl/pull/292
, and once I see this in action, I can reproduce it elsewhere.

[2021-03-02 14:14] thofma commented on #301
It does not matter for algorithm selection if it does not effect the return type. I think @tbrysiewicz & co are going with `; algorithm = :bla` in the signature. I would do the same.

[2021-03-02 14:17] tthsqe12 commented on #301
`algorithm` or `algo`, or `alg`? Note the wonderful consistency here:
[code]

[2021-03-02 14:22] thofma commented on #301
Should be a different issue. For now you can follow your heart.

[2021-03-02 15:07] saschatimme commented on #301
I just want to note that you could also define methods this way
[code]

So that if performance matters you can use the `facets(polyhedron, Val(:polyhedra))` syntax and otherwise `facets(polyhedron; as = :polyhedra)`.

[2021-03-02 15:24] ThomasBreuer commented on #108
For the next iteration (general case of G-sets), I will create a pull request.

From my point of view, the current situation is as follows.
- If we want to use GAP functionality then we run into problems with GAP's method selection, because it is not "friendly to external objects": We want to act on many different kinds of objects for which we do not want to create corresponding GAP objects. Howev

[2021-03-02 15:26] #234 closed, assigned to nobody

[2021-03-02 21:25] lkastner commented on #301
Another suggestion was to move the 'as' keyword into the function name. I.e.
[code]
Would this be acceptable?

[2021-03-03 07:21] thofma commented on #301
Yes, no objection from my part.

[2021-03-03 10:31] fieker opened #305 "consistency in names and behaviour"
- coeffs vs coefficients: we should choose one
- coeff(s/icicients): as subtype of AbstractVector: allow e.g. `findall(iszero, coeffs(f))` (more useful for univariates)
- always an iterator? sometimes an iterator sometimes a Vector
- terms, monomials also for univariates?
- QadicField does not return the gen
- ResidueField does not (always) allow cache = true/false
 - binom/ binomial
(I intend to

[2021-03-03 13:45] #211 closed, assigned to nobody

[2021-03-03 13:45] fieker commented on #211
All(?) fixed and released

[2021-03-04 22:48] lkastner opened #310 "Should there be a copyright/license notice at the top of every source file?"
It is recommended [here](https://www.gnu.org/licenses/gpl-faq.en.html#NoticeInSourceFile) by the gnu people. I have seen this in many open source projects. Apologies if this has been discussed before.

[2021-03-04 23:20] lkastner commented on #310
Apparently some geo people had [issues](https://github.com/fatiando/maintenance/issues/10) that they thought could be solved by having included such a notice. This is of course not statistically relevant.

[2021-03-05 07:47] thofma commented on #310
Sounds like a good idea.

[2021-03-05 09:04] fingolfin commented on #310
This is *very slightly* useful in *some* jurisdictions, but not in many others; it makes it tad harder for violators of the GPL to claim they copied code from a file but were mistaken about the license for that file.

So, this is mostly important if we are concerned that people are going to take our code and use it in non-GPL projects. And then it can make it easier to proof that the offender must

[2021-03-05 10:27] fingolfin opened #311 "Add a bibliography to our manual(s)"
We should carefully cite all papers and algorithms we use, not just to give credit but more importantly to allow people to understand on a higher level what some code is supposed to do / is trying to implement.

Also @wdecker asked for this.

One option would be to look into using [DocumenterCitations.jl](https://github.com/ali-ramadhan/DocumenterCitations.jl) which would allow us to use bibtex fi

[2021-03-05 10:29] fingolfin commented on #311
Here's the manual of that package: http://aliramadhan.me/DocumenterCitations.jl/dev/

And here is an [example for a docstring with a citation](https://github.com/ali-ramadhan/DocumenterCitations.jl/blob/181f429929c7c4031d18da69e7cf01898e990d0b/src/DocumenterCitations.jl#L26-L31):
[code]

[2021-03-08 12:51] wbhart opened #318 "Add build option for ASCII/non-ASCII chars"
In the following discussion we decided that Nemo/AbstractAlgebra will ban use of non-ASCII characters:

https://github.com/Nemocas/Nemo.jl/issues/1013

During that discussion @kalmark had the recollection that we decided we were going to add a global switch to allow/disallow non-ASCII chars for Oscar and dependencies. This would fix the issue for users, though I believe it will not fix the issue f

[2021-03-08 15:12] GDeFranceschi commented on #282
Do we want to allow the use of `fmpz` also for the inverse construction, that is `S([1,2,3,4,5])` for `S` symmetric group and `[1,2,3,4,5]` of type `Array{fmpz,1}`?

[2021-03-08 22:58] fingolfin opened #323 "Ensure CI also covers our doctests"
PR #322 adds a method `groebner_basis_with_transform(I::MPolyIdeal; ord::Symbol = :degrevlex, complete_reduction::Bool=false)` and also a `jldoctest` for it ; yet Codecov thinks that function is not covered. That suggests to me that we are either not running the jldoctest as part of our CI; or that if we do so, we are not collecting coverage for it.

This should be checked and resolved.

[2021-03-08 23:22] fingolfin commented on #260
I believe the error reported here has been resolved, by using `order` instead of `length`.

[2021-03-08 23:22] #260 closed, assigned to nobody

[2021-03-08 23:23] fingolfin commented on #282
@GDeFranceschi that would be a nice bonus, but also should be fairly trivial to add once we have the rest proposed in here.

[2021-03-09 09:24] GDeFranceschi commented on #282
Why does this happen?

[2021-03-09 11:51] ThomasBreuer commented on #282
Concerning the question about the `fail` result:
[code]
The function `GAP.Globals.PermList` does not accept a GAP list of fmpz as input.

(The reason why the two objects are regarded as equal by Julia is as follows:
Julia asks GAP to decide the question.
GAP sees two lists, and compares their entries.
And the question for the equality of `2` and `fmpz(2)` is delegated back to Julia; there is a met

[2021-03-09 15:13] #270 closed, assigned to nobody

[2021-03-11 21:19] ThomasBreuer commented on #128
Concerning the question where to put the code (Oscar or GAP), I think that `Oscar.jl/src/GAP` would be the right place.
GAP.jl itself would not be so suitable already because the type `GAPGroup` is not known there.

[2021-03-11 23:02] fingolfin commented on #128
The `gapwrap` macro does not use `GAPGroup` or anything else defined in Oscar.jl

[2021-03-12 09:48] ThomasBreuer commented on #128
Yes, but all the examples (use cases) in earlier comments involve `GAPGroup`.
It seems that the two aspects of the issue should be separated:

The macro `gapwrap` helps to avoid the overhead of calling `GAP.Globals.Something` at runtime; this macro makes sense inside GAP.jl (and then can be used inside GAP.jl).

The aspect of uniformly/automatically modeling GAP's attribute getter/tester/setter me

[2021-03-12 10:18] tthsqe12 commented on #188
can close this? This is what I get now in oscar (sorry about all of the flubs along the way, but it seems to be working):
[code]

[2021-03-12 10:46] delphinepol commented on #188
@tthsqe12 You can close it, I tried it, it works, thank you !

[2021-03-12 11:04] tthsqe12 commented on #188
I can't close it, I think you have to :)

[2021-03-12 11:12] #188 closed, assigned to nobody

[2021-03-15 20:53] fingolfin commented on #311
Was resolved by PR #326

[2021-03-15 20:53] #311 closed, assigned to nobody

[2021-03-16 00:48] slel commented on #92
Not sure this is the right place for such a discussion but
how about a banner that takes a little less vertical space
and possibly uses unicode for smoother rendering?

Some attempts starting with the current Oscar banner.
[code]

[2021-03-16 09:30] fingolfin opened #340 "build_doc expects that Documenter, DocumenterCitations, DocumenterMarkdown are installed"
I just tried to run `Oscar.build_doc` and it failed because I did not have all of Documenter, DocumenterCitations, DocumenterMarkdown are installed installed in my environment.

So we can of course simply document this as a requirement. Or perhaps we could change the function to execute a subprocess julia  using the `docs/Project.toml` environment (plus a dev'ed copy of the current Oscar).

[2021-03-16 09:35] thofma commented on #340
I don't think we want to execute a subprocess, since one of the advantages now is that the build is running in a "hot" session, with everything already compiled.

We could alternatively activate the environment in `docs/Project.toml` via `Pkg.activate`.

[2021-03-16 09:35] fieker commented on #340
On Tue, Mar 16, 2021 at 02:30:58AM -0700, Max Horn wrote:

Using a subprocess invalidates part of the point of build_docs - it
would jit everything again all the time...

[2021-03-16 09:38] fingolfin commented on #340
@fieker makes sense. Well, this issue was partially motivated by *your* troubles yesterday with missing `DocumenterCitations`; when I tried to replicate, I got even worse issues, as described here. So, I am fine with just asking the user of build_doc to install those packages, but if even you, as the author of the code, are confused by it, perhaps we ought to document this requirement ;-).

(What

[2021-03-16 09:43] fieker commented on #340
On Tue, Mar 16, 2021 at 02:38:54AM -0700, Max Horn wrote:

Yep it is confusing... I guess the key problem is that there are
different requirements to be put in Project.toml
 - user: does not need all of the documenter tools I hope, so should not
   be a requirement
 - developer: needs them

But it needs docu...but where?

[2021-03-16 12:03] tthsqe12 opened #345 "confusion on the return of collect(permutation group)"
I have observed this behavior before and was wondering if it was intended:
[code]
The problem here is the `Vector{Any}` return type. It is my understanding that once this is the type of an object you cannot call methods declared like `f(::Vector{PermGroupElem})` on it. Even more mysterious is that the following does get the correct array type:
[code]

[2021-03-16 12:04] tthsqe12 commented on #345
my package status:
[code]

[2021-03-16 13:40] tthsqe12 opened #347 "printing of objects should compose better"
The current printing of, say, ideals is fine in isolation:
[code]

But, when it is used in the context of other printing, it becomes a mess:
[code]

[2021-03-16 14:44] fieker opened #349 "inner_direct_product"
while I was (am) very happy to have found this function, I always thought an inner product combines sub-objects only? This sees to me an out product with maps (which is why I am happy)

[2021-03-16 15:34] fingolfin commented on #349
Yeah sorry, this name is simply wrong (my fault, in the end). It should just be called direct_product. Overall the code for direct products needs to be overhauled once again

[2021-03-16 15:42] fingolfin commented on #345
`SymmetricGroup` is a command (or rather, type) from AbstractAlgebra, I think, and we are not really using it in Oscar (so we should not be exporting it -- that's a bug). There, use `symmetric_group` instead. With that, I get:
[code]
Which is consistent with the output of `galois_group`, but of course the `Any` is still undesired.

To fix this, I think we must defined a suitable `eltype` method (p

[2021-03-16 15:44] fingolfin opened #353 "Do not export SymmetricGroup and some other stuff from AbstractAlgebra"
It seems Oscar currently exports `SymmetricGroup` from AbstractAlgebra, which leads to some confusion (see issue #345). We shouldn't do that. Not sure where this comes from, I didn't see an obvious "export" -- perhaps it is inherited from Hecke (we export almost all Hecke symbols, I think?)

[2021-03-16 15:45] fingolfin commented on #347
How about `ideal generated by [x, y]` ?

[2021-03-16 15:50] GDeFranceschi commented on #345
For some of these already exists `elem_type`. For these types, do I just put `eltype = elem_type`?

[2021-03-19 11:08] fieker opened #367 "Orbits/ Gsets"
[code]

possibly user error (my error)

This is an experiment (failed) to create an transitive representation of an intransitive group by operating on tuples (cartesian product of the "natural" orbits)

[2021-03-19 11:52] fieker commented on #367
[code]

[2021-03-19 13:38] ThomasBreuer commented on #128
Thinking again about the question where to put the macro(s) described in this issue, I am still undecided.
The code in GAP.jl itself will not benefit from the macro(s), this may indicate that Oscar.jl is the right place.
On the other hand, one can argue that any package based on GAP.jl (not only Oscar.jl) can benefit from it/them, thus GAP.jl would logically be the better choice.

[2021-03-19 13:49] fieker opened #369 "`inner_direct_product` ignoring trivial factors"
[code]
in all cases I'd expect

[2021-03-19 13:59] fieker commented on #369
[code]

[2021-03-19 14:33] fingolfin opened #371 "Coercing a vector into a perm group should fail if it is too long"
In the following, the coercion should produce an error, even though the final permutation of course fits into G. (CC @fieker )
[code]

Contrast it with this:
[code]

[2021-03-19 14:34] fingolfin commented on #369
I turned the second comment into a separate issue #371.

[2021-03-19 14:50] fingolfin opened #372 "`direct_product` for groups should give the embedding / projection morphisms"
... at least optionally (with keyword argument `morphisms::Bool` just like it is for `inner_direct_product`

[2021-03-19 15:23] fingolfin commented on #128
We discussed this and agreed that we'll put it into GAP.jl, even if we don't really need it there.

[2021-03-19 22:23] simonbrandhorst commented on #264
I think half a year ago I ran into similar problems trying to compute in the function field of a variety.

[2021-03-22 14:39] GDeFranceschi commented on #369
Since GAP uses inner constructions, GAP does not distinguish `inner_direct_product(A,B)` from `A` whenever `B` is a trivial group (and same changing the order). If we want something like:

Group([ (1,2,3,4), (1,2) ])

Group([ (2,3,4,5), (2,3) ])

we need a new construction in Julia; for example, by writing down all the generators.

[2021-03-22 14:40] GDeFranceschi commented on #369
Actually, GAP recognizes `SymmetricGroup(1)` as a permutation group of degree 0. Do we want it to have degree 1?

[2021-03-23 22:21] #371 closed, assigned to GDeFranceschi

[2021-03-23 22:21] #372 closed, assigned to GDeFranceschi

[2021-03-26 13:05] ThomasBreuer commented on #367
I take the first example as a hint about missing documentation and missing argument checks.

The second example also shows a syntax error in the embedded GAP code.
I did not observe it because it does not affect the functionality and because I do not get the GAP error message --why do I not get this GAP error message?

[2021-03-29 12:17] lkastner opened #388 "Constructors for polyhedral objects"
After discussion with @fingolfin we decided to introduce a struct `Point` such that Polyhedra can be built from collections of these. Now this could entail the need for several other structs and we should talk about what constructors we want in the end.

For polyhedra there are two sides:
- The vertex side, the ultimate constructor looks like `Polyhedron(Points, Rays, LinealityGenerators)`
- The h

[2021-03-29 13:02] fieker commented on #388
On Mon, Mar 29, 2021 at 05:17:58AM -0700, Lars Kastner wrote:

Will there be different `Point`s for algebraic and polyhedral geometry?

[2021-03-29 14:57] lkastner commented on #388
I don't know and I don't think that I am the right person to answer that question. I will go ahead with this suggestion and while it is not merged it is still easy to change those names to something else. Then you can decide the naming issue in parallel somewhere else. Do you have other objections / suggestions?

[2021-03-29 20:20] fingolfin opened #389 "Fix `projection(G::DirectProductGroup, j::Base.Integer)` to correctly restrict the homomorphisms"
... instead of using a `GroupHomomorphismByFunction`, which looses important information e.g. for computing preimages.

[2021-03-31 06:12] shikil opened #397 "groebner_basis result is different to std"
[code]

[2021-03-31 06:30] wdecker commented on #397
The second GB is the degrevlex GB.

[2021-03-31 06:38] #397 closed, assigned to nobody

[2021-03-31 06:39] fingolfin commented on #397
AFAIK Passing `ordering=:lex` like that doesn't work for Oscar rings, it works differently there...? @fieker?

[2021-03-31 06:43] fieker commented on #397
two different things, but in short: ordering on the ring has NOTHING to do with the ordering for the GB. If you want a lex-std do
`groebner_basis(I, :lex)`

[2021-03-31 06:50] wdecker commented on #397
I think we need a disscusion on this. For example, we see the degrevlex GB, but the polynomials are printed in lex order.

[2021-03-31 07:04] fieker commented on #397
On Tue, Mar 30, 2021 at 11:51:08PM -0700, Wolfram Decker wrote:

Gladly - I think the last time we decided to create a new type:
groebner_basis which
 - will know the ordering
 - tell you about the ordering
But I still think it is the right move to separate the polynomials from
the mathematics: why should I choose some ordering right at the
beginning rather than where I actually need it?

[2021-04-01 14:07] lkastner commented on #388
Actually it is even worse and `Point` already exists somewhere else. So I will use `Combinatorial*` as a prefix and we can always search replace later.

[2021-04-01 14:10] fieker commented on #388
On Thu, Apr 01, 2021 at 07:07:36AM -0700, Lars Kastner wrote:

Why not use the Point?

[2021-04-01 14:28] lkastner commented on #388
It is in the `experimental` folder and marked as a first attempt, this to me sounds like it would be a bad idea to rely on it. Furthermore it requires its entries to come from a field and I suspect that this might not be implemented for everything we want to plug into it. It can always be unified later.

[2021-04-01 15:02] #323 closed, assigned to nobody

[2021-04-07 12:12] fingolfin opened #399 "Create experimental PR using GroupsCore.jl"
There's been some talk on a unified interface for groups, done in https://github.com/kalmarek/GroupsCore.jl -- thanks to @kalmarek for kicking it off, and to @albinahlback and @ThomasBreuer for contributing to the discussion, and for @thofma for sharing his thoughts as well -- more input welcome (and sorry if I forgot some).

Anyway, in order to move forward, I think it would be useful to start an

[2021-04-07 12:20] fieker commented on #399
On Wed, Apr 07, 2021 at 05:12:31AM -0700, Max Horn wrote:

Just be careful to not get caught in the discussion about MutableAlgebra
- which we do not want at this point I think

[2021-04-07 14:24] ThomasBreuer commented on #399
I am working on such an experiment. (See kalmarek/GroupsCore.jl/issues/24.)

[2021-04-07 14:36] kalmarek commented on #399
@ThomasBreuer great to hear! I just merged recent developments into master, and I'm waiting for registration pull to merge

EDIT: It's done now

[2021-04-08 11:58] tthsqe12 commented on #347
Since one generally inputs these things as `ideal(R, [x, y])`, I am inclined to have it print as `ideal([x, y])` or `ideal(x, y)`. Any objections? @wdecker

[2021-04-08 14:10] tthsqe12 commented on #263
@delphinepol  How are the current ideals in oscar working out for you here?

[2021-04-08 14:42] delphinepol commented on #263
Yes, it is working now.

[2021-04-08 14:42] #263 closed, assigned to nobody

[2021-04-08 14:53] wdecker commented on #347
I would prefer less brackets: ideal(x,y)

[2021-04-08 16:14] tthsqe12 opened #403 "Weird behaviour with all latest masters [maybe Oscar.Integer should be the same as Base.Integer]"
So I have everything dev'd and at the latest masters. I don't understand why Hecke's definition of ^ (https://github.com/thofma/Hecke.jl/blob/master/src/Misc/Integer.jl#L1476) is being used instead of oscar's (https://github.com/oscar-system/Oscar.jl/blob/master/src/Rings/MPolyQuo.jl#L206). I am just posting this here to see if others can reproduce it/offer ideas.
[code]

[2021-04-08 16:42] tthsqe12 commented on #403
So the problem is in `src/OscarTypes.jl`.

This is a good argument for getting rid of these, as it clearly confused both me and the author of this line of code
[code]

The only case where this is definition applies is where `power_by_squaring` is undefined:
[code]

[2021-04-08 17:49] thofma commented on #403
`Integer` has tripped me up before. I will have a look tomorrow.

P.S.: Your Nemo is not dev'ed.

[2021-04-09 06:46] fieker commented on #403
On Thu, Apr 08, 2021 at 09:43:04AM -0700, tthsqe12 wrote:

I too would vote to remove the Oscar.Integer - I've also been bitten
before!

[2021-04-09 10:12] thofma commented on #403
I cannot reproduce this @tthsqe12. Can you give me the commit sha of Hecke and AbstractAlgebra you are using?

[2021-04-09 10:18] thofma commented on #403
Ah, ok, I can reproduce it.

[2021-04-09 11:07] tthsqe12 commented on #403
Is this really how you want to fix this? Every time we see Integer in Oscar, we have to remember that it is not the usual Integer.
Also, the hecke code has a infinite loop?

[2021-04-09 11:12] thofma commented on #403
Sure, we can discuss removing `Oscar.Integer`, but it was not clear to me that this is what this issue here is about.

The Hecke code is just a temporary fix to deal with code that moved.

[2021-04-13 10:56] kalmarek commented on #353
In general I think it would be favourable to confine `AA.Perm`, `AA.perm`, `AA.SymmetricGroup` etc. either to `AA`, i.e. don't export it, or simply remove these completely; this would allow to get rid of `gap_perm` (i.e. rename it to `perm`) in Oscar.

grepping for `Perm` or `SymmetricGroup` in `AA` gives just a few results where the underlying array of a perm is used for calls in linear algebra.

[2021-04-13 10:59] thofma commented on #353
They are used extensively.

[2021-04-13 11:47] wbhart commented on #353
I'm not in favour of removing them. But I am perfectly happy for Oscar to not import and use them. There was never any expectation that these would be the permutation types for Oscar. We always made that clear.

The difficulty is going to come when applying permutations to matrices, e.g. row permutations, which both Flint and AA use extensively in LU and many other linear algebra functions. Either

[2021-04-13 12:48] #403 closed, assigned to nobody

[2021-04-13 13:20] fingolfin opened #407 "Groups: Replace adhoc linear algebra code"
Just as a reminder:
Replace all uses of `submatrix`, `insert_block`, `diagonal_join`, `block_matrix` by their Julia counterparts, and then remove them

[2021-04-13 13:38] fingolfin opened #408 "Add types for forms"
I think we should have types QuadracticForm, BilinearForm, SesquilinearForm, which store a matrix, and in the last case a ring involution; then one can have methods like
[code]
Applying forms then can be written quite nicely, as in the following pseudcode
[code]

[2021-04-13 13:55] thofma commented on #408
The quadratic forms and sesqulinear/Hermitian forms exist in this form already, although under the name QuadSpace and HermSpace.

[2021-04-14 22:57] kalmarek commented on #353
If you decide not to remove it, the issue rised by @fingolfin was that these should definitely be not exported. Which implies  the same for all methods requiring `Perm` or `SymmetricGroup`, I guess?

----

not sure about Hecke, but both AA and Nemo "extensive use of `Perm`" boils down to only a few calls (I counted 6 for `AA/src/generic/Matrix.jl` and ~9 in `Nemo`). All of these calls treat `Perm`

[2021-04-15 08:34] thofma commented on #353
Hecke has no GAP dependency.

[2021-04-22 09:02] lkastner commented on #388
Ok, so I made a version with `CombinatorialPoint`. Please have a look. Maybe we can merge the two different points. https://github.com/oscar-system/Oscar.jl/compare/enh/Polytopes/Point

[2021-04-22 09:12] thofma opened #417 "iszero duplicate"
There are two definitions for `iszero(MPolyIdeal)`:

[code]

Not sure which one and which docstring we want to keep.

@wdecker

[2021-04-23 13:49] fingolfin commented on #388
Can you perhaps open this as a draft PR? That way, we can inline comment on the code and discuss details.

[2021-04-23 13:51] fingolfin commented on #388
Although I guess it is short enough to not need that :-). In principle this seems fine to me. All things I can think of right now are mostly about polish. The general idea, however, seems exactly like what I had in mind. Well, I didn't have `CombinatorialPoint` in mind, but as you correctly say, it is fine to use that for now, and we can think about whether we can/want to unify this with other poi

[2021-04-23 15:26] #417 closed, assigned to nobody

[2021-04-23 15:38] thofma opened #420 "Absolute factorization docstring example failing"
[code]
@fieker

[2021-04-23 19:12] thofma opened #422 "Documentation broken"
I am working on it. Just opening it here so that no else wastes his time on this.

[2021-04-24 12:22] fieker commented on #420
Should have been fixed with the recent AbsFact in hecke

[2021-04-24 12:30] thofma commented on #420
Ah, ok, let me try again.

[2021-04-24 12:42] thofma commented on #420
Right, will be fixed by #423.

[2021-04-29 12:23] #422 closed, assigned to nobody

[2021-04-29 12:24] #420 closed, assigned to nobody

[2021-05-03 20:24] jieaosong opened #426 "Package for intersection theory"
Hi!

As an effort to learn both the Julia/Oscar language, and some of the underlying details in computations of intersection theory, I wrote a new [package](https://github.com/8d1h/IntersectionTheory) in Julia. It is heavily "inspired" by the Macaulay2 package Schubert2, and also partly the Sage libraries Chow and Schubert3, although some of the more specialized stuffs are not there (yet). It cert

[2021-05-04 09:36] wdecker commented on #426
Hi, I am very much interested in discussing this project. How about using skype or some such. Best, Wolfram

[2021-05-04 09:37] thofma commented on #426
In addition to that, it would be very interesting to see those "random segfaults". Do you still have a version of your package where this happend?

[2021-05-04 12:01] jieaosong commented on #426
Wow, thanks for the feedback! Yes I would be glad to discuss in video.

I added the Oscar version to a separated branch [here](https://github.com/8d1h/IntersectionTheory/tree/oscar/oscar), which already contains most of the features except blowup.

To be honest, there are still segfaults with just Singular.jl, which I think are due to garbage collecting (it works sometime by using `GC.enable(false

[2021-05-04 12:03] thofma commented on #426
Thanks. What are the commands to reproduce the segfault(s)?

[2021-05-04 12:05] wdecker commented on #426
So, who precisely are you, in which time zone are you, and when do we talk?

[2021-05-04 12:35] jieaosong commented on #426
I couldn't really track it down. Sometimes even tab completion can trigger a segfault. Here is a simple command that can usually trigger it
[code]
If the segfault doesn't happen right away, then try quitting julia will probably do it.

[2021-05-04 16:53] thofma commented on #426
I can reproduce it, thanks. I will have a look.

[2021-05-05 09:40] jieaosong commented on #426
Thanks!

BTW, I just recalled something that I noticed in Oscar: the word "homogeneous" is spelled as "homogenous" in Oscar's graded ring code. In particular there are two functions `ishomogeneous` and `ishomogenous`, which might be something worth standardized...

[2021-05-05 14:01] tthsqe12 commented on #426
The random crashes in
[code]
 are probably fixed by https://github.com/oscar-system/Singular.jl/pull/421

[2021-05-06 10:39] fingolfin commented on #426
@8d1h thanks, we should indeed be consistent about how we spell homogeneous / homogenous (even though both spellings are correct). We face similar issues with other words like `normalizer` vs. `normaliser` or `center` vs `centre` etc.

[2021-05-07 10:01] fingolfin opened #432 "Make *infinite* polycyclic groups available in GAP"
Right now the OSCAR type `PcGroup` wraps GAP's `IsPcGroup` -- that's the pc group implementation from the GAP library, which only supports finite ones.

But we really want to also support *infinite* ones. Those are supported by the GAP package `polycyclic` (which GAP loads by default), they are called "pcp groups" (just because they had to have a different type) and teste for with the filter `IsPc

[2021-05-07 11:30] ThomasBreuer commented on #432
Currently we have `_gap_filter` which relates the Julia type of the group to a GAP filter.
Thus it seems to be conceptually not possible to have one Julia type for both `IsPcGroup` and `IsPcpGroup`, depending on the situation.
It would be possible to use `IsPcpGroup` also for finite groups.
(I will make an experiment: Exchange the relevant lines in the Oscar code, and see what happens.)

[2021-05-07 12:40] ThomasBreuer commented on #432
O.k., the problem is that GAP creates `IsPcGroup` groups in various situations, where we cannot force `IsPcpGroup` objects. The (few) failing tests happen in situations where such a group occurs as domain or codomain of some mapping inside GAP, and we cannot simply replace it by an `IsPcpGroup` group before the Julia side gets access to the mapping.

Is there a reason why `IsPcGroup` does not impl

[2021-05-07 13:54] fingolfin commented on #432
Those two are completely disjoint implementations, and an implication would be wrong and probably  lead to lots of errors.

Unfortunately I believe that some library functions will only work efficiently for IsPcGroup (eg because they use a Pcgs), not for (finite) IsPcpGroups.

Then again, I might be wrong or too negative (as in: perhaps not that much or even nothing fails and we can easily fix it)

[2021-05-07 15:03] ThomasBreuer commented on #432
O.k., if the filters `IsPcGroup` and `IsPcpGroup` express two different and incompatible internal structures then we can introduce a "common roof" `IsPolycycliclyPresentedGroup` or so that is implied by both and that can serve as `_gap_filter` for the Oscar type `PcGroup`.
The Julia side can then abstractly deal with finite and infinite polycyclic groups, and internally the code can either use a u

[2021-05-12 14:35] delphinepol opened #434 "Problem with issquare_with_square_root"
It seems that there is a problem with the function "issquare_with_square_root", since 5 is not the square of 0 in Z/15Z :

[code]

[2021-05-12 14:38] fieker commented on #434
On Wed, May 12, 2021 at 07:36:22AM -0700, delphinepol wrote:

Unfortunately, I believe that this functio never worked in the presence
of zero divisors....
Taking square roots is essentially equivalent to factoring the modulus.

[2021-05-12 14:40] thofma commented on #434
I think we can fix it. I think @tthsqe12 provided some root functionality for composite moduli. But it seems it is not properly hooked up.

[2021-05-12 14:44] tthsqe12 commented on #434
@thofma I thought you already wrapped fmpz_mod_poly_roots_factored. For small n, there is http://flintlib.org/doc/ulong_extras.html#c.n_sqrtmodn but passing the arguments looks horrendous.

[2021-05-12 14:46] thofma commented on #434
Yes, is is wrapped (somewhere). The question is now whether we always want to factor the modulus?

[2021-05-12 14:48] tthsqe12 commented on #434
Eh, what are you going to do. Gotta factor the modulus. maybe the factorization could be cached?

[2021-05-12 14:49] thofma commented on #434
We could throw an error and refer to the method `issquare_with_square_root(a::nmod, f::Fac{fmpz})`? I am also happy to cache the factorization.

[2021-05-12 15:00] tthsqe12 commented on #434
I would cache the factorization.
For nmod, you will have to populate an n_factor_t and then call n_sqrtmodn or nmod_poly_roots_factored. Or, cast to fmpz_mod

For fmpz_mod, populate an fmpz_factor_t and fmpz_mod_poly_roots_factored.

The current function in Hecke is assuming the modulus is prime.

[2021-05-14 11:32] delphinepol opened #437 "Problem with sqrtmod with powers of 2"
The function sqrtmod does not find a square root of -7 mod 1024 and throws an error that such a square root does not exist, whereas one can find one (deduced from a square root modulo 512 using the formula given on https://math.stackexchange.com/questions/845486/square-roots-modulo-powers-of-2 ).

[code]

[2021-05-14 19:30] fieker commented on #437
On Fri, May 14, 2021 at 04:32:56AM -0700, delphinepol wrote:

-7 = 1 mod 8, thus -7 is a square in Z_2 thus as well in Z/2^1024...
Newton iteration will find it....

[2021-05-15 21:28] jieaosong commented on #426
Hi! Here is an update of the project.

I tested the latest updates in Singular.jl, and they are great! All the previous crashes are gone now, and the fancy orderings work very well. I have added some [documentations](https://8d1h.github.io/IntersectionTheory/dev/) and tests for the package.

There is another thing that I noticed: in quotient rings, when to do reductions appears to have a huge impa

[2021-05-17 07:16] fieker commented on #426
On Sat, May 15, 2021 at 02:28:41PM -0700, 8d1h wrote:

In general, for quotient structure, the best general compromise seem to
reduce prior to a multiplication/ division but not before/ after a sum.
Don't know if this is true in the multivaraite setting

[2021-05-17 07:32] delphinepol commented on #437
I know that it is supposed to be possible to compute it, but I wanted to point out that the function was not able to compute the square root mod 1024, whereas it was able to compute it mod 512. By the way, is there something for Newton iteration in Oscar ?

[2021-05-17 07:39] fieker commented on #437
On Mon, May 17, 2021 at 12:33:09AM -0700, delphinepol wrote:

I've implemented many many newton iterations in Oscar. In your
appliation, the "best" is probably in examples/PerfectPowers.jl

_root_exact(a, n) computes the n-the root of a modulo powers of 2 (for
units)
You cannot use it directly I think, but it contains a Newton iteration
(or more)

[2021-05-17 07:47] delphinepol commented on #437
Thank you for the answer !

[2021-05-17 10:48] wdecker commented on #426
Hi,

with regard to the arithmetic in Oscar/Singular quotient fields: I agree that we should include appropriate reductions here. Well-suited series of test examples would be very helpful. Can you provide a convenient test-suite based on Chow ring examples which can become "arbitrarily large"?

Best,
Wolfram

[2021-05-17 13:10] jieaosong commented on #426
The [old version](https://github.com/8d1h/IntersectionTheory/tree/oscar/oscar) of the package uses Oscar's `MPolyQuo`, so it can already be used as a test set. I can update it, and maybe extract just the relevant part. To get arbitrarily large example, maybe we can just use larger Grassmannians? (But there might be different quotient ring use cases that are not covered)

BTW the `homogenous_compon

[2021-05-17 13:47] wdecker commented on #426
That sounds good!

[2021-05-17 13:49] wdecker commented on #426
Hi,

I am currently reading the documention --  which is actually already quite nice -- and have two quick remarks:

1)  You write:

     and a kkk-class is an equivalent class of cycles modulo a certain equivalence.

At this point, the reader does not realize that details will be explained later. So how about writing something like

     and a kkk-class is an equivalence class of cycles modulo nu

[2021-05-17 14:49] jieaosong commented on #426
Thank you very much for the suggestions!
1. Yes, I just wrote down some remarks without much consistency. This should be rewritten with the readers in mind. I will add these explanations.
2. Yes, I plan to add more basic usage examples. The 3264 example can be done as follows.
[code]
I couldn't quite decide how to handle the exceptional divisor class. There could be varieties that are blowups with

[2021-05-18 08:39] thofma commented on #426
How can I reproduce those timings (I mainly interested in the Singular.jl only vs Oscar.jl difference)?

[2021-05-18 15:58] jieaosong commented on #426
I added the minimal working example [here](https://github.com/8d1h/IntersectionTheory/blob/oscar/oscar/Test.jl) (which could be used as the test set). The two instances of `homogenous_components` are taking up most of the computation time... And it will be even slower if I had used `homogenous_component` for individual components...

For the reduction, I changed these two lines
https://github.com/

[2021-05-18 17:16] thofma commented on #426
I just optimized the `homogenous_component` a bit and now get:
[code]
Using in addition reduction after multiplication and powering I get:
[code]

P.S.: My original timings were
[code]

How can I reproduce those Singular.jl only timings?

[2021-05-18 17:24] jieaosong commented on #426
Nice! For Singular.jl, maybe just try `@time grassmannian(7,14);`?

The two instances of homogeneous components are here if you want
https://github.com/8d1h/IntersectionTheory/blob/f9b1f84e95688dbcd137eef39cc27a01d43bab2c/src/Main.jl#L793
https://github.com/8d1h/IntersectionTheory/blob/f9b1f84e95688dbcd137eef39cc27a01d43bab2c/src/Main.jl#L1071

[2021-05-19 14:10] fingolfin opened #443 "OSCAR website should link to docs"
https://oscar.computeralgebra.de/documentation/ is missing a link to the Oscar.jl documentation

[2021-05-19 14:11] tthsqe12 opened #444 "Don't forget to fix singular_ring(::NmodRing)"
I don't have time to fix this now and would like to remember to fix this later.

https://github.com/oscar-system/Oscar.jl/blob/89b97d59d246addea8f9192f1185db1720e90462/src/Rings/mpoly.jl#L525-L526

This might break
https://github.com/oscar-system/Oscar.jl/blob/89b97d59d246addea8f9192f1185db1720e90462/examples/TranslateBinomial2.jl#L35-L44

[2021-05-19 16:19] thofma commented on #444
Don't we have `gfp_mpoly` now?

[2021-05-19 17:20] thofma commented on #426
For the Singular version I get
[code]
I will make a PR with my changes.

[2021-05-19 19:44] jieaosong commented on #426
Thanks that would be great!

[2021-05-20 16:37] thofma commented on #426
#446

[2021-05-20 17:05] tthsqe12 commented on #426
Timing these things must be nightmare. We have three different polynomial implementations ...

[2021-05-27 10:03] thofma opened #451 "Random error in FreeModules-graded-test.jl"
https://gist.github.com/benlorenz/5d80d30cf24be1b5a244dc6072750b4b

[2021-05-28 13:08] fingolfin opened #454 "Introduce (resp. import from Hecke) `coefficient_ring` for our polynomial rings (including decorated)"
... instead of `base_ring`, and use it consequent in code and examples. (Note that Hecke already defines `coefficient_ring`, we should extend and use it in Oscar).

For a "plain" mpoly (ring), this returns precisely the coefficient ring that was used to construct it. For a decorated mpoly (ring), this returns the `coefficient_ring` of the wrapped mpoly (ring).

If you create a polynomial ring R wh

[2021-05-28 13:53] thofma commented on #454
Very much in favor of this.

[2021-05-28 19:08] wdecker commented on #454
We disussed this last Wednsday within the "algebraic geometry gang" and agreed that it is important to consequently implement the "one-up" principle. I understand that Max' suggestion is to realize precisely this. We have no problems with using coefficient_ring instead of base_ring. I personally support the change. So yes, go ahead!

[2021-05-31 17:11] #451 closed, assigned to nobody

[2021-06-09 13:57] fingolfin commented on #443
@ThomasBreuer could you also take care of this, please?

[2021-06-10 08:47] #443 closed, assigned to ThomasBreuer

[2021-06-10 09:02] wdecker commented on #443
We should decide on how far we make the docu public and how often we update it. So far I can only see integers and rationals. Or am I missing something?

[2021-06-10 09:06] thofma commented on #443
The link is wrong. I will fix it.

[2021-06-10 09:10] thofma commented on #443
https://github.com/oscar-system/oscar-website/pull/172

[2021-06-10 09:21] fieker commented on #443
On Thu, Jun 10, 2021 at 02:10:41AM -0700, thofma wrote:

When is latest updated?

[2021-06-10 09:23] thofma commented on #443
Latest is not a thing anymore. It was renamed to "dev" quite a while ago.

[2021-06-15 15:54] thofma opened #475 "Fancy printing and doctest printing clash"
The following behavior was observed by @wdecker and since I could not find an easy solution, I want to record it here. In the REPL we have the following output:
[code]
Notice the `A` in the second output. We do this by cleverly looking up the bindings in `Main`. Unfortunately, the same example run as a doctest returns
[code]
Notice that there is no `A` in the second output. This happens because do

[2021-06-15 16:26] wdecker commented on #475
This is also confusing for the user as what he sees in the docu is different from what he sees in practise.

[2021-06-17 10:08] fingolfin opened #480 "Improve groups documentation"
From PR #477 by @ThomasBreuer :

- Introductory texts are missing for most of the sections.
- Documentation for basic functions for groups such as `isfinite` and `order` is missing. (Note that `order` can return an integer only if the group is finite.)
- Examples are missing. (And some comments about usage can be replaced by examples.)
- Cross-references are missing. For example, `fmpz` is mention

[2021-06-17 10:10] fingolfin commented on #480
One thing to add: I would split the single page into several; equivalently, split `docs/src/Groups/groups.md` into several files. This could roughly correspond to the current `##` sections in `groups.md`: so one one group products, one one fp groups, one on perm groups, one on cosets, etc.

[2021-06-17 15:44] ThomasBreuer commented on #480
Splitting the chapter is a good idea. One advantage is that then it becomes easier to rearrange the sections.

[2021-06-17 16:09] thofma commented on #347
While you are at it, please improve the printing of `Qab*`.

[2021-06-17 16:10] ThomasBreuer commented on #475
We can try to convince the `Documenter.jl` developers that this shows a bug.

[2021-06-17 20:14] #407 closed, assigned to nobody

[2021-06-18 06:48] CarloSircana opened #485 "Ideal membership"
The ideal membership test seems to be broken. Here I define an ideal and construct a monomial which, according to the Oscar function, belongs to the ideal.
If I then compute the ideal of the leading terms, it tells me that the monomial is not in the leading term ideal.

[code]

By looking by hand at the Groebner basis, I would say that the problem is in the ideal membership test.

[2021-06-18 07:07] thofma commented on #485
@tthsqe12 I heard you wanted to work on some Oscar bugs

[2021-06-18 09:07] wdecker commented on #485
@ederc : I guess the problem is not the ideal membership function. There seems to be, however, a problem with the Groebner basis: The dp GB in Singular reads:

_[1]=x(1)^2
_[2]=x(1)*x(4)^2-x(2)*x(5)^2
_[3]=x(1)*x(2)*x(5)^2
_[4]=x(2)^5
_[5]=x(2)^2*x(5)^4
_[6]=x(2)^4*x(4)^2
_[7]=x(3)^6
_[8]=x(2)*x(4)^8-x(3)^3*x(5)^6
_[9]=x(5)^10
_[10]=x(2)^2*x(4)^6*x(5)^2-x(1)*x(3)^3*x(5)^6
_[11]=x(1)*x(3)^3*x(5)^8

[2021-06-18 10:01] tthsqe12 commented on #485
I am adding this to the queue.
My initial hunch is that the monomial ordering got lost in translation.

[2021-06-18 12:24] ederc commented on #485
Should be fixed with #489: Problem is mainly what @wdecker printed: The gb stored "on the Oscar" side sorts the monomials in general not in the monomial order we computed the gb for (on the Singular side). Falsely leading_ideal() just took the leading monomials of I.gb.O and not of I.gb.S.

[2021-06-18 12:50] ThomasBreuer commented on #480
Some general questions (addressing also consistency with other parts of the Oscar documentation):
- In some places there are no individual docstrings but lists or tables of operations together with some text. What is preferable? (Advantages of docstrings are that the documentation is near to the code, and that one gets an automatic link from the HTML documentation to the code.)
- Should examples i

[2021-06-18 12:58] thofma commented on #480
I guess we should do something similar as we do for `order`. Always return `fmpz` and have the `exponent(Int, ...`) option.

I personally don't like this and see lots of problems with it, but I don't know how easy it is to change it.

Maybe let's ignore it for a moment.

[2021-06-18 13:50] fingolfin commented on #480
For `exponent`, I agree with @thofma . And we'll need this for many other things: wrappers for GAP functions like `NrConjugacyClasses`, `RankPGroup`,`PClassPGroup`, `AbelianInvariants`, etc. etc..

(This may require us to mention `fmpz` in the documentation, which is annoying. )

For `all_small_groups`, the only type stable way to handle this would be to always return a `Vector{Oscar.GAPGroup}`. O

[2021-06-18 14:02] fingolfin commented on #480
For mathematical operations, there should be a docstring. But for e.g. `intersect` or `issubset` it is probably

I prefer `jldoctest` and inside the docstrings, and this is what I pushed Wolfram for in the Commutative Algebra code here in Oscar.jl. You can take a look there to see how it is structured. Please also see https://docs.julialang.org/en/v1/manual/documentation/  which mentions at some p

[2021-06-18 15:43] wdecker commented on #480
A common index is a must!
I cannot access @Index.

[2021-06-18 16:03] thofma commented on #485
Fixed by #489.

[2021-06-18 16:03] #485 closed, assigned to nobody

[2021-06-18 16:16] thofma commented on #454
There is now `coefficient_ring` (which is just an alias for `base_ring`) for all types of polynomial rings.

[2021-06-18 16:16] #454 closed, assigned to nobody

[2021-06-18 17:17] tthsqe12 opened #491 "inexplicable behaviour of QabField"
I was investigating a heisenbug in the binomial ideal test code and came across the following behaviour, which looks suspicious. The version is 1.4, but I don't think it matters much. Bascially, we end up with two keys that compare == in the dictionary.
[code]

[2021-06-20 07:42] ThomasBreuer commented on #480
Concerning the `@index` macro, apparently the automatically created links to items in the imported parts of the documentation (AbstractAlgebra, Nemo) do not work as expected; I am investigating this problem.

[2021-06-22 08:56] #491 closed, assigned to nobody

[2021-06-22 18:18] ThomasBreuer opened #497 "References in the documentation"
Concerning problems with the list of references for Oscar (see ali-ramadhan/DocumenterCitations.jl/pull/44),
wouldn't it be easier to adapt the available GAPDoc machinery?

[2021-06-23 15:34] ThomasBreuer commented on #497
After a short discussion with @fingolfin:
My idea is that the HTML version of the references can be created using the GAPDoc package (which is automatically available via GAP when Oscar is loaded), that this code can be wrapped into a page of the Oscar documentation, and that this page can then be included in the navigation.
Advantages of GAPDoc in this respect are that several bugs and shortcomin

[2021-06-28 21:54] matthias314 opened #504 "Oscar doesn't precompile with Julia 1.7.0-beta2"
You might be interested in the following observation: When trying to install Oscar 0.5.2 with the current beta2 version of the upcoming Julia release 1.7.0, the packages CxxWrap, GAP, Polymake, Singular and Oscar produce errors during precompilation. Installation with Julia 1.6.1 works fine.
[code]
EDIT: Maybe this is related: JuliaInterop/CxxWrap.jl#291

[2021-06-29 05:36] fingolfin commented on #504
Yes we are aware. That's because Julia 1.7 breaks CxxWrap, and updating it is ... tricky...

[2021-06-29 07:55] fingolfin commented on #504
See also https://github.com/JuliaPackaging/Yggdrasil/pull/3214 (plus discussions on the Julia Slack, which I can't link to).

[2021-06-29 19:04] jieaosong opened #505 "bug in `hilbert_polynomial`"
Hi! The function `hilbert_polynomial` sometimes gives wrong result.

[code]

I think the following line
https://github.com/oscar-system/Oscar.jl/blob/1911457e342d7a0cbcde854815de67cf18e3b2cd/src/Rings/mpoly-graded.jl#L637
should be changed to `for i=1:d+1` (also the array `b` declared several lines below seems unnecessary)

[2021-06-30 12:04] #505 closed, assigned to nobody

[2021-07-01 09:06] thofma commented on #475
I don't think it is a bug that doctests are run in their own module/scope. Running them at toplevel would make them pretty fragile.

I had to fix it again by hand in #506. This is tedious. Next time I have to do it I will just disable the fancy printing altogether.

[2021-07-02 13:19] fingolfin opened #512 "docs: collapse all top-level entries in the navigation by default"
... if this is possible with Documenter.jl at all.

Suggested by @micjoswig during out weekly meeting; @thofma wanted to have a look.

I thought we could do this using [`hide()`](https://juliadocs.github.io/Documenter.jl/dev/lib/public/#Documenter.hide) but that seems to completely remove things from the navbar unless the page is active, which is *not* what we want.

[2021-07-02 13:27] fingolfin opened #513 "docs: weirdness in navbar with docs included from Hecke"
Something weird is going on in the navbar for these pages:
- https://oscar-system.github.io/Oscar.jl/dev/Hecke/docs/src/number_fields/intro/
- https://oscar-system.github.io/Oscar.jl/dev/Hecke/docs/src/number_fields/basics/
- https://oscar-system.github.io/Oscar.jl/dev/Hecke/docs/src/number_fields/elements/

Here is a screenshot

<img width="290" alt="Screenshot 2021-07-02 at 15 26 47" src="https:

[2021-07-02 13:30] fingolfin opened #514 "docs: why do some filenames have a prefix like `ca_`, `pg_`, `it_`?"
I think @wdecker started this and the the Polymake group took over the convention.

But this seems redundant: instead of `CommutativeAlgebra/ca_binomial_ideals.md` why not use `CommutativeAlgebra/binomial_ideals.md` -- or even `CommutativeAlgebra/BinomialIdeals.md`.

Also, during our meeting today we kinda agreed that all chapters should start with an introduction page; right now that's e.g. `Comm

[2021-07-02 14:23] micjoswig opened #515 "docs: "introduction" vs "interface""
Start each top level section with a page "Introduction".  That is supposed to describe the key mathematical concepts, with references to standard text books.

Possibly we might create a uniform style for this later.

[2021-07-02 14:27] micjoswig opened #516 "docs: ordering of top-level entries"
Reorder like:

Groups
Rings
Fields
Linear Algebra
Polyhedral Geometry
Commutative Algebra
Invariant Theory

[2021-07-02 14:32] micjoswig opened #517 "docs: "Affine Algebras" vs "Polyhedral Cones""
There are mathematical objects which occur in several corner stones in natural ways, which are largely independent though.

A first example of this kind are affine algebras, which are (rightfully) part of the commutative algebra documentation.  In polyhedral terms these are polyhedral cones with a choice of a fixed lattice.  This needs to be reflected in the documentation.

One choice (suggestion

[2021-07-02 14:35] micjoswig commented on #514
"pg" was just copied from "ca". So, no reason by itself.

[2021-07-02 15:08] fingolfin commented on #512
I asked on the Julia Slack and was told: Pass
`format = Documenter.HTML(collapselevel = 1)`
to makedocs.

[2021-07-02 15:10] wdecker commented on #514
The only reason for starting with ca was that at that time, the  relevant files where in a different, more general folder. Having a more refined folder structure now, there is no reason for such things except: Are their conflicts with having files in different folders with the same name (such as intro.md)?

[2021-07-02 15:18] thofma commented on #514
No, there will be no conflict.

[2021-07-02 15:33] thofma commented on #512
I will make a PR.

[2021-07-02 15:55] thofma commented on #513
Will have a look.

[2021-07-02 16:05] thofma opened #518 "Separate section for number theory"
Make a separate section for number theory. This should not be spread across `Rings/Fields`.

[2021-07-02 16:22] mohamed-barakat commented on #517
Is the affine algebra of a rational polyhedral cone the monomial subalgebra of the polynomial (or Laurent polynomial in the nonconvex case) ring linearly generated by the monomials corresponding to the included lattice points? If yes, then these are special affine algebras and do not exhaust the entire class.

[2021-07-03 21:55] #516 closed, assigned to ThomasBreuer

[2021-07-03 23:54] #512 closed, assigned to thofma

[2021-07-05 12:12] thofma opened #526 "Missing functionality for quotients of graded rings"
* [x] `homogeneous_components` when used on a quotient element returns elements in the ambient ring
[code]
* [x] No function to retrieve the degrees of the generators of R or Q, so one must use `R.d` or `Q.R.d`.
* [x] The gradings are not very easy to use. In particular since the abelian group used in the gradings is not cached, one must retrieve it using `R.D` or `Q.R.D`.
[code]
* [x] If one work

[2021-07-05 12:18] fieker commented on #526
So there are functions missing
 - one to compute the degree of the generators. Suggestions for the name?
 - one to get the decorating group. Suggestions for the name?
 - a missing coercion
 - a wrong return type
The last 2 are easy - as are the first - provided someone comes up with a good name

[2021-07-05 12:22] thofma commented on #526
I will work on it.

[2021-07-05 17:21] jieaosong commented on #526
Some more missing functionalities
* Evaluation
[code]
* Promotion
[code]
And ditto for `MPolyQuoElem` (even non-graded ones).

[2021-07-06 12:02] fieker opened #529 "Kroki"
Dear Gurus
Wolfram just ran into problems building the documentation: we accidentally unplugged the laptop and thus couldn't build the docu (without errors).
Problem: Kroki requires an active internet connection.
Is this deliberate? A price we're willing to pay? Well known?

From my point of view, this is not a good idea, there should be an offline version or a statically included graphic (tha can

[2021-07-06 12:04] fingolfin commented on #529
It needs an active internet connection?? WHY??? That sounds really bad to me.

[2021-07-06 12:12] fieker commented on #529
the rendering is done via kroki.io, Wolframs error was DNS error, kroki.io couldn't resolve...

[2021-07-06 12:24] wdecker commented on #529
ERROR: DNSError: kroki.io, unknown node or service (EAI_NONAME)
Stacktrace:
 [1] render(::Kroki.Diagram, ::String) at /Users/decker/.julia/packages/Kroki/HWTax/src/Kroki.jl:162
 [2] show(::IOContext{Base.GenericIOBuffer{Array{UInt8,1}}}, ::Kroki.Diagram) at /Users/decker/.julia/packages/Kroki/HWTax/src/Kroki.jl:228
 [3] show at ./multimedia.jl:47 [inlined]
 [4] limitstringmime at /Users/decker/.ju

[2021-07-06 14:29] thofma commented on #529
Will be fixed by https://github.com/Nemocas/AbstractAlgebra.jl/pull/924.

[2021-07-07 20:01] edubya commented on #283
I see this error but in a slightly different manifestation on WSL Ubuntu. I am unsure if it succeeded with installing Ferret in the end because of an additional error:
[code]
Any advice on how to proceed?

[2021-07-07 21:46] fingolfin commented on #283
That's completely different, it looks like there was an actual error.  I'll open a separate issue.

[2021-07-07 21:46] fingolfin opened #540 "error installing Ferret: gmp.h not found"
I see this error but in a slightly different manifestation on WSL Ubuntu. I am unsure if it succeeded with installing Ferret in the end because of an additional error:
[code]
Any advice on how to proceed?

_Originally posted by @edubya in https://github.com/oscar-system/Oscar.jl/issues/283#issuecomment-875892827_

[2021-07-07 21:48] fingolfin commented on #540
@edubya:  Can you please tell us the output of:
[code]

[2021-07-07 22:00] edubya commented on #540
[code]

[code]

[code]

[code]

[2021-07-07 22:25] fingolfin commented on #540
Oh, I see: this is something we fixed in GAP_jll, but did not release. A release will come soon, but in the meantime, as a workaround (so that you can proceed) you could install `libgmp-dev` via `apt` (assuming that's how you do these things with WSL)

[2021-07-08 08:49] fingolfin opened #541 "Wishlist for groups interface"
For various pieces of code in Oscar (invariant theory, cohomology, ...) we need wrappers for the following GAP functions. Feel free to edit this issue and add your own / add comments with additional requests.

- [ ] `GeneratorsOfMonoid` (and probably more monoid related stuff)
- [ ] `InverseGeneralMapping`
- [ ] `IsomorphismFpGroupByGenerators`
- [ ] `MappedWord`
- [ ] `RelatorsOfFpGroup`
- [ ] `R

[2021-07-08 08:55] fieker commented on #541
some of them exist in the Cohomology module and need to be "approved" and moved out of examples. Similar with the group stuff in GaloisGrp....

[2021-07-08 08:55] fingolfin opened #542 "Implement character and representation theory"
For starters, move the character table code from `examples/GroupCharacters.jl` to regular interface.

This is @ThomasBreuer code and I see no fundamental obstacle? Of course may wish to adjust the interface some

UPDATE: a wishlist of things from some old notes of mine; note that of course not all of these need to be there from the start
- characters and character tables should exist as Oscar obje

[2021-07-08 08:57] fingolfin commented on #541
Looking at that code is part of the source for this list. However, I don't think these "exist" there so much as that the code you reference is *calling* them -- but it doesn't e.g. provide a standalone wrapper for `RelationsOfFpMonoid` (which is fine, it's not your job to write those).

I mainly wrote these issue to collect things together we need, and to be able to show people who ask for things

[2021-07-08 11:57] edubya commented on #540
Thanks that did it

[2021-07-09 09:33] HechtiDerLachs opened #545 "Determinants of matrices with polynomial entries"
I got the following error

ERROR: MethodError: no method matching one(::Type{fmpq_mpoly})

running this code

R, A = PolynomialRing(QQ, "a" => (1:3,1:3))
det(A)

As it seems, some methods for the computation of determinants are not yet implemented here.

[2021-07-09 09:35] fieker commented on #545
On Fri, Jul 09, 2021 at 02:33:54AM -0700, HechtiDerLachs wrote:

No, det is fine, but it cannot work for Arrays only for matrices:

det(matrix(A))

works.

det(A) is calling julia's base and this cannot support our types
det(matrix(A)) is calling us

[2021-07-09 09:37] HechtiDerLachs commented on #545
Ah, OK. Thanks.

[2021-07-09 09:37] #545 closed, assigned to nobody

[2021-07-09 09:51] fingolfin opened #546 "Add native support for Apple M1"
This would be nice to have, as Julia 1.7 will probably support it "officially", and so people will start asking for this.

So, here is a list of JLLs that someone will have to update with support for M1 (I've omitted a few which already have it; I may have missed some, though):

- [x] Antic_jll -- https://github.com/JuliaPackaging/Yggdrasil/pull/3825
- [x] Arb_jll -- https://github.com/JuliaPackag

[2021-07-09 09:53] thofma commented on #546
Would this mean we could drop the version shenanigans in `libsingular_julia_jll`?

[2021-07-09 10:00] fingolfin commented on #546
Yes (assuming we require Julia >= 1.6 throughout). I mean, personally, I'd be all for that. Perhaps we can just do it now for most of our packages and JLLs (dunno if this would be acceptable for Nemo now or not, ping @wbhart)

[2021-07-09 10:06] wbhart commented on #546
There's still no Julia LTS after 1.0.5. I am personally using 1.6, but I have to build docs on 1.5 due to the changes they made to the way arrays are printed. Those would be my main objections right now. Otherwise I am not opposed.

[2021-07-09 10:08] thofma commented on #546
The LTS thing would be also my concern. Let's hope that 1.6 becomes LTS once 1.7 is out.

[2021-07-09 10:31] ThomasBreuer opened #547 "problem with building the Oscar documentation"
Currently building the Oscar documentation causes problems.
After the call `Pkg.activate(joinpath(Oscar.oscardir, "docs"))` in `Oscar.build_doc()`, `pkgdir(Oscar)` gets a wrong value.
Namely, although the loaded Oscar is the develop version, `pkgdir(Oscar)` points to the released version in `~/.julia/packages`.
(Is this a bug or a feature?)

`pkgdir` is used in `docs/make_work.jl` to specify sourc

[2021-07-09 16:30] wdecker opened #552 "Printing roots of unity"
Writing elements of the abelian closure of QQ looks horrible:
[code]
Two questions to start a discussion:
1. Isn't -1 in Q(z_1) just -1?
2. Can I print (z_3 + 1 in Q(z_3)) by introducing a greek letter such as \zeta_3: (\zeta_3+1)

[2021-07-09 19:19] fingolfin commented on #546
I asked on the Julia slack regarding LTS and how (un)likely it is that 1.6 would become the next LTS. I was told: "I would say quite likely" by one person. I expressed that I was looking forward to this as some of my colleagues have concerns about not supporting the LTS, to which Stefan Karpinski replied:

Anyway, for Oscar/Singular/GAP/Polymake we should be free to drop support for versions befor

[2021-07-10 18:48] wdecker opened #557 "segmentation fault primary decomposition over number field"
[code]

[2021-07-12 07:55] fieker commented on #552
On Fri, Jul 09, 2021 at 09:30:30AM -0700, Wolfram Decker wrote:

Yes (and no):
 mathematically it is -1
 Juliawise it is not fmpz, nor fmpq, but a QabElem (or so)

 Yes (and no):
 we've decided to not use anyhting but normal (ancient) 7-bit ascii in
 our programming - to have maximal flexibility in tools (and not run
 into wierd codeoage problems when s.o. is using the wrong editor/ tool)
 Bu it w

[2021-07-12 16:50] thofma commented on #557
Seems to be a Singular issue. Here is how to reproduce it using only `Singular.jl`:
[code]
@tthsqe12 Any idea?

On a related note, do you know why we don't create a Singular number field when doing computations with number fields @tthsqe12? Why is `singular_ring(::AnticNumberField)` not creating a Singular number field?

[2021-07-12 16:54] wdecker commented on #557
In Singular itself you get:

[code]

[2021-07-12 16:57] tthsqe12 commented on #557
Well, of course it crashes in singular. Singular is going to get the `n_unknown{nf_elem}` and you can imagine what happened from there.

[2021-07-12 16:57] thofma commented on #557
Isn't there the generic fields functionality?

[2021-07-12 16:58] tthsqe12 commented on #557
Singular's library procedures are not coded with generic field functionality in mind.

[2021-07-12 17:00] thofma commented on #557
Makes sense. There is no primary decomposition for generic fields without more primitives.

[2021-07-12 17:03] wdecker commented on #557
S o what can we do?

[2021-07-12 17:03] thofma commented on #557
I discussed the fix with @tthsqe12. He will take care.

[2021-07-12 17:05] thofma commented on #557
Do you already have code for this @joschmitt? Going back and forth between Singular and Nemo number fields?

[2021-07-12 17:44] joschmitt commented on #557
Not yet. The plan is to start with this on Wednesday (assuming nobody else is faster or insists on doing it themselves).

[2021-07-12 18:28] hannes14 commented on #557
The coefficients in Singular have an array of function pointers to define their behaviour.
primdecGTZ needs factorization, so it calls factory for that.
First action is converting Singular polynomials to factory polynomials, it uses convSingNFactoryN
for conversion of the coeffcients. If this field is not set (i.e. is ndConvSingNFactoryN), an error should occur ("not implemented").

[2021-07-12 19:19] tthsqe12 commented on #557
@joschmitt I insist on doing this myself in singular.jl tmr (Tuesday). It is a low-level operation that should try to be "efficient".

[2021-07-12 19:26] joschmitt commented on #557
Sure.

[2021-07-13 11:01] tthsqe12 commented on #557
So the fixed version probably outputs an output isomorphic to the singular output:
[code]

[2021-07-13 11:56] fingolfin opened #558 "Enabling CI tests against Julia nightlies: custom builds of several of our JLLs"
CI builds against Julia nightly are more or less permanently broken -- part of the problem is that libjulia_jll only goes up to 1.7, and there are no nightly builds for that -- nor nightly builds for the JLLs that we need which build against libjulia (`libcxxwrap_julia`, `GAP`, `libsingular_julia`, `libpolymake_julia` (hmm, perhaps I should rename `GAP_jll` :joy:). And actually, we then need build

[2021-07-13 14:55] fingolfin opened #559 "Wishlist for documentation"
A random collection of ideas for improving the Oscar.jl documentation, based on real world experiences and discussions on Slack :-)

- there seems to be no docstring for `hom` between multivariate polynomial rings
- I had a hard time finding any information about how to create homomorphisms between rings
  - perhaps there could be a section "Ring homomorphisms"; we already have sections "Group hom

[2021-07-13 15:32] wdecker commented on #559
The docu for commutative algebra says:

Creating Polynomial Rings

Referring to the corrresponding section of the ring chapter for details, we recall how to create multivariate polynomial rings. Then we show how to assign gradings to these rings and how to set up maps between them.

The functionality for the latter is in the making (@Dan), the docu will follow (@wdecker).

[2021-07-14 07:02] fingolfin opened #560 "Homomorphisms from polynomial rings into "arbitrary" rings"
I tried to define a homomorphism from a polynomial ring into its coefficient field, but failed. This is what I tried:
[code]

I realize that for unrestricted domain & codomain pairings, the resulting homomorphisms may be of limited use (e.g. preimages may not be computable), but if the domain is a polynomial ring over a coefficient ring `K`, and the codomain is a K-algebra in a natural way, then a

[2021-07-14 07:53] thofma commented on #560
Yes, when we overhaul the morphisms this will also be possible.

[2021-07-14 08:43] simonbrandhorst opened #561 "Schemes"
This page is meant as a place for discussion about what schemes in Oscar should be.
Please write what you expect from schemes and which features you need.

(Edit) Moved the Wiki part to:
https://github.com/Singular/Singular/wiki/Singular-Development-Roadmap

[2021-07-14 09:19] fingolfin commented on #561
Indeed. @AlexD97 and @jankoboehm are working on this, PR #461 is part of work towards this, as far as I understand.

[2021-07-14 18:35] #529 closed, assigned to nobody

[2021-07-14 18:36] fieker commented on #529
Solved in aa

[2021-07-15 05:15] #557 closed, assigned to nobody

[2021-07-15 11:42] thofma opened #564 "singular_ring not working for finite prime fields"
[code]
@tthsqe12

[2021-07-15 12:30] tthsqe12 commented on #564
Well, you can't use n_unknown on immutables.
This is a well-known fact. :)
https://github.com/oscar-system/Oscar.jl/blob/c4eca1ee2c7b309d8bf5fa6cdc7ffab4eaaaf949/experimental/Rings/QabAndPChars.jl#L23-L25

Unfortunately, singular offers no native analogue of gfp_fmpz_elem, so either we make gfp_fmpz_elem mutable, or make a mutable wrapper of it?

[2021-07-15 12:34] thofma opened #566 "No singular_ring for finite fields"
[code]
@tthsqe12

[2021-07-15 12:35] thofma commented on #564
How about not creating an `n_unkown`? Or is there no corresponding Singular type?

[2021-07-15 12:45] tthsqe12 commented on #566
Another difficult situation: Singular only offers finite fields of characteristic less thatn about 2^30, so does singular_ring(::FqNmodFiniteField):
 1. return n_unknown (as it currently does), or
 2. try to create the native singular version and possibly throw, or
 3. create a type-unstable combination of the above two

?

[2021-07-15 12:50] thofma commented on #566
I guess there is no chance of making Singular itself play nice with `n_unkown`?

[2021-07-15 12:51] thofma commented on #564
What about the `ResidueRing` trick from here: https://github.com/oscar-system/Oscar.jl/pull/528/?

[2021-07-15 12:52] tthsqe12 commented on #566
I highly doubt it, but let's ask @hannes14 .

[2021-07-15 12:54] tthsqe12 commented on #564
No - then Singular doesn't know it is a field.

[2021-07-15 13:17] hannes14 commented on #566
- extending Singulars limit for  finite fields to 2^62 is possible
- n_unknown misses all functionality related to factorize, gcd, extgcd due to missing support in factory

[2021-07-15 14:13] #444 closed, assigned to nobody

[2021-07-15 14:48] wdecker commented on #561
@simonbrandhorst: Is this meant to start a discussion? Or?

[2021-07-15 15:24] wbhart commented on #515
I have created Introduction sections for each chapter of the AbstractAlgebra documentation, which would make some contribution to this if those were slurped in (once merged).

I tried not to mention AbstractAlgebra directly in the Introductions for all the sections that seem like they'd work as introductions for Oscar as well.

[2021-07-15 15:38] simonbrandhorst commented on #561
(Edit) Yes :-).

[2021-07-15 16:00] #526 closed, assigned to nobody

[2021-07-16 09:22] #566 closed, assigned to nobody

[2021-07-16 12:21] thofma opened #569 "Use of non-ASCII characters in output"
This came up in #568 but should be discussed with all stakeholders. In #568 there was the idea to print `ζ_4` instead of `z_4`, which means introducing non-ASCII characters in the output. Do we want to allow this? The question is *only* about printing.

CC'ing some people which already thought about this: @wdecker, @fingolfin, @fieker