[2021-07-16 12:41] fingolfin commented on #229
The same should also be done for plain fields such as `QQ` and `GF(5)`.

[2021-07-16 12:45] thofma commented on #229
For ZZ this is implemented now (in Hecke), although not documented and not all the functionality that you mentioned. The syntax for creation is `ideal(ZZ, x)` or `x * ZZ`, but we should add the `Vector` version for consistency.

[2021-07-16 13:11] fieker commented on #569
On Fri, Jul 16, 2021 at 05:22:07AM -0700, Tommy Hofmann wrote:

I guess there is more to it:
 QabField() should also return "gen", ie. a function to compute z(n)
 it should have an (optional) argument to set the printing name of z
   (is this possible? printing a function nicely)
 the printing of QabFieldElem needs to (possibly) also print z(4) rather
   than z_4 (or zeta)
 then finally there is t

[2021-07-18 11:54] #552 closed, assigned to nobody

[2021-07-18 13:06] thofma commented on #569
Yes, I am currently redoing the Q^ab printing as you suggested, but this is kind of unrelated to the issue here. The question about non-ASCII characters needs to be discussed/decided.

[2021-07-20 11:02] tthsqe12 opened #572 "geometric_genus(C::ProjectivePlaneCurve{S}) is wildy type unstable"
I was looking over #466, and as far as I can see, it actually returns `Int` or `fmpq` (!!), but the compiler infers `Any` for the return type (calls to the singular library are necessarily unpredictable).

<ins> I hope for a return type of `fmpz` and the compiler should be able to infer it </ins>

Cause of fmpq return type is related to #573

[2021-07-20 11:12] tthsqe12 opened #573 "functions related to hilbert_polynomial use unsafe Int arithmetic and an odd mix of fmpz/fmpq arithmetic"
@wdecker For example, we have
https://github.com/oscar-system/Oscar.jl/blob/c6c64dc50951b8a7cfaaee415283b5555e6e9b17/src/Rings/mpoly-affine-algebras.jl#L116-L123
The `binomial` with `(Int, Int)` arguments returns `Int` and apparently throws on overflow, and the `hilbert_function(H, d)` returns `fmpq`. This is bad for the infered return type of this function.

[2021-07-20 11:28] wdecker commented on #573
@dan: I will change this next week (this week, I have a few days „off“). Any other examples?

--
             Wolfram Decker  |  University of Kaiserslautern
                  Professor  |  Department of Mathematics
***@***.*** ***@***.***>  |  Building 48 - Room 435
              P.O. Box 3049  |  D-67653 Kaiserslautern
     phone +49 631 205-2253  |  fax +49 631 205-4795

[2021-07-20 11:43] tthsqe12 commented on #573
well, I would start by looking at all calls to factorial and binomial, wrapping the arguments in ZZ. As for the ZZ/QQ issue, I am not sure as I think some things are not defined over ZZ. But we have a problem with genus reading coefficients and getting answer in QQ. I think the genus should be in ZZ.

[2021-07-20 11:59] wdecker commented on #573
I am wondering why one would get an answer in QQ for the genus; it should be in ZZ.

--
             Wolfram Decker  |  University of Kaiserslautern
                  Professor  |  Department of Mathematics
***@***.*** ***@***.***>  |  Building 48 - Room 435
              P.O. Box 3049  |  D-67653 Kaiserslautern
     phone +49 631 205-2253  |  fax +49 631 205-4795

[2021-07-20 12:09] tthsqe12 commented on #573
The answer certainly is an integer, but it lives in QQ because it was read from a polynomial over QQ. It's like the difference between `2//1` and `2`.

[2021-07-21 13:01] joschmitt opened #574 "Problems with $ in singular_ring"
There is the following entertaining bug with `singular_ring`:
[code]
...and julia quits.
If you change the first line to
[code]
it works.
Note that I did not look very hard for this. `_$` is actually used as variable name of the defining polynomial of a `cyclotomic_field`.

[2021-07-21 13:03] thofma opened #575 "singular_ring woes"
[code]
@tthsqe12 Any clue?

[2021-07-21 13:04] thofma commented on #575
I think this and #574 have the same underlying issue.

[2021-07-21 13:12] hannes14 commented on #574
$ is used as an exit command in the singular interpreter
therefore it cannot be used in anything the interpreters sees: i.a. in all calls to Singular libraries.

[2021-07-21 13:14] tthsqe12 commented on #575
Sure, The problem is here
[code]
You have a "parameter" x with the same name as a "ring variable" x. Since the meaning of *everything* in the singular language is name-based, it is not going to work.

[2021-07-21 13:15] hannes14 commented on #575
Singular Polynomial Ring (0,x),(x,y),(lp(2),C)
The Singular ring has x both as a coefficient and as a variable
which leads to conflicts as soon as these names are used (i.e. in Singular libraries)

[2021-07-21 13:15] thofma commented on #575
Maybe some escaping is necessary? I don't think the caller should care about this.

[2021-07-21 13:16] hannes14 commented on #575
Having unique names in a ring should be sufficient

[2021-07-21 13:42] tthsqe12 commented on #574
Not a bug: you told it to quit, and it quit. :)
On a serious note, it is this execute executing `minpoly=number(($^2+$+1))`:
https://github.com/Singular/Singular/blob/spielwiese/Singular/LIB/finvar.lib#L1419

[2021-07-26 07:59] fingolfin commented on #161
@ThomasBreuer : so @fieker and me discussed this a bit tomorrow. Here's my current idea (which we can still revise): we add a new function `isomorphism(T, G)` (name could clearly be improved). It computes an isomorphism from the group `G` into an isomorphic group `H` of type `T`. So you might call it as `isomorphism(GrpAbFinGen, G)` where `G` is any abelian GAP group; or conversely e.g. `isomorphi

[2021-07-26 07:59] fingolfin commented on #572
@delphinepol can you take a look at this?

[2021-07-26 08:08] delphinepol commented on #572
OK, I will have a look !

[2021-07-26 08:08] tthsqe12 commented on #572
I learned of a good way to catch this from other parts of oscar test code (the parentheses are need here):
[code]
If would be great to have more of these kinds of checks in the test code.

[2021-07-26 12:01] delphinepol commented on #572
What do you mean by "inferred" ? I can turn the output of the functions as fmpz, but the test is not going through... What does this test check in fact ? How does the compiler infers something ? I have no clue on how to influence it...

[2021-07-26 12:49] tthsqe12 commented on #572
So, keep the @inferred in your test code. It turns out the whole of oscar is too type unstable to do this very cleanly. But, you can try to get `fmpz` as the inferred return type for the genus as follows.

----
`arithmetic_genus`: you can see the current status as follows. The bad parts here should be shown in red, and the summary of the bad situation is in `Body::Any`, which is the inferred retur

[2021-07-26 13:45] ThomasBreuer commented on #569
There are several issues about the question of supporting non-ASCII characters in output or not:
#318, Nemocas/Nemo.jl/issues/1013, Nemocas/AbstractAlgebra.jl/issues/773, and surely more.
(I had also once brought up the question because of the non-ASCII line drawing characters used in the code for #445, but currently I do not find the relevant comment.)

I think that using non-ASCII characters in

[2021-07-26 14:06] delphinepol commented on #572
@tthsqe12 Thank you very much for your help, it works !

[2021-07-26 14:24] HechtiDerLachs commented on #560
Could you add a check to the AlgebraHomomorphism routine which throws an error if the entries in the vector of images of the generators do not belong to the target ring?

The error messages which I got were rather cryptic.

[2021-07-26 14:25] thofma commented on #560
Sure.

[2021-07-27 07:32] #572 closed, assigned to delphinepol

[2021-07-27 10:21] fingolfin commented on #569
I am fine with printing the graphical characters (used for "box art") @ThomasBreuer mentions. That's because it is "output only", a user never needs to enter these. (Only caveat: ideally these should only be printed if the terminal really supports them).

It is different for things that users also have to enter. Entering `ζ_4` in an editor for many (most?) people will only be possible via copy & p

[2021-07-28 10:02] fingolfin opened #585 "Dealing with positive and negative infinity as return value for order(Group), index(G,H), exponent(G), degree(poly), ...."
We've had this discussion multiple times in multiple places and situations, but I am not sure we ever recorded a clear outcome, plus I have some new doubts, so, let's try to get this settled (even if this in the end just means someone points me at a different issue/PR/discussion were this was already settled before :joy:).

Many group related functions return either a positive integer or +infinity

[2021-07-28 12:19] ThomasBreuer opened #588 "links to source code in the Oscar documentation"
The Oscar documentation does currently not contain all links from docstrings to the source code.
The links seem to be missing for docstrings that belong to AA, Nemo, and Hecke.
(Note that the files in question get copied into the Oscar repository when the documentation gets built,
and then it is not clear to which addresses one should point for the source code.)

Is there an easy trick that would

[2021-07-28 13:17] fingolfin commented on #585
@fieker reminded me about option 5: enhance `fmpz` to allow it to represent infinity (and `-infinity`). See also https://github.com/Nemocas/Nemo.jl/pull/855

[2021-07-28 14:31] thofma opened #589 "New binaries with flint 2.8"
Just an issue to keep track of the progress:
- [x] flint, arb, antic, calcium, Singular
- [x] libsingular_julia (@tthsqe12)
- [x] normaliz (@benlorenz)
- [x] polymake (@benlorenz)
- [x] libpolymake_julia (@benlorenz)
- [x] Polymake release (@benlorenz)
- [x] LoadFlint (https://github.com/oscar-system/LoadFlint.jl/pull/23)
- [x] Generate `build_*` for arb, antic, calcium for Nemo (@thofma)
- [x] He

[2021-07-28 14:56] fingolfin opened #590 "GF(p,1) does not work if `p` is large (i.e., and fmpz)"
Note this:
[code]

I would expect `GF(p, 1)` to work identical to `GF(p)`.

(Ideally, I'd also like to have `GF(p, 2)`, but that's a separate concern)

[2021-07-28 15:00] fingolfin commented on #590
In contrast, this works:
[code]

[2021-07-28 15:04] fieker commented on #590
My fault, FiniteField does work. The original proposal was to have GF(p)
only for prime fields. In Hecke I wanted a uniform interface...

The current plan
 GF(p,k), GF(p) -> only the field, tpe depending on arguments
 FiniteField()  -> field and "generator"

currently, GF(a,b) = FiniteField(a,b) (plus me choosing a name)
On Wed, Jul 28, 2021 at 07:56:55AM -0700, Max Horn wrote:

[2021-07-28 15:37] jjgarzella opened #591 "Oscar Integers not playing well with Julia collection types"
Currently in Oscar, if one uses an Oscar integer as a dictionary key, it registers as a separate entry from a standard integer:
[code]

This behavior has caused subtle bugs for me, and I think would be pretty confusing for beginners.

It seems like the crux of this issue comes down to either a) changing the indexing behaviorfor ring elements or b) the fact that `fmpz` is not a Julia Integer type.

[2021-07-28 16:02] fingolfin commented on #591
This issue is caused by fmpz and Integer hashing being different. This has performance reasons...

And that's also why fmpz isn't subtyping Integer: to do that, hashing must match.

That said, I an unhappy about this as well.

see also https://github.com/Nemocas/Nemo.jl/pull/700

[2021-07-29 07:37] fieker commented on #591
On Wed, Jul 28, 2021 at 09:03:09AM -0700, Max Horn wrote:

The story is more complicated - and will pop up at least once every
year.
Numbers, in julia is (to me) kind of an implementation of the complex
numbers (or maybe only the reals), objects used heavily in computational
maths, numerics.
So objects, ie. 1 that can be represented as Int(1), UInt(1),
Float64(1), BigInt(1), Rational{Int}(1), ...

[2021-07-29 08:20] rfourquet commented on #591
This is supposed to be fixed, I think `BigInt` hashing doesn't allocate anymore (though it's still slower than for `fmpz`, as mentioned at https://github.com/Nemocas/Nemo.jl/pull/700#issue-339031489). But the perf got broken again by accident, on Julia 1.6 I think, and I don't remember if the fix was backported on the latest 1.6.x.

For the `Dict` thing, there is still unfortunate behavior with co

[2021-07-29 08:25] fingolfin commented on #591
I agree with all points @fieker brings up.

I am *still* unhappy about all this, because it is a source of confusion and it comes up again and again for understandable reasons. That said, I see no good solution. In the end, embedding in a "general purpose language" like Julia always has these kinds of drawbacks for a computer algebra system. The original sin here is that 2 is an Int64 and so 2^100

[2021-07-29 08:33] rfourquet commented on #591
What I still don't fully appreciate is how making `fmpz <: Signed` has more practical drawbacks than the status-quo. (Besides hashing speed, which can have workarounds as highlighted in the PR mentioned above).

[2021-07-30 11:27] fieker commented on #591
all the existing code accepting ring elements have to be changed to allow the correct container to also allow the class containing signed and then fixed to not allow Int e.g. as it will overflow. Julia "Int" are considered real numbers, thus have characteristic 0. Clearly they are not. So the code needs to check this. In use for indices/ sets/ ... this is harmless. In code that computes, not.
Hypo

[2021-07-30 11:34] tthsqe12 commented on #591
Is there some clever programming that can be done to still hash mpz's the way julia wants without allocating?

[2021-07-30 12:02] fieker commented on #591
On Fri, Jul 30, 2021 at 04:34:15AM -0700, dan wrote:

Of course, but will it be maintainable?
At the end, it is about an iteration over the limbs of the mpz with the
trailing (binary) zeros removed. I can fake that using bit-twiddling.
Do I want to? For what gain?

[2021-07-30 13:07] rfourquet commented on #591
Yes hashing of `BigInt` allocates on 1.6.0, but I don't know if the fix was backported to a later version 1.6.x.

The same non-allocating algo as the one used for `BigInt` should easily be translatable for `fmpz`. I did the PR against Julia for non-allocating hashing specifically as a POC to show that hashing of `BigInt` and `fmpz` could be made to agree without the allocation overhead that was oc

[2021-07-30 14:01] fingolfin opened #594 "Updating the examples on the website, and adding tutorial"
We have many more things in Oscar.jl now and should update the example notebooks on our website for that. And also add more. E.g. today I was asked about "tutorials about oscar for e.g. working with multivariate polynomials and computing gröbner bases?". For now I pointed them at the docs, as a start.

[2021-07-31 08:50] benlorenz commented on #589
I added some more bullet points to keep track of what is (as far as I can tell) currently missing to be able to use the new binaries in a new Oscar release.

[2021-07-31 10:16] thofma commented on #589
@tthsqe12 Could you take care of the Singular.jl release?

[2021-08-01 12:42] iimog opened #597 "Importing Oscar breaks display of Vectors in Pluto notebooks"
When importing Oscar in a Pluto notebook and then trying to display any Vector (even if it has nothing to do with Oscar, e.g. a Vector of Strings) the output is broken and produces an error message:
[code]
Error message:
[code]

Here is a screenshot of the expected output (before importing Oscar)
![Screenshot_without_Oscar](https://user-images.githubusercontent.com/7403236/127671594-63daa996-d2d5-

[2021-08-01 15:10] thofma commented on #597
Thanks for the report. I am working on a fix.

[2021-08-01 16:59] thofma commented on #597
Can you do a `Pkg.update()` and try again?

[2021-08-02 06:40] iimog commented on #597
Thanks @thofma for working on this issue so quickly! After `Pkg.update()` the issue remained. But after digging a little deeper I realized that `Oscar` depends on `Hecke` 0.10.5 so after importing `Oscar` into the notebook `Hecke` is downgraded from 0.10.15. When I just import the most current version of `Hecke` the error is gone.

[2021-08-02 06:50] thofma commented on #597
Ah, yes, the latest official Oscar release is `0.5.3` which pins the dependencies to some old version. I guess you are using this. We have not done a new Oscar release in a while and I don't know when the next one will be done. To get something working now, you could do `]dev Oscar` or `]add Oscar#master` to get the latest development version, which should fix the problem.

[2021-08-02 08:23] iimog commented on #597
Exactly. By default Pluto uses a specific version [(latest stable if not otherwise specified)](https://github.com/fonsp/Pluto.jl/wiki/%F0%9F%8E%81-Package-management). If I force it to use my locally installed dev version of Oscar everything works as expected. Thank you so much for fixing this!

![Screenshot from 2021-08-02 10-18-08](https://user-images.githubusercontent.com/7403236/127828570-7d9a

[2021-08-02 08:23] #597 closed, assigned to nobody

[2021-08-09 08:28] fingolfin commented on #547
I think this has been resolved?!? More or less... I hope *sigh*.

In the meantime, also doc/README.md should be improved. Building the docs this way "from scratch" doesn't work for me.

[2021-08-09 09:00] benlorenz commented on #547
Running the new `build_doc()` still fails for me, it tries to add a released Oscar version in combination with AbstractAlgebra 0.21 which fails to resolve.
I don't see where the current Oscar dev version would be added to the environment which I would expect in one of those places: https://github.com/oscar-system/Oscar.jl/blob/99d6dbdb5f88668d4eb958b63f7464c93fd85558/src/Oscar.jl#L127-L132
https:/

[2021-08-09 09:09] fingolfin opened #604 "docs: disable doctests by default, allow enabling"
I am not at a computer right now, else I'd do this right away, but I don't want to forget about this (again): we wanted to disable doctests when building the docs by default, and add a keyword argument to `Oscar.build_doc` to allow enabling them again. Perhaps also add other KW args to it, e.g. for controlling the `strict` argument of the `doit` function. (And perhaps some of the args of `doit` sh

[2021-08-09 09:10] benlorenz commented on #547
On second thought: can we just remove everything except `Documenter*` from that `docs/Project.toml` since after https://github.com/oscar-system/Oscar.jl/pull/550, `make_work.jl` uses the path from the loaded Oscar and doesn't load Oscar again?

[2021-08-09 09:11] fingolfin commented on #547
Yeah, perhaps that would work. I am on the road right now, but perhaps you can give it a try,

[2021-08-09 09:20] fingolfin commented on #547
ah, doctest will fail (see also issue #604 which we already discussed some time ago). Also, I am not sure about our CI job creating the docs, they may need to be adjusted, too. And it may need to keep at least the `Oscar` dependency in `docs/Project.toml`... and the `Pkg.develop` resp. `Pkg.add` you mentioned.

[2021-08-09 09:23] benlorenz commented on #547
It does load without the deps but fails the doctests as you expected. I will try to add the Pkg command.

[2021-08-09 09:23] fingolfin commented on #547
... Or we get away from the whole `Oscar.build_doc()` business to a more "standard" way of building the docs -- as long as it retains the important feature of being able to build the docs multiple times in a single session, using `Revise`, to reduce the doc edit-build cycle. I can look into that tonight, but not now, sorry

[2021-08-09 14:30] benlorenz commented on #547
I have done a rework to make `build_doc` more robust in https://github.com/oscar-system/Oscar.jl/pull/606

[2021-08-09 21:46] #604 closed, assigned to nobody

[2021-08-11 13:44] thofma opened #613 "`galois_group` problems"
The following will throw eventually.
[code]
@fieker

[2021-08-11 14:24] tthsqe12 commented on #613
I only noticed this when updating singular, but is singular even used here?

[2021-08-11 15:12] thofma commented on #613
Has nothing to do with Singular whatsoever.

[2021-08-12 08:16] #613 closed, assigned to nobody

[2021-08-13 09:08] micjoswig commented on #547
I kind of stress-tested the build_doc() over the last few days. It works for me now. @ThomasBreuer : please check and close this ticket.

[2021-08-13 09:11] micjoswig commented on #515
It's much improved now (all over the place).  Thanks to everybody!

@ThomasBreuer : please pick books to cite in the intros of "Rings" and "Fields".  Consult with @fieker if need be.  Then close this ticket.

[2021-08-13 09:14] micjoswig commented on #514
Do you want to keep it like this, or do we make one global change (after the 0.6.0 release)?

@fingolfin : Please decide, take action if need be, and close this ticket.

[2021-08-13 09:46] ThomasBreuer commented on #547
The problem I had originally reported had vanished in my local installation after #550 got merged. The current version works for me as well. Thus this issue can be closed.

[2021-08-13 09:46] #547 closed, assigned to ThomasBreuer

[2021-08-13 19:06] #514 closed, assigned to fingolfin

[2021-08-16 10:07] HereAround opened #769 "Projective space in in JToric.jl vs. Oscar.jl"
Name clash with schemes package?

[2021-08-18 08:55] fingolfin commented on #591
Regarding allocations: I am a bit confused; I am seeing the same number of allocations when hashing `fmpz` and `BigInt`, with Nemo v0.26.1 -- and in both Julia 1.3.1 and 1.6.2. Here are my numbers (on a macBook); all tests were run several times to get rid of compilation overhead. I tested using both `@time` and `@btime` from `BenchmarkTools` (they show different allocation stats, though... huh?).

[2021-08-18 09:12] fieker commented on #591
On Wed, Aug 18, 2021 at 01:55:45AM -0700, Max Horn wrote:

Using @time rather then @btime I see the allocations.

julia>  x=big(5)^10000; @time testit(x)
  0.455273 seconds (1.21 M allocations: 521.903 MiB, 39.84% compilation time)
0xb0abfd32eafe04e8

julia>  x=big(5)^10000; @time testit(x)
  0.655503 seconds (1.10 M allocations: 515.121 MiB, 32.17% gc time)
0xb0abfd32eafe04e8

julia>  x=fmpz(5)^1

[2021-08-18 09:13] fieker commented on #591
On Wed, Aug 18, 2021 at 01:55:45AM -0700, Max Horn wrote:
Could this be a mac feature?

[2021-08-18 09:56] rfourquet commented on #591
On 1.6.2+, this is expected given the optimization made on `BigInt` hashing. On 1.3, I think there is no allocations (with `@btime testif($x)`) because `x` is odd, so no shifting is necessary: with `$(x-1)` it allocates.
I guess that on 1.6.0, the result is catastrophic because the introduced bug made `hash(::BigInt)` use the most generic implementation of `hash`, disgarding a partial optimization

[2021-08-18 09:57] rfourquet commented on #591
@fingolfin Also, the hashing performance depends on the input, cf. https://github.com/Nemocas/Nemo.jl/pull/700#issue-339031489 for a couple of examples.

[2021-08-24 17:16] #589 closed, assigned to nobody

[2021-08-24 17:25] thofma opened #632 "(Maximal) subgroups of finite matrix groups a bit slow"
I was looking at the matrix group example of @joschmitt & @ulthiel. I boiled it down to the following example for finite matrix groups:
[code]
Magma takes 0.1 seconds for the maximal subgroups (there are 9) and 1.1 seconds for the subgroups (there are 245).

Any ideas on how we could speed this up @fingolfin @ThomasBreuer?

P.S.: The original example is a matrix group in characteristic 0, but than

[2021-08-24 20:13] ThomasBreuer commented on #632
The group in question is isomorphic to the double cover of the simple group J_2. As far as I know, Magma uses known classifications of maximal subgroups of such groups. (One needs the information for the simple factor, and then can take preimages under the canonical epimorphism.) Apparently GAP does not apply such tricks. But note that GAP computes representatives of the conjugacy classes of maxim

[2021-08-25 07:45] thofma commented on #632
Thanks @ThomasBreuer, I have updated the issue. The call `conjugacy_classes_maximal_subgroups(G)` seems to do OK, but`conjugacy_classes_subgroups(G)` still has not finished for me.

[2021-08-25 11:48] ThomasBreuer commented on #632
I have made a few experiments.
For 2.J_2 as a permutation group (on 200 points), the conjugacy classes of subgroups can be computed in about 5 seconds.
For 2.J_2 as a matrix group, the GAP method for `LatticeSubgroups` that is used for permutation groups (the "via radical" method) is not applicable because the filter `CanComputeFittingFree` is not set in the matrix group. If I set this filter by h

[2021-08-25 15:13] #504 closed, assigned to nobody

[2021-08-25 17:29] thofma commented on #632
Here is another example (provided by @joschmitt):
[code]
This group probably also has a fancy name.

[2021-08-25 17:52] thofma commented on #632
Thanks for looking into this @ThomasBreuer.

[2021-08-25 18:41] ThomasBreuer commented on #632
@thofma Concerning the fancy name:
[code]

[2021-08-27 07:01] HereAround opened #771 "Logical implications for toric varieties"
Support logical implications, e.g. that every projective toric variety is complete. Or that an affine one is not complete...

[2021-08-27 07:10] HereAround opened #770 "Hodge numbers for complete intersections in toric varieties"
It would be great to support the computation of Hodge numbers of complete intersections (if the complete intersection is not too involved, i.e. its defining polynomials are "simple").

[2021-08-30 19:24] #540 closed, assigned to nobody

[2021-08-30 21:13] fingolfin opened #640 "docs: add a "FAQ" or "Common questions & troubleshooting" section to the manual"
... which could discuss things like:

- that on Windows, one must install WSL and Julia for Linux
- for WSL users: to access Unix files from Explorer: Type `\\wsl$` in the address bar
- Build issues caused by Linux distros shipping crippled Julia versions (e.g. on Debian one has to install `libjulia-dev` or something like that)
- C++ issues as in https://github.com/oscar-system/GAP.jl/issues/553
-

[2021-09-01 12:39] fingolfin opened #643 "docs: the Oscar manual imports more from the AA/Nemo/Hecke manuals than is visible"
So I search for `lift`, results on https://oscar-system.github.io/Oscar.jl/dev/search/?q=lift

Second hit is [lift (method, Univariate polynomials)](https://oscar-system.github.io/Oscar.jl/dev/Nemo/polynomial/#lift-Tuple{FmpzPolyRing,%20gfp_poly})

This page is *not* linked to from the TOC. It also states at the top:

So we probably don't want this `.html` file in there.

[2021-09-01 18:32] HechtiDerLachs opened #645 "Something goes wrong with divides in quotient rings"
Try the following code in julia:

`using Oscar`

`R, vars = QQ["x","y"]`
`x = vars[1]`
`y = vars[2]`
`I = ideal(R, [zero(R)] )`
`Q, proj = quo(R,I)`
`f = proj(x*y)`
`# This command works:`
`divides( one(R), x*y )`
`# this one doesn't:`
`divides( one(Q), f )`

What's going wrong there?

[2021-09-01 19:45] fingolfin commented on #645
To expand on this message, this is what happens:
[code]

So it looks to me that `simplify!` for `MPolyQuoElem{fmpq_mpoly}` has a bug?

Ironically, the `divides` code says this:
[code]

[ Off-topic hint: you can use triple backtick notation to format whole swaths of code. You can even turn on syntax highlighting if you like: This input...
[code]
leads to this output:
[code]

[2021-09-01 20:04] ederc commented on #645
Strangely `simplify` seems to use the "other" `groebner_assure` from @fieker's experimental code on modular std over QQ. Using the `groebner_assure` from groebner.jl everything works fine. I will look at this tomorrow.

[2021-09-01 20:53] HechtiDerLachs commented on #645
Ok, nice. Then there's hope this that this will be resolved soon. @fingolfin :Thanks for the hint!

[2021-09-01 21:24] HechtiDerLachs commented on #264
We might soon need such functionalities in our Schemes project for the same reasons.

Mathematically it would make sense to introduce fraction fields for integral domains S = R/I where R is a free polynomial ring and I is a prime ideal. In that case one should be able to replace the functionality provided by the use of gcd by groebner basis methods. In the end, the main point should be to achieve

[2021-09-02 07:16] thofma commented on #645
@ederc Can you isolate the input for which the `groebner_basis_with_transform` in `ModStdQ.jl` throws?

[2021-09-02 09:07] fingolfin opened #648 "Add docstrings for types like fmpz, fmpz_mat, etc. etc"
Right now, I get this:
[code]

[2021-09-02 09:12] fingolfin opened #649 "Implement proper support for `GL(n, ResidueRing(ZZ,k))`"
I see this:
[code]

So I can enter this group; but it is printed "wrong" (indistinguishable from the group over a finite field of the same size). And computing with it fails because we lack the require ring isomorphisms.

[2021-09-02 09:24] fingolfin commented on #590
I agree with this plan, esp. as I just now run into this and got myself greatly confused 🤣

Can we also support `GF(p^k)` alternatively to `GL(p,k)` ? As a GAP user, I am very used to it. Of course one may counter it with "this is inefficient"... Also fine by me, but then I'd like to suggest that we improve the error message: instead of
[code]
how about this:
[code]

[2021-09-02 09:29] tthsqe12 commented on #648
Can I assume all of nemo's doc strings for `exp` can be removed too (except perhaps p/qadic: just the ones that document f(x) as "return f of x")?
[code]

[2021-09-02 09:41] fieker commented on #590
On Thu, Sep 02, 2021 at 02:24:21AM -0700, Max Horn wrote:

Perfect power testing is fast, clearny not as fast as not doing it, but
fast enough (softly linear I think)

[2021-09-02 11:38] #645 closed, assigned to nobody

[2021-09-02 12:52] benlorenz opened #652 "Fix nanosoldier failures / fix loading of GAP package `ferret`"
I don't know how to reproduce this locally but it does happen consistently in the julia Nanosoldier reports, for example [here](https://github.com/JuliaCI/NanosoldierReports/blob/master/pkgeval/by_date/2021-09/02/report.md), hidden behind a drop-down **1925 packages failed tests on the previous version too**.
Running the same Oscar-release tests locally with a fresh julia nightly works fine.

[cod

[2021-09-02 13:20] fingolfin commented on #652
`Solve` is from the GAP package ferret that we install and load when initializing Oscar. My guess is that somehow this failed (eg because there is no network connection). But that should normally result in Oscar failing to load...

Anyway I am working on a GAP_ferret.jl package which will hopefully address this for good.

[2021-09-03 22:28] HechtiDerLachs opened #655 "AlgebraHomomorphism doesn't seem to copy its own list of generators"
When I create an instance f of an AlgebraHomomorphism, and I pass a vector v with the images of the generators to it, then altering v a posteriori will also alter f.

See the following code:

[code]

That's not the way that it's supposed to be, is it?

[2021-09-04 06:47] thofma commented on #655
Yeah, we should probably fix this.

[2021-09-05 00:19] fingolfin opened #657 "Add docstring for `describe(G::GAPGroup)` and add it to the manual"
Probably should borrow freely from the GAP manual entry for `StructureDescription`.

[2021-09-05 01:47] fingolfin opened #658 "groups: `Base.length(C::GroupConjClass)` and also for (double) cosets should return `fmpz` / have adjustable return type"
Probably a trivial fix

[2021-09-05 02:00] fingolfin opened #659 "Allow symbols (and chars???) as arguments to `free_group`"
... to match what `PolynomialRing` can do. Compare
[code]
and
[code]

So it would make sense to allow
[code]

[2021-09-05 02:02] fingolfin opened #660 "groups: change creation functions to return pairs `(group, generators)` ?? At least for free groups???"
Compare
[code]
and
[code]

Arguably it would make sense to change the latter to also return the generators. Then again, I am not sure this is so useful for general groups, e.g. symmetric or matrix groups (which might not even have generators, or where computing generators maybe expensive).

But for free groups, it seems sensible... Maybe?

[2021-09-06 07:19] thofma commented on #648
Yes, purge everything.

[2021-09-06 12:30] thofma commented on #655
@HechtiDerLachs Did this give you a wrong result? (I am just looking for a good way to test this).

[2021-09-06 12:35] thofma commented on #660
I think it is reasonable for free groups.

[2021-09-06 14:23] HechtiDerLachs commented on #655
Yes. On my machine the above code crashed with an error message which was complaining that the number of elements in the vars vector (the *internal* one of the AlgebraHomomorphism f) does not match the number of variables of R anymore. But in general, it should, of course, be impossible to change f by changing the vector vars *after* f has been defined.

[2021-09-06 14:27] thofma commented on #655
Hm, did you try in a fresh session? It does not error for me.

[2021-09-06 14:30] HechtiDerLachs commented on #655
Yes. It throws despite a fresh session.

[code]

[2021-09-06 17:13] #655 closed, assigned to nobody

[2021-09-07 12:56] mayerTUKL opened #662 "(documentation) univariate polynomials: normalise function example"
I noticed that the example given in the documentation ([https://oscar-system.github.io/Oscar.jl/stable/AbstractAlgebra/polynomial/#Polynomial-functions](https://oscar-system.github.io/Oscar.jl/stable/AbstractAlgebra/polynomial/#Polynomial-functions) isn't running:
[code]

(using Oscar v0.6.0)

[2021-09-07 13:14] DonDriguez opened #663 "Polymake lattice_points not in the documentation?"
It seems like the Polymake function lattice_points(P::Polyhedron) exists but is not mentioned in the documentation. Is that on purpose? It would be nice if this could be added.

[2021-09-07 14:25] lgoettgens opened #664 "isisomorphic cannot compare all groups"
During the summer school, I wanted to check if an automorphism group of a galois extension is the wanted group `C_2`.
[code]

However, the last line gives the following error.
[code]

[2021-09-07 14:29] fingolfin commented on #664
See also issue #161

[2021-09-07 14:36] fingolfin commented on #664
This could be done by interpreting the rows (or columns) of the multiplication table in `GrpGen` instances as permutations, and use that to just write down an isomorphic PermGroup. (For real work, one will want to reduce the number of resulting generators, though).

[2021-09-07 14:46] thofma commented on #664
Another idea I had was making `automorphism_group` return a `PermGroup` in case Oscar is loaded.

[2021-09-07 14:49] lgoettgens commented on #664
@fieker mentioned a fix already contained in an oscar example, i.e. one can give `automorphism_group` a return type

[2021-09-07 19:45] fingolfin commented on #161
Some more thoughts on how things map:
- `Hecke.id(G)` is `Oscar.one(G)`
- `Hecke.conjugancy_classes` is a typo (PR submitted)
- `Hecke.psylow_subgroup` is `Oscar.sylow_subgroup`
  - and the one in Oscar should accept an `fmpz` (or ideally `Union{fmpz,Base.Integer}`) as the prime
- `Hecke.commutator_subgroup` is `Oscar.derived_subgroup` (we probably should accept both names?)
- `derived_series`
- .

[2021-09-08 07:26] ThomasBreuer commented on #161
Concerning `Union{fmpz,Base.Integer}`, this occurs already frequently; should we define a name for it? (`OscarInteger`?)

Concerning `commutator_subgroup`, I had added a comment to `src/Groups/GAPGroups.jl`:

    In the literature, the name commutator subgroup is often used as a synonym of derived subgroup.
    GAP defines `CommutatorSubgroup( G, H )` for arbitrary groups `G`, `H` (in the same fam

[2021-09-08 08:07] FriedrichRober opened #666 "`number_moved_points` does not know that it returns `fmpz`"
Example:

[code]

[2021-09-08 08:08] thofma commented on #666
Thanks. I will fix it.

[2021-09-08 08:17] FriedrichRober opened #667 "`subgroup` and `sub`"
It's a bit confusing that there are two commands `sub` and `subgroup`.

[2021-09-08 08:20] fieker commented on #667
On Wed, Sep 08, 2021 at 01:18:05AM -0700, FriedrichRober wrote:

sub works for "all" structures, ie. modules, number fields, ...

subgroup, by choice of name, only for groups.

[2021-09-08 08:23] thofma commented on #667
`subgroup` is only used in Hecke for one specific type of group. We should just rename it.

[2021-09-08 08:26] FriedrichRober commented on #667
The problem I had was that `subgroup` does not work for all groups. For example:

[code]

[2021-09-08 13:24] #666 closed, assigned to nobody

[2021-09-08 14:37] thofma commented on #667
Will be fixed by https://github.com/thofma/Hecke.jl/pull/396.

[2021-09-09 09:21] fingolfin commented on #161
We can still have `commutator_subgroup(G)` be an alias for `derived_subgroup(G)` and still at the same time support `commutator_subgroup(G, H)`

[2021-09-09 09:28] thofma commented on #161
I am currently changing it such that the only groups leaking from Hecke into Oscar are the abelian ones. I will adjust them so that the functions use the same names as in `Oscar/src/Groups/...`. I am not sure we will use `one(G)`. Isn't this something where we would use the groups interface package that we hooked up?

[2021-09-09 09:28] HechtiDerLachs commented on #640
It would be nice if we had a coherent, recursive and Oscar-wide policy on how to copy structs and expose this to the user.

For instance: I'm implementing a mutable struct for morphisms of affine schemes f : X -> Y. This struct has as one of its member variables the pullback homomorphism of the associated rings which is an instance f* of AlgebraHomomorphism.

Now I would like to implement my own c

[2021-09-09 10:48] tthsqe12 commented on #662
The issue here is this function is semi-official and missing from Nemo

[2021-09-09 13:06] HechtiDerLachs opened #672 "Some functionality missing for rings"
Try the following code in julia:

[code]

This complains about `one(::Type{FmpqMPolyRing})` not being implemented. If, on the contrary, one was doing

[code]
that works just fine.

I would even like to try to fix this myself and provide a pull request for that. But since this would be my first time, I would be very happy if someone could assist me with that.

[2021-09-09 13:15] fieker commented on #672
On Thu, Sep 09, 2021 at 06:06:41AM -0700, HechtiDerLachs wrote:

Cannot be fixed, sorry. Just knowing the type I do not know the
variables and cannot re-create the ring. You can try
reduce(*, v, init = one(R))

[2021-09-09 13:15] thofma commented on #672
This cannot be fixed. It works for `Int` because there is a unique `one(Int)` determined by the type.

[2021-09-09 13:15] thofma commented on #672
You can also just do `prod(v, init = one(R))`.

[2021-09-09 13:22] HechtiDerLachs commented on #672
Ok, that makes sense... Thanks

[2021-09-09 13:22] #672 closed, assigned to nobody

[2021-09-09 13:22] fieker commented on #672
On Thu, Sep 09, 2021 at 06:15:57AM -0700, Tommy Hofmann wrote:

... since julia 1.6

[2021-09-10 11:37] Asconik opened #674 "A few number theory commands in Oscar"
1) The ramified_primes command does not work on its own, only by entering Hecke.ramified_primes:
https://oscar-system.github.io/Oscar.jl/stable/Hecke/orders/orders/#ramified_primes-Tuple{NfOrd}

2) Same issue for isprincipal_fac_elem, gotta enter Hecke.isprincipal_fac_elem:
https://oscar-system.github.io/Oscar.jl/stable/Hecke/orders/ideals/#isprincipal_fac_elem-Tuple{NfOrdIdl}

3) The documentatio

[2021-09-10 15:14] fingolfin opened #676 "Docs: add `G(vecint)` to manual, where `G` is a permutation group"
At least I couldn't find it under https://oscar-system.github.io/Oscar.jl/dev/Groups/permgroup/

Inspired by Summer school feedback

[2021-09-10 17:21] thofma commented on #674
Thanks for the report.

[2021-09-10 21:19] lkastner commented on #663
https://github.com/oscar-system/Oscar.jl/pull/644/commits/e7c0b323fe6ba0ab48893cf4a423f595093878ab

[2021-09-10 21:52] lkastner opened #677 "Unifying and streamlining Polytopes interfaces"
This is a list of some issues with the current implementation that need to be straightened out. In particular, the `Cone` and `Polyhedron` interfaces need to be unified. Some of these issues might already be solved, @alexej-jordan @benlorenz feel free to check off those (or add issues I missed).

- [x] There should be `facets(C::Cone)` similar to `facets(P::Polyhedron)`
- [x]  `facets_as_point_mat

[2021-09-11 00:22] alexej-jordan commented on #677
I checked off some of theses which are already covered within #578 . Functionality is already implemented, I am mostly working on documentation and tests right now. these are points number 1, 2, 3, 5 and 6.
I have implemented a different solution for number 2 and 3, where this is replaced by `point_matrix(iter::VectorIterator)` so that you now can for example call `point_matrix(vertices(P))` (anal

[2021-09-11 13:48] thofma opened #679 "Add `IntegerUnion = Union{Integer, fmpz}` somewhere"

[2021-09-11 14:03] thofma commented on #667
Let's keep it open until the changes made it to Oscar.

[2021-09-11 15:02] fingolfin commented on #679
I would suggest to add this in Nemo, so we can also use it in Singular and Hecke

[2021-09-11 18:05] tthsqe12 commented on #679
What about RationalUnion?

[2021-09-11 18:55] thofma commented on #679
There does not seem to be a high demand for that.

[2021-09-13 06:27] fieker commented on #677
On Fri, Sep 10, 2021 at 05:22:55PM -0700, alexej-jordan wrote:

There is no consensus about this at all. We've used submodules here and
there to "hide" functions more easily, other than that, we haven't been
able to see any serious advantage nor disadvantage in submodules.
What is you intend for using them?

[2021-09-13 09:43] thofma opened #681 "`convert` for `GAP.GapObj`"
Is there a reason to define `Base.convert(GAP.GapObj, ...)`? Since `GAP.GapObj(x)` is not necessarily of type `GAP.GapObj` this is breaking julia left and right if julia really makes use of the `convert` functions.

[code]

Since the only application of `convert` is to have the automatic conversion for the `setindex` calls and they are obviously broken, I don't see why we have those `convert` meth

[2021-09-13 11:48] fieker opened #682 "singular_module"
https://github.com/oscar-system/Oscar.jl/blob/091c198aa418a56171e6c8f33ed60cbe913efe2c/src/Modules/UngradedModules.jl#L552

this needs to be

` Sx = singular_ring(base_ring(F), keep_ordering = false)`

otherwise the singular ring will be `lp` ordered and the computation not terminate.

[2021-09-13 13:44] ThomasBreuer commented on #681
Concerning the fact that `GAP.GapObj(x)` currently does not necessarily return an object of type `GAP.GapObj(x)`, this is something which will be changed, see oscar-system/GAP.jl/issues/689.
Concerning `convert` methods, we had provided them in GAP.jl in addition to constructor methods, referring to https://discourse.julialang.org/t/4159/24 and https://discourse.julialang.org/t/4159/35.
Should we

[2021-09-13 15:50] thofma commented on #681
Good that it will be made consistent. It was not clear to me that a decision has been made for https://github.com/oscar-system/GAP.jl/issues/689.

Independent of this, I don't understand why one would want to implement `convert` in this case. Users should not use `convert` but the type constructors. Is the implicit call to `convert` (which is the only interesting consequence of defining `convert`)

[2021-09-14 11:15] fingolfin opened #683 "Add "transitioning tutorials" which compare how to do certain things in Oscar versus GAP/Polymake/Singular/Macaulay/Magma/..."
Something like this was suggested by @jankoboehm during the Jahrestagung.

Of course we can mention the "low level" interfaces by Singular.jl/GAP.jl/Polymake.jl here but that's not the main point (for those, hopefully their respective manuals already cover this, and we can just link there).

But the real point is to compare the "native" Oscar interfaces. But I think it should not be about simply g

[2021-09-14 11:26] fingolfin opened #684 "Add a function `group()` which produces Oscar groups from various inputs (similar to GAP's `Group` and `GroupWith/ByGenerators)`"
So this could take as input either...
- a bunch (resp. a vector) of matrices;
- a bunch of permutations (of equal degree?);
- in general a bunch/vector of group elements with the same (or "compatible") "parent groups"
- (or perhaps also a `GapObj` corresponding to a GAP group -- this would be more of a "pro" feature, though, and I am not even sure we'd really want that... hmm)

Pro:
 - convenient

[2021-09-14 11:29] fingolfin opened #685 "Add `GenericGAPGroup` to support arbitrary GAP group implementations?"
Several GAP packages implement further types of GAP groups; e.g. polycyclic implements "pcp groups" (see also issue #432) and RCWA implement "Residue-Class-Wise Affine Groups", etc.

Ideally one would have dedicated implementations for each, but since user's can easily define their own group types, that won't work in general. So it would be nice to have a generic way to support these groups.

[2021-09-14 11:33] tthsqe12 commented on #679
There is a significant amount of documentation that needs to change in src/Rings/integer.md with this change.

[2021-09-14 11:36] fingolfin commented on #679
@tthsqe12 why, exactly, though? I mean it sure would be nice to mention `IntegerUnion`, but why does this require lots of changes? Could you elaborate a bit?

Also, are you referring to that file in Oscar.jl or the one in Nemo? Or even both? (Or AA? but that shouldn't have to refer to `fmpz` ever, should it?)

[2021-09-14 11:39] fingolfin commented on #679
Ohh, or perhaps you are referring to the fact that PR #668 did in fact *not* "pure Oscar.Integer" as it title claimed, but rather left all references to `Oscar.Integer` in the manual, specifically in these files:
- `docs/src/Rings/integer.md`
- `docs/src/Rings/rational.md`
- `docs/src/img/IntegerTypes.svg`

[2021-09-14 11:41] tthsqe12 commented on #679
Yes, I am refering to the Oscar/docs/src/Rings/integer.md

[2021-09-14 11:41] fingolfin commented on #681
Personally I never use `convert(T, x)` in this context, I always use `T(x)`.

The main "advantages" of `convert` seem to be:
- saying `convert(T,x)` may convey what's happening better to people, esp. those coming from outside Julia (but they need to learn about `T(x)` at some point anyway)
- it is used for various implicit conversions -- whether that's a reason for using it or against using it dep

[2021-09-14 12:16] FriedrichRober commented on #681
I can't think of any use case for implicit conversion atm. I don't have a strong opinion on this, but it seems to be probably easier for code maintenance to drop all `convert(T, x)` methods for `GapObj`.

[2021-09-14 12:23] ThomasBreuer commented on #681
Perhaps we should look at the history of the development:

First we had only `gap_to_julia`, which returns an object of the given type or of a default type, and converts recursively or just the outer level, depending on the `recursive` argument.
Then we introduced `convert` methods, where the Julia type cannot be omitted, and again with the optional `recursive` argument.
And we introduced the cons

[2021-09-15 12:41] tthsqe12 commented on #591
This hashing is probably a moot point, because fmpz still lives in the mathematical world and Base.Integer lives in the numerical world. The former behaviour here would be catastrophic to a computer algebra system.
[code]

[2021-09-15 13:07] fingolfin commented on #591
Really? What's catastrophic about that? The latter seems useless?

[2021-09-15 14:57] lkastner commented on #677
So one of the reasons was the struct `Point` which also exists in the experimental section, but not in the form that we want to use it. If we made a submodule we would not have to come up with an awkward name.

Another reason I was thinking about this is the tabcompletion. If you do `Oscar.` + tab it will get cluttered after a while, but we could at least group the functions in a meaningful way us

[2021-09-15 15:07] fieker commented on #677
On Wed, Sep 15, 2021 at 07:57:51AM -0700, Lars Kastner wrote:

This we need to sort as I think there should be only one Point type if
possible.

agreed - but has to be balanced with guessing module names. Shouldn't
actually be too bad as the same name will have many many
implementations, so way fewer names as in Singular/ Gap/ (polymake)

[2021-09-15 16:31] tthsqe12 commented on #591
First, exact input yielding inexact output of some unspecified precision is already difficult to work with. Second, it sets a dangerous precedent. The exponential function is a perfectly meaningful thing to calculate is some rings (i.e. `R,x=PowerSeriesRing(QQ, 9, "x")` as long as you can calculate the exponential of the constant term), and we surely wouldn't want approximant answers for `exp(x)`

[2021-09-16 09:24] fingolfin commented on #679
OK, but I don't see how that's a blocker for adding `IntegerUnion` to Nemo.jl? To get this moving, I added https://github.com/Nemocas/Nemo.jl/pull/1175, looking forward to feedback there :-)

[2021-09-16 10:28] fingolfin commented on #679
Also https://github.com/thofma/Hecke.jl/pull/403 and https://github.com/oscar-system/Oscar.jl/pull/686

[2021-09-16 15:10] StevellM opened #687 "Invariant ring and polynomial ring with complex coefficients"
Hi,

so currently I am trying to compute invariant polynomials under the action of a group. I have an irreducible representation of this action in R^6. So I have created a MatrixGroup from the matrices I had and I looked for its invariant_ring (which I have done over CC and QQ). However, even if in theory I get the invariant rings, I don't have any access to the polynomial ring or the generators o

[2021-09-16 17:28] joschmitt commented on #687
I should mention that the invariant theory in Oscar is currently work in progress, so a lot of things don't work properly (yet!) and the interface (names of functions, what exactly they return etc.) might change.
Still, let's try to make it work for you. The function `invariant_ring` you probably used only produces a "cache" and no actual computations are performed at this step.
Let's assume you h

[2021-09-16 18:26] fingolfin opened #688 "docs: remove reference to Oscar.Integer, Oscar.Rational; update or remove `IntegerTypes.svg` and `RationalTypes.svg`"
Some time ago, `Oscar.Integer` was removed, but the Oscar manual still refers to it in `docs/src/Rings/integer.md` and `docs/src/Rings/rational.md` as well as in `docs/src/img/IntegerTypes.svg`.

Likewise, `Oscar.Rational` is currently identical to `Base.Rational`, but `docs/src/Rings/rational.md` and `docs/src/img/RationalTypes.svg` instead claim that it is a type that represents "Oscar rational

[2021-09-17 06:53] StevellM commented on #687
Thanks ! So for the context, I have an element `M` which is a vector of vectors of vectors, so I needed to create alternative matrices `Mii` to get the information. Here I show the case where I considered things over `QQ`.

M22 = matrix(QQ,6,6, [M[2][i][j] for i=1:6, j=1:6])
M33 = matrix(QQ,6,6, [M[3][i][j] for i=1:6, j=1:6])
M44 = matrix(QQ,6,6, [M[4][i][j] for i=1:6, j=1:6])
M55 = matrix(QQ,6,6,

[2021-09-17 07:06] fieker commented on #687
On Thu, Sep 16, 2021 at 11:53:43PM -0700, Stevell Muller wrote:

MM = [matrix(QQ, x) for x = M]
Gq = matrix_group(MM)
should have a chance of working...(well, this won't affect the missing
invariant ring, but simplifies the top bit)

[2021-09-17 07:12] wdecker commented on #687
Can you please send all of the code so that we can run the example here. Is your group finite?

[2021-09-17 07:23] joschmitt commented on #687
Sorry, my mistake. `fundamental_invariants` was only added last week I think, so it's not yet in the release version of Oscar you probably use.
There should be `primary_invariants` and `irreducible_secondary_invariants` which together also form a generating system for the invariant ring (however in general not a minimal one). Maybe you have to call those with `Oscar.` in front.

[2021-09-17 07:29] StevellM commented on #687
MM = [matrix(QQ, x) for x = M]
Gq = matrix_group(MM)
Rq = invariant_ring(Gq)

(Following the suggestion above of @fieker )

My group is finite yes, I took a description of it from `all_small_groups` with id (192,1493). M is an irreducible representation in R^6.

@joschmitt Great, I have tried it, it is running now so I will see how it goes!

[2021-09-17 08:10] StevellM commented on #687
Everything seems to work, I have been able to compute invariants. I will just make a little note: in my code, if I decide to replace `QQ` by `CC = ComplexField(64)` everything works: But then, if I apply `Oscar.primary_invariants` to the new invariant ring, I am literally ejected from Julia, and I am brought back to the shell with this line.

in expression starting at REPL[18]:1
unknown function (

[2021-09-17 08:16] thofma commented on #687
You cannot compute compute invariant rings over the complex numbers. They cannot be represented exactly. The error could be more helpful though. You can do matrix groups over finite fields, Q, or extensions of Q.

Usually one can get away by computing the invariant ring over some finite extension of Q.

[2021-09-17 08:19] joschmitt commented on #687
For what it's worth: in Singular you can "compute" invariant rings over the complex numbers. But you get a lot of nice prints telling you that the computations cannot be trusted due to rounding errors.

Julia probably crashes here because we so far don't convert `acb`-complex numbers to Singular ones.

[2021-09-17 08:23] StevellM commented on #687
Oh yes I see, I will try to manage with what I got over Q then. And otherwise I will look as you mentioned @thofma for finite extensions.

[2021-09-17 08:42] wdecker commented on #687
Let's be precise here: Your matrix group is defined over QQ, so the Reynolds operator applied to monomials of a specific degree will return invariants defined over QQ as well. Similarly, if your group is defined over some extension field of QQ, you will get results defined over that extension field. So the primary and secondary invariants you will compute over one of these ground fields will also

[2021-09-17 09:13] StevellM commented on #687
Since I was looking for homogeneous polynomials of a certain degree, I was trying to take the "biggest" field possible in case I don't have any good results over Q. Lucky me, it works as I wanted over Q so I won't have to do any such extensions. But thanks for the precision, I tend to forget this point.

[2021-09-18 08:59] thofma commented on #688
We should mention that `fmpz/ZZ` is a replacement for arithmetic with integers, but `Int` should be used for "control flow,  book-keeping, array-shuffling, and combinatorics.".

CC: @ulthiel

[2021-09-20 10:43] fingolfin opened #690 "`compose(f,g)` is inconsistent"
We need to settle what that means, ensure it is implemented consistently everywhere, and documented clearly.

There are two choices how to interpret it, both are natural in some settings but not in others:
-  `compose(f,g)(x) = f(g(x))` is compatible with left application of functions and matches Julia's `\circ` operator, which satisfies `(f ∘ g)(x) = f(g(x))`; this is what textbooks use nowadays

[2021-09-21 09:26] simonbrandhorst commented on #136
I need matrix groups over QQ and ZZ, later possibly over number fields. Typically these will be finite groups. Seems like right now they are not at all operational.

[2021-09-21 09:31] thofma commented on #136
@joschmitt and myself have been extending them recently for applications in invariant theory. We only added what we needed. Which functionality do you need?

[2021-09-21 09:45] simonbrandhorst commented on #136
Like any functionality would be good.

[code]
I have the impression that they do not work at all. Lets say I am interested in finite matrix groups over a ring/field of characteristic zero, e.g. ZZ, QQ or a number field
Here are some examples of what I would like to to: Basically anything that can be done with finite groups.
- Order (if finite)
- maximal subgroups
- isomorphic permutation group
- g

[2021-09-21 17:54] thofma opened #691 "polymake warning: couldn't run 4ti2: zsolve -q"
Seen on CI for macOS, julia 1.6.
[code]
CC: @benlorenz

[2021-09-21 19:20] #687 closed, assigned to nobody

[2021-09-21 19:48] fingolfin commented on #691
I've actually recently had some dialogs pop up by the macOS system crash reporter related to 4ti2. Unfortunately I am not sure when exactly it happened... when precompiling Oscar? running test suite? building the manual? It happened a few times (Julia 1.6.2 on macOS 10.14.6) but I ignored it so far as it was just randomly a few times. I actually thought it came from Singular.jl, though. If it ever

[2021-09-21 20:03] fingolfin commented on #691
OK, just happened when I tried to run the Oscar test suite. From my terminal:
[code]

The crash reporter log is not very helpful, but at least slightly more info:
[code]

I guess the crucial bit is the dyld error about `libgmpxx.4.dylib`

[2021-09-21 20:04] benlorenz commented on #691
This probably happens during some of the polyhedra tests but polymake falls back to a different code for the same computation, so this is not fatal. I will try have a look why the 4ti2 binaries / wrappers seem to fail on macos (this interface was not active before Polymake.jl 0.5.8).

[2021-09-21 20:21] benlorenz commented on #691
~~@fingolfin As I don't have access to a mac right now, can you search for `4ti2_wrapper` in your `.julia/artifacts` and in the same directory execute the `circuits` (or `groebner`) wrapper manually (the one for `zsolve` won't trigger any error unless you pass some input) and post the contents of the `4ti2_wrapper` script please?~~
_Edit:_ I managed to extract the output from github actions and I

[2021-09-21 22:32] benlorenz commented on #691
It seems the FileProducts from `lib4ti2_jll` don't really work on macOS.
Plain lib4ti2_jll, note that I need to use `exe4ti2int64()` to set up the paths as `groebner` is just a FileProduct:
[code]
The same does work fine on Linux.

_Edit:_ The above is a slightly different issue (but still a problem that should be fixed) as `zsolve` is in fact a proper binary and not just a script like `groebner`

[2021-09-22 11:18] fingolfin commented on #136
I have a plan to support this, just is a matter of time. Basically, the machinery is already all there (@joschmitt provided code to map a finite matrix group in char 0 to one in char p; and GAP has code to delegate operations for one group to an isomorphic image). The main things left to do is to connect all these bits. It'll happen soon (hopefully at the latest in the week starting October 4, whe

[2021-09-22 11:45] fingolfin commented on #691
Just to understand: from where is `zsolve` called, exactly?

I know that we have some calls in Singular.jl, too, and back then I wrote `regenerate_4ti2_wrapper()` in https://github.com/oscar-system/Singular.jl/blob/master/src/setup.jl#L7 to create little shell script wrappers (those were/are necessary because the Singular library/kernel try to invoke these binaries; and using `lib4ti2_jll.exe4ti2i

[2021-09-22 12:06] #663 closed, assigned to nobody

[2021-09-22 12:08] tthsqe12 commented on #662
fixed in https://github.com/Nemocas/AbstractAlgebra.jl/pull/1024

[2021-09-22 12:08] #662 closed, assigned to nobody

[2021-09-22 12:13] benlorenz commented on #691
polymake will look up zsolve in the path during init, the calls then happen somewhere deep in the polymake-perl code. To make this work I also prepare some wrappers that set the libpaths and then call the 4ti2 binaries, I did the wrappers slightly different by using export for the current shell process and using `exec` for the call (see [here](https://github.com/JuliaPackaging/Yggdrasil/blob/203c6

[2021-09-22 19:22] fingolfin commented on #691
Perhaps we can use the same (or at least: identical) wrapper scripts for Polymake.jl and Singular.jl?  If using `.` resp. `source` works, let's also insert a comment explaining the rationale. If we use identical setup, then this also solves the `zsolve` issue for you, right?

[2021-09-22 19:23] fingolfin commented on #690
Discussed with @fieker and I think we agree that `compose` should do what it claims in the AA docs; so now we need to fix everything that does it wrong.

[2021-09-23 07:42] thofma commented on #690
Are you sure about the last one? The documentation says that `compose(f, g)(x) = g(f(x))`.

[2021-09-23 12:18] fingolfin commented on #690
Sadly, yes... The documentation actually says:

Note that the arguments here are `g,f` (and not `f,g` as elsewhere).

This also matches the implementation:
[code]

Finally, it says

and that also is right -- i.e. `f*g` works as intended, but `compose` does not.... ah well.

[2021-09-23 12:32] thofma commented on #690
The documentation says `compose(f, g)(x) = g(f(x))`. (It actually says `compose(g, f) = f(g(x))` but in the comparison in OP you have `f` as the first argument).

The documentation says the first argument is applied first, which would put it in the first list and not the second?

[2021-09-24 10:48] tthsqe12 opened #697 "oscar needs speed regression tests"
candlesticks. Changes to one part of the system can have huge unintended performance consequences for other parts of the system. We need a set S of examples to run to check for regressions every so often. If we get a situation of the form "I added feature X to part Y, but this slowed down S by more than 2x", then we can say the performance regression needs to be addressed before X is added.

[2021-09-24 12:15] #688 closed, assigned to nobody

[2021-09-28 16:13] lkastner commented on #677
I postpone the submodule question to a different PR.

[2021-10-01 11:48] lkastner opened #715 "Affine way of thinking causes confusion with trivial hyperplane"
In polymake everything is homogeneous and polytopes are treated internally as cones most of the time where the actual polytope sits at height one. I.e. we have the coordinates `[height, x_1, x_2, ...]` in polymake. Every polytope comes with the hyperplane `height>=0`. For unbounded polyhedra, this hyperplane  is also a facet, which we need to compute rays and lineality correctly. Now there are the

[2021-10-01 13:11] fingolfin opened #716 "Require Julia >= 1.6 ?!"
We already agreed that once (if) Julia 1.6 becomes LTS, it is OK for us to require it as minimal version for Oscar and our various packages (including AbstractAlgebra, Nemo).

But upon rethinking this, I don't see why we couldn't require Julia 1.6 in `Oscar.jl` *right now*. Then of course any of our other packages can choose separately if they want to follow or stay with their current Julia compat

[2021-10-01 16:06] #677 closed, assigned to nobody

[2021-10-01 18:50] tthsqe12 commented on #716
Sounds good to me. It looks like 1.6 is where things finally started to come together, like WeakRef :).

[2021-10-01 20:12] lkastner commented on #716
I am all in favour, since it will greatly reduce workload of those involved with the more technical issues.

[2021-10-04 08:42] thofma commented on #716
Sounds good to me.

[2021-10-04 09:30] fingolfin commented on #108
This still needs a lot of work. Let's work on it today. To make it concrete:

- there is code in `experimental/GaloisGrp/GaloisGrp.jl` for computing stabilizers etc. by calling into GAP. All of that code should be replaced by calls to "official" code (which of course first needs to be written where missing).
- Note that for a function like `stabilizer`, my vision would be that the most powerful ve

[2021-10-04 09:56] benlorenz commented on #716
I am also in favor of this!

[2021-10-04 10:30] fingolfin commented on #716
@wdecker @micjoswig @fieker any concerns about this?

[2021-10-05 12:21] #657 closed, assigned to ThomasBreuer

[2021-10-05 13:23] micjoswig commented on #716
Nope. Fine with me.

[2021-10-05 20:45] fingolfin opened #721 "CI tests with Julia nightly fail precompiling Singular.jl"
This is an excerpt from such an error log.
[code]

I think this is because `libsingular_julia_jll` doesn't have binaries for Julia 1.8. To get those, we'll need libjulia for 1.8-dev. I've begun work on that at https://github.com/JuliaPackaging/Yggdrasil/pull/3639.

[2021-10-05 20:45] fingolfin commented on #716
Wolfram and Claus also agreed when I talked to them about it. PR #720 implements this.

[2021-10-05 21:02] fingolfin opened #722 "GAP orbits on Julia objects"
When performing orbit computations, for efficiency reasons one needs to put the elements of the orbit into a lookup table. GAP has several methods for doing this; among them are hash tables (which requires a hash function for elements), and something akin to a balanced search tree (which requires a total ordering on the elements in the orbit) -- there are more methods, but those are most relevant.

[2021-10-05 21:58] #716 closed, assigned to nobody

[2021-10-07 12:39] benlorenz commented on #691
I have adjusted the wrappers in the new polymake_jll 400.500.0 version, but this still needs to propagate through the intermediate packages before it is available in Oscar.
The code for the new wrappers is here: https://github.com/benlorenz/Yggdrasil/blob/098b6b56dd7390961f89f803cf203191c69f350c/P/polymake/bundled/patches/generate_deps_tree.jl#L62
It creates two wrapper scripts, one for the 4ti2 b

[2021-10-08 07:52] fingolfin commented on #721
libjulia_jll has been merged. I've now submitted https://github.com/JuliaPackaging/Yggdrasil/pull/3711 to update `libsingular_julia_jll`. Fingers crossed

[2021-10-09 20:18] lkastner opened #730 "Inner or outer normals for inequality description?"
The main question of this issue is how we want the H-description of a polyhedron or cone to look like. As a reminder; The H-description is the description of a cone or polyhedron as a finite intersection of (affine) halfspaces. So:
- Should a cone be the set of all `x` such that `Ax>=0` or `Ax<=0`?
- Should a polyhedron be the set of all `x` such that `Ax>=b` or `Ax<=b`?
- Do these need to be "con

[2021-10-10 19:20] lkastner commented on #388
Alexej dealt with this in https://github.com/oscar-system/Oscar.jl/pull/578

[2021-10-10 19:20] #388 closed, assigned to nobody

[2021-10-11 08:27] fieker commented on #730
I think I'd rather fix either <= or >= for all constructors - it's not
that the translation is hard. If you want to be fancy, you could provide
a boolean to auto-flip, but on the whole, I'd choose one (the lesser
work) and fix it and document it.

Different conventions from different groups in different areas make it
impossible for the "outsider" to get anyhting done....

As to cones via inequalit

[2021-10-11 19:33] thofma commented on #730
As a non-expert I would value consistency rather high.

P.S.: I added a `min/max` parameter for the tropical ring toy implementation, which one only ever sees once, namely when constructing the semi ring (with some arbitrary default). Afterwards one just uses `+` and one can forget about `min/max`. (Not sure about the variety stuff. I had hoped that it would not matter that much either).

[2021-10-12 09:03] HechtiDerLachs opened #732 "Computation of kernels of module homomorphism doesn't finish in due time"
I try to compute the tangent vector fields to an A_2-singularity using this code:
[code]
But this code doesn't seem to finish. I've waited several minutes, which I think is a fair amount of time for this particular small problem. In `Singular` the code would be this:
[code]
and it doesn't take the fractions of a second to finish.

Interestingly, the methods printed by the stacktrace from aborting

[2021-10-12 09:22] thofma commented on #732
My reply from slack: It is calling the wrong function. The modul homorphisms for free modules over affine algebras are not hooked up with Singular. There is a catchall implementation for kernels of matrices which assumes that the ring is a PID. Obviously this makes no sense here and it will never finish.

[2021-10-12 09:32] jankoboehm commented on #732
You can give it a try with the code in the Modules pull request.

[2021-10-12 12:11] HechtiDerLachs commented on #732
Alright, thanks for the replies!

@jankoboehm I think this time I can wait for the modules to be officially merged. This example can be done in Singular for now. I was just curious to find out what the Oscar implementation would look like.

Let's get back to this, once the catchall has become obsolete.

[2021-10-12 22:25] fingolfin commented on #679
Done now

[2021-10-12 22:25] #679 closed, assigned to nobody

[2021-10-12 22:30] fingolfin commented on #652
Still happens, and I see [a similar failure in the GAP.jl test suite](https://s3.amazonaws.com/julialang-reports/nanosoldier/pkgeval/by_date/2021-10/12/GAP.1.8.0-DEV-d31eef5d6b5.log) run by NanoSoldier. I am pretty the reason is that they block network access (probably a good idea from their POV, so I am not complaining). So on the upside, we don't need to worry about it directly; but on the downs

[2021-10-12 22:38] fingolfin commented on #652
Actually, no, I take that back: the problem is not network connectivity, the problem is more likely to lack of a C/C++ compiler:
[code]
Outcome is the same.

@benlorenz BTW for polymake, I noticed the following warning [in this report](https://s3.amazonaws.com/julialang-reports/nanosoldier/pkgeval/by_date/2021-10/12/Polymake.1.8.0-DEV-d31eef5d6b5.log):
[code]

[2021-10-12 22:42] fingolfin commented on #80
This is now up to 1.6

[2021-10-12 22:42] #80 closed, assigned to nobody

[2021-10-12 23:53] fingolfin commented on #140
Starting to work on this at https://github.com/oscar-system/GAP.jl/pull/732

[2021-10-12 23:55] #235 closed, assigned to nobody

[2021-10-12 23:56] #310 closed, assigned to nobody

[2021-10-12 23:56] #340 closed, assigned to nobody

[2021-10-12 23:56] #283 closed, assigned to nobody

[2021-10-12 23:58] fingolfin commented on #513
Got fixed at some point

[2021-10-12 23:58] #513 closed, assigned to thofma

[2021-10-13 00:00] fingolfin commented on #575
This seems to be resolved:
[code]

[2021-10-13 00:00] #575 closed, assigned to nobody

[2021-10-13 00:01] fingolfin commented on #574
This seems to be resolved:
[code]

[2021-10-13 00:01] #574 closed, assigned to nobody

[2021-10-13 00:05] fingolfin commented on #345
Resolved:
[code]

[2021-10-13 00:05] #345 closed, assigned to nobody

[2021-10-13 00:05] fingolfin commented on #681
We removed `convert` for GapObj in GAP.jl 0.7.0 and also in Oscar.jl

[2021-10-13 00:05] #681 closed, assigned to nobody

[2021-10-13 06:47] benlorenz commented on #652
If there was no C++ compiler the Polymake tests would fail too (and quite verbose so, I just tried it to be sure), so this is probably something different in the compilation process.

Thanks for notifying me, it seems there is still an issue with the current version of the wrappers: I chose to use `source` instead of `.` for readability but unfortunately this is might not be available everywhere (

[2021-10-13 09:21] fingolfin opened #735 "CI tests segfault on master with Julia 1.7, nightly, since merge of Modules PR #461"
CC @fieker @AlexD97 @jankoboehm

E.g.:
[code]

[2021-10-13 09:56] tthsqe12 commented on #575
except that now we can see the horrid matrix printing :)

[2021-10-13 10:33] tthsqe12 commented on #735
I could reproduce the exact same error on the very first try.

[2021-10-13 14:14] fingolfin commented on #735
I can also reproduce it in Julia 1.7.0-rc1 on my macbook if I run the Oscar test suite. The crash is in `test/Modules/UngradedModules.jl` of course. I then tried to comment out some includes before that in `test/runtest.jl`, and if I comment out enough, then the crash goes away.

I now wonder if this could be a GC issue? Perhaps Singular.jl (or GAP.jl, Polymake.jl, Nemo.jl) still has a bug there,

[2021-10-13 15:37] benlorenz commented on #735
As I already mentioned in #461 this looks _very_ similar to the crash in #731 seen here: https://github.com/oscar-system/Oscar.jl/pull/731/checks?check_run_id=3873430363

I did already do some debugging on that crash and it seems to happen during compilation and not at runtime, so I don't think that this is a GC issue.
On that serialization branch my current reproducer is and I haven't been able t

[2021-10-13 17:41] benlorenz commented on #735
The following also works without the serialization branch (but note that `x` is not defined):
[code]
Again removing the `isGB` makes it "work" (`ERROR: UndefVarError: x not defined`).

_Edit:_ that even works with the last Oscar release.

[2021-10-14 07:35] ThomasBreuer opened #737 "problem with `Hecke.math_html` for `nf_elem`"
`Hecke.math_html` can be used to produce LaTeX format descriptions.
For the case of elements of cyclotomic fields, this looks as follows.
[code]
In the context of the abelian closure of the rationals, I have to use other cyclotomic fields, in order to use the caching of these fields (which is necessary for correct comparisons of elements).
Here I do not get LaTeX format.
[code]
Is this behaviour i

[2021-10-14 09:02] thofma commented on #735
Should be reported upstream (after we reduced it further).

[2021-10-14 09:03] thofma commented on #737
I think `math_html` can go (now that we have the proper printing from AA).

[2021-10-14 09:09] fingolfin commented on #735
Agreed. In order to avoid needless duplication of work: is anybody working on reducing this (who)?

[2021-10-14 09:11] fingolfin commented on #737
@thofma OK, so how would one use that to get the LaTeX Thomas is looking for?

[2021-10-14 09:12] thofma commented on #737
Use show with the right MIME type.

[2021-10-14 09:12] tthsqe12 commented on #737
I think this works like this
[code]

[2021-10-14 09:12] benlorenz commented on #735
I wont have time for that today.

[2021-10-14 09:14] tthsqe12 commented on #737
(I am not sure what Oscar has overridden nor do I know where the ζ comes from in Qab.) There is also
[code]

[2021-10-14 09:59] fingolfin commented on #735
I'll give it a spin

[2021-10-14 10:26] fingolfin commented on #735
I've reduced it to this MWE:
[code]
I'll report this upstream now

[2021-10-14 13:59] fingolfin commented on #735
@thofma @wbhart if one of you wants to try if this can be "creduced" further, be my guest :-)

[2021-10-14 14:08] thofma commented on #735
I don't have root access to a server (resp. machine which runs 24/7) anymore. (creduce has some perl dependencies, which are annoying to not install globally.)

[2021-10-14 14:30] ThomasBreuer commented on #737
Thanks for the information.
(If the proper printing from AA is the recommended standard: Is it documented somewhere?)

With the proposed calls, I get
[code]
and
[code]
As far as I understand, `\operatorname` is not a standard LaTeX command but requires the package amsopn. I have never used this package up to now.

I must admit that I found the variant
[code]
nicer.

[2021-10-14 14:39] wbhart commented on #735
I think that is a pretty small example. creduce will probably just rename things and mess up the spacing at this point.

[2021-10-14 14:39] thofma commented on #737
We deliberately removed the random mappings between characters and latex symbols.

@tthsqe12 Do you know where those `operatorname` come from? Is this coming from the polynomial printing? We problably need to tweak the "text/latex" printing for `QabElem`.

[2021-10-14 14:43] tthsqe12 commented on #737
I am looking into this right now. Obviously AA.deunicodify and AA.underscorify could use some more work. We have to use something like `\operatorname` so that `sin(x)` doesn't look like `s*i*n(x)`. Is there a version of `\operatorname` that doesn't require a package?

[2021-10-14 15:10] fingolfin commented on #737
For sin you could just use `\sin`, IIRC that's builtin. More generally `\mathrm{funcname}`. There is also \mathop but it is from a package. IIRC \operatorname is about spacing, though, isn't it?

[2021-10-14 15:30] tthsqe12 commented on #737
I think I will just use \mathop{\mathrm{...}} and hope for the best.
I hope no one wishes the output of the latex printer to be human-readable.

[2021-10-14 18:02] tthsqe12 commented on #737
With the linked AA pr, the issues with AA have been "solved" and printing the elements of the first `CyclotomicField(5)` does not contain the unnecessary operatorname. What is going on with the second printing is:
In nemo there is
[code]
which clearly creates the symbol "z_5". However, in oscar, there is
https://github.com/oscar-system/Oscar.jl/blob/567e4e88446ed2f942b03992712186b887ea449a/src/Rin

[2021-10-14 18:20] tthsqe12 commented on #737
@fingolfin \mathop and \operaname are about spacing, but \mathop seems to work without any package.

[2021-10-14 19:42] thofma commented on #737
Yes, since one creates elements via `z(5)`, the last decision on this matter was to print it also as `z(5)` instead of `z_5`. Of course this is a bit odd when it comes to latex output. Since the latex output can never be parsed back easily, we might customize the "text/latex" printing to `z_5`? What do you think @tthsqe12? Or maybe someone who cares about the "text/latex" output should speak up.

[2021-10-14 20:01] tthsqe12 commented on #737
As for customizing the latex printing, I would recommend customizing the expressification, since after the expressification we are basically out of luck as the printer just sees the Symbol "z(5)". Can :latex=>true be part of the context?

[2021-10-14 20:29] thofma commented on #737
I guess the MIME type is not part of the context? This would be the alternative.

[2021-10-14 23:16] fingolfin commented on #721
Resolved.

[2021-10-14 23:16] #721 closed, assigned to nobody

[2021-10-15 23:03] lkastner commented on #730
@alexej-jordan I just want to make you aware of this issue. At this point I have gathered enough information, so let's talk at some point.

[2021-10-15 23:03] #730 closed, assigned to nobody

[2021-10-15 23:04] lkastner commented on #715
@alexej-jordan Are you aware of this issue? Do you have an idea?

[2021-10-18 20:29] lkastner commented on #715
This issue is not trivial at all and my initial description was wrong. Even unbounded polytopes do not need to have the trivial hyperplane as a facet, namely if the intersection with the trivial hyperplane has a lower dimension than the facet dimension of the polyhedron.

Therefore the consensus is now: Remove the `non_redundant` option for constructing a Polyhedron. Users that want to give non-re

[2021-10-21 16:13] ThomasBreuer opened #750 "bibtool and bibliography"
(I am sorry that apparently I had not commented on the final version of #642.)

It is fine to normalize the references.
However, I think it would be better to keep the information from the MathScinet version of the data in the source file.
If we want to delete superfluous fields from the file that is processed by Documenter.jl, we can generate a different file with `bibtool`.
If this solution is n

[2021-10-21 20:06] fingolfin commented on #735
A fix has now been merged and will be Julia 1.7.0-rc2.

[2021-10-21 20:06] #735 closed, assigned to nobody

[2021-10-21 20:53] thofma commented on #750
The MathScinet database is not really a good example for consistency, so I usually like tweaking the items. But I have no strong feeling about this. Regarding keeping the `mrnumber` field, I have no objection.

[2021-10-21 21:14] ThomasBreuer commented on #750
@thofma Concerning consistency, I guess that you mean the LaTeX markup in the titles and in the authors' names; for the latter, I think that switching to unicode would be possible and would yield a big improvement.

[2021-10-22 09:51] thofma commented on #750
No, I meant things like `Breuer, T.` vs `Breuer, Thomas`. Does Vanilla LaTeX support unicode in source files? Recently we had to remove `\operatorname`, because it is not part of vanilla LaTeX.

[2021-10-22 10:37] ThomasBreuer commented on #750
What I was thinking of are unicode source data which can be easily turned into LaTeX readable data if necessary but which can also be processed by other tools, for example in order to create Markdown or HTML bibliographies.
For example the [GAP bibliography](https://www.gap-system.org/Doc/Bib/gap-publishednicer.bib) has been created from MathScinet data by some heuristic translations from LaTeX to

[2021-10-22 10:52] thofma commented on #750
Sorry, but I do not understand what the variants refer to in the original post and what the workflow is supposed to be for adding new items (which do not necessarily have a `mrnumber`). Can you clarify?

[2021-10-22 11:29] ThomasBreuer commented on #750
The first variant would be to have a source file that contains the "full" entries, which are copied from MathScinet if possible (and perhaps corrected if necessary), and which are just entered by hand if there is no MathScinet entry (yet).
Adding new items means editing this file. (I am not proposing to automatically fetch items from MathScinet.)
Then `bibtool` is used to generate a normalized and

[2021-10-22 11:46] thofma commented on #750
OK, thanks for the summary. Both is fine for me. So let's hear what the others think.

[2021-10-22 12:18] fingolfin commented on #750
First off: I think it's worth discussing this, but it's really a low priority, so I don't want to spend more of my time working on this than I already did; others are free to improve upon it, though.

Personally I don't see a benefit of keeping the "original" MathSciNet items, or their formatting. Nor would I spend a lot of time on automating translation of titles -- if we see a problem in a title

[2021-10-22 12:23] fingolfin commented on #750
For a quick and dirty solution to print the MathSciNet/Zentralblatt/whaetever else data in the reference, we could just do the following brute force hack: load `DocumenterCitations.jl` then overwrite its `Selectors.runner` method which currently looks like this (I think it's clear how and where to insert the code for printing the additional data):
[code]
On the long run I hope they'll add support

[2021-10-22 13:58] fingolfin opened #753 "Add Combinatorics chapters to manual (with graphs, simplicial complexes, etc.) and fix reference entries"
Just as a reminder for myself based on the discussion in the meeting today

[2021-10-22 14:04] tthsqe12 commented on #683
Can A===B? If so, I can try this for my favorite non-oscar system...

[2021-10-25 08:17] fingolfin opened #756 "Document how to run parts of the test suite"
Since @HereAround asked about it...

Apparently `Oscar.test_module()` can be used for that, but it comes with no documentation? Also, when I tried to use it in the past, I run into all kinds of issues, e.g.
- it was broken in some of our packages (IIRC in AA? I think I've submitted a PR back then...);
- it launches a separate Julia, so it doesn't benefit from `using Revise`
- that subjulia doesn't

[2021-10-25 08:23] fieker commented on #756
On Mon, Oct 25, 2021 at 01:17:45AM -0700, Max Horn wrote:

You need to call `Oscar.test_module("all", false)` - the false will not
start a new julia

[2021-10-25 12:38] lkastner opened #758 "Remove workarounds in Polytopes after next libpolymake_julia release"
These are one-line changes in libpolymake_julia, so making a release at this point seems overkill. I put comments in the source code referencing this issue so that it is clear what needs to be changed.

It is all in just one commit that can (hopefully) then be reverted.

[2021-10-26 12:43] #715 closed, assigned to nobody

[2021-10-27 18:00] HereAround opened #763 "Toric Varieties: Completed goals from fall 2021 until December 2022"
The following is a list of tasks that were completed on toric varieties between fall of 2021 and December 2022. A follow-up for 2023 is available at https://github.com/oscar-system/Oscar.jl/issues/1834.

###############################################################################
###############################################################################
**Completed**:
#####################

[2021-10-28 12:01] tthsqe12 commented on #564
This is now fixed as:
[code]

[2021-10-28 12:01] #564 closed, assigned to nobody

[2021-10-28 12:33] wdecker opened #766 "Coerce coefficients into coefficient ring when defining polynomials"
suggested by @thofma: missing feature

Instead of entering
[code]
one should be able to enter
[code]

[2021-10-29 12:49] fingolfin opened #772 "Missing constructors for Fans and other polyhedral stuff"
There is an mismatch between the types accepted by e.g. the `PolyhedralFan` constructor(s), and the types returned by property accessor functions like `rays`. E.g. consider this:
[code]

So I need one kind of type to describe "rays" to construct a fan, but I get a different type when I ask a fan for its rays and the two are incompatible.

[2021-10-29 14:36] fingolfin commented on #640
@HechtiDerLachs I think in general `copy` or `deepcopy` "should" work; but this may not be implemented for an object; in that case perhaps you need to report it as a "missing feature". In any case, I don't think this belongs into the FAQ, at least as I have it in mind.

[2021-10-29 14:40] fingolfin opened #773 "Segfault in libcurl when `Download.download` is used by GAP.jl"
Just got this in [CI (with Julia nightly on Ubuntu)](https://github.com/oscar-system/Oscar.jl/runs/4047784339?check_suite_focus=true):
[code]

This is probably to be classified as a bug in the `Downloads` stdlib, perhaps GC related, but I don't have time to dig deeper right now. We can file it if we figure out more...

[2021-10-29 14:43] benlorenz commented on #773
This seems to be known and is dicussed here: https://github.com/JuliaLang/Pkg.jl/pull/2802

[2021-10-29 15:25] fingolfin opened #774 "Test failures, possible caused by GAP.jl 0.7.1"
Seeing these failures [in ci](https://github.com/oscar-system/Oscar.jl/runs/4047784113?check_suite_focus=true) for PR #744 (which is just modifying docs, so shouldn't affect regular tests at all):
[code]

I am suspecting this is caused by GAP.jl 0.7.1 :-(. I have absolutely no idea *how* at this point, but I'll look at it. However, I have to head home now. I am posting this here so people know wha

[2021-10-29 15:34] tthsqe12 commented on #774
I get this locally
[code]

[2021-10-29 15:35] benlorenz commented on #774
I was just looking into this before I saw your post, I can reproduce this locally as well. It seems to be allocating excessive amounts of memory, attaching gdb while the process was at about 60GB gave:
[code]

And interrupting the test process gave the following exception which might give a hint which test is triggering this:
[code]

Downgrading to GAP 0.7.0 seems to fix it, with the following ver

[2021-10-29 16:15] fingolfin commented on #774
I have an idea what the cause is but need to feed the monsters, err, kids

[2021-10-29 19:18] lkastner commented on #774
Can we maybe change the workflows such that master breaks less often?

[2021-10-29 20:39] fingolfin commented on #774
@lkastner I don't think master breaks "often" at all? The only recent breakage I recall was due to an "obviously harmless" change being committed directly to master -- the fix there is clear, always use PRs.

The other source is when two PRs are merged in row which both pass tests, but together they fail. This is currently hard to detect, although the [Pull Request Merge Queue](https://github.blog

[2021-10-29 21:07] #774 closed, assigned to nobody

[2021-10-29 22:00] #640 closed, assigned to nobody

[2021-11-01 20:37] thofma commented on #773
Fixed upstream.

[2021-11-01 20:37] #773 closed, assigned to nobody

[2021-11-03 09:56] joschmitt opened #784 "Allow constructing ideals with no generators"
There is the following inconvenience when working with ideals in multivariate polynomial rings (`MPolyIdeal`):
[code]
I would expect this to give the zero ideal in `R` instead (the ideal with no generators).
Note that I of course do not expect `ideal(elem_type(R)[])` to do anything but error.

[2021-11-04 17:11] HechtiDerLachs opened #787 "Promotion system for Galois fields not properly implemented?"
When I was trying to implement the ring interface for Oscar, I stumbled upon the following oddity:

```promote_rule(fmpz, Int)```

gives ```fmpz``` as expected. But

```promote_rule(gfp_elem, Int)```

returns ```Union{}```. That's not correct, is it?

This seems to be breaking my tests...

[2021-11-04 17:23] tthsqe12 commented on #787
The gfp_elem type is defined in Nemo, so it should end up there. But if it is stalling your oscar tests, maybe put it in oscar with a TODO: move this to nemo

[2021-11-04 23:55] fingolfin opened #788 "Test suite speed regression"
The test suite recently got a lot slower. Looking at a CI log, I see this:
[code]
So we spent 20 out of 40 minutes in module homomorphism tests. That's not good.

I think this is code by @AlexD97 and @jankoboehm ?

[2021-11-05 06:24] HechtiDerLachs commented on #787
I'm trying to find the correct promote_rules to add, but I don't get through. So, it would be nice if someone could have a look at this with me or just provide the fix.

Tests just don't cover the Galois fields for now. But they should in the future.

[2021-11-05 07:21] HechtiDerLachs commented on #787
Alright, now it seems I could fix it. Turns out that promotion for ```gfp_mpoly``` was also not there, yet. The lines I need to add to make my tests run are
[code]
I could add them to my files with the TODO. But in any case: Could someone double check that these are the correct lines? For instance, I'm afraid, the promotion of ```Int64``` is not covered by these, is it?

[2021-11-05 07:40] HechtiDerLachs opened #790 "Implementation of the ring interface"
I've encountered the following issues when implementing the ring interface:

 * It seems that `divexact `is a mandatory functionality for Oscar's ring interface and it is tested in the tests. @tthsqe12 explained to me via email that the idea behind this fact is that if one has an *exact domain*, then one should be able to perform the `divexact` operation. Indeed, it depends on what is returned by

[2021-11-05 08:28] thofma commented on #790
Thanks @HechtiDerLachs for the feedback.

Regarding the first point, I would also like to make it optional instead of mandatory. I see two options.
1. Just mark it as mandatory and do a `hasmethod` in the `test_Ring_interface`. Then will get `MethodError` whenever it is invoked.
2. Add the fallback
[code]
    Then we have a nice error message whenever `divexact` is invoked, but then we cannot hand

[2021-11-05 08:37] thofma commented on #787
This looks good. I will add them to AA today. The `Int/Integer` one would be
[code]

[2021-11-05 08:38] thofma commented on #787
But you can add them here too and we sort things out later. This should not hold up your PR.

[2021-11-05 15:16] fingolfin opened #791 "Implement more conversions Oscar <-> GAP, resp. make them available under "more natural names""
Not sure what all @fieker has in mind here (feel free to add your wishes in comments). Some possible. I guess we should also think about how this is done for Polymake and Singular objects).

## GAP -> Oscar

There are multiple levels conversions:
1. first convert "basic" field and ring elements
2. convert (Laurent) polynomials or rational functions over these
3. convert vectors and matrices over e

[2021-11-05 22:51] AlexD97 commented on #788
This should be fixed now in #786. I don’t know why it took so much time.

[2021-11-06 10:05] PBrdng opened #792 "HomotopContinuation.jl/OSCAR compatibility issue"
Hello everyone,

since the latest version of OSCAR (0.6.0) it is not possible anymore to have both the most recent versions of OSCAR (0.6.0) and HomotopyContinuation.jl (2.5.6). Either OSCAR-0.6.0+HC-1.4.4 or OSCAR-0.5.2+HC-2.5.6. Any ideas what could be the problem?

[2021-11-06 11:58] thofma commented on #792
What does `]add Oscar@0.6.0` (or was it `pin`?) say. It should print the dependency which is holding back the update.

[2021-11-06 12:14] PBrdng commented on #792
I just tried with a new environment: Julia simply downgrades HC.jl when I install Oscar.

[2021-11-06 13:20] thofma commented on #792
What is the output of the commands I posted?

[2021-11-06 16:38] thofma commented on #792
One of the dependencies of HomotopyContinuation.jl (Arblib.jl) requires an old version of `Arb_jll`, which is then holding everything back. There is nothing we can do to fix this in Oscar.

[2021-11-06 16:38] #792 closed, assigned to nobody

[2021-11-08 07:58] fingolfin commented on #791
@fieker points out that also `map_coefficients` and `map_entries` should be provided. Which is fine by me, but then we should also have these clearly documented in the manual (right now, `map_entries` has a docstring in AA; but only appears in the Hecke manual, and hence in Oscar it is only documented for a special case (the one in Hecke).

[2021-11-08 08:01] fingolfin commented on #791
Another thing: `julia_to_gap` and `gap_to_julia` should also be provided for GAP finite field elements (and of course matrices/polynomials/etc.) over them

[2021-11-08 16:06] fieker opened #794 "gap_to_julia"
currently, I think in the generic case: ```function gap_to_julia(x::GapObj; recursive::Bool = true)```

the `Matrix{Any}` case cannot be trached as `IsList` is coming first...

[2021-11-08 21:17] HechtiDerLachs opened #795 "Equality test for zero ideals fails"
Try running this code:
[code]
It fails. Doing the same with
[code]
has no problem.

[2021-11-09 11:07] fingolfin commented on #791
@fieker just tried to work with finite fields of size > 2^16 and it seems our MatrixGroup code is not prepared to work with those, at least not in all cases... there might also be a [GAP issue](https://github.com/gap-system/gap/issues/4693) involved.

[2021-11-11 11:57] thofma opened #801 "zsolve problems on macOS"
I am running julia 1.6 on Apple silicon using the x86 intel binaries and get the following error:
[code]
@benlorenz If you think that we should just wait for native Apple silicon binaries (and if this is the problem), just close this issue.

[2021-11-11 12:08] benlorenz commented on #801
Native binaries won't make a difference for that, these were wrong wrappers and this should be fixed (https://github.com/oscar-system/Singular.jl/issues/502 + https://github.com/oscar-system/Singular.jl/pull/506) on the Singular.jl master (and in the next release).

[2021-11-11 12:14] thofma commented on #801
Ah, great!

[2021-11-11 12:14] #801 closed, assigned to nobody

[2021-11-11 12:24] fingolfin opened #802 "New Oscar release"
We should make a new Oscar.jl release soon. The current 0.6.0 is quite far behind by now. Dunno if the new release should be 0.6.1 or 0.7.0, feel free to comment with your opinion.

What do we want to have before doing it, though? Some thoughts (feel free to suggest more):
- [x] new Singular.jl release with the fix for https://github.com/oscar-system/Oscar.jl/issues/801 (cc @tthsqe12 )
- [x] new G

[2021-11-11 20:08] ederc commented on #802
If possible I would like to have #781 in it.

[2021-11-11 21:27] fingolfin commented on #788
@AlexD97 could this fix be please put into a separate PR so that it can be merged ASAP, instead of being part of the otherwise unrelated (????) PR #786?

[2021-11-11 21:31] fingolfin commented on #794
`IsMatrixObj` stands for the "new type" matrices in GAP; a plain list-of-lists is not an `IsMatrixObj`, it is `IsMatrix` (yes, that's confusing, but we have no alternative w/o breaking backwards compatibility.

In any case, I recommend *not* using `gap_to_julia` if possible, we've been working on changing code away from it. Instead, if you want a `Matrix{Any}`, then write `Matrix{Any}(gapobj)`. Ex

[2021-11-11 21:52] AlexD97 commented on #788
I made a new PR ([#805](https://github.com/oscar-system/Oscar.jl/pull/805)).
Sorry for the delay!

[2021-11-11 22:16] #788 closed, assigned to nobody

[2021-11-12 14:56] thofma opened #809 "Deal with Set and Dict in doctest"
From @maxhorn:

So this leaves the following solutions:
1. turn the `jldoctest` into a plain example, i.e., `julia-repl` -- drawback is that it won't be tested this way, and so it'll risk diverging from reality more and more
2. add a hack where we install a custom `show` method for `Dict` in the setup code for the doctests; that custom show could order the keys in certain fixed order; seems quite

[2021-11-12 15:34] thofma commented on #795
Looking into this, this is fun!

[2021-11-12 16:25] tthsqe12 commented on #790
I like option 2. Not sure what you getting at with hasmethod in option 1.

[2021-11-12 16:43] thofma commented on #790
The `test_Ring_interface` should test the `divexact`method in case it exists. One can use `if hasmethod(divexact, Tuple{T, T})` to check the existent of the method one wants to check.

[2021-11-12 21:27] thofma commented on #790
I also prefer option 2. Lots of things won't work if `divexact` is missing, but who cares. A lot of things will still be working and we will get some useful error message.

[2021-11-12 21:55] #795 closed, assigned to nobody

[2021-11-14 11:28] micjoswig opened #814 "msolve dependency broken?"
I get the following error with d8028450986ec (on manjaro):
[code]
The suggested method for resolving leads to other errors.

[2021-11-14 11:30] fingolfin commented on #814
So `Pkg.resolve()` leads to other errors: which?

[2021-11-14 11:33] wdecker commented on #814
using Pkg ; Pkg.update() should work

[2021-11-14 11:33] fingolfin commented on #814
OK, I can reproduce it. `Pkg.resolve()` gives
[code]

[2021-11-14 11:35] fingolfin commented on #814
Indeed, `Pkg.update()` as suggested by Wolfram does it, or just do `rm Manifest.toml` before your steps.

[2021-11-14 11:36] fingolfin commented on #814
The old manifest locked things at outdated and hence incompatible versions.

[2021-11-15 12:30] benlorenz commented on #546
While experimenting with some preliminary polymake binaries for Apple M1:
[code]

I ran into some other errors when trying to test Oscar and it seems similar errors also appear when running just the Singular testsuite.

Singular prints several non-fatal errors during the tests, mostly about divisions by 0:
[code]
And then complains rather loudly about some missing NTL/FLINT stuff:
[code]

Is this

[2021-11-15 12:43] tthsqe12 commented on #546
These are indeed fatal and will be checked in the next singular.jl verions. Something is very wrong here. Does the flint test code (`make check`) pass on this setup? How about the Singular test code (not Singular.jl)?

Of course the errors from singular here are self-explanatory. I would just like to add that they may or may not be printing to the screen at the correct time.

[2021-11-15 13:21] benlorenz commented on #546
I don't really know, this is just using the binaries that were built on Yggdrasil with the recipes max added. Not really sure how to run the check in this environment, as they binaries are cross-compiled. Is there some way to run these (flint or singular) against an existing (installed) library?

Why would this be missing on Apple M1 only?

[2021-11-15 17:09] tthsqe12 commented on #546
It would probably be easier to just run the test suit for Nemo.jl if you can. It doesn't catch everything, but should fail if there is something seriously wrong with the bins.

Not sure, the logs in `Singular.v402.101.100.aarch64-apple-darwin.tar.gz` indicate that flint was NOT found, but the logs, for example, in `Singular.v402.101.100.aarch64-linux-gnu-cxx03.tar.gz` indicate that flint was found

[2021-11-15 17:51] benlorenz commented on #546
Good catch, I would have expected the configuration to fail if `--with-flint` is specified but no flint is found. It seems the build for Singular_jll was using the wrong `Dependency` specification for FLINT_jll and used the oldest compatible 200.800 version instead of the new 200.800.100 (or 200.800.300) series which is the first to support Apple M1. This can be seen in the log here: https://dev.a

[2021-11-16 22:29] fingolfin commented on #814
@micjoswig does it work now for you?

While this is annoying, it's a drawback of working with dev versions and manifests... I hope that the new OSCAR release (hopefully out this week) will take care of it for regular users...

[2021-11-17 08:36] micjoswig commented on #814
Yip, update works.  Thx.

[2021-11-17 08:36] #814 closed, assigned to nobody

[2021-11-17 19:26] joschmitt commented on #784
This is settled by #821 as far as I'm concerned. Feel free to close the issue.

[2021-11-17 19:27] #784 closed, assigned to nobody

[2021-11-18 12:11] fingolfin commented on #802
@wdecker just told me that he'd love to make some more documentation improvements. We could postpone the release till Monday then, he said he should be ready by then.

Independently, we've discovered that GAP.jl 0.7 seems to cause the Julia kernel for IJulia / Jupyter to crash, see https://github.com/oscar-system/GAP.jl/issues/760 -- this also causes Oscar to crash, and that's kind of a show stopp

[2021-11-18 12:18] fingolfin commented on #802
To be clear the crash in IJulia only happens *sometimes*, making it a tad difficult to debug

[2021-11-19 09:42] lkastner opened #829 "Implement simplicial complexes"
Wrap the corresponding `polymake` type and give input for the refactoring within polymake.

[2021-11-22 14:36] benlorenz opened #831 "could not initialize the perl interpreter -- julia 1.6.4 on macos"
Once again there seems to be some issues with subprocess handling (I have added some extra output here):
[code]

This occurs when polymake needs to recompile some wrappers during startup and is caused by some change in subprocess / SIGCHLD handling between julia 1.6.3 and julia 1.6.4 (which I haven't found yet, maybe inside libuv). But the wrappers are compiled without any errors, only waitpid see

[2021-11-24 16:08] FGlazov opened #834 "PolynomialRing fails on print when trivial"
I'm working on a decomposition of a specific polynomial ring into smaller rings, and sometimes some terms inside the decomposition are the trivial ring. Of course, it would be possible to skip creating these terms in the decomposition and sidestep the following issue.

The edge case of a trivial ```PolynomialRing``` seems to mostly work alright, however there is a small issue when attempting to pr

[2021-11-24 16:10] thofma commented on #834
Thanks for the report. @tthsqe12 didn't we just fix this?

[2021-11-24 16:26] FGlazov commented on #834
Ah, you're right, I've just updated to 0.7.0 and the constructor for PolynomialRing now outputs ```need at least one indeterminate``` instead of causing problems later on. Thanks :+1:

[2021-11-24 16:26] #834 closed, assigned to nobody

[2021-11-24 16:27] tthsqe12 commented on #834
You will be able to use no variables next year.

[2021-11-26 12:34] tthsqe12 commented on #585
I have been thinking about this as well. AbstractAlgebra needs an Infinity. Valuation can return +infty, and degree can return -infty. We also need an indeterminate so that we can add, sub, and mul these guys. My initial idea was a `SuperInteger{T}` which holds a normal integer of type `T` and an enum with one of four possible values:
1. the object is positive infinity
2. the object is negative in

[2021-11-26 12:51] fieker commented on #585
On Fri, Nov 26, 2021 at 04:34:28AM -0800, dan wrote:

Cannot this be handled, in Nemo, via mangling of fmpz?

[2021-11-26 12:56] tthsqe12 commented on #585
libflint expects `Int`s `d` with (1) `|d| < 2^62` or (2) `d > 2^62` with `d =` pointer that has been mangled a certain way. Either we crash libflint with infinite input or check each `fmpz` before passing it to libflint? sounds bad... need another type...

[2021-11-26 13:12] thofma commented on #585
Usually we need `Int` + `+/-inf` and not `fmpz` + `+/-inf`. We don't want the degree to return an `fmpz` or the valuation to return an `fmpz`.

I would be in favor of just one infinite object, not parametrized by anything.

[2021-11-26 13:15] tthsqe12 commented on #585
So the inferred return of `degree` is Union{Blah, Int}? I cannot see a point in one type just for +infinity. So Blah is one type that represents either +infty, -infty, or nan.

[2021-11-26 13:26] thofma commented on #585
If we go with `SuperInteger{T}`, we would need to adjust all signatures to accept also `SuperInteger`? With the `Union` approach, everything would just continue to work.

And yes, one infinity object that can either represent +infty, -infty (why nan?).

[2021-11-26 14:40] benlorenz commented on #831
Fixed with the new polymake_jll binary (v400.500.0+1): https://github.com/oscar-system/Oscar.jl/runs/4334688011?check_suite_focus=true

[2021-11-26 14:40] #831 closed, assigned to nobody

[2021-11-26 17:46] fingolfin commented on #802
0.7.0 is out

[2021-11-26 17:46] #802 closed, assigned to nobody

[2021-11-26 20:58] tthsqe12 commented on #585
I agree that SuperInteger{T} is annoying, and I also agree that the Union approach is easy for us (but not for the julia runtime, maybe we will be writing degree(poly)::Int all over the place). However, I am surprised to hear Mr. Type Stable endorsing the type unstable approach. Maybe my FreeAssAlgebra can work the way I wanted it to after all?

[2021-11-27 17:57] thofma commented on #585
Mr. Type Stable here. It never crossed my mind to change `degree` to return `-inf` for the zero polynomial. I agree that changing the behaviour could lead to some unfortunate compile time or even run time regressions. So I would rather not change it. For what it is worth, Magma returns `-1` for the degree of the zero polynomial (the same that we are doing right now).

[2021-11-29 10:31] fingolfin commented on #585
But why??? I can only see this cause pain and suffering in terms of people being completely caught by surprise by this if you call it e.g. `Infinity`. So how would you call it `InfinityOrMinusInfinity` ?

[2021-11-29 10:33] fingolfin opened #841 "Groups: better handling of group orders..."
I've added this method some time ago:
[code]
This was meant as quick & dirty hack; I should have explained this in a comment, which also states what the plan for replacing it is.

Also, we should probably have a helper for setting the order, so that if there is an underlying GAP object, it *also* sets the order there (and perhaps if one or both orders are already specified, it could compare them?)

[2021-11-29 10:46] tthsqe12 commented on #585
Alright, one empty type `Infinity` which prints as `inifinity` in text output, and another empty type `MinusInfinity` which prints as `-infinity`. As a joke, we could also just use Float~64~32 as this supports both infinities :).

[2021-11-29 10:51] thofma commented on #585
Since we want to rely on the small union splitting (https://julialang.org/blog/2018/08/union-splitting/), we don't want to return a union of dozens of types. The exact number for which splitting is done is an implementation detail, but we can rely on it being `>= 2` (since iteration in julia is relying on it being `>= 2`).

[2021-11-29 13:06] thofma opened #842 "Internal stackoverflow julia master + MacOS"
On julia master and MacOS: https://github.com/oscar-system/Oscar.jl/runs/4352506233?check_suite_focus=true#step:5:426
I restarted it, but it is still there.

Have not tried to reproduce locally.

[2021-11-29 14:14] thofma commented on #842
Can reproduce it locally, will report upstream.

[2021-11-30 11:15] fingolfin opened #843 "Rename, document and advertise `@declare_other` and `set_special/get_special`"
We ought to (a) rename `@declare_other` and `set_special/get_special` to something more consistent and sensible, (b) document it and then (c) advertise it to all our devs and beyond

_Originally posted by @fingolfin in https://github.com/oscar-system/Oscar.jl/issues/839#issuecomment-982536876_

[2021-11-30 11:31] fingolfin commented on #843
Here is a suggestion:
- `@declare_other` -> `@attributes`
-   ... and instead of adding a member `other::Dict{Symbol,Any}` it adds a dict `_attribute::Dict{Symbol,Any}` with the leading `underscore to avoid clashes with "regular" members
- `set_special` -> `setattribute` or `setattr`
- `get_special` -> `getattribute` or `getattr`
- `hasspecial` -> `hasattribute` or `hasattr`

Thoughts?

[2021-11-30 14:13] fingolfin commented on #842
Apparently reported at https://github.com/JuliaLang/julia/issues/43254 with proposed fix https://github.com/JuliaLang/julia/pull/43265

[2021-11-30 16:13] thofma commented on #843
What is the problem with the underscores? I would suggest  `set_attribute` and `get_attribute`.

[2021-11-30 17:13] fingolfin commented on #843
No problem from my POV (although the Julia convention would forego them, but ... *shrug*)

[2021-12-01 09:22] fingolfin commented on #585
Where is the "dozens of types" coming from? If we have `Infinity` and `MinusInfinity` then I am pretty sure in many places it'll just be `Union{Int, Infinity}` or `Union{fmpz, Infinity}`. What are things that need to deal with both plus and minus infinity?

[2021-12-01 09:31] fingolfin commented on #843
@thofma Just for completeness, I assume you would also suggest `has_attribute` instead of `hasspecial`, right?

Separately from this, from looking at Julia, perhaps the `set` command should have a trailing `!`, e.g. `set_attribute!`, to parallel `setfield!`, `setindex!`, `setproperty!`

[2021-12-01 15:00] thofma commented on #585
Makes sense.

[2021-12-02 05:55] thofma commented on #842
Fixed upstream.

[2021-12-02 05:55] #842 closed, assigned to nobody

[2021-12-02 13:44] fingolfin opened #851 "Speed up our test suite"
In the CI, running our test suite takes between 15-25 minutes (Ubuntu, Julia 1.6, not including doctests). It would be nice to be faster, to reduce turnaround times for CI results. One option of course is to split the test suite into a "quick" and a "slow" version, and we may have to do that eventually. But in the meantime, perhaps we can speed up a few tests to make them faster. To this end, I ha

[2021-12-02 13:54] thofma commented on #851
Might also be a good idea to run it locally using https://github.com/JuliaLang/julia/pull/43252

[2021-12-02 14:33] tthsqe12 commented on #851
So, have some global variable that the tests can read and determine how many tests to run?

[2021-12-02 14:40] thofma commented on #851
Yes, this is one option. We could have a `OSCAR_LONG_TEST` environment variable, which sets `test_long = true`. Using this one can tweak the test runtime or hide a test completely behind a `@test_long`. We use this approach in Hecke. There is always one job doing the long tests.

[2021-12-02 14:45] benlorenz commented on #851
The extra empty lines are very confusing like this, the above means that `Group` took almost two minutes, but doesn't say anything about `Cone`. And whatever came after `Group` took about 42 seconds.
Both `Test Summary ...` and `<testname> | x x` are printed at the same time and should be compared to the timestamp of the previous two such lines.

[2021-12-02 17:05] thofma commented on #851
Here is the detailed runtime for every toplevel testset:

[code]

[2021-12-02 21:36] fingolfin opened #854 "Error running test suite due to polymake failure"
I just got this trying to run the Oscar master test suite in Julia 1.6.4 on macOS 10.14, after Pkg.update():
[code]

@benlorenz suggested that I run `using Oscar ; Polymake.shell_execute(raw"$Verbose::cpp=3;")`, exit Julia, and then try again. This resulted in the following:

[code]

[2021-12-02 22:54] benlorenz commented on #854
There is an include statement pointing to `include` inside `/Users/mhorn/.julia/artifacts/6e1668a0c0e2d98f223fbabe044f297e07f3855d/deps/MPFR_jll`, that should be a symlink and point to the MPFR artifact. Can you check where this points to? (or at least the artifact hash it targets if it doesn't exists)

[2021-12-02 22:55] fingolfin commented on #851
My apologies, I indeed misinterpreted the test outputs (whose presentation IMHO isn't that great on multiple levels... but I digress *sigh*). I've updated my original post with a hopefully better and easier to read list. Sorry for the confusion

[2021-12-02 23:20] fingolfin opened #856 "Systematic `@testset` names"
Right now it can be hard to identify a testset by name only -- e.g. there is a testset `Direct products`, can you tell what part of the testsuite it belongs to without looking it up? (This is just a random example, not meant to be singled out as particularly bad -- it isn't).

I think it would be useful to have names that indicate a bit better where they are from. Actually, in the end I really thi

[2021-12-02 23:34] benlorenz commented on #851
The output is really confusing yes.

I am quite confused by these times being way different than the other times, this is without #852 ?

[2021-12-03 07:59] fingolfin commented on #851
The timings reported by @thofma (AFAICT they were produced before #852) are indeed weird, and don't match what I see in CI and locally judging by wall clock time. Of course my machine has a different speed etc.; and I think those timings exclude compilation time (I think it's useful to separate that, but we still would like to know about it). But still: e.g. `Direct products` is listed with 0.3 s,

[2021-12-03 08:01] fingolfin commented on #854
`~/.julia/artifacts/6e1668a0c0e2d98f223fbabe044f297e07f3855d/deps/MPFR_jl` points to `~/.julia/artifacts/4d28d64d4a201f78e07b3a9d86dd3ac2d2ccfcbb` which does not exist.

[2021-12-03 08:04] fingolfin commented on #854
I just used a little helper I wrote (and wanted to put into a small utility package but never got around):
[code]
Then I did
[code]
and that downloaded the missing artifact.

So perhaps we need to insert a call to something like the above into the Polymake `__init__`

[2021-12-03 08:06] fingolfin commented on #854
(Just to clarify and not look like trying to take credit that's not mine: That helper of course is just a slightly generalized version of similar code you and me and others are already using for GMP_jll etc. -- so I am sure you already have something like it around, it just may need to be called in more place, such as in `__init__`)

[2021-12-03 08:54] HechtiDerLachs commented on #851
About the localization interface: My 'own' tests should take only seconds. What really eats up the time is calling the 'ring interface test' due to @tthsqe12 . I think it was planned to include a switch there and provide a shorter test set for that? If yes, I'll be happy to switch that to 'short'. Otherwise, we could simply take out the test for the ring interface for now.

[2021-12-03 09:26] benlorenz commented on #854
We currently call a similar function during precompilation, and this will move to `__init__` soon but I wanted to guard regenerating that tree with a `isdir`. Maybe we just redo everything on every `__init__` to avoid dealing with this.

This artifact should be the same for all julia 1.6.x versions so this path was not removed due to some version bump but probably because julia thinks that it is n

[2021-12-03 11:01] benlorenz commented on #854
I have created an issue regarding this: https://github.com/JuliaLang/Pkg.jl/issues/2874

[2021-12-03 12:46] thofma commented on #851
The timings I posted were obtained using https://github.com/JuliaLang/julia/pull/43252 and Oscar 0.7. I believe that they do not include compilation time. I don't understand how `Direct products` takes more than 1 a second in your table. I get (in a fresh session and Oscar master branch):
[code]
Or am I looking at the wrong test?

EDIT: If I change the test file and put a `@time` in front of this

[2021-12-03 15:30] thofma opened #860 "Missing `Base.deepcopy_internal` for Group interface"
Was doing some computations and encountered:
[code]

[2021-12-03 21:22] lkastner commented on #851
So is the `PolyhedralGeometry` part done and the PR is just written in the wrong line or did it really fix `Group`?

[2021-12-05 15:03] fingolfin opened #861 "Missing docstring for `GF`"
CC @fieker

[2021-12-05 15:07] fingolfin opened #862 "Support symbols resp. strings in `GF` and `FiniteField` the same way as in `PolynomialRing`"
The variables in `PolynomialRing` can be specified either as symbol(s) or as string(s):
[code]

But for `GF` and `FiniteField` that does not seem to be the case:
[code]

That's IMHO confusing. Either they should all support both strings and symbols; or they should all only support one of the two. Since there is already code using string and other code using symbols, I think the only option right n

[2021-12-05 18:42] fieker commented on #862
Internally only symbols are stored, however the interface is hit and miss.
An old open problem...
Same for power series, q-adics, number fields, free modules....

On Sun, 5 Dec 2021, 16:07 Max Horn, ***@***.***> wrote:

[2021-12-05 23:13] fingolfin opened #863 "Allow `FiniteField(fmpz(5),2)` and `GF(fmpz(5), 2)` and `GF(fmpz(5), 2, "t")`"
These all work with `5` instead of `fmpz(5)`.

UPDATE: just to clarify, what I am looking for is "symmetry" here in what kind of calls are allowed, not necessarily that they return the "same" thing or even something of the same type. In that vein, these all work:
- `GF(5)`, `FiniteField(5)` -- produce a `Nemo.GaloisField`
- `GF(5,2)`, `FiniteField(5,2)` -- produce a `FqNmodFiniteField`
- `GF(fmpz(

[2021-12-05 23:18] fingolfin opened #864 "Docstring for `FiniteField` describes `FlintFiniteField` instead"
That's not terribly bad but at least confusing. It comes from this line of code:
[code]
So perhaps this should be an issue in the Nemo.jl repository instead...?

[2021-12-05 23:47] fingolfin opened #866 "Help mode for `lift` lists a docstring for `data(R::GFElem)`, shouldn't"
Consider this:
[code]

I am not sure *why* this docstring would be listed under `lift` but it seems like a bug?

[2021-12-06 00:14] fingolfin opened #867 "Too many finite fields (which to support? what constructors to use? dealing with differences in behaviour))"
As @fieker requested it I was trying to add some more conversion methods between GAP finite field (elements) and their OSCAR counterparts. I looked at the following seven (or eight, depending on how you count) finite field implementations in OSCAR (I am deliberately ignoring those from Singular.jl):
[code]

## 1: which of these types "should" I support / should we support generically?

As in, any

[2021-12-06 06:34] fieker commented on #863
...but return a different type...

On Mon, 6 Dec 2021, 00:13 Max Horn, ***@***.***> wrote:

[2021-12-06 06:56] fingolfin commented on #863
Of course

[2021-12-06 08:34] fingolfin commented on #867
@fieker asked what I think `lift` should do when given a non-prime-field element: I was thinking that if that element lives in the prime field, return an integer, otherwise an error. But I am also fine with it always returning an error. But in the end, I'd like a way to generically access finite field elements *somehow*. Right now, I guess I'll have to follow what Giovanni did in `src/Groups/matri

[2021-12-06 09:38] benlorenz commented on #851
Latest nightly test runs will show timings by default: https://github.com/oscar-system/Oscar.jl/runs/4424684401?check_suite_focus=true#step:5:139

[2021-12-06 11:10] tthsqe12 commented on #867
A uniform way to ift from any finite field to `ZZ` or `ZZ[x]`? Sounds a bit restrictive on the finite field ... for example, what is this supposed to do for the relative extensions as above? Note, the following already exist, and I find it perfectly reasonable that when `modulus(finite field)` can be lifted to `ZZ[x]`, then the elements should be able to be lifted as well. Though, generically, fin

[2021-12-06 11:16] fieker commented on #867
To me, generically, if this is what you want, then the finite field is a
residue field. If it is constructed as such, it should also come with
the projection map which allows a pre-image.
Otherwise:
 since not all Z[x] are identical, what parent should be chosen?

On Mon, Dec 06, 2021 at 03:10:34AM -0800, dan wrote:

[2021-12-06 12:20] thofma commented on #851
@benlorenz Could you do me a favor and try to reproduce the timings from `Direct products` (from `test/ToricVarieties/runtests.jl`)? With recent Oscar master and julia 1.6 I saw 20 seconds once, but then only < 1 seconds (always in fresh julia sessions so always including compilation time). Since julia does not cache something itself (except for the precompiled stuff), is there something cached by

[2021-12-06 12:24] benlorenz commented on #851
It might be because of wrappers the polymake needs to compile, these will be stored below `.julia/polymake_user` (and very soon in a scratchspace). You could run `rm -rf ~/.julia/polymake_user/wrappers.*` and rerun the tests.

[2021-12-06 12:46] thofma commented on #851
Thanks, I just checked and it is as you suspected. This explains the discrepancy between the timings I reported and the original ones by @fingolfin, at least for things related to polymake.

[2021-12-06 12:58] benlorenz commented on #851
Thanks for confirming.
We should keep at least one test-case that triggers one wrapper compilation to make sure that still works, as we previously had some cases where this failed within Oscar but worked in Polymake.jl alone. But I think we currently have two (Direct products + Polyhedron) so we might adjust one testcase to not trigger a new wrapper (or pregenerate it in polymake_jll).

(Unfortuna

[2021-12-06 13:26] benlorenz commented on #854
This code was restructured with Polymake.jl 0.6.2 and the error should (hopefully) not occur anymore, dependency tree is now (re-)generated during `__init__` to make sure all artifacts are still in place.

[2021-12-06 13:26] #854 closed, assigned to benlorenz

[2021-12-06 13:26] #691 closed, assigned to nobody

[2021-12-06 13:27] benlorenz commented on #691
This should also be solved with the singular.jl release, and updates to polymake.jl.

[2021-12-06 16:55] benlorenz commented on #546
Now that the list in the first post is complete I did some more experiments:

With [self-built `Singular_jll` binaries](https://github.com/benlorenz/Singular_jll.jl) with the [updated FLINT compat](https://github.com/JuliaPackaging/Yggdrasil/pull/4036) the Singular.jl tests succeed, Polymake.jl, Nemo.jl, Hecke.jl and AbstractAlgebra.jl also seem to work.
(All packages tested with their current mas

[2021-12-06 16:58] thofma commented on #546
The `ntuple` segfaults are are not related to our stuff, but are known woes with julia  on M1 (https://github.com/JuliaLang/julia/issues?q=is%3Aissue+is%3Aopen+apple+label%3A%22apple+silicon%22).

[2021-12-07 10:49] tthsqe12 commented on #867
@fingolfin Would you like a lift directly from some finite field to ZZ[x] so that you can do `lift(ZZ["x"][1], a^6)`?

[2021-12-08 15:28] simonbrandhorst opened #872 "Matrix group elements should act on "vectors"."
[code]

[2021-12-09 09:33] fingolfin commented on #872
Thanks for the report.

We could do that -- and probably should because people will end up doing it -- the name `Vector` is a bit unfortunate in that it goads people into using it for vector space elements.

However, formally, I'd say Oscar matrices and Oscar vectors should be used, not Julia ones. A vector would be an element of a vector space / free module:
[code]

Alas, note that the example ab

[2021-12-09 10:39] thofma commented on #872
I am in favour of allowing `Vector` to be acted upon from the left and right. Not having it just inconveniences the user.

[2021-12-10 07:49] fingolfin commented on #843
See https://github.com/Nemocas/AbstractAlgebra.jl/pull/1065 where this is implemented in AA; once that is merged and there is a new AA release, we can make use of it everywhere

[2021-12-10 14:37] fingolfin commented on #546
Regarding the `Bad input data`, from a full non-crashing log, I see this:
[code]
So it looks like this might be code in `msolve` by @ederc.

Regarding the GAP error building `io`: it calls `autoheader`, it shouldn't, I don't understand why it would do that, but it should be easy enough to resolve. And indeed the use of package JLLs should fix it. I'm on it.

[2021-12-10 15:33] benlorenz commented on #546
That error message does indeed look like one of [those from msolve](https://gitlab.lip6.fr/search?search=bad+input&group_id=&project_id=432&scope=&search_code=true&snippets=false&repository_ref=master&nav_source=navbar).
After removing the `msolve` test group all other Oscar tests succeed!

[2021-12-10 20:29] ederc commented on #546
Yes, this seems to come from `msolve`. Problem for me is that the error does not appear when applying the test cases to `msolve` directly (of course tested on an M1 machine). What is the easiest way for me to build some kind of `Oscar` on M1 such that I can see what happens in the testsuite inside julia? At the moment the problem seems to come from corrupted input data since the error happens when

[2021-12-10 20:36] thofma commented on #546
There is a machine sitting around in Kaiserslautern. The friendly system administrator on your floor will give you access.

[2021-12-10 20:42] ederc commented on #546
Getting access to a machine is not the problem, but how can I get `Oscar`resp. its testsuite working on it? I cannot get `Oscar` running as it is on 1.7 and M1 right now, what is the easiest way to get the testsuite run?

[2021-12-10 20:53] ederc commented on #546
Ah sorry, my bad, I hadn't updated all my packages on the M1 system. Working on it over the weekend.

[2021-12-11 20:47] ederc commented on #546
The `Bad input data` error for `msolve` is fixed with #882.

[2021-12-13 09:47] fingolfin opened #884 "Fix `abelian_group` to accept `fmpz`"
`abelian_group` does not accept fmpz:
[code]

_Originally posted by @simonbrandhorst in https://github.com/oscar-system/Oscar.jl/pull/876#discussion_r767553765_

[2021-12-13 14:14] joschmitt opened #886 "Make singular_ring remember the grading?"
Say I have a graded `MPolyRing` and at some point construct the corresponding `singular_ring`. Then this ring will not know about the grading:
[code]
Is this intended? I'm really no expert, but I would expect the Singular ring to come with a weighted ordering matching the grading (wp(2, 3) in the example) or at least that there is an option for this. I think one can assume that the user specified

[2021-12-13 15:03] #561 closed, assigned to nobody

[2021-12-13 15:14] tthsqe12 commented on #886
~Probably Singular.jl rings, ideals, and polys are going to get the @ attribute treatment soon or later, at which point you can probably store whatever you want wherever you want it.~

[2021-12-13 15:30] joschmitt commented on #886
Okay, thanks.
I think one can already give the singular ring the weighted ordering. My question was more in the direction as of whether there is a reason this is not done yet (other than that nobody thought about it).
Just to make my point: I have a homogeneous ideal in a positively graded polynomial ring and would like to compute a minimal generating set using the functionality in `Singular.libSi

[2021-12-13 19:05] thofma commented on #886
Can you elaborate how `@attributes` (or `@ttributes?`) would help @tthsqe12? `singular_ring` needs to create some internal Singular ring with `wp(2, 3)` in the example above, so the actual object returned must be different?

[2021-12-13 19:22] tthsqe12 commented on #886
Sure, my initial comment was off the mark. Just create the singular_ring with whatever ordering you want.

[2021-12-14 14:26] YueRen opened #888 "To do list: Tropical Geometry in Oscar"
This is a general to do list for the tropical package in branch yr/tropicalGeometry to keep track of all the tasks:

Major:
-------

- add support for multiplicities (via attributes)
- add support for the tropical projective space (via flag in attributes which primarily affects how information is presented to the user)

Minor:
-------

**Hypersurfaces:**
- improve tropical hypersurfaces: cache tro

[2021-12-14 14:45] wdecker commented on #888
@YueRen Great! I am looking forward to follow the progress you are going to make!

With regard to identifiers etc we should coordinate naming with toric geometry and algebraic geometry.

[2021-12-15 11:13] benlorenz commented on #546
I re-ran the tests and all Oscar test pass now on the latest master, thanks everyone!
So I think we can close this ticket now.

The only thing that remains are the GAP packages for the GAP.jl tests but those have separate issues anyway.

[2021-12-16 07:49] fieker opened #894 "parents and degrees of PermGroup"
[code]
This should be 1.

The next:
[code]
so the conjugation looses the degree...

[2021-12-16 07:54] fieker opened #895 "missing show function in Polymake?"
[code]
I think it should rather say s.th. like
`Result from Database search...` with whatever useful, cheap info you can get.
Also:
[code]
maybe here a more helpful error message?

[2021-12-16 08:00] fieker opened #896 "ehrhart Polynomials"
Why are they multivariate?
 - easier interface?
 - sparse?
 - they really are sometime multivariate?
The problem/feature is of course that mpoly in 1 variable is completely disjoint from poly...

[2021-12-16 09:13] thofma commented on #896
Pinging @lkastner

[2021-12-16 10:39] #546 closed, assigned to nobody

[2021-12-16 11:23] ThomasBreuer commented on #894
The first problem is easy to fix.

For the second one, we have to decide what we want.
When I conjugate a permutation group G with a permutation x, the degrees of G and x may be different.
If we want to support this general situation and if we want that the degree of the result depends only on the degrees of G and x (and not on the moved points of the result) then the only sensible definition seem

[2021-12-16 11:31] fieker commented on #894
On Thu, Dec 16, 2021 at 03:24:02AM -0800, Thomas Breuer wrote:

In Gap: yes.
In Oscar: if the degrees differ, the element and the group are not
compatible. In my opinion, this should then error

[2021-12-16 11:40] thofma commented on #894
Agree with Claus here.

[2021-12-16 13:16] #896 closed, assigned to nobody

[2021-12-16 16:23] benlorenz opened #901 "sporadic `MethodError: no method matching one(::Type{gfp_mpoly})` error (CI, macOS, julia 1.7)"
Has anyone seen [this error](https://github.com/oscar-system/Oscar.jl/runs/4547259219?check_suite_focus=true#step:5:291) before:
[code]
There are a bunch of similar errors in the log after this one.

This happened on macOS with julia 1.7 in a PR (#899) that only touched the github workflow.

[2021-12-16 16:55] thofma commented on #901
I will try to reproduce.

[2021-12-16 17:35] tthsqe12 commented on #901
The function is clearly missing from nemo, so the only question is why the failures are only sporadic.

[2021-12-16 17:38] thofma commented on #901
This function cannot exist, so the only question is, why is someone calling it. It is probably some `prod([rand(F) for i in 1:rand(0:10))]` in the tests.

[2021-12-16 17:46] thofma commented on #901
#903.

[2021-12-16 21:42] #901 closed, assigned to nobody

[2021-12-17 09:48] ThomasBreuer commented on #894
O. k., let us change the behaviour such that we throw an error whenever incompatible groups are entered.
This should then also hold for the multiplication and conjugation of group elements.

The current approach via `_maxgroup` can then be abolished.
Anyway it leads to effects which are difficult to explain, for example this one:
[code]

[2021-12-17 10:49] YueRen opened #907 "Missing example in documentation for matrix orderings"
The documentation lacks an example of how to construct a matrix ordering for a GB computation:
https://oscar-system.github.io/Oscar.jl/dev/CommutativeAlgebra/ideals/#Creating-Matrix-Orderings

I tried passing a Singular matrix ordering to a GB computation, but that was not it. It seems to take symbols only:
[code]

[2021-12-17 10:54] YueRen opened #908 "allow ishomogeneous for ideals"
`homogenization` is allowed for ideals, `ishomogeneous` should also be allowed for ideals:

[code]

[2021-12-17 10:58] YueRen opened #909 "allow ishomogeneous for more types of polynomials"
This works:
[code]

This doesn't:
[code]

[2021-12-17 11:03] wdecker commented on #909
@YueRen This is not a bug, this is a design decision which could be changed. Let us talk about this and #908 via skype, phone, gathertown ...

[2021-12-17 11:30] wdecker commented on #909
julia> R, (x1,x2) = PolynomialRing(QQ, "x".*string.(1:2))
(Multivariate Polynomial Ring in x1, x2 over Rational Field, fmpq_mpoly[x1, x2])

julia> R, (x1,x2) = grade(R)
(Multivariate Polynomial Ring in x1, x2 over Rational Field graded by
  x1 -> [1]
  x2 -> [1], MPolyElem_dec{fmpq, fmpq_mpoly}[x1, x2])

julia> I = ideal([x1+x2])
ideal(x1 + x2)

julia> ishomogeneous(I[1])
true

[2021-12-17 12:06] fieker commented on #907
On Fri, Dec 17, 2021 at 02:49:29AM -0800, YueRen wrote:

Thats what I meant: we can define them in Oscar - in a way that Singular
could use. However, the interface to singular is at this point,
deficient...

[2021-12-20 10:52] YueRen opened #911 "allow coefficient_ring for ideals"
I suggest to allow `coefficient_ring` for ideals, unless there is a reason that I'm currently not seeing:

[code]

As far as I can see, `coefficient_ring` for ideals can be problematic for two reasons, both of which currently cannot occur in Oscar:

- the ideal has no generators
- the generators of the ideal belong to different polynomial rings

[2021-12-20 11:03] wdecker commented on #911
@YueRen
[code]

[2021-12-20 12:04] fingolfin opened #912 "`gens` should work for all rings, including univariate ones"
I am seeing this:
[code]

That's good! But it fails for many other rings. E.g.:
[code]

Or:
[code]

[2021-12-20 12:05] fingolfin commented on #912
Actually, there are even rings where not even `gen` works:
[code]

[2021-12-20 12:09] thofma commented on #912
I agree that the finite fields should be consistent, but why would one expect it to work for every ring? It has very specific meaning in the examples above. Maybe there are rings for which there is no useful concept of "generators".

[2021-12-20 12:20] fingolfin commented on #912
Of course if a ring has no "generators" because it is not finitely generated, or because no generators are known, then it's fine to get an error (although I really think the error then should be specific, e.g. "ERROR: this ring is not finitely generated" or "ERROR: no generators known / can be computed".

But if `gen(R)` is supported, then IMHO also `gens(R)` should be supported (and also for that

[2021-12-20 12:27] wdecker commented on #912
[code]
I have no idea what this should mean: x is a generator of Kx? In what sense? It generates the maximal homogeneous ideal of x. The generator of Kx as a ring is one(Kx). So any ring as a generator. What do you menan by "no generators are known"?

[2021-12-20 12:27] thofma commented on #912
What is the `LeftActingDomain` when the elements are generators in the category of rings?

[2021-12-20 12:30] thofma commented on #912
Also `2x` would be a generator as a Q-module in the example of @wdecker, but we promise it to be the `x` in `K[x]`. Maybe the argument is that `gen` is the wrong name for polynomial rings?

[2021-12-20 12:37] fingolfin commented on #912
Indeed the problem may run deeper than I realized... *sigh*. "The generators" reads fine until one has not implemented the ring in question and really wants to know what it means (and discovers that different rings implemented by different people use different interpretations)...

I don't have a good answer right now. But just as some more background: In GAP, we distinguish between `GeneratorsOfAl

[2021-12-20 12:48] wdecker commented on #912
Yes, precisely, the question is generator in what sense!  Sorry, Max, I thought you where talking about generors of rings.

[2021-12-20 13:09] fieker commented on #912
On Mon, Dec 20, 2021 at 04:48:12AM -0800, Wolfram Decker wrote:

OK, currently, in Oscar - and I think it should stay this way, possibly
documented somewhere in capitals:
 - groups: gens gives the generators as groups
 - rings: gens are (natural) algebra generators over the base ring
 - ideals: gens are generators as ideals

Is this mathematically well defined:
 no
Is this different from Gap:
 yes

[2021-12-20 14:14] wdecker commented on #912
There all kinds of user unfriendly  error messages in all kinds of contexts. May be we should create a todo list somewhere.

julia> R, (x, y, z) = PolynomialRing(QQ, ["x", "y", "z"])
(Multivariate Polynomial Ring in x, y, z over Rational Field, fmpq_mpoly[x, y, z])

julia> f = x+y^2
x + y^2

julia> exponent_vector(f, 2)
3-element Vector{Int64}:
 0
 2
 0

julia> exponent_vector(f, 3)
Flint exceptio

[2021-12-20 16:01] fieker commented on #894
what is happening here? The reason I am asking is that this is a blocking error to deal with some Galois problems.

[2021-12-20 17:02] micjoswig opened #915 "vertex-facet incidences for polyhedra (maybe others, too) unnecessarily expensive"
This refers [this source code](https://github.com/oscar-system/Oscar.jl/blob/master/src/PolyhedralGeometry/Polyhedron/properties.jl).

The following function, to determine the vertex-facet incidences of a polytope, is used internally:
[code]
Yet, `faces_of_dim` is potentially costly.  At any rate, the correct way is to take the `VERTICES_IN_FACETS` property and convert it directly.

It may be poss

[2021-12-20 17:07] micjoswig commented on #829
[(Very incomplete) first draft](https://github.com/oscar-system/Oscar.jl/tree/mj/SimplicialComplexes).

Next steps:
- integral (co-)homology
- minimal non-faces; Stanley-Reisner ideals/rings

Please give feedback concerning design decisions, and you may request functionality (X-mas is near!).

[2021-12-20 17:16] micjoswig commented on #895
Benjamin, could you please have a look / fix this?

[2021-12-20 18:39] thofma commented on #911
I don't see the problem of defining
[code]
to get the `K` in `K[x]` given an ideal. Is this what you are after? Or are you after the `K[x]` given an ideal?

[2021-12-20 21:38] lkastner commented on #915
Are you only talking about facets right now or is there a way to get the lower dim faces too from the `VERTICES_IN_FACETS`?

[2021-12-21 12:31] micjoswig commented on #915
That code calls the polymake user function `faces_of_dim`, which requires to compute the entire `HASSE_DIAGRAM`, even if you only ask for the facets; check polymake rule basis.  Moreover, the vertex-facet incidence matrix is needed at any rate.

[2021-12-21 16:35] thofma opened #920 "Automorphism group design question"
I have a few question about the design of the automorphism groups. Assume I have a group `G` and do `A = automorphism_group(G)`. I am assuming that this is our goal as an interface for the user (or maybe it is not?).

- Does `A` have elements? What are these elements?
- If `A` has elements, how do they relate to ordinary morphisms that I could construct using say `hom(G, G, blub)`. Will there be a

[2021-12-21 17:49] lkastner commented on #915
I understand, but what I was asking is if you want us to make a special case for facets only or is there some other way to bypass `faces_of_dim` entirely?

[2021-12-21 17:56] micjoswig commented on #915
We already have a number of versions of `facets`. We need another one, which is just the list of vertex indices (corresponding to one row of VERTICES_IN_FACETS).  We also need the entire vertex-facet matrix as a separate function.  Of course these should share some code.  Also put a mild warning to the `faces` function, just saying that it is expensive.

Of course, there is the usual split between

[2021-12-21 19:05] simonbrandhorst commented on #920
Yes `A` has elements. And probably also generators since I am interested in `A` as a group too.
For instance I might ask for the    order of `A` or define a group homomorphism from `A` to some other group.
I think currently the elements are of type e.g. `Oscar.BasicGAPGroupElem{AutomorphismGroup{GrpAbFinGen}}`.
Relevant for me is that they can be composed/multiplied and that they act on `X` and re

[2021-12-21 22:26] benlorenz commented on #915
So I think we could do the following things (or at least some of those):
- fix `{vertex,ray}_incidences(facets(c))`, which currently throws an `ArgumentError`. This should return the vertex/ray indices for all facets as an IncidenceMatrix (fetching it directly from VIF).
- maybe add a special case for `faces(c,dim(c)-1)` to use `facets(c)`, or add a special case for that in `_vertex_incidences`
-

[2021-12-22 09:16] micjoswig commented on #915
Sounds good.  I think these two should be prioritized (and these are also the most easy to do):

[2021-12-22 12:19] lkastner opened #922 "What to do for object clashes?"
This discussion already popped up a while ago and is also reflected in #769 as an example. The problem is the following: Some mathematical objects appear in different corners of Oscar, so who gets this object? Does anyone?

For example: Many mathematical disciplines know a `projective_space`, for example algebraic geometry and toric geometry. These lead to two different descriptions. So what shoul

[2021-12-22 12:49] micjoswig commented on #922
I see essentially two ways of resolving this.  Either such a function gets a traits class as an optional argument, similar to, e.g.,
[code]
Or we introduce modules for separation:
[code]
Don't be fooled here that you could tell these apart by their signatures. First, there are other examples (like the projective spaces that Lars mentioned).  Second, this would be totally intuitive for the user. I

[2021-12-22 12:51] micjoswig commented on #922
Of course, there is a third solution:
[code]
But I don't see any advantage here.  So that would be my least favored.

[2021-12-22 15:02] fieker commented on #922
On Wed, Dec 22, 2021 at 04:49:30AM -0800, Michael Joswig wrote:

We're using this version in several places already, julia does it e.g.
for ceil, round, floor, ...
ceil(x) has the same type as x
ceil(Int, x) yields an Int
...
We're using this e.g. for cylotomic_field...

Here, as above, we do not have any decent module to associate with.

For BinomialIdeals this is happening. Supposed to be happen

[2021-12-22 15:10] micjoswig commented on #922
OK.  Looks like a decision to me.

@fingolfin @thofma : please complain now, or we will proceed with type traits.

[2021-12-22 15:18] thofma commented on #922
No complaint from my side. I am happy with the type traits and/or the module prefix in case it makes sense.

[2021-12-22 16:41] thofma commented on #920
What I imagine being challenging with this design will be subgroups and quotient groups. What is a subgroup? What will be its type? It cannot be of type `AutomorphismGroup`. So let's say it is `AutomorphismGroupSubgroup`. Since `elem_type(parent_type(T)) === T` and `parent_type(elem_type(T)) === T`, these subgroups need a distinct element type, say `AutomorphismGroupSubgroupElement`. What about su

[2021-12-22 19:44] simonbrandhorst commented on #920
I see. What I have in mind and what I did not say, are groups consisting of automorphisms - not necessarily the full automorphism group. I do not have a use case for special dispatch on a full group of automorphisms.

[2021-12-22 20:21] thofma commented on #920
I think similar problems appear for quotient groups, e.g., outer automorphism groups. I don't see how they can be groups of automorphisms of the original group or what they are supposed to be in this proposed design.

If automorphism groups will have their own type of group (which is one way to implement them), they should allow everything the other groups also support. This has been a constant so

[2021-12-23 13:00] simonbrandhorst commented on #884
This issue is solved. Would you please close @fingolfin ?

[2021-12-23 16:02] #884 closed, assigned to nobody

[2021-12-27 17:17] HechtiDerLachs opened #926 "Computation of kernels for Algebra Homomorphisms of graded rings"
The following code fails, probably due to a faulty translation between the `Oscar` and the `Singular` side:
[code]
Interestingly, if one writes `[u^2, v^2, w^2]` in the map definition, it nevertheless outputs the correct kernel.

[2021-12-29 09:19] fingolfin commented on #920
Quick answer: quotients can be any type, depending on the situation it can be perm group, fp group, pc group; I see no issue there.

And subgroups will be of the same type -- we didn't specify that instances of that type must be the full automorphism group. Perhaps there then should be a way to detect if a given automorphism group is the full group.

Uniqueness of the full group can be ensured by

[2021-12-30 11:00] micjoswig opened #932 "questions concerning default rings"
https://github.com/oscar-system/Oscar.jl/blob/5fa3a5c7e538f11eca4972202ff88572cc18d128/src/ToricVarieties/NormalToricVarieties/attributes.jl#L73-L75

to be compared with:

https://github.com/oscar-system/Oscar.jl/blob/5fa3a5c7e538f11eca4972202ff88572cc18d128/src/Combinatorics/SimplicialComplexes.jl#L223-L227

I have several recommendations / questions concerning this code:

1. I guess we should al

[2021-12-30 13:22] micjoswig commented on #932
We now have two implementations of Stanley-Reisner ideals and rings.  Here is a comparsion of the running times (while this is only one example, the behavior is typical):
[code]
Does the toric implementation go beyond simplicial fans?  If not, you probably want to refactor through simplicial complexes.

The two implementations differ as far as the base rings are concerned; see above. Yet this shou

[2022-01-02 12:42] HereAround commented on #932
For clarity - is this optional argument supposed to be `QQ` or `ZZ`? Or rather the Cox ring?

If the Cox ring is meant, then providing its grading needs to be considered: We could either accept a non-graded ring and compute a grading (a.k.a. one of the many cokernel projection of the map from the lattice into the torus-invariant divisor group) or - and that happens to be fairly convenient/necessar

[2022-01-03 07:20] fieker commented on #932
On Sun, Jan 02, 2022 at 04:42:50AM -0800, Martin Bies wrote:

What do you want to do with the ring? QQ[x] is much larger and mostly
mathemtically and algorithmically easier, e.g. Groebner in ZZ is a
complete pain.

I'd add a generic function set_names!(Rx, ...) to allow the user to
retroactively change the printing names - on non-cached rings.

This is only relevant if you're expected to print lot

[2022-01-03 08:14] fieker commented on #932
On Thu, Dec 30, 2021 at 05:22:37AM -0800, Michael Joswig wrote:

I got:
julia> @time I1 = stanley_reisner_ideal(V);
ERROR: InexactError: Int64(70323215040313106432)
Stacktrace:
  [1] Type
    @ ./gmp.jl:363 [inlined]
  [2] Int64(int::Polymake.IntegerAllocated)
    @ Polymake ~/.julia/dev/Polymake/src/integers.jl:4
...
it appears that s.o. is trying to create an Int64 matrix when the
entries can be

[2022-01-03 08:27] fieker commented on #932
On Thu, Dec 30, 2021 at 05:22:37AM -0800, Michael Joswig wrote:

But, while I have no idea what they are supposed to be doing, they are
computing different objects.

This is an ideal in a Graded Ring, the grading has insanely large
entries, the coeff. ring is QQ

This is an ungraded ideal over ZZ
Is the time in the grading?

[2022-01-03 10:53] fieker commented on #932
Looking at the implementation.... my guess is that the "new" implementation is "just" using Polymake in a suboptimal way. The (a) bottleneck is "primitive_collections" of the "fan". The fast version is using "minimal_nonfaces"

[2022-01-03 14:37] micjoswig commented on #932
Yip, that implementation was tuned quite a bit in the past.

[2022-01-03 14:43] wdecker opened #938 "The use of base_ring"
I understand that base_ring should mean "one up" in the ring hierarchy. Like here:
[code]
Now how about this example:
[code]
Shouldn't base_ring here refer to the underlying polynomial ring of the graded ring? Or  do we need another identifier for this?

[2022-01-03 15:02] micjoswig commented on #932
Yes, I meant the Cox ring (which is called "total coordinate ring" in CLS, by the way).  Please add that name to the doc, too, with a ref.

Understood.  I agree that this should be discussed.

This raises an interesting design question.  I guess, if you are interested in the cohomology of toric varieties, then QQ is one natural choice.  Yet, the ideal always has integer coefficients (for arbitrary

[2022-01-03 15:04] tthsqe12 commented on #938
I think coefficient_ring was added precisely so that base_ring is free to return whatever it wants on graded polynomial rings. So, the current behavior is a bit strange to me.

[2022-01-03 15:06] micjoswig commented on #932
As I sketched above: integer coefficients are the natural choice (for simplicial complexes; one could argue QQ is better for toric varieties), but generally the user should have an option to choose other coefficients.

[2022-01-03 15:09] micjoswig commented on #932
I feel this is a bit too complicated to discuss here.  It would be good to have a short session for coding up some sketches together. After the next OSCAR Friday meeting?  Some quick sketches, aided by experts on rings in OSCAR, should be enough.  Then everybody can fill in some part of the blanks.

[2022-01-03 15:29] wdecker commented on #938
So the suggestion would be to replace

   base_ring(W::MPolyRing_dec) = base_ring(W.R)

by

   base_ring(W::MPolyRing_dec) = W.R

in mpoly-graded.jl, and then replace the old base_ring by coefficient_ring wherever this is needed.

Are there objections?

[2022-01-03 15:34] thofma commented on #938
@tthsqe12 Can you confirm that this won't work, since the code for generic (arbitrary) multivariate polynomials always uses `base_ring`, see https://github.com/Nemocas/AbstractAlgebra.jl/blob/master/src/MPoly.jl? I think the graded/decorated polynomials are falling back to these methods a lot.

[2022-01-03 15:40] wdecker commented on #938
So coefficient_ring is defined via base_ring? I am confused.

[2022-01-03 15:46] thofma commented on #938
`base_ring` was there before and we just added the alias `coefficient_ring(x) = base_ring(x)`.

[2022-01-03 16:20] HereAround commented on #932
I agree that this might be too involved to discuss in large detail here. A first draft towards resolving the points raised (or at least some of them) can be found here: https://github.com/oscar-system/Oscar.jl/pull/939

In the current form, this PR is bad/not satisfying (more details in the PR) and should NOT be merged. It should however help the  discussion. Hopefully, this can eventually be "the

[2022-01-06 11:03] #915 closed, assigned to lkastner, tbrysiewicz, alexej-jordan

[2022-01-06 14:52] fieker opened #952 "PcGroups as FPGroups"
To me, pc-groups are clearly fp-groups (in fact they are better, but at least they are fp). Thus I'd like to use the fp-interface (relations e.g.)...

How?

Related: turn pc into perm?

[2022-01-07 14:36] fingolfin commented on #952
Try `isomorphic_fp_group` and friends. Alternative ways to deal with this welcome.

We could also add a `relators` methods for pc groups but it'd be essentially implemented as `g -> relators(isomorphic_fp_group(g))`

[2022-01-07 14:36] fingolfin commented on #952
("Alternatives" as in: other interfaces you'd expect)

[2022-01-10 13:05] HechtiDerLachs opened #960 "Promotion for finite fields"
This has been an issue at some point before, but the solution finally didn't make its way into Oscar/AbstractAlgebra:

Could someone please add the lines
[code]
in the appropriate places?

[2022-01-10 13:06] HechtiDerLachs commented on #960
This had been part of some PR of mine before, with the idea of the code to be moved eventually. But then it ended up in the tests and never became part of Oscar.

[2022-01-10 13:09] HechtiDerLachs commented on #960
Also this line seems to be required:
[code]

[2022-01-11 08:36] simonbrandhorst opened #963 "CI: Codecov for experimental"
Currently, only `src` seems to be covered by Codecov. It would be nice to have `experimental` also covered.
Since at some point experimental packages will become ordinary and checking the coverage/the uncovered parts helps spotting bugs.

[2022-01-11 09:10] thofma commented on #963
I think for this we will have to move the experimental folder into src. Are there any objections?

[2022-01-11 13:20] simonbrandhorst commented on #960
Seems like
https://github.com/Nemocas/AbstractAlgebra.jl
is the appropriate place for this issue.

[2022-01-11 13:41] fingolfin commented on #952
Based on discussion with @fieker , we need wrappers for at least these GAP functions:
- `IsomorphismFpGroupByPcgs`
- `IsomorphismFpGroupByGenerators`
- `IsomorphismRefinedPcGroup`
- perhaps also `IsomorphismSpecialPcGroup`

[2022-01-12 09:14] #963 closed, assigned to nobody

[2022-01-12 15:36] fingolfin commented on #938
Part of the reason we added `coefficient_ring` was because I claimed (and still claim) that `base_ring` is not a well-defined concept; and I believe that using it results in brittle code, because it is not clear that different implementations of the same concept will handle it equally. I think @thofma's comment illustrates that.

Of course that doesn't mean I have a great alternative 😕, other than

[2022-01-12 15:39] fingolfin commented on #911
@YueRen is what @thofma suggested that what you are after? Then of course we could add it, though then perhaps we should also have it for other types of ideals and carefully document that "the coefficient ring of a polynomial ideal is the coefficient ring of the polynomial ring containing the ideal" or so.

[2022-01-12 17:07] thofma opened #975 "Singular ring coercion riddle"
@tthsqe12
[code]
(Because of caching(?) the command `x in I` will succeed when called again. One has to recreate `I` to encounter the error.)

I think the problem is that since `A`, the base ring of `R`, is an `MPolyRing`, we recurse
https://github.com/oscar-system/Oscar.jl/blob/af90aae4743389fa07914ff3ca4717b744547e79/src/Rings/mpoly.jl#L649
which leads to hickups in the coercion.

1. Should we j

[2022-01-12 17:23] thofma opened #976 "Oscar Singular coercion ambiguities"
[code]
julia is right! This is ambiguous and the fix works only for `RationalFunctionField`. But the problem persists for any ring type `S` which has a method of the form `(R::S)(x::RingElem)`.

The problem is that
https://github.com/oscar-system/Oscar.jl/blob/af90aae4743389fa07914ff3ca4717b744547e79/src/Rings/mpoly.jl#L721-L724
is too broad in the first argument (or too specific in the second).

[2022-01-12 18:08] tthsqe12 commented on #975
We need a singular_coefficient_ring function since there is no point (and it is unexpected) to recursively translate the coefficient ring.

[2022-01-12 18:14] tthsqe12 commented on #976
method 2. Please relieve us of this R(x) syntax.

[2022-01-12 23:01] fingolfin commented on #863
Good news is that `GF(fmpz(5), 2)` and `GF(fmpz(5), 2, "t")` now work!

But not yet `FiniteField(fmpz(5),2)`. I also think that it'd be nice to also allow for symbols instead of strings to match what we allow for polynomial rings. I'll look into writing a PR for Nemo.

[2022-01-13 21:17] fingolfin commented on #843
Done

[2022-01-13 21:17] #843 closed, assigned to nobody

[2022-01-14 07:28] fieker opened #980 "trivial groups are non-trivial...``"
[code]

[2022-01-14 07:31] fieker commented on #980
even more entertaining:
[code]

[2022-01-14 12:34] fingolfin commented on #232
@fieker what's the status of this issue? The lines remain commented out...

[2022-01-14 14:46] micjoswig commented on #318
A discussion at the OSCAR meeting today suggested that a global switch is desirable. Please investigate if this is feasible. What does it take?

[2022-01-14 14:51] wbhart commented on #318
I presume the discussion today was in relation to printing non-ASCII characters in output (i.e. printing). If so, then I think @tthsqe12 has to comment on this.

Of course I don't know of any way to implement a switch so that people will see non-ASCII characters in code in the repository. But I assume that wasn't being suggested.

[2022-01-14 14:54] micjoswig opened #981 "cohomology ring of a simplicial complex"
Code for (integral) cohomology of simplicial complexes is in the making, to be merged very soon.  Main functions inherited from polymake.

Yet these are only the abstract groups (or ZZ-modules).  There is an additional structure as a graded algebra, which OSCAR should eventually have, too.  That algebra has the property  $p q = (-1)^{i+j} q p$ for $\deg p = i$ and $\deg q = j$.  So it is an associ

[2022-01-14 15:00] tthsqe12 commented on #318
I don't think this related directly to the printing code, since the printer doesn't generate non-ascii unicode unless given such input.
- If the goal is the have the printer churn out `zeta` when it sees `ζ`, then indeed this is a printer issue. However,
- It seems more reasonable to have the global switch simply mean that internally we promise to use 'z' as the variable name instead of `ζ` when t

[2022-01-14 15:05] wbhart commented on #318
So this would be about default variable names?

[2022-01-14 15:06] thofma commented on #318
Yes. Or if someone wants to print "→" instead of "->".

[2022-01-14 15:19] micjoswig commented on #318
I am not sure, but is this helpful?

https://docs.julialang.org/en/v1/base/strings/#Base.transcode

Maybe the global switch could force each `show` to go through such a transcoding?

[2022-01-14 15:47] fingolfin commented on #123
I'd say this is covered nicely now, see https://oscar-system.github.io/Oscar.jl/dev/CommutativeAlgebra/intro and so on

[2022-01-14 15:47] #123 closed, assigned to nobody

[2022-01-14 15:51] fingolfin commented on #122
So `QQ(:x)` does not work (should it?), but I tried this:
[code]

[2022-01-14 15:52] fingolfin commented on #122
So is the first part something for @tthsqe12's generic factorization implementation in Julia?

[2022-01-14 15:53] thofma commented on #122
I don't think there is a generic factorization implementation yet.

[2022-01-14 16:10] tthsqe12 commented on #122
the factoring over rational function fields is only implemented for the multivariate type and for only one level deep, i.e.
[code]
One simply needs to add the 2^2 - 1=3 other methods for the other combinations involving the univariate versions of these rings.

[2022-01-14 16:17] tthsqe12 commented on #122
And, yes, there is no "generic factoring". What there is is a methods for factoring multivariates over characteristic zero fields assuming that univariate factorization over that same field already exists.

[2022-01-14 16:55] ThomasBreuer commented on #980
The message about the missing `wholeGroup` is due to the fact that `mapi[1]` is an empty list and thus its `FamilyObj` does  not know about the group. (If the list would contain group elements then the situation would be different.)
The problem seems to be that this `ImagesRepresentative` method gets called at all.

[2022-01-14 19:04] thofma commented on #318
Unfortunately not.

Here is my suggestion:

1. Have a `Oscar.get_unicode_output()` (or whatever name we come up with), which returns `true` if we are allowed to output Unicode and `false` otherwise.
2. It will be the responsibility of the implementor of the `show` method to respect this setting.
3. On the user-facing side we will have a `Oscar.set_unicode_output(::Bool)`.

I think there are too ma

[2022-01-14 19:21] thofma commented on #122
So in general we have a reduction F[x1, ..., xn] -> F[x]. But for fraction fields F as here we could do the reduction F[x] -> F[x1,] (univariate to fake univariate)?

[2022-01-16 22:42] #515 closed, assigned to ThomasBreuer

[2022-01-17 09:43] fingolfin commented on #437
I've submitted https://github.com/Nemocas/Nemo.jl/issues/1254 but also had a look at the `sqrtmod` docstring, and it turns out that it only supports prime moduli... Though it doesn't check that.

[2022-01-17 10:25] micjoswig commented on #318
Makes sense to me.  Probably, the default should be to set `Oscar.set_unicode_output(::Bool)` to false then.

[2022-01-17 12:35] fieker commented on #232
someone removed the call to my code. this is a reflection that vanilla singular cannot handle this example. This might have been part of a rewrite attempt... a failed or incomplete one..

[2022-01-17 15:12] #863 closed, assigned to nobody

[2022-01-17 17:59] HechtiDerLachs opened #986 "Automated conversion for graded rings fails"
[code]
fails, whereas
[code]
returns the desired result. In my opinion, the direct conversion should also work, correct?

Two other issues come with the current implementation of `denest` and `renest`. Firstly, the `denest` routine does not preserve the structure as graded rings:
[code]
returns an ordinary `MPolyRing`, but nothing decorated anymore.

Second, the `denest` routine seems to have a bu

[2022-01-17 18:24] micjoswig opened #987 "`describe` for free groups and finitely presented groups"
While implementing `fundamental_group(K::SimplicialComplex)` I am running into the following:
[code]
To me this looks like a bug.  If not, please enlighten me.

At any  rate, the result of that function may be a free group or a proper quotient.  I tried a quotient of a free group by an empty list of relations, but that was not better either,

[2022-01-17 18:29] thofma commented on #986
1. We could try to make `S(x)` work.
2. There is no canonical grading/filtering on the denested ring. It gets quite annoying if there are rings with different groups underlying the grading or even filterings defined by functions. I am not sure we can or will support this. @tthsqe12?
3. Can you describe what `denest(R_ext, R_ext(x))` should do? As far as I understand the following should work and i

[2022-01-17 18:36] HechtiDerLachs commented on #986
1. Ok, that would be good.
2. At least if the ring of coefficients is not graded itself, but merely a polynomial ring, then all elements of the former coefficient ring should simply have degree zero. I have to admit that I'm not sure how generally solvable this is.
3. I think, I just confused the arguments here. Sorry.

[2022-01-17 18:53] HechtiDerLachs opened #988 "Ideals in generic polynomial rings"
[code]
doesn't work, i.e. I *can not define* an ideal in the ring `T`. I understand that things like ideal membership, etc. needs special care. But I would really like to be able to define any finitely generated ideal in any polynomial ring. The same applies for graded rings, i.e. if I was using
[code]
instead of `T`.

Edit: The point is that the error message complains about a missing implementat

[2022-01-17 19:05] HechtiDerLachs opened #989 "missing `ordering` function for graded rings"
This is to bring the Oscar-people's attention to the following issue:

https://github.com/Nemocas/AbstractAlgebra.jl/issues/1105

It was discussed there that this might be more of a problem in Oscar.

[2022-01-17 22:50] fingolfin commented on #987
`describe` is a function that's basically written for finite groups. Of course we could also let it print something for e.g. free groups, but I am not sure there's much more to say than what the regular print/show methods already show, i.e.
[code]
To form a quotient:
[code]

[2022-01-18 07:12] fieker commented on #989
Pure Oscar. The intrduction of orderings as 1st level Objetcs is not finished yet, so this is causing problems in many places. The person working on it is/was sick. The changes are not complete, and this is simply a case of a missing function. The easier approach is to just add them as all the other trivial missing functions.

[2022-01-18 07:12] #989 closed, assigned to nobody

[2022-01-18 07:17] fieker commented on #988
On Mon, Jan 17, 2022 at 10:53:20AM -0800, Matthias Zach wrote:

The whole module is under development and incomplete.
There is no chance whatsoever to deal with all polynomial rings. I think
intended here are ideals over multivariate rings.

When I try to run this snipped I get
...
ERROR: MethodError: no method matching
groebner_basis(::Oscar.BiPolyArray{gfp_mpoly}; ord=:degrevlex,
complete_reduct

[2022-01-18 08:44] HechtiDerLachs commented on #988
Are you sure you run the snippet I mentioned above? There are no `gfp_mpoly`s involved.

[2022-01-18 08:49] fieker commented on #988
On Tue, Jan 18, 2022 at 12:44:29AM -0800, Matthias Zach wrote:

Maybe its a different Oscar version, but yes, I did run it as posted...

[2022-01-18 09:19] micjoswig commented on #987
Look at the following:
[code]
Now both groups may occur as output of `fundamental_group()`.  As https://github.com/oscar-system/Oscar.jl/blob/7e7cde684d08e091c85c6d74918cc28587398f39/src/Combinatorics/SimplicialComplexes.jl#L358-L364 (written by @alexej-jordan ) suggests, `describe()` should be callable on any output of that function.

Also the help text does not say that this only works for finit

[2022-01-18 09:21] micjoswig commented on #987
PS: If a function is callable or not should only depend on the argument type(s).  In case you want to stick to your plan, what should be that (uniform) return type for `fundamental_group()`?

[2022-01-18 09:32] thofma commented on #318
I am happy to implement it, but so far none of the others showed any sign of agreement/disagreement :)

[2022-01-18 11:31] fingolfin commented on #987
I agree that `describe` should ideally work on all groups, and if it doesn't, then at least this should be documented. Above I was merely describing the current state of things, not a "plan". (For some background, `describe` was originally only added as a quick&dirty hack for a software demo, no deep planning went into it.)

Question is what to output in which case. Here are some ideas:

1. for fr

[2022-01-18 11:33] fingolfin commented on #987
You suggested to write something like `Z x Z`.  But that's a very rare cases: sure, if the fp group happens to be free or finite, I can write such a thing. And if it is free, we could agree to write e.g. `F_2`; I could probably even handle some more "obvious cases", e.g. `F_2 x F_2` if the generators are aligned nicely.

But for a general fp group, as you well know, it is not even decidable if it

[2022-01-18 12:14] yusufferdogan opened #990 "Precompiling Oscar ERROR: LoadError: UndefVarError: libsingular not defined"
[code]

[2022-01-18 12:44] thofma commented on #990
Oscar is not working on Windows natively. There are instructions over at https://oscar.computeralgebra.de/install/ on how to use it on Windows.

[2022-01-18 13:16] micjoswig commented on #987
I did not suggest anything.  This is what came out in this case.  I am aware of all (or at least most) of the complications, you are listing.  Still it is worth to give it a try.

I am not picky about what exactly should be the output.  My reasoning: the `show()` command should only produce a description which is directly accessible (no expensive computations), while for `describe()` we could be a

[2022-01-18 13:43] fingolfin commented on #296
Clearly maintaining this as a separate list has failed.

Perhaps instead we could use the [GitHub "Teams" feature](https://github.com/orgs/oscar-system/teams) and define various "teams" for the subproject. We can then also define subteams resp. teams based on mathematical areas; e.g. Thomas and me could be a in team "group theory", and others could be in e.g. "polyhedral geometry", "toric geometry

[2022-01-18 14:49] tthsqe12 commented on #990
But at least we can give a better error message?

[2022-01-18 14:53] thofma commented on #990
Do you have an idea? It used to be better I believe, since we added:
https://github.com/oscar-system/Oscar.jl/blob/8c787842e75df4039e0f3e7daf0f9a634a49644a/src/Oscar.jl#L37-L39
But apparently it loads first `Singular.jl`, which tries to open the shared library. I am not sure what we can do there.

[2022-01-18 14:55] wdecker opened #991 "Polynomial build complex does not throw out of bounds error"
[code]

[2022-01-18 15:04] tthsqe12 commented on #991
This is not an out of bounds error per say, it is the fact that the vector `[i]` is expected to have length 2.

[2022-01-18 15:23] thofma commented on #987
If I remember correctly we don't have a safe way to do "kill some function after 10 minutes", which basically means `describe` cannot try to do any (useful) computation without running into an infinite loop for finitely presented groups. If it is known to be finite, I would run the ordinary `describe` on it and otherwise probably 1) + 4) + 7).

P.S.: FWIW Magmas `GroupName` errors for groups which

[2022-01-18 15:32] tthsqe12 commented on #991
https://github.com/Nemocas/AbstractAlgebra.jl/pull/1106 However, since it is a ! function, isn't it supposed to skip the input sanitisation?

[2022-01-18 15:37] thofma commented on #991
No, it just means that we mutate the first argument.

[2022-01-18 15:39] tthsqe12 commented on #991
alright, our code is getting more and more unpredictable branches to error messages.

[2022-01-18 15:41] fieker commented on #991
On Tue, Jan 18, 2022 at 07:40:15AM -0800, dan wrote:

I am confused. What is more and more unpredictable here?

[2022-01-18 15:49] tthsqe12 commented on #991
well, I am not sure if the branches are getting predicted, but I can be sure that there is a lot more input that could be sanitized. For example, is set_exponent_vector! also supposed to sanitize?

[2022-01-18 16:21] yusufferdogan commented on #990
[code]

[2022-01-18 16:22] yusufferdogan commented on #990
When I tried this on Ubuntu, it gave me this
I followed the exact instructions.

[2022-01-18 16:23] yusufferdogan commented on #990
OUTPUT  OF Pkg.add("Oscar")
[code]

[2022-01-18 16:25] thofma commented on #990
How did you install julia within ubuntu?

[2022-01-18 16:39] fingolfin commented on #990
This is Oscar 0.6.0 and Julia 1.4 which both are outdated and not supported anymore

[2022-01-18 17:58] fingolfin commented on #990
So most likely they installed Julia via the package manager. Not good

[2022-01-18 18:44] fingolfin commented on #990
The website actually was still saying that the minimum Julia version is 1.3.1; I've fixed this now

[2022-01-18 19:38] yusufferdogan commented on #990
yes sir

[2022-01-18 19:39] yusufferdogan commented on #990
https://sebasguts.github.io/oscar-website/install/

like this sir

[2022-01-18 19:47] yusufferdogan commented on #990
[code]

[2022-01-19 11:02] lkastner opened #993 "What should output look like? (i.e. Base.show)"
For polyhedral objects we right now have output like:
[code]
Someone decided we need the ambient dimension in there. (Not all polyhedra have an ambient dimension though) Nevertheless this output conveys the same information for almost all polyhedra. It is similar for the other polyhedral objects as well.

Now the show method of toric varieties has grown to almost 100 lines. The output looks like
[

[2022-01-19 11:37] thofma commented on #990
As I said above, the official installation guide is at https://oscar.computeralgebra.de/install/.

[2022-01-19 13:34] HechtiDerLachs commented on #988
Just to push this issue a little; this problem has a long list of repercussions. For instance, I also can not define a homomorphism of rings such as `S` or `T` above. So for now, I need to introduce a long list of workarounds that will need to be removed later on. Who is responsible for this part of code? Who can I talk to about this issue?

@wdecker , @jankoboehm , @afkafkafk13 : Any suggestions?

[2022-01-19 13:44] thofma commented on #988
@ederc We talked about delaying any Singular invocation to when it really is necessary, right? I think this would help here too. At least then one can construct the ideals.

[2022-01-19 14:58] fingolfin commented on #318
We could use https://github.com/JuliaPackaging/Preferences.jl to allow the user to configure this

[2022-01-19 15:01] fingolfin commented on #318
Anyway, what @thofma wrote is fine by me.

[2022-01-19 15:01] fingolfin commented on #318
@fieker also expressed agreement orally just now

[2022-01-19 15:02] tthsqe12 commented on #318
I like it because it doesn't involve changing any of the AA pretty printing code.

[2022-01-19 15:06] tthsqe12 commented on #122
In order to solve the factoring issue and not turn Rings/mpoly-nested.jl into a disgrace, I support supporting univariate polys (PolyElems) in
[code]
ok?

[2022-01-19 15:07] ThomasBreuer commented on #318
Fine. As soon as the global switch is available, I will change the code which I wrote such that only allowed characters are used.

[2022-01-19 15:17] thofma commented on #122
I think it is fine. Do you see possible problems down the road?

[2022-01-19 15:20] tthsqe12 commented on #122
well, coefficients returns zero stuff for univariates, but as long as the exponent_vectors matches, I don't see a huge problem, except for the people expecting non-zero coeffs. They will have their expectation and dreams shattered.
Or, can we change the behaviour of coefficients for univars?

[2022-01-19 16:05] thofma commented on #122
I don't know. If I remember correctly, at some point this was moved from Hecke to AA. So maybe @fieker has an opinion on what the behaviour should be and if it should be changed.

[2022-01-19 16:33] thofma opened #995 "Request: all absolutely irreducible representations/G-modules over minimal number fields"
So that I don't forget about it, here is a small feature request relating to some topic in *the* book: Given a finite group `G`, I would like to have for every irreducible complex character (or a set of non-Galois conjugate characters) a G-module realizing this character with the field having minimal degree. We may assume that `G` is solvable and that all rational Schur indices are trivial. The on

[2022-01-19 17:45] fingolfin commented on #987
Actually GAP can limit computations in fp groups in various ways, so this is not completely out of reach. But for now, I'd start with printing only things that are known.

BTW, `describe` can also take arbitrary long for finite group. It isn't super clever right now (we need fully working group recognition to fix that, which is also something Alice Niemeyer and me and our students are working towa

[2022-01-19 17:49] fingolfin commented on #991
If `set_exponent_vector!` is a public function: yes it should sanitize.

That said, in the AA code it says this:
[code]
Fine by me. But main problem is that it is hard to guess if a given function is supposed tobe "internal" or "for public consumption". My personal rule is: unsafe, internal function have `_` as prefix, so I would call this function `_set_exponent_vector!`. Perhaps this is somethin

[2022-01-19 17:55] fieker commented on #991
On Wed, Jan 19, 2022 at 09:50:07AM -0800, Max Horn wrote:
Use the @inbounds ... mechanism?

[2022-01-19 18:07] tthsqe12 commented on #991
This issue is not exactly one of inbounds/outofbounds. Here we just want the length of the supplied exponent vector to match the number of variables. Not sure it abusing the @inbounds macro is a good idea. Or, maybe, we can create our own macro ~@we_know_what_we_are_doing~ @weknow_what_we_are_doing and use it in the internal code?

[2022-01-19 18:07] fingolfin commented on #993
(I took the liberty of editing your post to number your reasons, to make it easier to reference them; I hope you don't mind.)

First off, I have no strong feeling either way! Some thoughts regarding your reasons:

1. I agree they are bulky, and I find this somewhat annoying. That said, I don't think maintaining them is a serious problem; but this point certainly make me less interested in implemen

[2022-01-19 18:09] micjoswig commented on #987
I'm not so picky here.  If there is a choice, I'd go for the version that I can have quicker.  If speed does not matter, I'd prefer a terse output string.

[2022-01-19 18:50] lkastner commented on #993
Oh, 4. just means that any methods using any of the properties should have the appropriate check. But I agree, I guess I was only a little surprised by the length of it. It would be nice to solve this consistently though. And maybe for toric varieties it can be refactored into something shorter.

[2022-01-19 19:51] HereAround commented on #993
Here is what my rational was:
- I was unsatisfied with the original display message. For my taste, it provided too little information. (In particular, I do not care too much about the ambient dimension of the fan. The dimension of the variety would seem more natural to me.)
- I had logical implications in mind (a different and subtle matter - I know). So I anticipated that the user (or I) would no

[2022-01-19 19:57] lkastner commented on #993
For now I will just condense the code a little.

[2022-01-19 20:28] lkastner commented on #993
Also I think the logic is messed up in this particular case. Take e.g.
[code]
If `:issmooth` isn't set, it will not drop into the `:issimplicial` block, even though this could be known. Furthermore, `:issmooth` could be false, but `:issimplicial` is not set for one reason or another. Then it will not print `non-smooth`.

Also isn't non-simplicial stronger than non-smooth?

Similar problems in the

[2022-01-19 23:46] #990 closed, assigned to nobody

[2022-01-19 23:49] fingolfin commented on #993
I don't know what the implications between "smooth" and "simplicial" are, but my guess regarding the intention of the code would be that it is meant to hide "obvious" implications; e.g. to a group theorist, printing "an abelian, solvable group" would look silly, as abelian implies solvable, so you'd only want to print "an abelian group" in that case. Whereas it makes sense to print "a non-abelian,

[2022-01-20 00:19] lkastner commented on #993
Sure, that's also how I understood it. However there were a few holes. I hope I didn't make any new ones though.

[2022-01-20 01:29] HereAround commented on #993
Indeed, I was trying to suppress/hide obvious implications. Still, I think @lkastner has a point. Even if `:issmooth` is not set, it is possible that it is known if the variety is issimplicial. Still, no information about this is printed by my code. Similar for `complete/projective`.

Regarding the other points raised, opinions towards a simplistic `base.show` method and a more involved `display_a

[2022-01-20 07:16] thofma commented on #993
How about extending `describe` for this? Just thinking out loud here. So far it is restricted to groups, where we try to give a more helpful display of a group (e.g. `C_2` instead of `pc group blabla`). It also no guarantees etc.

[2022-01-20 09:00] thofma commented on #988
This is fixed by #998.

[2022-01-20 09:22] ederc commented on #988
Yes, #998 will fix it. Working on it.

[2022-01-20 11:06] HechtiDerLachs commented on #988
That is still work in progress, then? Let me know when it's ready!

[2022-01-20 11:35] thofma commented on #988
Fixed by #998.

[2022-01-20 11:35] #988 closed, assigned to nobody

[2022-01-20 12:38] HechtiDerLachs opened #1003 "Homomorphisms for Polynomial rings over generic coefficient rings can not be defined"
The following code produces an error:
[code]
Again, this is due to an invocation of `singular_ring`, in this case in
https://github.com/oscar-system/Oscar.jl/blob/14d1008a4e1b63d71d5e5572b95c0b00f0a7fde2/src/Rings/affine-algebra-homs.jl#L115
It seems that these `singular` invocations are still abundant and block the use of the code for generic purposes.

[2022-01-20 12:40] HechtiDerLachs commented on #1003
@ederc @thofma : Thanks for the fix of the ideals issue! That works now. But, as it seems, the overall problem is not solved, yet.

[2022-01-20 12:41] thofma commented on #1003
What is the "overall problem"?

[2022-01-20 12:47] HechtiDerLachs commented on #1003
That when developing the code for ideals, modules, homomorphisms, etc. the developers had in mind computations in polynomial rings with a ring of coefficients, that `singular` can digest. But that's not necessarily the case; at least not in the applications that I have in mind now. Now the supposedly generic code for polynomial rings does not run, because invocations of singular are made in places

[2022-01-20 13:20] fieker commented on #1003
On Thu, Jan 20, 2022 at 04:47:51AM -0800, Matthias Zach wrote:

You're partly correct. Over generic exact rings I can hardly do
anything structural. Arithmetic and polynomial arithmetic (ring
operations only) are possible. Of course, I can define (or could define)
an ideal, but for all operations  I need to have more, namely some form
of normal form. Be it rref (hnf) or std, syz, ...
I do not (so

[2022-01-20 13:28] HechtiDerLachs commented on #1003
I would like to use them for bookkeeping.

Say, I have a vector bundle E -> X of rank r+1 over a scheme X and I want to model the associated projective bundle IP(E). Then locally over suitable open subsets U of X, I have a graded polynomial ring S = O(U)[s_0,...,s_r]. Naturally, the transition matrix for the vector bundle has entries in O(U n V) on the overlap of two open sets U and V and there is

[2022-01-20 13:37] fieker commented on #1003
On Thu, Jan 20, 2022 at 05:28:32AM -0800, Matthias Zach wrote:

What do you want to do with the ideals? Generically, I can do
 - printing
 - plus
 - times

[2022-01-20 13:37] HechtiDerLachs commented on #1003
Besides: On a first read, one has the impression that generic polynomial rings are available in Oscar and people have put some effort into implementing them. The Ring interface test even tests the functionality. And also for modules, ideals, and homomorphisms, I don't see why the part that is working generically in theory should not also work generically in practice. Once one invokes a more compli

[2022-01-20 13:40] HechtiDerLachs commented on #1003
And isn't that already enough to provide them? If that recent fix had not been provided, I would have to even implement these things manually for some stored list of generators.

[2022-01-20 14:17] thofma commented on #1003
I think this is a valid issue and we should try to call into Singular only when necessary and only when we are sure it will work.

[2022-01-20 14:56] tthsqe12 commented on #1003
I think the singular invocations are currently there in case you want to do stuff like kernel or preimage with the resulting homomorphism.

[2022-01-20 15:03] fieker commented on #1003
On Thu, Jan 20, 2022 at 05:37:57AM -0800, Matthias Zach wrote:

Done and working.

Difficult - and you're not the 1st to consider that.
I was contemplating that, but gave up when I reaslised that
 - yes, sub-quotients can be used for everything, but I don't want to
   use them always
 - there are different, fundamentally different, versions for
   submodule elements:
   - via elements of the ambie

[2022-01-20 16:46] tthsqe12 commented on #991
I think we do need two separate functions `_set_exponent_vector!` and `set_exponent_vector!` since `@weknow_what_we_are_doing` would be useless unless it got inlined (like @inbounds).

[2022-01-20 16:46] #991 closed, assigned to tthsqe12

[2022-01-20 16:56] HechtiDerLachs commented on #1003
First of all: I don't understand what you refer to when you say 'rref'. Is this an abbreviation for a set of algorithms?

Regarding the rest: We will need to implement localizations of modules, soon. This is just one example where it will be favourable, to have a unified framework for finitely presented modules already set up, including names for the common getters/setters/constructors, etc. Of co

[2022-01-23 16:28] YueRen commented on #911
@fingolfin Yes, @thofma suggestion is very reasonable.

[2022-01-23 16:31] YueRen commented on #909
I am closing the issue for now, because it is not as clear-cut as I imagined when I opened it. I don't think now is the time to discuss is (as in: there are other much more important tasks and this is just a minor issue with an easy workaround whose proper solution requires a lot of discussion)

[2022-01-23 16:31] #909 closed, assigned to nobody

[2022-01-26 01:24] HereAround opened #1017 "Improve show methods for Toric Line Bundles"
`Base.show` for toric line bundles should reflect known properties.

[2022-01-26 08:58] #993 closed, assigned to nobody

[2022-01-27 11:35] HechtiDerLachs opened #1023 "`betti_number` for affine toric varieties"
The following code
[code]
produces the output `1`. But the output of
[code]
says, that this variety is realized as the cone ``x*y-z^2=0``, which is contractible.

These results suggest that the Betti numbers are not for singular homology, but for Borel-Moore homology, correct? I think that should be explained somewhere.

[2022-01-28 14:37] thofma opened #1026 "Release 0.8 todo"
- [x] New AA release
- [x] New Nemo release
- [x] New Hecke release
- [x] New `libsingular_jll` + `libsingular_julia.jll` (https://github.com/JuliaPackaging/Yggdrasil/pull/4285)
- [x] Resolve #1030
- [x] Ideally also PR #1004 (but that requires a Nemo release first)

Please edit and add other items that should be resolved before the next release.

[2022-01-29 01:15] fingolfin opened #1030 "README.md example is broken"
I wanted to update the README.md example to match the current "reality". Unfortunately, it seems to have been broken by the modules changes by @AlexD97 and @jankoboehm (CC @fieker). I am now getting this:
[code]

Perhaps PR #1021 helps ? I didn't try yet.

[2022-01-29 10:22] thofma commented on #1030
It must be `free_module` instead of `FreeModule`. But it ultimately shows that we now have plenty of free module implementations with incompatible APIs.

[2022-01-29 12:52] AlexD97 commented on #1030
Yes, it must be `free_module` or `FreeMod` instead of `FreeModule`. #1021 doesn't help here. The problem is (as pointed out) that there are incompatible free module types.

[2022-01-30 04:25] HereAround commented on #1023
@HechtiDerLachs:

I have just checked the computational results. All of the above is correct and there is no bug (to the best of my knowledge).

Our implementations follow the book by Cox-Little-Schenk. In stating from there, the Betti numbers are the dimension of the singular homology groups $H_i( X, Q)$, i.e. with rational coefficients.

I am very far from an expert about Borel-Moore homology, b

[2022-01-30 10:59] #758 closed, assigned to nobody

[2022-01-30 11:00] #829 closed, assigned to micjoswig

[2022-01-30 22:59] lkastner commented on #1023
Theorem 12.3.12 CLS only holds for complete and simplicial fans, but this example is not complete. Is this what you are using here?

[2022-01-31 03:31] HereAround commented on #1023
Thank you for spotting this Lars! This is indeed the result that I am using, but somehow I forgot about these conditions. I have prepared a corresponding PR (see below).

[2022-01-31 09:18] HechtiDerLachs commented on #1023
So the algorithms for the computation of Betti numbers in CLS are indeed only for complete toric varieties?

On p. 582 in the section "Spectral Sequence of a Filtered Topological Space" they also consider non-compact varieties, but in that case, they switch to cohomology with compact support. That would have been my other guess apart from Borel-Moore homology since it behaves similar in many respe

[2022-01-31 15:13] #1017 closed, assigned to nobody

[2022-01-31 15:14] #922 closed, assigned to fingolfin, fieker, thofma, micjoswig

[2022-02-01 02:38] HereAround commented on #1023
It is definitely good that you brought this up! For instance, it definitely improved the code (see the above PR). Thank you!

About the spectral sequences - I frankly don't know. I will (try to) read-up on the details at some point.

Is there an interesting application for the homologies of affine toric varieties that you would like to crack?

[2022-02-01 09:10] HechtiDerLachs commented on #1023
Indeed, there is. I've been working on singularities of functions on varieties with a finite decomposition into orbits via some algebraic group action. Toric varieties are a special case of the latter. If it was possible to trace the interplay of the (trivially computable) cohomology of the orbit throughout the process of taking unions of orbits, that would be amazing! With the techniques I had de

[2022-02-01 12:04] fingolfin commented on #952
There are two dual ways to approach this:
- one is to provide more and better ways to compute isomorphisms between *any* kinds of group and in particular with certain prescribed generators; that's what `IsomorphismFpGroupByPcgs` and `IsomorphismFpGroupByGenerators`
- or one could have more interfaces that are shared between fp groups and pc groups, such as `relators` for both of those. But then it

[2022-02-01 12:06] ThomasBreuer commented on #952
Concerning @fieker's question

Apparently GAP offers currently only the right regular permutation action.

[2022-02-01 12:07] fingolfin commented on #952
Also we have `isomorphic_perm_group`

[2022-02-01 12:40] ThomasBreuer commented on #995
If the representations are independent in the sense that the entries of the matrices of two different representations lie in different number fields then it is not possible to form direct sums or tensor products of such representations.
Don't we need the possibility to prescribe a common number field over which all matrices are expected to live?

[2022-02-01 12:43] fingolfin commented on #894
We just discussed this. The current plan then is: indeed require equal degrees, otherwise throw error; but then also add an "easy" way to coerce a given group into a different degree. E.g. (pseudo code):
[code]

[2022-02-01 12:45] thofma commented on #995
Sure, they will be G-modules over different number fields. I do not intend to combine them in any way.

This functionality should probably exist but I think it is not relevant when one is asking for minimal fields of realization (common field and minimality of the individual fields is incompatible).

[2022-02-01 12:47] fingolfin commented on #872
We should indeed do this. See also PR #760 which removes some related code, because the way it is written constitutes type piracy. But that code really is more about teaching existing matrix types to act on various kinds of vectors. This issue is about teaching matrix group elements to act on various kinds of vectors.

For `Vector{T}` instances, we can indeed act from the left and right, if we are

[2022-02-01 12:52] thofma commented on #872
Acting from left and right on `Vector` is already implemented :) (at least for the matrices, don't know about the matrix group elements.)

And I agree for matrices. Although they might have only one row or column, they are still matrices and we should only allow compatible matrix dimensions in the multiplication.

[2022-02-01 12:52] fingolfin commented on #872
To be clear: of course it would be nicest if a `MatrixGroupElem{fmpz}` and an `fmpz_mat` had similar capabilities, and *both* allow to multiply with e.g. a `Vector{fmpz}`. So we could try to add this as a capability to Nemo. But I am not sure if this is acceptable to everyone? If yes, fine, @ThomasBreuer can submit a PR. If not, though, we can of course still support it for `MatrixGroupElem`.

The

[2022-02-01 12:53] fingolfin commented on #872
@thofma ah excellent (I didn't check what was there before i wrote my comments). We'll make sure to get MatrixGroupElem to support this, too.

[2022-02-01 12:55] fingolfin commented on #860
Related: https://github.com/oscar-system/GAP.jl/issues/197

[2022-02-01 12:55] fieker commented on #872
On Tue, Feb 01, 2022 at 04:53:06AM -0800, Max Horn wrote:

Is this always well defined? Ie. vec * vec could be
 - using "dot", return a 1x1 matrix
 - or an n x n ?
Is it automatically well defined by the dimenstion of the matrix?

[2022-02-01 12:58] thofma commented on #872
`Vector * Vector` is not defined and I don't think anyone suggested implementing it.

Then only things we have are the innocent `OscarMatrix * Vector` and `Vector * OscarMatrix` definition.

[2022-02-01 12:59] ThomasBreuer commented on #860
How to reproduce the problem:
``deepcopy([one(small_group(2, 1))])``

[2022-02-01 13:16] HereAround opened #1036 "ToricVarieties: A few minor changes/additions"
A few changes/additions:
- Addition and scalar multiplication of toric divisors, elements of the class group and pic group.
- char, divT, cdivT, cl and pic in names of maps

[2022-02-01 13:27] fingolfin commented on #860
Full backtrace:
[code]

So GroupsCore forces us to be nice and implement the interface properly :-). OK, so we just have to do that. @ThomasBreuer will work on it.

[2022-02-01 13:36] fingolfin commented on #794
So this is about the following code in GAP.jl:
[code]
The point is: there are "old-style" GAP matrices (which are still predominant), which are indeed lists, and thus the first case deals with them. And then there are "new-style" matrices, which are *not* lists but are `IsMatrixObj`. The second case deals with them.

It is true that this function does never convert an "old-style" GAP matrix into a

[2022-02-01 13:36] #794 closed, assigned to nobody

[2022-02-01 13:50] fingolfin commented on #1026
Added two items. It would be good if @ThomasBreuer and me could be notified once Nemo has a new release, so that PR #1004 can be updated and hopefully merged (assuming its tests pass; if there are deeper problems, we can punt it to a later Oscar release)

[2022-02-01 13:56] fingolfin commented on #791
We made some progress on this, esp. for finite field and number field elements, as well as matrices. Nothing has been done yet for polynomials, Laurent polynomials, rational functions... perhaps we can wait until there is demand for these (it's always best to actually use this kind of code). OTOH people might wait for us to implement it... *sigh*

[2022-02-01 14:01] fingolfin commented on #690
@thofma Where in the documentation for the GAP/groups code do you see this? I can't find it.

[2022-02-01 14:02] fingolfin commented on #690
In any case, we will change the `compose` method for GAP group homs to match the AA docs and add tests etc.

I would also suggest that we clarify the documentation for `compose` in `docs/src/Groups/grouphom.md`.

[2022-02-01 14:27] thofma commented on #690
OK, let me try to remember. Under "Places that say `compose(f,g) = f(g(x) = (x^g)^f:`" you mention as the third item [compose for (GAP) groups in Oscar](https://oscar-system.github.io/Oscar.jl/dev/Groups/grouphom/#Operations-on-homomorphisms), which as the third item mentions:

(which you also cite in https://github.com/oscar-system/Oscar.jl/issues/690#issuecomment-925757357)

Rephrasing this sent

[2022-02-01 15:17] fingolfin commented on #690
Ahh, I see.

Well, in any case, we'll make sure to add tests for `compose` which verify its behavior matches AA (whether or not the implementation needs a change) and will clarify the documentation

[2022-02-01 15:57] fingolfin commented on #860
Resolved by #1037

[2022-02-01 15:57] #860 closed, assigned to ThomasBreuer

[2022-02-02 09:47] micjoswig opened #1039 "adjust doc for toric varieties to OSCAR standard"
I suggest to change / add to the file [intro.md](https://github.com/oscar-system/Oscar.jl/blob/master/docs/src/ToricVarieties/intro.md).

(1) "Toric geometry in Julia" should be changed to "Toric Geometry" or "Toric Varieties".

(2) This page should comprise some basic defintions.  See [another intro.md](https://github.com/oscar-system/Oscar.jl/blob/master/docs/src/PolyhedralGeometry/intro.md) for

[2022-02-02 11:32] fingolfin commented on #667
There was an Oscar release in the meantime and I think this is really resolved now

[2022-02-02 11:32] #667 closed, assigned to nobody

[2022-02-02 19:43] thofma opened #1040 "msolve crashing for non-real solutions"
@ederc: Is the following behaviour normal? I wasn't expecting it from reading the docstring:
[code]

Since someone else could not reproduce it:
[code]
(Same error for julia 1.6.3 and x86 binaries for macOS.)

[2022-02-02 20:11] ederc commented on #1040
Yes, that's known and already fixed in the dev version of msolve. We plan a new release in the next 1-2 weeks with other features like saturation and elimination order which will then fix the above bug.

[2022-02-02 20:13] thofma commented on #1040
I could not reproduce it (obviously), but @FabianMaeurer reported that it did not return non-real solutions? Is this normal?

[2022-02-02 20:23] ederc commented on #1040
Yes, msolve is doing a real root isolation and returns only real roots. You can use the rational parametrization if you want to compute non-real roots. But this is stated explicitly in the docstring:

Still the above segfault is a bug and this is fixed in the next release of msolve.

[2022-02-02 20:26] thofma commented on #1040
Ah, oops, I missed that :)

Can you give a quick example on how to construct all the complex solutions? Or is it more involved?

[2022-02-02 20:40] ederc commented on #1040
This is a bit more involved. I still plan to add this to Oscar, but if you wish to have it right now take a look at the (a bit outdated, sorry) [msolve docu](https://msolve.lip6.fr/downloads/msolve-tutorial.pdf). In Chapter 2 we explain how to handle the rational parametrization to compute the solution set.

But maybe it is better to discuss this in more detail on gather.

[2022-02-02 21:14] thofma commented on #1040
Thanks, I see. I might play around with it a bit and will come back to you if I have questions.

[2022-02-02 23:47] fingolfin commented on #585
To make some progress with this, here is some unfinished code implementing something like this... not sure if subtyping `Integer` is brilliant or horrible, though (it sure complicates things in this code snippet!)
[code]

[2022-02-02 23:53] fingolfin commented on #690
This is now fixed for (GAP) groups, by PR #1038.

[2022-02-03 23:33] fingolfin commented on #1030
There is another problem, `grading_group(H)` fails (for details, see PR #1044)

[2022-02-04 00:23] fingolfin commented on #960
Indeed. @HechtiDerLachs you should open an issue there -- or even better, a PR.

[2022-02-04 00:27] fingolfin commented on #861
Interesting:
[code]
So it seems AA defines a docstring. But then Nemo defines its own function `GF` without a docstring. And finally Hecke adds in a bunch of "missing" methods...

[2022-02-04 08:45] #282 closed, assigned to nobody

[2022-02-04 14:02] #399 closed, assigned to nobody

[2022-02-04 19:07] #1030 closed, assigned to nobody

[2022-02-05 21:33] lkastner commented on #1039
I removed this title as in the other intros

Done

Unclear to me. Is this just about the `LineBundle`'s that are `ToricLineBundle`'s in the docs?

[2022-02-06 04:25] HereAround opened #1055 "ToricVarieties: Use properties of Oscar fans"
I am not sure if this is a problem (as in needs fixing) or if it is optimized and I need to understand it. Hence, this here aims towards a discussion and, if necessary/reasonable a possibly improved design.

Currently, if we have a toric_variety `v` and want to know if it is `smooth`, then we issue:

Inspired from the theory, one might be tempted to replace this by

This pattern repeats for essent

[2022-02-06 14:36] lkastner commented on #1055
No. Polyhedral fans do not have all of these properties in polymake.

Going via the `fan` messes with polymake's internal logic, as some properties might already be computed for the toric variety, but not for the fan. I also don't like caching the `:fan`, as usually it would duplicate all the information already stored in the toric variety. Luckily in this case it is only a pointer.

[2022-02-06 14:36] #1055 closed, assigned to nobody

[2022-02-06 15:28] HereAround commented on #1055
I see. Thank you for elaborating.

[2022-02-07 00:14] #1026 closed, assigned to nobody

[2022-02-07 09:07] HechtiDerLachs opened #1058 "Addition of ideals fails"
Try running the following code:
[code]
Addition of ideals is not possible due to some (certainly unnecessary) calls to Singular.